<div class="table-responsive">
    <table id="import-data-table" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Food Handler License No</th>
                <th scope="col">Application No</th>
                <th scope="col">Application Date</th>
                <th scope="col">Validity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for application_details in application_details %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{application_details.FH_License_No}}</td>
                    <td>{{application_details.Application_No}}</td>
                    <td>{{application_details.Application_Date}}</td>
                    <td>{{application_details.FH_License_Validity}}</td>
                    {% for payment_details in payment_details%}
                        {% if application_details.Application_No == payment_details.Application_No %}
                            {% if payment_details.Receipt_Date %}
                                <td><button  class="btn btn-default btn-border" type="button" onclick="print_certificate('FHL','{{application_details.Application_No}}')"><i class="zmdi zmdi-print"></i></button></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5" class="text-center">No Data</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(function ()
    {
        $('#import-data-table').DataTable();
    });
</script>