{% load static %}
<style>
    .header-card {
    background-color: white;
}
.profile-row {
  display: flex;
}
.profile-row .dp {
  flex-basis: 33.3%;
  position: relative;
  margin: 24px;
  align-self: center;
}
.profile-row .desc {
  flex-basis: 66.6%;
}
.profile-row .dp img {
    max-width: 60%;
    display: block;
    margin-left: 285px;
}
.profile-row .desc {
    padding: 2em;
    margin-left: -118px;
}
.id-card {page-break-after: always;}
table, th, td {
    border: none;
}
.card article {
    padding: 35px;
}
.card article img {
    border: 5px solid #fff;
    box-shadow: 0 0 3px rgb(0 0 0 / 25%);
    float: left;
    margin-left: 55px;
    width: 100px;
    height: 150px;
    transition: all .3s ease-in-out;
    margin-top: 0px;
}
.card article .area {
  float:left;
  margin-left: 50px;
  margin-top: 10px;
}
#app {
        position: relative;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="animated fadeIn">
    <div class="card-header header-card" style="padding: 3.2rem 2.2rem;"><font color='black'>
        <div class="col-md-12">
            <div >
                <div class="card-head-row float-right">
                    <div class="card-tools">
                        <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='Food Handlers License';printTable()">
                            <span class="btn-label">
                                <i class="zmdi zmdi-print"></i>
                            </span>
                            Print
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <div class="card-title text-center">
                    <a href="#"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
                </div>

                <h4 class="text-center"><font color='black'><b>FOOD HANDLER LICENCE</b></font></h4>
                <div class="id-card-wrapper text-center">
                <div class="id-card">
                    <div class="profile-row">
                        <div class="dp">
                            <div class="dp-arc-inner"></div>
                                {% for details in file_attach %}
                                    <img src="{{ details.file_path }}">
                                {% endfor %}
                            </div>
                            {% for food_handler_details in food_handler_details %}
                                <div class="desc">
                                    <p><b>LICENCE NO &nbsp;:&nbsp;{{food_handler_details.FH_License_No}}</b></p>
                                    <p><b>Name &nbsp;:&nbsp;{{food_handler_details.Applicant_Name}}</b></p>
                                    <p><b>CID No &nbsp;:&nbsp;{{food_handler_details.CID}}</b></p>
                                    <p><b>License Issued For &nbsp;:&nbsp;{{food_handler_details.Associated_Food_Establishment}}</b></p>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="profile-row" style="margin-left: 290px;margin-bottom: -40px;">
                            <div class="form-group col-md-4">
                                <label><b>Issue Date:</b></label>
                                {% for food_handler_details in food_handler_details %}
                                    <b>{{food_handler_details.Approved_Date|date:"d/m/Y"}}</b>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Director General</label>
                            </div>
                        </div>
                    <br><br>
                        <div class="profile-row" style="margin-left: 290px;">
                            <div class="form-group col-md-4">
                                <label><b>Valid Till:</b></label>
                                {% for food_handler_details in food_handler_details %}
                                    <b>{{food_handler_details.FH_License_Validity|date:"d/m/Y"}}</b>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Issuing Authority</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="profile-row" style="margin-left: 290px;margin-bottom: -30px;">
                        <div class="row">
                            <label><b>This License is issued in accordance with Section 55 and 56 of the Food Act of Bhutan 2005</b></label>
                            <label><b>This License is only for the purpose of Foos handling and does not substitute Business License or any other License/Permit</b></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </font>
    </div>
</div>
<div id="print" style="display:none">
        <div id="app">
            <div class="card" style="width: 40rem;">
              <div class="card-header">
                  <div class="card-title">
                    <a href="#"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
                  </div>
                <h4 class="text-center" style="margin-bottom: 0.1rem;"><font color='black'><b>FOOD HANDLER LICENCE</b></font></h4>
              </div>
              <article>
                {% for details in file_attach %}
                    <img src="{{ details.file_path }}">
                {% endfor %}

                <div class="area">
                     {% for food_handler_details in food_handler_details %}
                            <p style="margin-left: 30px;"><b>LICENCE NO &nbsp;:&nbsp;</b>{{food_handler_details.FH_License_No}}</p>
                            <p style="margin-left: 30px;"><b>Name &nbsp;:&nbsp;{{food_handler_details.Applicant_Name}}</b></p>
                            <p style="margin-left: 30px;"><b>CID No &nbsp;:&nbsp;{{food_handler_details.CID}}</b></p>
                            <p style="margin-left: 30px;"><b>License Issued For &nbsp;:&nbsp;{{food_handler_details.Associated_Food_Establishment}}</b></p>
                    {% endfor %}
                </div>
              </article>
                    <div class="profile-row" style="margin-left: 90px;margin-bottom: -40px;">
                            <div class="form-group col-md-4">
                                <label><b>Issue Date::</b></label>
                                {% for food_handler_details in food_handler_details %}
                                    <b>{{food_handler_details.Approved_Date|date:"d/m/Y"}}</b>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Director General</label>
                            </div>
                        </div>
                    <br><br>
                        <div class="profile-row" style="margin-left: 90px;">
                            <div class="form-group col-md-4">
                                <label><b>Valid Till:</b></label>
                                {% for food_handler_details in food_handler_details %}
                                    <b>{{food_handler_details.FH_License_Validity|date:"d/m/Y"}}</b>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Issuing Authority</label>
                            </div>
                        </div>
                <div class="row">
                    <div class="profile-row" style="margin-left: 30px;">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td><b>This License is issued in accordance with Section 55 and 56 of the Food Act of Bhutan 2005</b></td>
                            </tr>
                            <tr>
                                <td><b>This License is only for the purpose of Foos handling and does not substitute Business License or any other License/Permit</b></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
<script>
    function printTable()
    {
        $("#print").show();
	    jQuery('#print').print();
	    $("#print").hide();
    }

</script>