<div class="table-responsive">
    <table id="import-data-table" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Food Safety License No</th>
                <th scope="col">Application No</th>
                <th scope="col">Application Date</th>
                <th scope="col">Validity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for application_details in application_details %}
                {% for payment_details in payment_details %}
                    {% if payment_details.application_no == application_details.application_no %}
                        {% if payment_details.receipt_date %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{application_details.fb_license_no}}</td>
                                <td>{{application_details.application_no}}</td>
                                <td>{{application_details.application_date}}</td>
                                <td>{{application_details.validity}}</td>
                                <td><button  class="btn btn-default btn-border" type="button" onclick="print_certificate('FSL','{{application_details.application_no}}')"><i class="zmdi zmdi-print"></i></button></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{application_details.fb_license_no}}</td>
                                <td>{{application_details.application_no}}</td>
                                <td>{{application_details.application_date}}</td>
                                <td>{{application_details.validity}}</td>
                                <td>Invalid</td>
                            </tr>
                        {% endif %}
                     {% endif %}
                {% empty %}
                <tr>
                  <td colspan="5" class="text-center">No Data</td>
                </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

