{% load static %}
<style>
    .header-card {
    background-color: white;
}

table, th, td {
  border: 1px solid black;
}

</style>
<div class="animated fadeIn">
    <div class="card-header header-card"><font color='black'>
        <div class="col-md-12">
            <div >
                <div class="card-head-row float-right">
                    <div class="card-tools">
                        <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='Test Report';printClientTable()">
                            <span class="btn-label">
                                <i class="zmdi zmdi-print"></i>
                            </span>
                            Print
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <div class="card-title text-center">
                    <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
                </div>

                <h4 class="text-center"><font color='black'><b>FOOD SAFETY LICENCE</b></font></h4>
                {% for fsl_safety_details in fsl_safety_details %}
                <div class="row float-left">
                    <p>LICENCE No.&nbsp;:&nbsp;<b>{{fsl_safety_details.FBO_License_No}}</b></p>
                </div>
                <div class="row float-right">
                    <p>Date of issue&nbsp;:&nbsp;<b></b></p>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="row">
                            <p>Bhutan Agriculture and Food Regulatory Authority (BAFRA), Ministry of Agriculture
                                and Forests (MoAF) is pleased to issue Food Safety License to &nbsp;
                                <b>{{fsl_safety_details.Name_Owner}}</b>,
                                at <b>{{fsl_safety_details.Field_Office_Id}}</b>. based on BAFRA GHP/GMP Criteria for
                                Licensing of Food Business 2017 and Licensing Process for Food Business 2017.</p>
                            <p>This License is issued in accordance with the Food Act of Bhutan 2005 and its
                                Regulation 2017.</p>
                        </div>
                    </div>
                    <h4 class="text-center"><font color='black'><b>DIRECTOR GENERAL</b></font></h4>
                    <div class="col-md-12">
                        <div class="row">
                            <p>This License is subject to the following General Terms and Conditions:</p>
                            <p>1.	This License is valid only for M/s <b>{{fsl_safety_details.Business_Name}} </b>
                            Dzongkhag <b>{{fsl_safety_details.Address}} </b>. and not at any other location.</p>
                            <p>2.	Promoter should abide by any food safety measures implemented by BAFRA.</p>
                            <p>3.	The establishment shall comply at all times with the Criteria for Good Hygienic Practices (GHP) and Good Manufacturing Practices (GMP) for Licensing of Food Business.</p>
                            <p>4.	The ingredients used are approved by BAFRA based on the applicable Legislations.</p>
                            <p>5.	The scope of this License is limited to Food Safety only and do not substitute the clearances required by other agencies</p>
                            <p>6.	The establishment will be subjected to periodic inspection and monitoring by BAFRA.</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </font>
    </div>
</div>
