{% load static %}
<style>
    .header-card {
    background-color: white;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
</style>
<div class="card">
    <div class="card-header header-card"><font color='black'>
		<div class="card-head-row float-right">
            <div class="card-tools">
                <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='Export Certificate';printTable()">
                    <span class="btn-label">
                        <i class="zmdi zmdi-print"></i>
                    </span>
                    Print
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>EXPORT CERTIFICATE</b></font></h6>

    <div class="card-body">
        {% for certificate_details in certificate_details %}
        <div class="row d-flex justify-content-between details">

			    <h6>EC NO.&nbsp;&nbsp;{{certificate_details.Export_Permit}}</h6>

		</div>
        <table class="tg">
            <thead>
              <tr>
                <th class="tg-0pky" colspan="2">From: Plant Protection Organization Of</th>
                <th class="tg-0pky" colspan="2">To: Plant Protection Organization(s) Of</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-c3ow" colspan="4" align="center">
                    <h4>I.DESCRIPTION OF CONSIGNMENT</h4>
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Name and Address of exporter</td>
                <td class="tg-0pky" colspan="2">Declared name and address of consignee</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Exporter_Name}}&nbsp;&nbsp;{{certificate_details.Exporter_Address}}
                </td>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Consingee_Name_Address}}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Number and description of packages</td>
                <td class="tg-0pky" colspan="2">Distinguishing marks</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Packages_No}}&nbsp;&nbsp;{{certificate_details.Packages_Description}}
                </td>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Distinguishing_Marks}}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky">Place Of Origin</td>
                <td class="tg-0pky">Declared Means Of Conveyance</td>
                <td class="tg-0pky" colspan="2">Declared Point Of Entry</td>
              </tr>
              <tr>
                <td class="tg-0pky">
                    {{certificate_details.Dzongkhag}}
                </td>
                <td class="tg-0pky">
                    {{certificate_details.Mode_Of_Conveyance}}
                </td>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Entry_Point}}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Name of produce and quantity declared</td>
                <td class="tg-0pky" colspan="2">Botanical Name Of Plants</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Description}}
                </td>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Botanical_Name}}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="4">
                    <p>
                        This is to certify that the plants and plant products or other regulated articles
                        described herein have been inspected and/ or tested according to appropriate official
                        procedures and are considered to be free from the quarantine pests specified by the
                        importing contracting party and to conform with the current phytosanitary requirements
                        of the importing contracting party, including those for regulated non-quarantine pests.
                    </p>
                    <h4 class="text-center">II. ADDITIONAL DECLARATION</h4>
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="4">
                    {% if certificate_details.Additional_Declaring %}
                        <p>{{certificate_details.Additional_Declaring}}</p>
                    {% else %}
                        <p class="text-center">NA</p>
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="4">
                    <h4 class="text-center">III. DISINFESTATION AND/ OR DISINFECTION TREATMENT</h4>
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Treatment Date</td>
                <td class="tg-0pky" colspan="2">Treatment</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    NA
                </td>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical %}
                        {{certificate_details.Treatment_Chemical}}
                    {% elif certificate_details.Treatment_Chemical_Fumigation %}
                        {{certificate_details.Treatment_Chemical_Fumigation}}
                    {% elif certificate_details.Treatment_Chemical_Spray %}
                        {{certificate_details.Treatment_Chemical_Spray}}
                    {% elif certificate_details.Treatment_Chemical_Seed %}
                        {{certificate_details.Treatment_Chemical_Seed}}
                    {% elif certificate_details.Treatment_Chemical_Other %}
                        {{certificate_details.Treatment_Chemical_Other_Specific}}
                    {% else %}
                    NA
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Chemical (Active ingredients)</td>
                <td class="tg-0pky" colspan="2">Duration and Temperature</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical_Name %}
                        {{certificate_details.Treatment_Chemical_Name}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical_Duration %}
                        {{certificate_details.Treatment_Chemical_Duration}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    Concentration
                </td>
                <td class="tg-0pky" colspan="2">
                    Additional Information
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical_Concentration %}
                        {{certificate_details.Treatment_Chemical_Concentration}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical_Additional_Info %}
                        {{certificate_details.Treatment_Chemical_Additional_Info}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    Date of Issue &nbsp;:&nbsp; {{certificate_details.Approve_Date}}
                </td>
                <td class="tg-0pky">
                    <img class="img-responsive" src="{% static 'assets/img/OFFICE_SEAL.jpg' %}" style="width:20%;"/>
                </td>

              </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
        <div class="col-md-12" style="display:none;" id="print">
            <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>EXPORT CERTIFICATE</b></font></h6>

    <div class="card-body">
        {% for certificate_details in certificate_details %}
        <div class="row d-flex justify-content-between details">

			    <h6>EC NO.&nbsp;&nbsp;{{certificate_details.Export_Permit}}</h6>

		</div>
        <table class="tg">
            <thead>
              <tr>
                <th class="tg-0pky" colspan="2">From: Plant Protection Organization Of</th>
                <th class="tg-0pky" colspan="2">To: Plant Protection Organization(s) Of</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-c3ow" colspan="4" align="center">
                    <h4>I.DESCRIPTION OF CONSIGNMENT</h4>
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Name and Address of exporter</td>
                <td class="tg-0pky" colspan="2">Declared name and address of consignee</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Exporter_Name}}&nbsp;&nbsp;{{certificate_details.Exporter_Address}}
                </td>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Consingee_Name_Address}}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Number and description of packages</td>
                <td class="tg-0pky" colspan="2">Distinguishing marks</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Packages_No}}&nbsp;&nbsp;{{certificate_details.Packages_Description}}
                </td>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Distinguishing_Marks}}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky">Place Of Origin</td>
                <td class="tg-0pky">Declared Means Of Conveyance</td>
                <td class="tg-0pky" colspan="2">Declared Point Of Entry</td>
              </tr>
              <tr>
                <td class="tg-0pky">
                    {{certificate_details.Dzongkhag}}
                </td>
                <td class="tg-0pky">
                    {{certificate_details.Mode_Of_Conveyance}}
                </td>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Entry_Point}}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Name of produce and quantity declared</td>
                <td class="tg-0pky" colspan="2">Botanical Name Of Plants</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Description}}
                </td>
                <td class="tg-0pky" colspan="2">
                    {{certificate_details.Botanical_Name}}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="4">
                    <p>
                        This is to certify that the plants and plant products or other regulated articles
                        described herein have been inspected and/ or tested according to appropriate official
                        procedures and are considered to be free from the quarantine pests specified by the
                        importing contracting party and to conform with the current phytosanitary requirements
                        of the importing contracting party, including those for regulated non-quarantine pests.
                    </p>
                    <h4 class="text-center">II. ADDITIONAL DECLARATION</h4>
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="4">
                    {% if certificate_details.Additional_Declaring %}
                        <p>{{certificate_details.Additional_Declaring}}</p>
                    {% else %}
                        <p class="text-center">NA</p>
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="4">
                    <h4 class="text-center">III. DISINFESTATION AND/ OR DISINFECTION TREATMENT</h4>
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Treatment Date</td>
                <td class="tg-0pky" colspan="2">Treatment</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    NA
                </td>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical %}
                        {{certificate_details.Treatment_Chemical}}
                    {% elif certificate_details.Treatment_Chemical_Fumigation %}
                        {{certificate_details.Treatment_Chemical_Fumigation}}
                    {% elif certificate_details.Treatment_Chemical_Spray %}
                        {{certificate_details.Treatment_Chemical_Spray}}
                    {% elif certificate_details.Treatment_Chemical_Seed %}
                        {{certificate_details.Treatment_Chemical_Seed}}
                    {% elif certificate_details.Treatment_Chemical_Other %}
                        {{certificate_details.Treatment_Chemical_Other_Specific}}
                    {% else %}
                    NA
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Chemical (Active ingredients)</td>
                <td class="tg-0pky" colspan="2">Duration and Temperature</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical_Name %}
                        {{certificate_details.Treatment_Chemical_Name}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical_Duration %}
                        {{certificate_details.Treatment_Chemical_Duration}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    Concentration
                </td>
                <td class="tg-0pky" colspan="2">
                    Additional Information
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical_Concentration %}
                        {{certificate_details.Treatment_Chemical_Concentration}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
                <td class="tg-0pky" colspan="2">
                    {% if certificate_details.Treatment_Chemical_Additional_Info %}
                        {{certificate_details.Treatment_Chemical_Additional_Info}}
                    {% else %}
                        NA
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">
                    Date of Issue &nbsp;:&nbsp; {{certificate_details.Approve_Date}}
                </td>
                <td class="tg-0pky">
                    <img class="img-responsive" src="{% static 'assets/img/OFFICE_SEAL.jpg' %}" style="width:20%;"/>
                </td>
              </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
        </div>
    </font>
    </div>
</div>

<script>
    function printTable()
    {
        $("#print").show();
	    jQuery('#print').print();
	    $("#print").hide();
    }

</script>