{% load static %}
<style>
    .header-card {
    background-color: white;
}
</style>
<div class="card">
    <div class="card-header header-card">
        <font color='black'>
		<div class="card-head-row float-right">
            <div class="card-tools">
                <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='Movement Permit';printTable()">
                    <span class="btn-label">
                        <i class="zmdi zmdi-print"></i>
                    </span>
                    Print
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>MOVEMENT PERMIT FOR AGROCHEMICALS</b></font></h6>

    <div class="card-body">
        <div class="row d-flex justify-content-between details">
            {% for certificate_details in certificate_details %}
			    <h6>Office Ref.No.&nbsp;&nbsp;{{certificate_details.Movement_Permit_No}}</h6>
			    <h6>Date&nbsp;:&nbsp;{{certificate_details.Approved_Date}}</h6>
            {% endfor %}
		</div>
        <div class="row">
            {% for certificate_details in certificate_details %}
                 <p>
                Permission is hereby granted to Mr./Ms. {{certificate_details.Applicant_Name}} bearing
                Citizen ID No {{certificate_details.CID}} of village: {{ certificate_details.Village}} under Gewog: {{ certificate_details.Gewog }}
                Dzongkhag: {{ certificate_details.Dzongkhag }}, M/S {{certificate_details.Nursery_Name}}
                to move following Plants and Plant Products
                from
                {% for dzongkhag in dzongkhag %}
                    {% if dzongkhag.Dzongkhag_Code == certificate_details.From_Dzongkhag_Code %}
                        {{ dzongkhag.Dzongkhag_Name }}
                    {% endif %}
                {% endfor %}
                 Dzongkhag to
                 {% for dzongkhag in dzongkhag %}
                    {% if dzongkhag.Dzongkhag_Code == certificate_details.To_Dzongkhag_Code %}
                        {{ dzongkhag.Dzongkhag_Name }}
                    {% endif %}
                {% endfor %}
                Dzongkhag:
                </p>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Sl.No</th>
                        <th scope="col">Name and Description of Agrochemicals </th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit</th>
                    </tr>
                </thead>
                <tbody>
                {% for certificate_details in details_permit %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{certificate_details.Commodity}}</td>
                        <td>{{certificate_details.Qty}}</td>
                        <td>{{certificate_details.Unit}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <p>This permit is issued in compliance with the Pesticides Act
                of Bhutan 2000 or other applicable regulations,
                for fulfilling the relevant technical quality standards.
            </p>
        </div>
        {% for certificate_details in certificate_details %}
        <div class="row">
            Date of Issue &nbsp;:&nbsp;&nbsp;{{ certificate_details.Approved_Date }}
        </div>
        <div class="row">
            Expiry Date &nbsp;:&nbsp;&nbsp;{{ certificate_details.Validity }}
        </div>
        {% endfor %}
    </div>
        </font>
    </div>
</div>

<div class="col-md-12" style="display:none;" id="print">
    <div class="card">
    <div class="card-header header-card">
        <font color='black'>
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>MOVEMENT PERMIT FOR AGROCHEMICALS</b></font></h6>

    <div class="card-body">
        <div class="row d-flex justify-content-between details">
            {% for certificate_details in certificate_details %}
			    <h6>Office Ref.No.&nbsp;&nbsp;{{certificate_details.Movement_Permit_No}}</h6>
			    <h6>Date&nbsp;:&nbsp;{{certificate_details.Approved_Date}}</h6>
            {% endfor %}
		</div>
        <div class="row">
            {% for certificate_details in certificate_details %}
                 <p>
                Permission is hereby granted to Mr./Ms. {{certificate_details.Applicant_Name}} bearing
                Citizen ID No {{certificate_details.CID}} of village: {{ certificate_details.Village}} under Gewog: {{ certificate_details.Gewog }}
                Dzongkhag: {{ certificate_details.Dzongkhag }}, M/S {{certificate_details.Nursery_Name}}
                to move following Plants and Plant Products
                from
                {% for dzongkhag in dzongkhag %}
                    {% if dzongkhag.Dzongkhag_Code == certificate_details.From_Dzongkhag_Code %}
                        {{ dzongkhag.Dzongkhag_Name }}
                    {% endif %}
                {% endfor %}
                 Dzongkhag to
                 {% for dzongkhag in dzongkhag %}
                    {% if dzongkhag.Dzongkhag_Code == certificate_details.To_Dzongkhag_Code %}
                        {{ dzongkhag.Dzongkhag_Name }}
                    {% endif %}
                {% endfor %}
                Dzongkhag:
                </p>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Sl.No</th>
                        <th scope="col">Name and Description of Agrochemicals </th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit</th>
                    </tr>
                </thead>
                <tbody>
                {% for certificate_details in details_permit %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{certificate_details.Commodity}}</td>
                        <td>{{certificate_details.Qty}}</td>
                        <td>{{certificate_details.Unit}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <p>This permit is issued in compliance with the Pesticides Act
                of Bhutan 2000 or other applicable regulations,
                for fulfilling the relevant technical quality standards.
            </p>
        </div>
        {% for certificate_details in certificate_details %}
        <div class="row">
            Date of Issue &nbsp;:&nbsp;&nbsp;{{ certificate_details.Approved_Date }}
        </div>
        <div class="row">
            Expiry Date &nbsp;:&nbsp;&nbsp;{{ certificate_details.Validity }}
        </div>
        {% endfor %}
    </div>
        </font>
    </div>
</div>

</div>

<script>
    function printTable()
    {
        $("#print").show();
	    jQuery('#print').print();
	    $("#print").hide();
    }

</script>