{% load static %}
<style>
    .header-card {
    background-color: white;
}
</style>
<div class="card">
    <div class="card-header header-card"><font color='black'>
		<div class="card-head-row  float-right">
            <div class="card-tools">
                <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='Movement Permit';printTable()">
                    <span class="btn-label">
                        <i class="zmdi zmdi-print"></i>
                    </span>
                    Print
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>IN-COUNTRY MOVEMENT PERMIT FOR PLANT AND PLANT PRODUCTS</b></font></h6>

    <div class="card-body">
        <div class="row d-flex justify-content-between details">
            {% for certificate_details in details %}
			    <p>Serial No.&nbsp;&nbsp;{{certificate_details.Movement_Permit_No}}</p>
                <p>Date&nbsp;:&nbsp;{{certificate_details.Approved_Date}}</p>
            {% endfor %}
		</div>
        <br>
        <div class="row">
            {% for certificate_details in details %}
            <p>
                Permission is hereby granted to Mr./Ms. {{certificate_details.Applicant_Name}} bearing
                Citizen ID No {{certificate_details.CID}} of village: {{ certificate_details.Village}} under Gewog: {{ certificate_details.Gewog }}
                Dzongkhag: {{ certificate_details.Dzongkhag }}, M/S {{certificate_details.Nursery_Name}}
                to move following Plants and Plant Products
                from
                {% for dzongkhag in dzongkhag %}
                    {% if dzongkhag.Dzongkhag_Code == certificate_details.From_Dzongkhag_Code %}
                        {{ dzongkhag.Dzongkhag_Name }}
                    {% endif %}
                {% endfor %}
                 Dzongkhag to
                 {% for dzongkhag in dzongkhag %}
                    {% if dzongkhag.Dzongkhag_Code == certificate_details.To_Dzongkhag_Code %}
                        {{ dzongkhag.Dzongkhag_Name }}
                    {% endif %}
                {% endfor %}
                Dzongkhag:
            </p>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Commodity</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                   {% for import in details_permit %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{import.Commodity}}</td>
                                <td>{{import.Qty}}</td>
                                <td>{{import.Remarks}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="4" class="text-center">No Data</td>
                            </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
        {% for certificate_details in details %}
        <div class="row">
            <p>
                Authorized route {{certificate_details.Authorized_Route}}.
            </p>
        </div>
        <div class="row">
            <p>
                  PURPOSE OF MOVEMENT&nbsp;:&nbsp;{{certificate_details.Movement_Purpose}}..
            </p>
        </div>
        <div class="row">
            <p>
                  MEANS OF COVEYANCE&nbsp;:&nbsp; {{certificate_details.Conveyance_Means}}.
            </p>
        </div>
        <div class="row">
            <p>
                  HIS PERMIT IS VALID FOR A PERIOD OF {{certificate_details.Validity_Period }} DAYS FROM THE DATE OF ISSUE.
            </p>
        </div>
        <div class="row">
            <p>
                  This permit is subject to cancellation at the discretion of the Director General
                  of Bhutan Agriculture and Food Regulatory Authority,
                   Ministry of Agriculture and Forests, Thimphu, Bhutan.
            </p>
        </div>
        {% endfor %}
    </div>
        <div class="col-md-12" style="display:none;" id="print">
            <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>IN-COUNTRY MOVEMENT PERMIT FOR PLANT AND PLANT PRODUCTS</b></font></h6>

    <div class="card-body">
        <div class="row d-flex justify-content-between details">
            {% for certificate_details in details %}
			    <p>Serial No.&nbsp;&nbsp;{{certificate_details.Movement_Permit_No}}</p>
                <p>Date&nbsp;:&nbsp;{{certificate_details.Approved_Date}}</p>
            {% endfor %}
		</div>
        <br>
        <div class="row">
            {% for certificate_details in details %}
            <p>
                Permission is hereby granted to Mr./Ms. {{certificate_details.Applicant_Name}} bearing
                Citizen ID No {{certificate_details.CID}} of village: {{ certificate_details.Village}} under Gewog: {{ certificate_details.Gewog }}
                Dzongkhag: {{ certificate_details.Dzongkhag }}, M/S {{certificate_details.Nursery_Name}}
                to move following Plants and Plant Products
                from
                {% for dzongkhag in dzongkhag %}
                    {% if dzongkhag.Dzongkhag_Code == certificate_details.From_Dzongkhag_Code %}
                        {{ dzongkhag.Dzongkhag_Name }}
                    {% endif %}
                {% endfor %}
                 Dzongkhag to
                 {% for dzongkhag in dzongkhag %}
                    {% if dzongkhag.Dzongkhag_Code == certificate_details.To_Dzongkhag_Code %}
                        {{ dzongkhag.Dzongkhag_Name }}
                    {% endif %}
                {% endfor %}
                Dzongkhag:
            </p>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Commodity</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                   {% for import in details_permit %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{import.Commodity}}</td>
                                <td>{{import.Qty}}</td>
                                <td>{{import.Remarks}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="4" class="text-center">No Data</td>
                            </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
        {% for certificate_details in details %}
        <div class="row">
            <p>
                Authorized route {{certificate_details.Authorized_Route}}.
            </p>
        </div>
        <div class="row">
            <p>
                  PURPOSE OF MOVEMENT&nbsp;:&nbsp;{{certificate_details.Movement_Purpose}}..
            </p>
        </div>
        <div class="row">
            <p>
                  MEANS OF COVEYANCE&nbsp;:&nbsp; {{certificate_details.Conveyance_Means}}.
            </p>
        </div>
        <div class="row">
            <p>
                  HIS PERMIT IS VALID FOR A PERIOD OF {{certificate_details.Validity_Period }} DAYS FROM THE DATE OF ISSUE.
            </p>
        </div>
        <div class="row">
            <p>
                  This permit is subject to cancellation at the discretion of the Director General
                  of Bhutan Agriculture and Food Regulatory Authority,
                   Ministry of Agriculture and Forests, Thimphu, Bhutan.
            </p>
        </div>
        {% endfor %}
    </div>
        </div>
    </font>
    </div>
</div>
<script>
    function printTable()
    {
        $("#print").show();
	    jQuery('#print').print();
	    $("#print").hide();
    }

</script>