<div class="card">
    <div class="card-header">
        <h4 class="card-title">CLEARANCE FOR LICENSING OF NURSERY ESTABLISHMENT</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <p class="float-left">Office ref. no.</p>
            <p class="float-right">Date:</p>
        </div>
        <div class="row">
            <p>To</p>
        </div>
        <div class="row">
            <p>The Director General</p>
        </div>
        <div class="row">
            <p>DCSI, MoEA</p>
        </div>
        <div class="row">
            <p>Thimphu</p>
        </div>
        <div class="row">
            <p>Subject: Clearance for Licensing of Nursery Establishment</p>
        </div>
        <div class="row">
            <p>
                Respected Sir/Madam,
            </p>
        </div>
        <div class="row">
            <p>
                This is to inform that in accordance with the Seed Act of Bhutan 2000
                and the Seed Rules and Regulations of Bhutan 2018, (Name of Dzongkhag),
                BAFRA Office had conducted feasibility inspection of nursery facilities of the proponent
                mentioned below on dated (Date of onsite inspection):
            </p>
        </div>
        <div class="row">
            <p>
                Name & Address of the Applicant:
            </p>
        </div>
        <div class="row">
            <p>
                Contact Number:
            </p>
        </div>
        <div class="row">
            <p>
                CID Number:
            </p>
        </div>
        <div class="row">
            <p>
                Category of Nursery (Agro-Forestry/ Ornamental/Fruits and Nuts, Fodder):
            </p>
        </div>
        <div class="row">
            <p>
                Upon fulfillment of the requirements in the above-mentioned rules,
                we are pleased to issue a clearance to the proponent for establishing nursery and
                for further processing with your office for obtaining the business license
            </p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="row">
            <p>
                Officer In-charge:
            </p>
            <p>
                Bafra:
            </p>
        </div>
        <div class="row">
            <p>
                Cc:
                1.	The Director General, BAFRA, MoAF, Thimphu for kind information.
            </p>
            <p>
               2.	Concern individual for necessary action.
            </p>
        </div>
    </div>
</div>