{% load static %}
<style>
    .header-card {
    background-color: white;
}
</style>
<div class="card">
    <div class="card-header header-card"><font color='black'>
		<div class="card-head-row float-left">
            <div class="card-tools">
                <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='Nursery Certificate';printTable()">
                    <span class="btn-label">
                        <i class="zmdi zmdi-print"></i>
                    </span>
                    Print
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>NURSERY REGISTRATION NUMBER</b></font></h6>

    <div class="card-body">
        <div class="row justify-content-between">
            {% for certificate_details in certificate_details %}
                <p class="float-right">Date: {{ certificate_details.Approved_Date }}</p>
            {% endfor %}
        </div>
        <div class="row">
            {% for certificate_details in certificate_details %}
            <p>
                The Bhutan Agriculture and Food Regulatory Authority (BAFRA),
                Ministry of Agriculture and Forests (MoAF) is pleased to issue a Nursery Registration Number
                {{certificate_details.Clearance_Number}} to Dasho/Dr/Ms./Mr/Mrs&nbsp;{{certificate_details.Owner_Name }}&nbsp;
                for the nursery located at {{certificate_details.Company_Address }}
                for {{certificate_details.Nursery_Type }}.
            </p>
            <p>
                This registration is based on the Seed Act of Bhutan and its regulations.
                Please mention the above Registration Number for all future correspondences with BAFRA offices.
                This registered operator should abide/comply to the following:
            </p>
            <ul style="list-style-type:disc;">
              <li>Any plant biosecurity measures implemented by BAFRA.</li>
              <li>Seed Acts and its Regulations </li>
              <li>Met the Minimum Seed standard of Bhutan</li>
                <li>Seed display for sale are certified by BAFRA.</li>
                <li>Provide detail numbers of the seed growers under its establishment.</li>
                <li>Subjected to periodic inspection and monitoring  </li>
            </ul>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="row">
            <p>
                <img class="img-responsive" src="{% static 'assets/img/OFFICE_SEAL.jpg' %}" style="width:20%;"/>
                Officer-In-Command
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-12" style="display:none;" id="print">
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>NURSERY REGISTRATION CERTIFICATE</b></font></h6>

        <div class="card-body">
            <div class="row justify-content-between">
                {% for certificate_details in certificate_details %}
                    <p class="float-right">Date: {{ certificate_details.Approved_Date }}</p>
                {% endfor %}
            </div>
            <div class="row">
                {% for certificate_details in certificate_details %}
                <p>
                    The Bhutan Agriculture and Food Regulatory Authority (BAFRA),
                    Ministry of Agriculture and Forests (MoAF) is pleased to issue a Nursery Registration Number
                    {{certificate_details.Clearance_Number}} to Dasho/Dr/Ms./Mr/Mrs&nbsp;{{certificate_details.Owner_Name }}&nbsp;
                    for the nursery located at {{certificate_details.Company_Address }}
                    for {{certificate_details.Nursery_Type }}.
                </p>
                <p>
                    This registration is based on the Seed Act of Bhutan and its regulations.
                    Please mention the above Registration Number for all future correspondences with BAFRA offices.
                    This registered operator should abide/comply to the following:
                </p>
                <ul style="list-style-type:disc;">
                  <li>Any plant biosecurity measures implemented by BAFRA.</li>
                  <li>Seed Acts and its Regulations </li>
                  <li>Met the Minimum Seed standard of Bhutan</li>
                    <li>Seed display for sale are certified by BAFRA.</li>
                    <li>Provide detail numbers of the seed growers under its establishment.</li>
                    <li>Subjected to periodic inspection and monitoring  </li>
                </ul>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>
            <div class="row">
                <p>
                    <img class="img-responsive" src="{% static 'assets/img/OFFICE_SEAL.jpg' %}" style="width:20%;"/>
                    Officer-In-Command
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
        </font>
    </div>
</div>

<script>
    function printTable()
    {
        $("#print").show();
	    jQuery('#print').print();
	    $("#print").hide();
    }

</script>