<div class="card">
    <div class="card-header">
        <h4 class="card-title">PHYTOSANITARY CERTIFICATE</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>From: Plant Protection Organization of</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>To:  Plant Protection Organization(s) of</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <h2>I.DESCRIPTION OF CONSIGNMENT</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Name and Address of exporter</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Declared name and address of consignee</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Number and description of packages</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Distinguishing marks</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Place Of Origin</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Declared means of conveyance</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Declared point of entry</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Name of produce and quantity declared</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Botanical name of plants</label>
                </div>
            </div>
        </div>
        <div class="row">
            <p>
                This is to certify that the plants and plant products or other regulated articles
                described herein have been inspected and/ or tested according to appropriate official
                procedures and are considered to be free from the quarantine pests specified by the
                importing contracting party and to conform with the current phytosanitary requirements
                of the importing contracting party, including those for regulated non-quarantine pests.
            </p>
        </div>
        <div class="row justify-content-center">
            <h2>II. ADDITIONAL DECLARATION</h2>
        </div>
        <div class="row justify-content-center">
            <h2>NIL</h2>
        </div>
        <div class="row justify-content-center">
            <h2>III. DISINFESTATION AND/ OR DISINFECTION TREATMENT</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Treatment Date</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Treatment</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Chemical (Active ingredients)</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Duration and Temperature</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Concentration</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Additional Information</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Date of Issue &nbsp;:&nbsp;</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Official seal</label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Name and Signature of Authorized Officer</label>
                </div>
            </div>
        </div>
        <div class="row">
            Expiry Date &nbsp;:&nbsp;&nbsp;
        </div>
    </div>
</div>