{% load static %}
<style>
    .header-card {
    background-color: white;
}
</style>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header header-card">
                    <div class="card-head-row float-right">
                        <div class="card-tools">
                            <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='Test Report';printClientTable()">
                                <span class="btn-label">
                                    <i class="zmdi zmdi-print"></i>
                                </span>
                                Print
                            </a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="card-title text-center">
                        <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
                    </div>
                    <h6 class="text-center"><font color='black'><b>IMPORT PERMIT FOR PLANT/PLANT PRODUCTS</b></font></h6>
                </div>
                {% for certificate_details in certificate_details %}
                <div class="card-body">
                    <div class="row float-right">
                        <p>Permit No&nbsp;:&nbsp;{{certificate_details.Import_Permit_No}}</p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name of the Importer</label>
                                {{certificate_details.Applicant_Name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name and Address of the Exporter</label>
                                {{certificate_details.Name_And_Address_Supplier}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Entry Point</label>
                                {% for location in location %}
                                    {% if certificate_details.Actual_Point_Of_Entry == location.Field_Office_Id %}
                                        {{ location.Field_Office }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country of origin</label>
                                {{certificate_details.Country_Of_Origin}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Crop Common Name</th>
                                    <th scope="col">Crop Variety Name</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for import in import %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        {% for crop in crop %}
                                            {% if import.Crop_Id == crop.Crop_Id %}
                                                <td>{{ crop.Crop_Common_Name }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        {% for variety in variety %}
                                            {% if variety.Crop_Variety_Id ==  import.Variety_Id %}
                                                <td>{{ variety.Crop_Variety_Name}}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{import.Quantity}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <p><b>General Entry Conditions</b></p>
                        <p>The consignment of Plant/Plant products should be:</p>
                        <p>(i)&nbsp;Free from soil, weed seeds and other contaminants</p>
                        <p>(ii)&nbsp;Accompanied by an Official Phytosanitary Certificate</p>
                        <p>(iii)&nbsp;All import shall furnish GMO free written certificate from the source.</p>
                    </div>
                    <div class="row">
                        <p><b>Special Entry Conditions/ Additional Declaration: NA</b></p>
                    </div>
                    <div class="row">
                        <p><b>PEQ requirements</b></p>
                        <p>For a period of 0 Day(s)</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Final Destination</label>
                                {{certificate_details.Final_Destination}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Expected date of arrival</label>
                                {{certificate_details.Expected_Arrival_Date}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date of Issue</label>
                                    {{certificate_details.Approved_Date}}
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Validity</label>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Place of Issue</label>
                                    {% for location in location %}
                                        {% if certificate_details.Actual_Point_Of_Entry == location.Field_Office_Id %}
                                            {{ location.Field_Office }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name and signature of Authorized Officer</label>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
