{% load static %}
<style>
    .header-card {
    background-color: white;
}
</style>
<div class="card">
    <div class="card-header header-card"><font color='black'>
		<div class="card-head-row float-left">
            <div class="card-tools">
                <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='Seed Certificate';printTable()">
                    <span class="btn-label">
                        <i class="zmdi zmdi-print"></i>
                    </span>
                    Print
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>SEED CERTIFICATE</b></font></h6>
        <div class="card-body">
         {% for certificate_details in certificate_details %}
            <div class="row justify-content-between">
                <h6>Office Ref No.&nbsp;&nbsp;{{certificate_details.Seed_Certificate}}</h6>
                <h6>Date&nbsp;:&nbsp;{{certificate_details.Approved_Date}}</h6>
            </div>
            <div class="row">
                <p>
                    This certificate is hereby granted to Mr./Mrs.{{certificate_details.Applicant_Name}}. holder of Trade
                    License	No {{ certificate_details.License_No }}, M/S {{ certificate_details.Company_Name }}
                    of {{ Dzongkhag }} for
                    internal/external supply of seed /planting materials.
                    This certificate has been issued for complying with the Minimum Seed Standard of Bhutan,
                    2019 for the following seed/planting materials:
                </p>
            </div>
            {% endfor %}
            <div class="row">
               <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Crop</th>
                            <th scope="col">Crop Variety</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for import in details_permit %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ import.Crop }}</td>
                                <td>{{ import.Variety }}</td>
                                <td>{{import.Qty_Certified}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No Data</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
             {% for certificate_details in certificate_details %}
                <div class="row">
                    <p>
                          Date of issue: {{certificate_details.Approved_Date}}
                    </p>
                </div>
                <div class="row">
                    <p>
                          Expiry Date: {{certificate_details.Validity }}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-12" style="display:none;" id="print">
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>SEED CERTIFICATE</b></font></h6>
        <div class="card-body">
         {% for certificate_details in certificate_details %}
            <div class="row justify-content-between">
                <h6>Office Ref No.&nbsp;&nbsp;{{certificate_details.Seed_Certificate}}</h6>
                <h6>Date&nbsp;:&nbsp;{{certificate_details.Approved_Date}}</h6>
            </div>
            <div class="row">
                <p>
                    This certificate is hereby granted to Mr./Mrs.{{certificate_details.Applicant_Name}}. holder of Trade
                    License	No {{ certificate_details.License_No }}, M/S {{ certificate_details.Company_Name }}
                    of {{ Dzongkhag }} for
                    internal/external supply of seed /planting materials.
                    This certificate has been issued for complying with the Minimum Seed Standard of Bhutan,
                    2019 for the following seed/planting materials:
                </p>
            </div>
            {% endfor %}
            <div class="row">
               <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Crop</th>
                            <th scope="col">Crop Variety</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for import in details_permit %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ import.Crop }}</td>
                                <td>{{ import.Variety }}</td>
                                <td>{{import.Qty_Certified}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No Data</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         {% for certificate_details in certificate_details %}
            <div class="row">
                <p>
                      Date of issue: {{certificate_details.Approved_Date}}
                </p>
            </div>
            <div class="row">
                <p>
                      Expiry Date: {{certificate_details.Validity }}
                </p>
            </div>
        {% endfor %}
        </div>
    </div>
    </font>
    </div>
</div>

<script>
    function printTable()
    {
        $("#print").show();
	    jQuery('#print').print();
	    $("#print").hide();
    }
</script>