{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
    #pageloader img
    {
      left: 50%;
      margin-left: -32px;
      margin-top: -32px;
      position: absolute;
      top: 50%;
    }
</style>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div id="pageloader" style="display:none">
                   <img src="{% static 'assets/img/ajax-loader.gif' %}" alt="processing..." />
                </div>
                <div class="card-header">
                    <strong class="card-title">Registered Clients</strong>
                </div>
                <div class="card-body">
                    <div class="alert alert-success" id="successMsg" style="display:none"></div>
                    <div class="table-responsive data-table">
                        <table id="client-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email Id</th>
                                    <th>Mobile Number</th>
                                    <th>Registration Type</th>
                                    <th>CID</th>
                                    <th>Agency</th>
                                    <th>License No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for clients in reg_clients %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{clients.Name}}</td>
                                    <td>{{clients.Email_Id}}</td>
                                    <td>{{clients.Mobile_Number}}</td>
                                   {% if clients.Client_Type == "I" %}
                                    <td>Individual</td>
                                    {% else %}
                                     <td>Organization</td>
                                    {% endif %}
                                    <td>{{clients.CID}}</td>
                                    <td>{{clients.Agency}}</td>
                                    <td>{{clients.License_No}}</td>
                                    <td>
                                        <div class="form-button-action">
                                            {% if clients.Is_Active == "Y" %}
                                            <button type="submit" data-toggle="tooltip" onclick="deactivate_client('{{ clients.Email_Id }}','{{ clients.Name }}','Deactivate')" title="Deactivate" class="btn btn-link btn-primary btn-xs">
                                                <i class="fa fa-lock fa-fw"></i>
                                            </button>
                                            {% else %}
                                            <button type="submit" data-toggle="tooltip" onclick="deactivate_client('{{ clients.Email_Id }}','{{ clients.Name }}','Activate')" title="Activate" class="btn btn-link btn-primary btn-xs">
                                                <i class="fa fa-unlock fa-fw"></i>
                                            </button>
                                            {% endif %}
                                            <button type="submit" data-toggle="tooltip" onclick="reset_client_password('{{ clients.Email_Id }}','{{ clients.Name }}')" title="Reset Password" class="btn btn-link btn-primary btn-xs">
                                                <i class="fa fa-key fa-fw"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                  <td colspan="9" class="text-center">No Registered Clients</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deactivate_client(email, name, identifier)
    {
        $("#pageloader").show();
        $.ajax({
            type : "GET",
            url : "{% url 'deactivate_client' %}",
            data :{'Email_Id':email,'Name':name,'identifier':identifier},
            success : function(data)
            {
                $("#pageloader").hide();
                if(identifier == "Deactivate")
                {
                    $('#successMsg').html("Client Deactivated.");
                }
                else
                {
                    $('#successMsg').html("Client Activated.");
                }
                $('#successMsg').show();
                $('#successMsg').delay(2000).fadeOut('slow');
                setTimeout(function()
                {
                    location.reload();
                }, 3000);
            }
        });
    }

    function reset_client_password(email, name)
    {
        $("#pageloader").show();
        $.ajax({
            type : "GET",
            url : "{% url 'reset_client_password' %}",
            data :{'Email_Id':email,'Name':name},
            success : function(data)
            {
                $("#pageloader").hide();
                $('#successMsg').html("Client Password Successfully Reset.");
                $('#successMsg').show();
                $('#successMsg').delay(2000).fadeOut('slow');
            }
        });
    }
</script>
{% endblock %}