<form method="post" action="{% url 'delete_location_field' location_mapping.Location_Code %}"
      class="js-location-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Confirm Location Field Office Mapping Deletion</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete the Location Field Office Mapping ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
    <button type="submit" class="btn btn-danger">Yes</button>
  </div>
</form>