{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="animated fadeIn">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Location Field Office Mapping</strong>
                    <!--<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#roleModal">
                        Add
                    </button>-->
                </div>
                <div class="card-body">
                    <table id="location-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                 <th>#</th>
                                 <th>Gewog Name</th>
                                 <th>Dzongkhag</th>
                                 <th>Field Office</th>
                                 <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for location_mapping in location_mapping %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{location_mapping.Location_Name}}</td>
                                <td>{{location_mapping.Dzongkhag_Code}}</td>
                                <td>{{location_mapping.Field_Office_Id}}</td>
                                <td>
                                    <button type="button"
                                          class="btn btn-warning btn-sm js-edit-location"
                                          data-url="{% url 'edit_location_field' location_mapping.Location_Code %}">
                                          <i class="zmdi zmdi-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm js-delete-location"
                                          data-url="{% url 'delete_location_field' location_mapping.Location_Code %}">
                                          <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="5" class="text-center">No Plant Fodder Variety</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="location_field" method="post">
    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Location Field Office Mapping</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {% csrf_token %}
            {{form|crispy}}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
</form>
<div class="modal fade" id="modal-location">
    <div class="modal-dialog">
      <div class="modal-content edit">

      </div>
    </div>
  </div>
{% endblock %}