{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
    #pageloader img
    {
      left: 50%;
      margin-left: -32px;
      margin-top: -32px;
      position: absolute;
      top: 50%;
    }
</style>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="alert alert-success" id="successMsg" style="display:none"></div>
                <div id="pageloader" style="display:none">
                   <img src="{% static 'assets/img/ajax-loader.gif' %}" alt="processing..." />
                </div>
                <div class="card-header">
                    <strong class="card-title">New Client Registration</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive data-table">
                        <table id="registered-client-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email Id</th>
                                    <th>Mobile Number</th>
                                    <th>Registration Type</th>
                                    <th>CID</th>
                                    <th>Agency</th>
                                    <th>License No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for clients in reg_clients %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{clients.Name}}</td>
                                    <td>{{clients.Email_Id}}</td>
                                    <td>{{clients.Mobile_Number}}</td>
                                   {% if clients.Client_Type == "I" %}
                                    <td>Individual</td>
                                    {% else %}
                                     <td>Organization</td>
                                    {% endif %}
                                    <td>{{clients.CID}}</td>
                                    <td>{{clients.Agency}}</td>
                                    <td>{{clients.License_No}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="submit" data-toggle="tooltip" onclick="accept_registration('{{ clients.Email_Id }}','{{ clients.Name }}')"  title="Approve" class="btn btn-primary btn--icon btn-sm">
                                                <i class="zmdi zmdi-check-square"></i>
                                            </button>
                                            <button type="submit" data-toggle="tooltip" onclick="reject_registration('{{ clients.Email_Id }}','{{ clients.Name }}')" title="Reject" class="btn btn-primary btn--icon btn-sm">
                                                <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                  <td colspan="9" class="text-center">No New Client Registrations</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function accept_registration(email, name)
    {
        $("#pageloader").show();
        $.ajax({
            type : "GET",
            url : "{% url 'accept_registration' %}",
            data :{'Email_Id':email,'Name':name},
            success : function(data)
            {
                $("#pageloader").hide();
                $('#successMsg').html("Client Registration Accepted.");
                $('#successMsg').show();
                $('#successMsg').delay(2000).fadeOut('slow');
                setTimeout(function()
                {
                    location.reload();
                }, 3000);
            }
        });
    }

    function reject_registration(email, name)
    {
        $("#pageloader").show();
        $.ajax({
            type : "GET",
            url : "{% url 'reject_registration' %}",
            data :{'Email_Id':email,'Name':name},
            success : function(data)
            {
                $("#pageloader").hide();
                $('#successMsg').html("Client Registration Rejected.");
                $('#successMsg').show();
                $('#successMsg').delay(2000).fadeOut('slow');
            }
        });
    }
</script>
{% endblock %}