<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>BBFSS| Bhutan Biosecurity and Food Safety System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap1.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <link rel="stylesheet" href="{% static 'css/style3.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
        <link href="{% static 'styles/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <header class="header justify-content-center text-center" style="background-color: white;">
            <img src="{% static 'assets/img/banner.png' %}" alt="placeholder 960" class="img-responsive" />
        </header>
        <br>
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Password Update</strong>
            </div>
            <div class="card-body">
            <div id="update_passwordMsg" class="alert alert-success" style="display:none">
                Password successfully updated, you will be automatically redirected to your respective dashboard
            </div>
            <form method="post" id="passwordUpdateForm">
                 {% csrf_token %}
                <input type="hidden" name="Login_Id" class="form-control" value="{{ request.session.Login_Id }}" id="Login_Id">
                <input type="hidden" name="Role_Id" class="form-control" value="{{ request.session.Role_Id }}" id="Role_Id">
                <input type="hidden" name="username" class="form-control" value="{{ request.session.Email_Id }}" id="email">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="new_password">New Password</label>
                        <input type="password" name="new_password" class="form-control" id="new_password">
                        <small id="password_help" class="form-text text-muted">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</small>
                        <div class="alert alert-danger" id="new_passwordErrorMsg" style="display:none"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" name="password" class="form-control" id="confirm_password">
                        <div class="alert alert-danger" id="confirm_passworderrorMsg" style="display:none"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="security_question">Security Question</label>
                        <select class="form-control" name="security_question"  id="security_question">
                            <option value="">--SELECT SECURITY QUESTION--</option>
                            {% for security in security %}
                                    <option value="{{ security.Question_Id }}">{{ security.Question }}</option>
                            {% endfor %}
                        </select>
                        <div class="alert alert-danger" id="security_questionerrorMsg" style="display:none"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Answer">Answer</label>
                        <input type="text" name="Answer" class="form-control" id="Answer">
                        <div class="alert alert-danger" id="AnswererrorMsg" style="display:none"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveDetails()" class="btn btn-blue text-center">Update</button>
                </div>
            </form>
            </div>
        </div>
    </body>
<script src="{% static 'styles/jquery/dist/jquery.min.js' %}"></script>
<script>
    function saveDetails()
    {
        var new_password = $('#new_password').val();
        var confirm_password = $('#confirm_password').val();
        var pattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
        var no = new_password.match(pattern);
        var security_question = $('#security_question').val();
        var answer = $('#Answer').val();

            if(new_password == "")
                {
                    $('#new_passwordErrorMsg').html("");
                    $('#new_passwordErrorMsg').html("New Password Cannot Be Empty");
                    $('#new_passwordErrorMsg').show();
                    $('#new_passwordErrorMsg').delay(2000).fadeOut('slow');
                    return;
                }
            if(no==null)
                {
                    $('#new_passwordErrorMsg').html("");
                    $('#new_passwordErrorMsg').html("Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters");
                    $('#new_passwordErrorMsg').show();
                    $('#new_passwordErrorMsg').delay(2000).fadeOut('slow');
                    return;
                }
            if(confirm_password == "")
                {
                    $('#confirm_passworderrorMsg').html("");
                    $('#confirm_passworderrorMsg').html("Confirm Password Cannot Be Empty");
                    $('#confirm_passworderrorMsg').show();
                    $('#confirm_passworderrorMsg').delay(2000).fadeOut('slow');
                    return;
                }
            if(new_password != confirm_password)
                {
                    $('#confirm_passworderrorMsg').html("");
                    $('#confirm_passworderrorMsg').html("New password and Password Confirmation Does Not Match");
                    $('#confirm_passworderrorMsg').show();
                    $('#confirm_passworderrorMsg').delay(2000).fadeOut('slow');
                    $('#new_password').val("");
                    $('#confirm_password').val("");
                    $('#security_question').val("");
                    $('#Answer').val("");
                    return;
                }
            if(security_question == "")
                {
                    $('#security_questionerrorMsg').html("");
                    $('#security_questionerrorMsg').html("Select Atleast One Security Question");
                    $('#security_questionerrorMsg').show();
                    $('#security_questionerrorMsg').delay(2000).fadeOut('slow');
                    return;
                }
            if(answer == "")
                {
                    $('#AnswererrorMsg').html("");
                    $('#AnswererrorMsg').html("security answer cannot be empty");
                    $('#AnswererrorMsg').show();
                    $('#AnswererrorMsg').delay(2000).fadeOut('slow');
                    return;
                }
            else
                {
                    $.ajax({
                        type : "POST",
                        url : "{% url 'password_update' %}",
                        data : $('#passwordUpdateForm').serialize(),
                        cache : false,
                        dataType : "html",
                        success : function(responseText)
                        {
                            $('#update_passwordMsg').show();
                            $('#update_passwordMsg').delay(2000).fadeOut('slow');
                            setTimeout('redirectPage()',2000);
                        }
                    });
                }
    }
    function redirectPage()
    {
        var url = "{% url 'login' %}";
        document.forms[0].action = url;
        document.forms[0].submit();
    }
</script>
</html>

