{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<header class="header justify-content-center text-center" style="background-color: white;">
    <img src="{% static 'assets/img/banner.png' %}" alt="placeholder 960" class="img-responsive" />
</header>
<br>
<div class="card">
    <div class="card-header">
        <strong class="card-title">Password Update</strong>
    </div>
    <div class="card-body">
    <div id="update_passwordMsg" class="alert alert-success" style="display:none">
        Password successfully updated, you will be automatically redirected to your respective dashboard
    </div>
    <form method="post" id="passwordUpdateForm">
         {% csrf_token %}
        <input type="hidden" name="Login_Id" class="form-control" value="{{ request.session.Login_Id }}" id="Login_Id">
        <input type="hidden" name="Role_Id" class="form-control" value="{{ request.session.Role_Id }}" id="Role_Id">
        <input type="hidden" name="username" class="form-control" value="{{ request.session.Email_Id }}" id="email">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="new_password">New Password</label>
                <input type="password" name="new_password" class="form-control" id="new_password">
                <div class="alert alert-danger" id="new_passwordErrorMsg" style="display:none"></div>
            </div>
            <div class="form-group col-md-6">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="password" class="form-control" id="confirm_password">
                <div class="alert alert-danger" id="confirm_passworderrorMsg" style="display:none"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="security_question">Security Question</label>
                <select class="form-control" name="security_question"  id="security_question">
                    <option value="">--SELECT SECURITY QUESTION--</option>
                    {% for security in security %}
                            <option value="{{ security.Question_Id }}">{{ security.Question }}</option>
                    {% endfor %}
                </select>
                <div class="alert alert-danger" id="security_questionerrorMsg" style="display:none"></div>
            </div>
            <div class="form-group col-md-6">
                <label for="Answer">Answer</label>
                <input type="text" name="Answer" class="form-control" id="Answer">
                <div class="alert alert-danger" id="AnswererrorMsg" style="display:none"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="saveDetails()" class="btn btn-blue text-center">Update</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}