{% load static %}
<style>
    .card {
    margin-bottom: 0rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
</style>
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    Application Details
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="form-label">Applicant Type</label>
                            </div>
                            {% if application_details.Application_Type == 'I' %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Farmers Group</span>
                                    </label>
                                </div>
                            {% else %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Farmers Group</span>
                                    </label>
                                </div>
                            {% endif %}
                        </div><br>
                        {% if application_details.Application_Type == 'I' %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Applicant CID</label>
                                        <input type="text" class="form-control" value="{{application_details.CID}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" value="{{application_details.Applicant_Name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag</label>
                                        <select class="form-control" disabled>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog</label>
                                        <select class="form-control" disabled>
                                            {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}">{{ gewog.Gewog_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village</label>
                                         <select class="form-control" disabled>
                                            {% for village in village %}
                                                    <option value="{{ village.Village_Code }}">{{ village.Village_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Location</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Location}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <<textarea class="form-control" disabled>{{application_details.Present_Address}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                    </div>
                                    <div class="alert alert-danger" id="contactNumberErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Request Date for Inspection</label>
                                         <input type="text" class="form-control" value="{{application_details.Proposed_Inspection_Date}}" disabled>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of Farmers Group</label>
                                        <input type="text" class="form-control" value="{{application_details.Farmer_Group_Name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farmers Group Number</label>
                                        <input type="text" class="form-control" value="{{application_details.Farmer_Group_No}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag</label>
                                        <select class="form-control" disabled>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog</label>
                                        <select class="form-control" disabled>
                                            {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}">{{ gewog.Gewog_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village</label>
                                         <select class="form-control" disabled>
                                            {% for village in village %}
                                                    <option value="{{ village.Village_Code }}">{{ village.Village_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Location</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Location}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <<textarea class="form-control" disabled>{{application_details.Present_Address}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Request Date for Inspection</label>
                                         <input type="text" class="form-control" value="{{application_details.Proposed_Inspection_Date}}" disabled>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                     <br><br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Attachments
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for file_attach in file %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{file_attach.Attachment}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                    Audit Team Details
                </a>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">

                <div class="card-body">
                {% for application_details in application_details %}
                    {% if application_details.Audit_Team_Acceptance == 'A' %}
                    <br>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for audit in audit_team %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{audit.Name}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    {% else %}
                        <div class="card-tools">
                            <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="openAuditTeamModal()">
                                <span class="btn-label">
                                    <i class="fa fa-print"></i>
                                </span>
                                Add
                            </a>
                        </div>
                        <br>
                        <div id="audit_team_details">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for audit in audit_team %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{audit.Name}}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="3" class="text-center">No Data</td>
                                        </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Validity Of Certificate</label>
                                    <input type="number" class="form-control" id="validity" name="validity">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea class="form-control" id="remarks" name="remarks" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    <div class="card-action">
                    {% for application_details in application_details %}
                        <button type="button" class="btn btn-flat btn-primary" onclick="approve_fpc_application('{{ application_details.Application_No }}')">
                            <i class="ace-icon fa fa-times"></i>
                            &nbsp;&nbsp;Approve
                        </button>
                    {% endfor %}

                    <button type="button" class="btn btn-primary" onclick="closeTeamModal()">Close Modal</button>
                    </div>
                </div>
            </div>
        </div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
function approve_fpc_application(application_id)
{

    remarks = $('#remarks').val();
    dateOfInspection = $('#dateOfInspection').val();
    validity = $('#validity').val();

   $.ajax({
        type : "GET",
        url : "{% url 'approve_gap_application' %}",
        data :{'application_no':application_id , 'remarks':remarks , 'dateOfInspection':dateOfInspection,'validity':validity},
        success : function(data) {
            $('#import_detailsModal').modal('hide');
            location.reload();
        }
    });
}
</script>