{% load static %}
<style>
    .card {
    margin-bottom: 0rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
.custom-control {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 2rem;
    margin-right: 1rem;
    margin-top: 8px;
}
form, input, select, textarea{
        color: black !important;
    }
</style>
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    Application Details
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="form-label">Applicant Type</label>
                            </div>
                            {% if application_details.Application_Type == 'I' %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Farmers Group</span>
                                    </label>
                                </div>
                            {% else %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Farmers Group</span>
                                    </label>
                                </div>
                            {% endif %}
                        </div><br>
                        {% if application_details.Application_Type == 'I' %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Applicant CID</label>
                                        <input type="text" class="form-control" value="{{application_details.CID}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" value="{{application_details.Applicant_Name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag</label>
                                        <select class="form-control" disabled>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog</label>
                                        <select class="form-control" disabled>
                                            {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}">{{ gewog.Gewog_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village</label>
                                         <select class="form-control" disabled>
                                            {% for village in village %}
                                                    <option value="{{ village.Village_Code }}">{{ village.Village_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <textarea class="form-control" disabled>{{application_details.Present_Address}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Name</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Name}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Location</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Location}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Business License Number (if applicable)</label>
                                         <input type="text" class="form-control" value="{{application_details.License_Number}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of the Technical Incharge(if different from the owner)</label>
                                         <input type="text" class="form-control" value="{{application_details.Technical_In_Charge}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of the Management Incharge (if different from the owner)</label>
                                         <input type="text" class="form-control" value="{{application_details.Manager_In_Charge}}" disabled>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of Farmers Group</label>
                                        <input type="text" class="form-control" value="{{application_details.Farmer_Group_Name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farmers Group Number</label>
                                        <input type="text" class="form-control" value="{{application_details.Farmer_Group_No}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag</label>
                                        <select class="form-control" disabled>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog</label>
                                        <select class="form-control" disabled>
                                            {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}">{{ gewog.Gewog_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village</label>
                                         <select class="form-control" disabled>
                                            {% for village in village %}
                                                    <option value="{{ village.Village_Code }}">{{ village.Village_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <textarea class="form-control" disabled>{{application_details.Present_Address}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Name</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Name}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Location</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Location}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Business License Number (if applicable)</label>
                                         <input type="text" class="form-control" value="{{application_details.License_Number}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of the Technical Incharge(if different from the owner)</label>
                                         <input type="text" class="form-control" value="{{application_details.Technical_In_Charge}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of the Management Incharge (if different from the owner)</label>
                                         <input type="text" class="form-control" value="{{application_details.Manager_In_Charge}}" disabled>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                     <br><br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="farmer_group_details">
                <a class="collapsed" data-toggle="collapse" href="#collapse_farmer_group" aria-expanded="false" aria-controls="collapse_farmer_group">
                    Farmer Group Details
                </a>
            </div>
            <div id="collapse_farmer_group" class="collapse" role="tabpanel" aria-labelledby="collapse_farmer_group" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">CID</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for farmer_group in farmer_group %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{farmer_group.CID}}</td>
                                    <td>{{farmer_group.Name}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="crop_details">
                <a class="collapsed" data-toggle="collapse" href="#collapseCrop" aria-expanded="false" aria-controls="collapseCrop">
                    Crop Production Details
                </a>
            </div>
            <div id="collapseCrop" class="collapse" role="tabpanel" aria-labelledby="collapseCrop" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Crop Name</th>
                                <th scope="col">Cultivated Area</th>
                                <th scope="col">Area Unit</th>
                                <th scope="col">For the previous year(From date)</th>
                                <th scope="col">For the previous year(To date)</th>
                                <th scope="col">Yield</th>
                                <th scope="col">Yield Unit</th>
                                <th scope="col">Harvest Month</th>
                                <th scope="col">Sold</th>
                                <th scope="col">Balance Stock</th>
                                <th scope="col">For the current year(From date)</th>
                                <th scope="col">For the current year(To date)</th>
                                <th scope="col">Estimated Yield</th>
                                <th scope="col">Yield Unit</th>
                                <th scope="col">Harvest Month</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for crop in crop_production %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{crop.Crop_Name}}</td>
                                    <td>{{crop.Area_Cultivated}}</td>
                                    <td>{{crop.Unit}}</td>
                                    <td>{{crop.P_From_Date}}</td>
                                    <td>{{crop.P_To_Date}}</td>
                                    <td>{{crop.P_Yield}}</td>
                                    <td>{{crop.P_Yield_Unit}}</td>
                                    <td>{{crop.P_Harvest_Month}}</td>
                                    <td>{{crop.P_Sold}}</td>
                                    <td>{{crop.P_Balance_Stock}}</td>
                                    <td>{{crop.C_From_Date}}</td>
                                    <td>{{crop.C_To_Date}}</td>
                                    <td>{{crop.C_Estimated_Yield}}</td>
                                    <td>{{crop.C_Yield_Unit}}</td>
                                    <td>{{crop.C_Harvest_Month}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="wild_collection_details">
                <a class="collapsed" data-toggle="collapse" href="#collapse_pack_house" aria-expanded="false" aria-controls="collapse_wild_collection">
                    Pack House Details
                </a>
            </div>
            <div id="collapse_pack_house" class="collapse" role="tabpanel" aria-labelledby="wild_collection_details" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Pack House Name</th>
                                <th scope="col">Address of the pack house</th>
                                <th scope="col">Processing_Type</th>
                                <th scope="col">For the previous year(From date)</th>
                                <th scope="col">For the previous year(To date)</th>
                                <th scope="col">Production</th>
                                <th scope="col">Production  Unit</th>
                                <th scope="col">Sold</th>
                                <th scope="col">Sold Unit</th>
                                <th scope="col">Balance Stock</th>
                                <th scope="col">For the current year(From date)</th>
                                <th scope="col">For the current year(To date)</th>
                                <th scope="col">Production</th>
                                <th scope="col">Sold</th>
                                <th scope="col">Balance Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for crop in gap_house_details %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{crop.Pack_House_Name}}</td>
                                    <td>{{crop.Pack_House_Address}}</td>
                                    <td>{{crop.Processing_Type}}</td>
                                    <td>{{crop.P_From_Date}}</td>
                                    <td>{{crop.P_To_Date}}</td>
                                    <td>{{crop.P_Production}}</td>
                                    <td>{{crop.P_Production_Unit}}</td>
                                    <td>{{crop.P_Sold}}</td>
                                    <td>{{crop.P_Balance_Stock}}</td>
                                    <td>{{crop.C_From_Date}}</td>
                                    <td>{{crop.C_To_Date}}</td>
                                    <td>{{crop.C_Production}}</td>
                                    <td>{{crop.C_Sold}}</td>
                                    <td>{{crop.C_Balance_Stock}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="16" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Attachments
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for file_attach in file %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href='{{file_attach.File_Path}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                    Audit Team Details
                </a>
            </div>
            <div id="collapseFour" class="active" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Focal</span>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Ofiicer</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Remarks</label>
                                {% for application_details in application_details %}
                                <textarea class="form-control" disabled>{{application_details.FO_Remarks}}</textarea>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Audit</span>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Team</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    <div id="audit_team_details">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Role</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for audit in audit_team_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{audit.Name}}</td>
                                        <td>{{audit.Role}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <form method="post" id="audit_team_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Audit Team Leader</label>
                                 {% for application_details in application_details %}
                                    <input type="hidden" class="form-control" id="team_leader" name="team_leader" value="{{application_details.Audit_Team_Leader}}" disabled>
                                    <select class="form-control" disabled>
                                    {% for user_details in user_details %}
                                        <option value="{{user_details.Login_Id}}"{% if application_details.Audit_Team_Leader == user_details.Login_Id %}selected{% endif %}>
                                            {{ user_details.Name }}
                                        </option>
                                    {% endfor %}
                                    </select>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Do you have any objection on the audit team composition? <font color="red">*</font></label>&nbsp;
                                <div class="justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" name="acceptance" class="custom-control-input" value="R" onclick="checkResponse(this.value)">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Yes</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" name="acceptance" class="custom-control-input" value="A" onclick="checkResponse(this.value)">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="alert alert-danger" id="acceptanceErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Response <font color="red" id="response">*</font></label>
                                <textarea class="form-control" name="remarks" id="remarks"></textarea>
                            </div>
                        </div>
                        <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                    </div>
                    <div class="card-action">
                        <div id="submitMsg" class="alert alert-info" style="display:none;"></div>

                        {% for application_details in application_details %}
                        <input type="hidden" value="{{ application_details.Application_No }}" name="application_id">
                            <button type="button" class="btn btn-flat btn-primary" onclick="audit_team_accept()">
                                <i class="ace-icon fa fa-check"></i>
                                &nbsp;&nbsp;Submit
                            </button>
                        {% endfor %}
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close Modal</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
<script>
function audit_team_accept()
{
    var acceptance = $("input[name=acceptance]:checked").length;
    var acceptance_val = $("input[name=acceptance]:checked").val();
    var remarks =  $('#remarks').val();
    if(acceptance < 1)
    {
        $('#acceptanceErrorMsg').html("Please Check One.");
        $('#acceptanceErrorMsg').show();
        $('#acceptanceErrorMsg').delay(2000).fadeOut('slow');
        $("input[name=acceptance]").focus();
    }
    else if(acceptance_val == 'R' && remarks == "")
    {
        $('#remarksErrorMsg').html("Please Check One.");
        $('#remarksErrorMsg').show();
        $('#remarksErrorMsg').delay(2000).fadeOut('slow');
         $("#remarks").focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'gap_audit_team_accept' %}",
            data :$('#audit_team_form').serialize(),
            success : function(data) {

                $('#submitMsg').html("Application Submitted.");
                $('#submitMsg').show();
                setTimeout(function()
                {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                setTimeout(function()
                {
                    $('#application-details-modal').modal('hide');
                }, 3000);
                setTimeout(function()
                {
                     location.reload();
                }, 3000);
            }
        });
    }
}

function checkResponse(value)
{
    if(value=='A')
    {
        $('#response').hide();
    }
    else
    {
        $('#response').show();
    }
}
</script>