<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">File</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for file_attach in file_attach %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href='{{file_attach.file_path}}' target="_blank">{{file_attach.attachment}}</a></td>
                        <td>
                            <button type="button"
                                class="btn btn-danger btn-sm" onclick="DeleteAttachment('{{ file_attach.file_id }}')">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="3" class="text-center">No Data</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" value="{{file_attach_count}}" id="file_count">
<script>
$(function(){
    var file_count = $('#file_count').val();
    if(file_count > 0)
    {
        $('#client_share').show();
    }
    else
    {
        $('#client_share').hide();
    }
});

function save_details()
{
	$.ajax({
			type : "POST",
			url : "{% url 'submit_food_handler_application' %}",
			data : $('#foodHandlerForm').serialize(),
			cache : false,
			dataType : "html",
			success : function(responseText)
			{
                location.reload();
			}
	});
}

function DeleteAttachment(id)
{
    var appNo = $('#appNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'delete_gap_ap' %}",
        data :{'appNo':appNo , 'file_id': id},
        success : function(responseText)
        {
            $('#file-attachment').html(responseText);
        }
    });
}
</script>