{% load static %}
<div class="table-responsive">
    <table class="table table-bordered" id="gap-crop-production-table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Crop Name</th>
                <th scope="col">Cultivated Area</th>
                <th scope="col">Area Unit</th>
                <th scope="col">For the previous year(From date)</th>
                <th scope="col">For the previous year(To date)</th>
                <th scope="col">Yield</th>
                <th scope="col">Yield Unit</th>
                <th scope="col">Harvest Month</th>
                <th scope="col">Sold</th>
                <th scope="col">Balance Stock</th>
                <th scope="col">For the current year(From date)</th>
                <th scope="col">For the current year(To date)</th>
                <th scope="col">Estimated Yield</th>
                <th scope="col">Yield Unit</th>
                <th scope="col">Harvest Month</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
           {% for crop in crop_production_details %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{crop.Crop_Name}}</td>
                    <td>{{crop.Area_Cultivated}}</td>
                    <td>{{crop.Unit}}</td>
                    <td>{{crop.P_From_Date|date:'d-m-Y' }}</td>
                    <td>{{crop.P_To_Date|date:'d-m-Y' }}</td>
                    <td>{{crop.P_Yield}}</td>
                    <td>{{crop.P_Yield_Unit}}</td>
                    <td>{{crop.P_Harvest_Month}}</td>
                    <td>{{crop.P_Sold}}</td>
                    <td>{{crop.P_Balance_Stock}}</td>
                    <td>{{crop.C_From_Date|date:'d-m-Y' }}</td>
                    <td>{{crop.C_To_Date|date:'d-m-Y' }}</td>
                    <td>{{crop.C_Estimated_Yield}}</td>
                    <td>{{crop.C_Yield_Unit}}</td>
                    <td>{{crop.C_Harvest_Month}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm"
                        onclick="delete_details('{{crop.Record_Id}}','{{crop.Application_No}}', 'GAP-CP')">
                        <i class="zmdi zmdi-delete"></i>
                        </button>
                        <button  type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Edit"
                         onclick="populate_crop_details('{{ crop.Record_Id }}', '{{crop.Crop_Name}}',
                         '{{crop.Area_Cultivated}}','{{crop.Unit}}','{{crop.P_From_Date|date:'d-m-Y'}}','{{crop.P_To_Date|date:'d-m-Y'}}','{{crop.P_Yield}}',
                         '{{crop.P_Yield_Unit}}','{{crop.P_Harvest_Month}}','{{crop.P_Sold}}',
                         '{{crop.P_Balance_Stock}}','{{crop.C_From_Date|date:'d-m-Y'}}','{{crop.C_To_Date|date:'d-m-Y'}}',
                         '{{crop.C_Estimated_Yield}}','{{crop.C_Yield_Unit}}','{{crop.C_Harvest_Month}}',
                          '{{crop.Application_No}}')">
                        <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="16" class="text-center">No Data</td>
                </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'styles/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script>
    $(function ()
    {
        $("#gap-crop-production-table").DataTable();

    });
</script>

