<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Clause Number</th>
            <th scope="col">Non Conformity</th>
            <th scope="col">Non Conformity Category</th>
            <th scope="col">Description of nonconformity</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for conform_details in conform_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{conform_details.Clause_Number}}</td>
                <td>{{conform_details.Non_Conformity}}</td>
                <td>{{conform_details.Non_Conformity_Category}}</td>
                <td>{{conform_details.Non_Conformity_Description}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">No Data</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
<input type="hidden" id="count" value="{{message_count}}">
<script>
    $(document).ready(function()
     {
        var row_count = $("#count").val();
        if(row_count > 0)
        {
            $("#approve-btn").hide();
            $("#resubmit-btn").show();
        }
        else
        {
            $("#approve-btn").show();
            $("#resubmit-btn").hide();
        }
     });
</script>