<div class="table-responsive">
    <table class="table table-bordered" id="dynamic-table" style="margin-left:20px;">
        <thead>
            <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col" rowspan="2">Pack House Name</th>
                <th scope="col" rowspan="2">Address of the pack house</th>
                <th scope="col" colspan="8">For The Previous Year</th>
                <th scope="col" colspan="8">For The Current Year</th>
            </tr>
            <tr>
                <th scope="col">From Date</th>
                <th scope="col">To Date</th>
                <th scope="col">Production</th>
                <th scope="col">Production  Unit</th>
                <th scope="col">Sold</th>
                <th scope="col">Sold Unit</th>
                <th scope="col">Balance Stock</th>
                <th scope="col">Balance Stock Unit</th>
                <th scope="col">From Date</th>
                <th scope="col">To Date</th>
                <th scope="col">Production</th>
                <th scope="col">Production Unit</th>
                <th scope="col">Sold</th>
                <th scope="col">Sold Unit</th>
                <th scope="col">Balance Stock</th>
                <th scope="col">Balance Stock Unit</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for crop in pack_house_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{crop.Pack_House_Name}}</td>
                <td>{{crop.Pack_House_Address}}</td>
                <td>{{crop.P_From_Date|date:'d-m-Y' }}</td>
                <td>{{crop.P_To_Date|date:'d-m-Y' }}</td>
                <td>{{crop.P_Production}}</td>
                <td>{{crop.P_Production_Unit}}</td>
                <td>{{crop.P_Sold}}</td>
                <td>{{crop.P_Sold_Unit}}</td>
                <td>{{crop.P_Balance_Stock}}</td>
                <td>{{crop.P_Balance_Stock_Unit}}</td>
                <td>{{crop.C_From_Date|date:'d-m-Y' }}</td>
                <td>{{crop.C_To_Date|date:'d-m-Y' }}</td>
                <td>{{crop.C_Production}}</td>
                <td>{{crop.C_Production_Unit}}</td>
                <td>{{crop.C_Sold}}</td>
                <td>{{crop.C_Sold_Unit}}</td>
                <td>{{crop.C_Balance_Stock}}</td>
                <td>{{crop.C_Balance_Stock_Unit}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                    onclick="delete_details('{{crop.Record_Id}}','{{crop.Application_No}}', 'GAP-PH')">
                    <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button  type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Edit"
                     onclick="populate_pack_details('{{ crop.Record_Id }}', '{{crop.Pack_House_Name}}',
                     '{{crop.Pack_House_Address}}','{{crop.P_From_Date|date:'d-m-Y'}}','{{crop.P_To_Date|date:'d-m-Y'}}','{{crop.P_Production}}',
                     '{{crop.P_Production_Unit}}','{{crop.P_Sold}}','{{crop.P_Sold_Unit}}','{{crop.P_Balance_Stock}}',
                     '{{crop.P_Balance_Stock_Unit}}','{{crop.C_From_Date|date:'d-m-Y'}}','{{crop.C_To_Date|date:'d-m-Y'}}','{{crop.C_Production}}',
                     '{{crop.C_Production_Unit}}','{{crop.C_Sold}}','{{crop.C_Sold_Unit}}','{{crop.C_Balance_Stock}}','{{crop.C_Balance_Stock_Unit}}',
                      '{{crop.Application_No}}')">
                    <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="17" class="text-center">No Data</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
