{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    option
    {
        background-color: black !important;
    }
    .check {
    margin-bottom: 0;
    min-height: 2rem;
}
</style>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Food Product Certification Application</h4>
    </div>
    <div class="card-body">
        <form method="post" id="food_product_form">
        {% csrf_token %}
            <input type="hidden" name="application_no" id="applicationNo">
            <div class="row justify-content-left">
                <ul class="nav nav-pills nav-secondary" id="pills-mortem" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="loadDetails()">Application Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="file-attach" data-toggle="pill" href="#file-attachment" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_attachment_details()">File Attachment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="certification_standards" data-toggle="pill" href="#certification-standards" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_attachment_details()">Standards</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content mt-2 mb-3" id="pills-mortemContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Name Of the Firm <font color="red">*</font></label>
                                <input type="text" class="form-control" id="Firm_Name" name="Firm_Name">
                            </div>
                            <div class="alert alert-danger" id="Firm_NameErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Address <font color="red">*</font></label>
                                <textarea class="form-control" id="Firm_Address" name="Firm_Address"></textarea>
                            </div>
                            <div class="alert alert-danger" id="Firm_AddressErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Dzongkhag <font color="red">*</font></label>
                                <select class="form-control" name="dzongkhag"  id="dzongkhag" onchange="getGewog(this.value)">
                                    <option value="">--SELECT DZONGKHAG--</option>
                                    {% for dzongkhag in dzongkhag %}
                                            <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="alert alert-danger" id="dzongkhagErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Gewog <font color="red">*</font></label>
                                <select class="form-control" name="gewog" id="gewog" onchange="getVillage(this.value)">
                                    <option value="">--SELECT GEWOG--</option>
                                    {% for gewog in gewog %}
                                            <option value="{{ gewog.Gewog_Code }}">{{ gewog.Gewog_Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="alert alert-danger" id="gewogErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Village <font color="red">*</font></label>
                                 <select class="form-control" name="village" id="village">
                                    <option value="">--SELECT VILLAGE--</option>
                                    {% for village in village %}
                                            <option value="{{ village.Village_Code }}">{{ village.Village_Name }}</option>
                                    {% endfor %}
                                 </select>
                            </div>
                            <div class="alert alert-danger" id="villageErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Email <font color="red">*</font></label>
                                <input type="email" class="form-control" id="Firm_Email" name="Firm_Email" onchange="validateemailId(this.value)">
                            </div>
                            <div class="alert alert-danger" id="Firm_EmailErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Contact Number <font color="red">*</font></label>
                                <input type="number" class="form-control" id="Firm_Contact_No" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="Firm_Contact_No" maxlength="8" onkeypress="return isNumberKey(event)" onchange="checkContact(this.value)">
                            </div>
                            <div class="alert alert-danger" id="Firm_Contact_NoErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Factory</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Name Of Factory <font color="red">*</font></label>
                                <input type="text" class="form-control" name="Factory_Name" id="Factory_Name">
                            </div>
                            <div class="alert alert-danger" id="Factory_NameErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Address <font color="red">*</font></label>
                                <textarea class="form-control" id="Factory_Address" name="Factory_Address"></textarea>
                            </div>
                            <div class="alert alert-danger" id="Factory_AddressErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Contact Number <font color="red">*</font></label>
                                <input type="number" class="form-control" id="Factory_Contact_No" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="Factory_Contact_No" maxlength="8" onkeypress="return isNumberKey(event)" onchange="checkFactoryContact(this.value)">
                            </div>
                            <div class="alert alert-danger" id="Factory_Contact_NoErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Email <font color="red">*</font></label>
                                <input type="email" class="form-control" id="Factory_Email" name="Factory_Email" onchange="validateFactory_emailId(this.value)">
                            </div>
                            <div class="alert alert-danger" id="Factory_EmailErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Product</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Information</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Brief description of the product <font color="red">*</font></label>
                                <textarea class="form-control" id="Product_Description" name="Product_Description"></textarea>
                            </div>
                            <div class="alert alert-danger" id="Product_DescriptionErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Product Trade Mark(s) <font color="red">*</font></label>
                                <textarea class="form-control" id="Product_Trade_Mark" name="Product_Trade_Mark"></textarea>
                            </div>
                            <div class="alert alert-danger" id="Product_Trade_MarkErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Production</span>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Previous</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">From date <font color="red">*</font></label>
                                 <input type="text" name="P_From_Date" id="P_From_Date" class="form-control date-picker flatpickr-input active">
                            </div>
                            <div class="alert alert-danger" id="P_From_DateErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">To date <font color="red">*</font></label>
                                 <input type="text" name="P_To_Date" id="P_To_Date" class="form-control date-picker flatpickr-input active">
                            </div>
                            <div class="alert alert-danger" id="P_To_DateErrorMsg" style="display:none"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Production(Quantity) <font color="red">*</font></label>
                            <input type="number" name="P_Production" class="form-control" id="P_Production" required>
                            <div class="alert alert-danger" id="productionErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Unit <font color="red">*</font></label>
                                <select class="form-control" name="P_Production_Unit" id="P_Production_Unit">
                                    <option value="">--SELECT--</option>
                                    {% for unit in unit %}
                                        <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger" id="P_Production_UnitErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Value <font color="red">*</font></label>
                            <input type="number" name="P_Production_Value" class="form-control" id="P_Production_Value" required>
                            <div class="alert alert-danger" id="P_Production_ValueErrorMsg" style="display:none"></div>
                        </div>
                    </div>

                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Production</span>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Current</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">From date <font color="red">*</font></label>
                                 <input type="text" name="C_From_Date" id="C_From_Date" class="form-control date-picker flatpickr-input active">
                            </div>
                            <div class="alert alert-danger" id="C_From_DateErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">To date <font color="red">*</font></label>
                                 <input type="text" name="C_To_Date" id="C_To_Date" class="form-control date-picker flatpickr-input active">
                            </div>
                            <div class="alert alert-danger" id="to_current_yearErrorMsg" style="display:none"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Production(Quantity) <font color="red">*</font></label>
                            <input type="number" name="C_Production" class="form-control" id="C_Production" required>
                            <div class="alert alert-danger" id="C_ProductionErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label">Unit <font color="red">*</font></label>
                            <select class="form-control" name="C_Production_Unit" id="C_Production_Unit">
                                <option value="">--SELECT--</option>
                                {% for unit in unit %}
                                        <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                {% endfor %}
                            </select>
                            <div class="alert alert-danger" id="C_Production_UnitErrorMsg" style="display:none"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Value <font color="red">*</font></label>
                            <input type="number" name="C_Production_Value" class="form-control" id="C_Production_Value" required>
                            <div class="alert alert-danger" id="C_Production_ValueErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Export</span>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Previous</span>
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">From date <font color="red">*</font></label>
                                 <input type="text" name="P_Export_From_Date" id="P_Export_From_Date" class="form-control date-picker flatpickr-input active">
                            </div>
                            <div class="alert alert-danger" id="P_Export_From_DateErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">To date <font color="red">*</font></label>
                                 <input type="text" name="P_Export_To_Date" id="P_Export_To_Date" class="form-control date-picker flatpickr-input active">
                            </div>
                            <div class="alert alert-danger" id="P_Export_To_DateErrorMsg" style="display:none"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Export(Quantity) <font color="red">*</font></label>
                            <input type="text" name="P_Export" class="form-control" id="P_Export" required>
                            <div class="alert alert-danger" id="P_ExportErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label">Export Unit <font color="red">*</font></label>
                            <select class="form-control" name="P_Export_Unit" id="P_Export_Unit">
                                <option value="">--SELECT--</option>
                                {% for unit in unit %}
                                        <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                {% endfor %}
                            </select>
                            <div class="alert alert-danger" id="export_unitErrorMsg" style="display:none"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Export Value <font color="red">*</font></label>
                            <input type="number" name="P_Export_Value" class="form-control" id="P_Export_Value" required>
                            <div class="alert alert-danger" id="P_Export_ValueErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Export</span>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Current</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">From date <font color="red">*</font></label>
                                 <input type="text" name="C_Export_From_Date" id="C_Export_From_Date" class="form-control date-picker flatpickr-input active">
                            </div>
                            <div class="alert alert-danger" id="C_Export_From_DateErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">To date <font color="red">*</font></label>
                                 <input type="text" name="C_Export_To_Date" id="C_Export_To_Date" class="form-control date-picker flatpickr-input active">
                            </div>
                            <div class="alert alert-danger" id="C_Export_To_DateErrorMsg" style="display:none"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Export(Quantity) <font color="red">*</font></label>
                            <input type="number" name="C_Export" class="form-control" id="C_Export" required>
                            <div class="alert alert-danger" id="export_yearErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label">Unit <font color="red">*</font></label>
                            <select class="form-control" name="C_Export_Unit" id="C_Export_Unit">
                                <option value="">--SELECT--</option>
                                {% for unit in unit %}
                                        <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                {% endfor %}
                            </select>
                            <div class="alert alert-danger" id="C_Export_UnitErrorMsg" style="display:none"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Value <font color="red">*</font></label>
                            <input type="number" name="currentValue" class="form-control" id="currentValue" required>
                            <div class="alert alert-danger" id="currentValueErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                        Save SuccessFul
                    </div>
                    <div class="card-action">
                        <button type="button" class="btn btn-primary" onclick="save_food_product_form()">Save</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="file-attachment" role="tabpanel" aria-labelledby="mortem-file-attach">
                    <div id="file-attachment-mortem">
                        {% include 'food_product_certification/file_attachment.html' %}
                    </div>
                    <div class="card-action">
                        <button type="button" class="btn btn-success" onclick="next_file_attach()">Save-Next</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="certification-standards" role="tabpanel" aria-labelledby="mortem-file-attach">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label class="form-label">Standard(s) for which we wish to be certified</label><br><br>
                        </div>
                        <div class="form-group col-md-6" >
                            <select class="form-control form-control" id="Standard" name="Standard" onchange="checkStandards(this.value)">
                                <option value="">-SELECT-</option>
                                <option value="BTR 11: 2017 Packaged Drinking Water">1.BTR 11: 2017 Packaged Drinking Water</option>
                                <option value="BTR 12: 2017 Packaged Natural Mineral Water">2.BTR 12: 2017 Packaged Natural Mineral Water</option>
                                <option value="BTR 13: General Fruit Juices and Nectar">3.BTR 13: General Fruit Juices and Nectar</option>
                                <option value="BTS 299:2020 Bhutan Standard for Butter">4.BTS 299:2020 Bhutan Standard for Butter</option>
                                <option value="BTS 300:2020 Bhutan Standard for Datshi">5.BTS 300:2020 Bhutan Standard for Datshi</option>
                                <option value="BTS 301:2020 (IS 10484:1983) Bhutan Standard for Paneer">6.BTS 301:2020 (IS 10484:1983) Bhutan Standard for Paneer</option>
                                <option value="BTS 303:2020 Bhutan Standard for Buckwheat Flour">7.BTS 303:2020 Bhutan Standard for Buckwheat Flour</option>
                                <option value="BTS 304:2020 Bhutan Standard for Herbal Tea">8.BTS 304:2020 Bhutan Standard for Herbal Tea</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4" >
                            <input type="text" class="form-control" id="other_standard" name="other_standard" disabled>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-check">
                                <label class="form-label">With a view to ensure the similarity of the process of production of the mentioned commodities as per related standard, we shall keep regular records and maintain all required documentation to fulfill the requirements of the identified Standard (refer previous point) and any other additional documentation required by the BAFRA as the Certification Body</label><br><br>
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Terms_Bafra_Certification" class="custom-control-input" value="Agree">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Agree</span>
                                        </label>&nbsp;
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Terms_Bafra_Certification" class="custom-control-input" value="Disagree">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Disagree</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-check">
                                <label class="form-label">We are willing to change our operational practices, as may be required from time to time to keep in line with our policy which may be directed by BAFRA.</label><br><br>
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Terms_Change_Willingness" class="custom-control-input" value="Agree">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Agree</span>
                                        </label>&nbsp;
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Terms_Change_Willingness" class="custom-control-input" value="Disagree">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Disagree</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="form-check">
                                <label class="form-label">If BAFRA desires to make a preliminary inspection or investigation then, we, agree to give all our reasonable opportunity and privileges to BAFRA and accordingly provide our cooperation as per certification requirements.</label><br><br>
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Terms_Abide" class="custom-control-input" value="Agree">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Agree</span>
                                        </label>&nbsp;
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Terms_Abide" class="custom-control-input" value="Disagree">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Disagree</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-check">
                                <label class="form-label">If the certificate is awarded, we will abide by all the terms and conditions of the certification, so long as it remains valid for use and also comply with the Rules and Regulations. If the license/certificate becomes prolonged or it is cancelled, then we, shall ensure that any use of the Standard Mark on any commodity under the license will be stopped immediately and all related advertisement, materials will be taken back and other necessary action will be taken</label><br><br>
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Terms_Agreement" class="custom-control-input" value="Agree">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Agree</span>
                                        </label>&nbsp;
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Terms_Agreement" class="custom-control-input" value="Disagree">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Disagree</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="button" class="btn btn-primary" onclick="submit_fpc_certificate()">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<form method="post" id="attachment_form" enctype="multipart/form-data">
{% csrf_token %}
    <input type="hidden" name="attachment_appNo" id="attachment_appNo">
    <div class="modal fade" id="attachmentModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentModalLabel">Attach Files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Attach File</label>
                                        <input type="file" name="document" id="document">
                                        <div class="alert alert-danger" id="fileErrorMsg" style="display:none"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-lg pull-right" onclick="save_mortem_attachment()"> Submit </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

function save_food_product_form()
{
    var Firm_Name = $('#Firm_Name').val();
    var Firm_Address = $('#Firm_Address').val();
    var dzongkhag = $('#dzongkhag').val();
    var gewog = $('#gewog').val();
    var village = $('#village').val();
    var email = $('#Firm_Email').val();
    var Firm_Contact_No = $('#Firm_Contact_No').val();
    var Factory_Name = $('#Factory_Name').val();
    var Factory_Address = $('#Factory_Address').val();
    var Factory_Contact_No = $('#Factory_Contact_No').val();
    var Factory_Email = $("#Factory_Email").val();
    var Product_Description = $("#Product_Description").val();
    var Product_Trade_Mark = $("#Product_Trade_Mark").val();
    var P_From_Date = $("#P_From_Date").val();
    var P_To_Date = $("#P_To_Date").val();
    var P_Production = $("#P_Production").val();
    var P_Production_Unit = $("#P_Production_Unit").val();
    var P_Production_Value = $("#P_Production_Value").val();
    var C_From_Date = $("#P_From_Date").val();
    var C_To_Date = $("#P_To_Date").val();
    var C_Production = $("#P_Production").val();
    var C_Production_Unit = $("#P_Production_Unit").val();
    var C_Production_Value = $("#P_Production_Value").val();
    var P_Export_From_Date = $("#P_Export_From_Date").val();
    var P_Export_To_Date = $("#P_Export_To_Date").val();
    var P_Export = $("#P_Export").val();
    var P_Export_Unit = $("#P_Export_Unit").val();
    var P_Export_Value = $("#P_Export_Value").val();
    var C_Export_From_Date = $("#P_Export_From_Date").val();
    var C_Export_To_Date = $("#P_Export_To_Date").val();
    var C_Export = $("#P_Export").val();
    var C_Export_Unit = $("#P_Export_Unit").val();
    var C_Export_Value = $("#P_Export_Value").val();
    var firm_number_count = $('#Firm_Contact_No').val().length;
    var factory_number_count = $('#Factory_Contact_No').val().length;

    if(Firm_Name == "")
    {
        $('#Firm_NameErrorMsg').html("Enter Firm Name.");
        $('#Firm_NameErrorMsg').show();
        $('#Firm_NameErrorMsg').delay(2000).fadeOut('slow');
        $('#Firm_Name').focus();
    }
    else if(Firm_Address == "")
    {
        $('#Firm_AddressErrorMsg').html("Enter Firm Address.");
        $('#Firm_AddressErrorMsg').show();
        $('#Firm_AddressErrorMsg').delay(2000).fadeOut('slow');
        $('#Firm_Address').focus();

    }
    else if(dzongkhag == "")
    {
        $('#dzongkhagErrorMsg').html("Select Dzongkhag.");
        $('#dzongkhagErrorMsg').show();
        $('#dzongkhagErrorMsg').delay(2000).fadeOut('slow');
        $('#dzongkhag').focus();
    }
    else if(gewog == "")
    {
        $('#gewogErrorMsg').html("Select Gewog.");
        $('#gewogErrorMsg').show();
        $('#gewogErrorMsg').delay(2000).fadeOut('slow');
        $('#gewog').focus();
    }
    else if(village == "")
    {
        $('#villageErrorMsg').html("Select Village.");
        $('#villageErrorMsg').show();
        $('#villageErrorMsg').delay(2000).fadeOut('slow');
        $('#village').focus();
    }
    else if(email == "")
    {
        $('#emailErrorMsg').html("Enter Email.");
        $('#emailErrorMsg').show();
        $('#emailErrorMsg').delay(2000).fadeOut('slow');
        $('#email').focus();
    }
    else if(Firm_Contact_No == "")
    {
        $('#Firm_Contact_NoErrorMsg').html("Enter Contact Number.");
        $('#Firm_Contact_NoErrorMsg').show();
        $('#Firm_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Firm_Contact_No').focus();
    }
    else if(firm_number_count < 8)
    {
        $('#Firm_Contact_NoErrorMsg').html("Cannot Be Less Than Eight.");
        $('#Firm_Contact_NoErrorMsg').show();
        $('#Firm_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $("#Firm_Contact_No").focus();
    }
    else if(Factory_Name == "")
    {
        $('#Factory_NameErrorMsg').html("Enter Factory Name.");
        $('#Factory_NameErrorMsg').show();
        $('#Factory_NameErrorMsg').delay(2000).fadeOut('slow');
        $('#Factory_Name').focus();
    }
    else if(Factory_Address == "")
    {
        $('#Factory_AddressErrorMsg').html("Enter Factory Address.");
        $('#Factory_AddressErrorMsg').show();
        $('#Factory_AddressErrorMsg').delay(2000).fadeOut('slow');
        $('#Factory_Address').focus();
    }
    else if(Factory_Contact_No == "")
    {
        $('#Factory_Contact_NoErrorMsg').html("Enter Factory Contact No.");
        $('#Factory_Contact_NoErrorMsg').show();
        $('#Factory_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Factory_Contact_No').focus();
    }
    else if(factory_number_count < 8)
    {
        $('#Factory_Contact_NoErrorMsg').html("Cannot Be Less Than Eight.");
        $('#Factory_Contact_NoErrorMsg').show();
        $('#Factory_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $("#Factory_Contact_No").focus();
    }
    else if(Factory_Email == "")
    {
        $('#Factory_EmailErrorMsg').html("Enter Factory Email.");
        $('#Factory_EmailErrorMsg').show();
        $('#Factory_EmailErrorMsg').delay(2000).fadeOut('slow');
        $('#Factory_Email').focus();
    }
    else if(Product_Description == "")
    {
        $('#Product_DescriptionErrorMsg').html("Enter Product Description.");
        $('#Product_DescriptionErrorMsg').show();
        $('#Product_DescriptionErrorMsg').delay(2000).fadeOut('slow');
        $('#Product_Description').focus();
    }
    else if(Product_Trade_Mark == "")
    {
        $('#Product_Trade_MarkErrorMsg').html("Enter Product Trade Mark.");
        $('#Factory_EmailErrorMsg').show();
        $('#Factory_EmailErrorMsg').delay(2000).fadeOut('slow');
        $('#Product_Trade_Mark').focus();
    }
    else if(P_From_Date == "")
    {
        $('#P_From_DateErrorMsg').html("Enter From Date.");
        $('#P_From_DateErrorMsg').show();
        $('#P_From_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#P_From_Date').focus();
    }
    else if(P_To_Date == "")
    {
        $('#P_To_DateErrorMsg').html("Enter To Date.");
        $('#P_To_DateErrorMsg').show();
        $('#P_To_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#P_To_Date').focus();
    }
    else if(P_Production == "")
    {
        $('#P_ProductionErrorMsg').html("Enter Production Quantity.");
        $('#P_ProductionErrorMsg').show();
        $('#P_ProductionErrorMsg').delay(2000).fadeOut('slow');
        $('#P_Production').focus();
    }
    else if(P_Production_Unit == "")
    {
        $('#P_Production_UnitErrorMsg').html("Select Unit.");
        $('#P_Production_UnitErrorMsg').show();
        $('#P_Production_UnitErrorMsg').delay(2000).fadeOut('slow');
        $('#P_Production_Unit').focus();
    }
    else if(P_Production_Value = "")
    {
        $('#P_Production_ValueErrorMsg').html("Enter Value.");
        $('#P_Production_ValueErrorMsg').show();
        $('#P_Production_ValueErrorMsg').delay(2000).fadeOut('slow');
        $('#P_Production_Value').focus();
    }
    else if(C_From_Date == "")
    {
        $('#C_From_DateErrorMsg').html("Enter From Date.");
        $('#C_From_DateErrorMsg').show();
        $('#C_From_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#C_From_Date').focus();
    }
    else if(C_To_Date == "")
    {
        $('#C_To_DateErrorMsg').html("Enter To Date.");
        $('#C_To_DateErrorMsg').show();
        $('#C_To_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#C_To_Date').focus();
    }
    else if(C_Production == "")
    {
        $('#P_ProductionErrorMsg').html("Enter Production Quantity.");
        $('#P_ProductionErrorMsg').show();
        $('#P_ProductionErrorMsg').delay(2000).fadeOut('slow');
        $('#C_Production').focus();
    }
    else if(C_Production_Unit == "")
    {
        $('#C_Production_UnitErrorMsg').html("Select Unit.");
        $('#C_Production_UnitErrorMsg').show();
        $('#C_Production_UnitErrorMsg').delay(2000).fadeOut('slow');
        $('#C_Production_Unit').focus();
    }
    else if(C_Production_Value = "")
    {
        $('#C_Production_ValueErrorMsg').html("Enter Value.");
        $('#C_Production_ValueErrorMsg').show();
        $('#C_Production_ValueErrorMsg').delay(2000).fadeOut('slow');
        $('#C_Production_Value').focus();
    }
    else if(P_Export_From_Date == "")
    {
        $('#P_Export_From_DateErrorMsg').html("Enter From Date.");
        $('#P_Export_From_DateErrorMsg').show();
        $('#P_Export_From_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#P_Export_From_Date').focus();
    }
    else if(P_Export_To_Date == "")
    {
        $('#P_Export_To_DateErrorMsg').html("Enter To Date.");
        $('#P_Export_To_DateErrorMsg').show();
        $('#P_Export_To_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#P_Export_To_Date').focus();
    }
    else if(P_Export == "")
    {
        $('#P_ExportErrorMsg').html("Enter Export Quantity.");
        $('#P_ExportErrorMsg').show();
        $('#P_ExportErrorMsg').delay(2000).fadeOut('slow');
        $('#P_Export').focus();
    }
    else if(P_Export_Unit == "")
    {
        $('#P_Export_UnitErrorMsg').html("Select Export Unit.");
        $('#P_Export_UnitErrorMsg').show();
        $('#P_Export_UnitErrorMsg').delay(2000).fadeOut('slow');
        $('#P_Export_Unit').focus();
    }
    else if(P_Export_Value = "")
    {
        $('#P_Export_ValueErrorMsg').html("Enter Export Value.");
        $('#P_Export_ValueErrorMsg').show();
        $('#P_Export_ValueErrorMsg').delay(2000).fadeOut('slow');
        $('#P_Export_Value').focus();
    }
    else if(C_Export_From_Date == "")
    {
        $('#C_Export_From_DateErrorMsg').html("Enter From Date.");
        $('#C_Export_From_DateErrorMsg').show();
        $('#C_Export_From_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#C_Export_From_Date').focus();
    }
    else if(C_Export_To_Date == "")
    {
        $('#C_Export_To_DateErrorMsg').html("Enter To Date.");
        $('#C_Export_To_DateErrorMsg').show();
        $('#C_Export_To_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#C_Export_To_Date').focus();
    }
    else if(C_Export == "")
    {
        $('#C_ExportErrorMsg').html("Enter Export Quantity.");
        $('#C_ExportErrorMsg').show();
        $('#C_ExportErrorMsg').delay(2000).fadeOut('slow');
        $('#C_Export').focus();
    }
    else if(C_Export_Unit == "")
    {
        $('#C_Export_UnitErrorMsg').html("Select Export Unit.");
        $('#C_Export_UnitErrorMsg').show();
        $('#C_Export_UnitErrorMsg').delay(2000).fadeOut('slow');
        $('#C_Export_Unit').focus();
    }
    else if(C_Export_Value = "")
    {
        $('#C_Export_ValueErrorMsg').html("Enter Export Value.");
        $('#C_Export_ValueErrorMsg').show();
        $('#C_Export_ValueErrorMsg').delay(2000).fadeOut('slow');
        $('#C_Export_Value').focus();
    }
    else
    {
        $.ajax({
            type : "POST",
            url : "{% url 'save_food_product_certificate' %}",
            data : $('#food_product_form').serialize(),
            success : function(data)
            {
                $('#applicationNo').val(data.applNo);
                $('#attachment_appNo').val(data.applNo);
                $('#submitMsg').show();
                setTimeout(function() {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                setTimeout(function() {
                    $('#file-attach').tab('show');
                }, 3000);
            }
        });
    }
}



function save_mortem_attachment()
{
    var fileName = document.getElementById('document').files[0].name;
    var fd = new FormData();
    var file = document.getElementById('document').files[0];
    fd.append('document', file);
    token_value=$("input[name=csrfmiddlewaretoken]").val();
    $.ajaxSetup
    ({
        beforeSend: function(xhr, settings)
        {
            xhr.setRequestHeader("X-CSRFToken", token_value);
        }
    });
    $.ajax({
    type : "POST",
    url : "{% url 'food_product_certificate_file' %}",
    data : fd,
    dataType: 'json',
    contentType: false,
    processData: false,
    success : function(data)
    {
        if (data.form_is_valid)
        {
            var file_url = data.file_url
            var appNo = $('#attachment_appNo').val();
            $.ajax
            ({
                type : "POST",
                url : "{% url 'food_product_certificate_file_name' %}",
                data : {'appNo':appNo , 'filename':fileName, 'file_url':file_url},
                success : function(responseText)
                {
                    $('#attachmentModal').modal('hide');
                    $('#file-attachment-mortem').html(responseText);
                    $('.modal-backdrop').remove();
                }
            });
        }
        else
        {
            $('#fileErrorMsg').html("File Already Exists With Same Name. Please Upload Another File");
            $('#fileErrorMsg').show();
            $('#fileErrorMsg').delay(2000).fadeOut('slow');
        }
    }
});

}

function show_modal()
{
    $('#add_mortem_details').modal('show');
}

function show_attachment_modal()
{
    $('#attachmentModal').modal('show');
}


function save_mortem_details()
    {
        var Species = $('#Species').val();
        var Nos = $('#Nos').val();
        var qty = $('#qty').val();
        var remarks = $('#remarks').val();

        if(Species == "")
        {
            $('#SpeciesErrorMsg').html("Select Species.");
            $('#SpeciesErrorMsg').show();
            $('#SpeciesErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(Nos == "")
        {
            $('#NosErrorMsg').html("Enter Nos.");
            $('#NosErrorMsg').show();
            $('#NosErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(qty == "")
        {
            $('#qtyErrorMsg').html("Enter Quantity.");
            $('#qtyErrorMsg').show();
            $('#qtyErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(remarks == "")
        {
            $('#remarksErrorMsg').html("Enter Remarks.");
            $('#remarksErrorMsg').show();
            $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        }
        else{
            $.ajax({
                type : "POST",
                url : "{% url 'save_mortem_details' %}",
                data : $('#mortem_details_form').serialize(),
                success : function(responseText) {
                   $('#add_mortem_details').modal('hide');
                   $('#mortem_details').html(responseText);
                   $('#pills-details').tab('show');
                   $('.modal-backdrop').remove();
                }
            });
        }
    }

function validateemailId(emailId)
{
    var pattern=/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;
    var no=emailId.match(pattern);

    if(no==null)
    {
        $('#Firm_EmailErrorMsg').html("<span class='alert alert-danger'>The email Id is Not valid");
        $('#Firm_Email').val("");
        $('#Firm_EmailErrorMsg').show();
        $('#Firm_EmailErrorMsg').delay(2000).fadeOut('slow');
    }else{
     $('#Firm_EmailErrorMsg').hide();
    }

}

function validateFactory_emailId(emailId)
{
    var pattern=/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;
    var no=emailId.match(pattern);

    if(no==null)
    {
        $('#Factory_EmailErrorMsg').html("<span class='alert alert-danger'>The email Id is Not valid");
        $('#Factory_Email').val("");
        $('#Factory_EmailErrorMsg').show();
        $('#Factory_EmailErrorMsg').delay(2000).fadeOut('slow');
    }else{
     $('#Factory_EmailErrorMsg').hide();
    }

}



function checkContact(value)
{
    var firstDigit = value.charAt(0);
    var secondDigit = value.charAt(1);

    if(firstDigit != 7 && firstDigit != 1){
        $('#Firm_Contact_NoErrorMsg').html("Must Start with either 1 or 7.");
        $('#Firm_Contact_NoErrorMsg').show();
        $('#Firm_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Firm_Contact_No').val("");
    }else if(firstDigit == 1 && secondDigit != 6 && secondDigit != 7){
        $('#Firm_Contact_NoErrorMsg').html("Second Digit Must Start with either 6 or 7.");
        $('#Firm_Contact_NoErrorMsg').show();
        $('#Firm_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Firm_Contact_No').val("");
    }else if(firstDigit == 7 && secondDigit == 6){
        $('#Firm_Contact_NoErrorMsg').html("Second Digit Cannot be 6.");
        $('#Firm_Contact_NoErrorMsg').show();
        $('#Firm_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Firm_Contact_No').val("");
    }else if(firstDigit == 7 && secondDigit != 7){
        $('#Firm_Contact_NoErrorMsg').html("Second Digit Must Start with 7.");
        $('#Firm_Contact_NoErrorMsg').show();
        $('#Firm_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Firm_Contact_No').val("");
    }

}

function checkFactoryContact(value)
{
    var firstDigit = value.charAt(0);
    var secondDigit = value.charAt(1);

    if(firstDigit != 7 && firstDigit != 1){
        $('#Factory_Contact_NoErrorMsg').html("Must Start with either 1 or 7.");
        $('#Factory_Contact_NoErrorMsg').show();
        $('#Factory_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Factory_Contact_No').val("");
    }else if(firstDigit == 1 && secondDigit != 6 && secondDigit != 7){
        $('#Factory_Contact_NoErrorMsg').html("Second Digit Must Start with either 6 or 7.");
        $('#Factory_Contact_NoErrorMsg').show();
        $('#Factory_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Factory_Contact_No').val("");
    }else if(firstDigit == 7 && secondDigit == 6){
        $('#Factory_Contact_NoErrorMsg').html("Second Digit Cannot be 6.");
        $('#Factory_Contact_NoErrorMsg').show();
        $('#Factory_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Factory_Contact_No').val("");
    }else if(firstDigit == 7 && secondDigit != 7){
        $('#Factory_Contact_NoErrorMsg').html("Second Digit Must Start with 7.");
        $('#Factory_Contact_NoErrorMsg').show();
        $('#Factory_Contact_NoErrorMsg').delay(2000).fadeOut('slow');
        $('#Factory_Contact_No').val("");
    }

}



function  submit_organic_certificate()
{
    $.ajax({
        type : "POST",
        url : "{% url 'submit_organic_certificate' %}",
        data : $('#food_product_form').serialize(),
        success : function(responseText) {
           location.reload();
        }
    });
}

function checkStandards(value)
{
    if(value == "Others")
    {
        $("#other_standard").removeAttr("disabled");
    }
    else
    {
        $("#other_standard").attr("disabled", "disabled");
    }
}
function next_file_attach()
{
    $('#certification_standards').tab('show');
}
function submit_fpc_certificate()
{
    $.ajax({
        type : "POST",
        url : "{% url 'submit_food_product_certificate' %}",
        data : $('#food_product_form').serialize(),
        success : function(responseText) {
           location.reload();
        }
    });
}
</script>
{% endblock %}