{% load static %}
<style>
    .card {
    margin-bottom: 0rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
form, input, select, textarea{
        color: black !important;
    }
.head {
    color: #f3f5f8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#import_detailsModal {
    overflow-y:scroll;
}
</style>
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed head">
                    Application Details
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name Of the Firm</label>
                                    <input type="text" class="form-control" value="{{application_details.Firm_Name}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Address</label>
                                    <textarea class="form-control" disabled>{{application_details.Firm_Address}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Dzongkhag</label>
                                    <select class="form-control" disabled>
                                        {% for dzongkhag in dzongkhag %}
                                            <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Dzongkhag_Code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                {{ dzongkhag.Dzongkhag_Name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Gewog</label>
                                    <select class="form-control" disabled>
                                        {% for gewog in gewog %}
                                            <option value="{{gewog.Gewog_Code}}"{% if application_details.Gewog_Code == village.Gewog_Code %}selected{% endif %}>
                                                {{ gewog.Gewog_Name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Village</label>
                                    <select class="form-control" disabled>
                                        {% for village in village %}
                                            <option value="{{village.Village_Code}}"{% if application_details.Village_Code == village.Village_Code %}selected{% endif %}>
                                                {{ village.Village_Name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" value="{{application_details.Firm_Email}}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Contact Number</label>
                                    <input type="number" class="form-control" value="{{application_details.Firm_Contact_No}}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Factory</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name of Factory</label>
                                    <input type="text" class="form-control" value="{{application_details.Factory_Name}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Address</label>
                                    <textarea class="form-control" disabled>{{application_details.Factory_Address}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Contact Number</label>
                                    <input type="number" class="form-control" value="{{application_details.Factory_Contact_No}}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" value="{{application_details.Factory_Email}}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Product</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Information</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Brief description of the product</label>
                                    <textarea class="form-control" disabled>{{application_details.Product_Description}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Product Trade Mark(s)</label>
                                    <textarea class="form-control" disabled>{{application_details.Product_Trade_Mark}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Production</span>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Previous</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From date</label>
                                    <input type="text" class="form-control" value="{{application_details.P_From_Date}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To date</label>
                                     <input type="text" class="form-control" value="{{application_details.P_To_Date}}" disabled>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Production(Quantity)</label>
                                <input type="text" class="form-control" value="{{application_details.P_Production}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Unit</label>
                                    <input type="text" class="form-control" value="{{application_details.P_Production_Unit}}" disabled>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Value</label>
                                <input type="text" class="form-control" value="{{application_details.P_Production_Value}}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Production</span>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Current</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From date</label>
                                     <input type="text" class="form-control" value="{{application_details.C_From_Date}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To date</label>
                                     <input type="text" class="form-control" value="{{application_details.C_To_Date}}" disabled>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Production(Quantity)</label>
                                <input type="text" class="form-control" value="{{application_details.C_Production}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="form-label">Unit</label>
                                <input type="text" class="form-control" value="{{application_details.C_Production_Unit}}" disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Value</label>
                                <input type="text" class="form-control" value="{{application_details.C_Production_Value}}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Export</span>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Previous</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From date</label>
                                     <input type="text" class="form-control" value="{{application_details.P_Export_From_Date}}" disabled>
                                </div>
                                <div class="alert alert-danger" id="P_Export_From_DateErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To date</label>
                                     <input type="text" class="form-control" value="{{application_details.P_Export_To_Date}}" disabled>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Export(Quantity)</label>
                                <input type="text" class="form-control" value="{{application_details.P_Export}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="form-label">Export Unit</label>
                                <input type="text" class="form-control" value="{{application_details.P_Export_Unit}}" disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Export Value</label>
                                <input type="text" class="form-control" value="{{application_details.P_Export_Value}}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Export</span>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Current</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From date</label>
                                     <input type="text" class="form-control" value="{{application_details.C_Export_From_Date}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To date</label>
                                     <input type="text" class="form-control" value="{{application_details.C_Export_To_Date}}" disabled>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Export(Quantity)</label>
                                <input type="number" class="form-control" value="{{application_details.C_Export}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="form-label">Unit</label>
                                <input type="text" class="form-control" value="{{application_details.C_Export_Unit}}" disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Value</label>
                                <input type="text" class="form-control" value="{{application_details.C_Export}}" disabled>
                                <div class="alert alert-danger" id="currentValueErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                     <br><br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed head" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Attachments
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for file_attach in file %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href='{{file_attach.file_id}}' target="_blank">{{file_attach.attachment}}</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <a class="collapsed head" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                    Audit Team Details
                </a>
            </div>
            <div id="collapseFour" class="active" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">

                <div class="card-body">
                {% for application_details in application_details %}
                    {% if application_details.Audit_Team_Acceptance == 'A' %}
                    <br>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Role</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for audit in inspection_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{audit.Name}}</td>
                                        <td>{{audit.Role}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    {% else %}
                        <div class="card-tools">
                            <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="openAuditTeamModal()">
                                <span class="btn-label">
                                    <i class="fa fa-print"></i>
                                </span>
                                Add
                            </a>
                        </div>
                        <br>
                        <div id="audit_team_details">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Role</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for audit in inspection_details %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{audit.Name}}</td>
                                            <td>{{audit.Role}}</td>
                                            <td><button type="button" class="btn btn-danger btn-sm" onclick="Delete_Audit_Team('{{audit.Record_Id}}','{{audit.Application_No}}', 'FPC')">
                                                    <i class="zmdi zmdi-delete"></i>
                                                    &nbsp;&nbsp;Delete
                                                </button>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="3" class="text-center">No Data</td>
                                        </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
                    <div class="row">
                        {% for application_details in application_details %}
                            {% if application_details.Audit_Team_Acceptance == 'A' %}
                            <input type="hidden" class="form-control" id="team_leader" name="team_leader" value="{{application_details.Audit_Team_Leader}}">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Audit Team Leader</label>
                                            <select class="form-control" disabled>
                                            {% for team_leader in team_leader %}
                                                <option value="{{team_leader.Login_Id}}"{% if application_details.Audit_Team_Leader == team_leader.Login_Id %}selected{% endif %}>
                                                    {{ team_leader.Name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Audit Team Leader <font color='red'>*</font></label>
                                        <select class="form-control" id="audit_team_leader">
                                            <option value="">--SELECT--</option>
                                            {% for team_details in team_details %}
                                                <option value="{{team_details.Login_Id}}">{{team_details.Name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="audit_team_leaderErrorMsg" style="display:none"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for application_details in application_details %}
                            {% if application_details.Audit_Team_Acceptance == 'A' %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Audit Date  &nbsp;<font color='red'>*</font> </label>
                                       <input type="text"  class="form-control" value="{{application_details.Audit_Date}}" disabled>
                                    </div>
                                </div>
                            {% else %}
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Audit Date  &nbsp;<font color='red'>*</font> </label>
                                       <input type="date" name="Audit_Date" id="Audit_Date" class="form-control">
                                    </div>
                                    <div class="alert alert-danger" id="Audit_DateErrorMsg" style="display:none"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for application_details in application_details %}
                            {% if application_details.Audit_Team_Acceptance == 'A' %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Audit Type &nbsp;<font color='red'>*</font> </label>
                                                <select class="form-control form-control" disabled>
                                                    {% if application_details.Audit_Plan_Type == "Initial" %}
                                                        <option value="Initial" selected>Initial</option>
                                                    {% elif application_details.Audit_Plan_Type == "Revisit" %}
                                                        <option value="Revisit" selected>Revisit/Follow Up</option>
                                                    {% elif application_details.Audit_Plan_Type == "Surveillance" %}
                                                        <option value="Surveillance" selected>Surveillance</option>
                                                    {% elif application_details.Audit_Plan_Type == "Renewal" %}
                                                        <option value="Renewal" selected>Renewal</option>
                                                    {% elif application_details.Audit_Plan_Type == "Preliminary" %}
                                                        <option value="Preliminary" selected>Preliminary</option>
                                                    {% elif application_details.Audit_Plan_Type == "Special" %}
                                                        <option value="Special" selected>Special</option>
                                                    {% elif application_details.Audit_Plan_Type == "Farm" %}
                                                        <option value="Farm" selected>Farm</option>
                                                    {% elif application_details.Audit_Plan_Type == "Company/Factory" %}
                                                        <option value="Company/Factory" selected>Company/Factory</option>
                                                    {% elif application_details.Audit_Plan_Type == "Management System" %}
                                                        <option value="Management System" selected>Management System</option>
                                                    {% else %}
                                                        <option value="Processing">Processing</option>
                                                    {% endif %}
                                                </select>
                                        </div>
                                    </div>
                                    {% if application_details.FO_Remarks%}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Focal Officer Remarks</label>
                                            <textarea class="form-control"  disabled>{{application_details.FO_Remarks}}</textarea>
                                        </div>
                                    </div>
                                    {% endif%}
                                    {% if application_details.Audit_Team_Acceptance_Remarks %}
                                        <div class="col-md-6">
                                            <label class="form-label">Remarks From Client </label>
                                            <textarea class="form-control" disabled>{{ application_details.Audit_Team_Acceptance_Remarks }}</textarea>
                                        </div>
                                    {% endif %}
                                </div>
                            {% else%}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Audit Type &nbsp;<font color='red'>*</font> </label>
                                            <select class="form-control form-control" id="audit_type" name="audit_type">
                                                <option value="">-SELECT-</option>
                                                <option value="Initial">Initial</option>
                                                <option value="Revisit">Revisit/Follow Up</option>
                                                <option value="Surveillance">Surveillance</option>
                                                <option value="Renewal">Renewal</option>
                                                <option value="Preliminary">Preliminary</option>
                                                <option value="Special">Special</option>
                                                <option value="Farm">Farm</option>
                                                <option value="Company/Factory">Company/Factory</option>
                                                <option value="Management System">Management System</option>
                                                <option value="Processing">Processing</option>
                                            </select>
                                        </div>
                                        <div class="alert alert-danger" id="audit_plan_typeErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Remarks</label>
                                            <textarea class="form-control" id="remarks_fo"></textarea>
                                        </div>
                                    </div>
                                </div>

                                {% if application_details.Audit_Team_Acceptance_Remarks %}
                                    <div class="col-md-6">
                                        <label class="form-label">Remarks From Client </label>
                                        <textarea type="text" class="form-control" disabled>{{ application_details.Audit_Team_Acceptance_Remarks }}</textarea>
                                    </div>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                        <br>
                        <hr>
                        <div class="card-action justify-content-center">
                            {% for application_details in application_details %}
                                 {% if application_details.Audit_Team_Acceptance == 'A' %}
                                    <button type="button" class="btn btn-flat btn-primary" onclick="forward_application('{{ application_details.Application_No }}')">
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                        &nbsp;&nbsp;Forward
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-flat btn-primary" onclick="send_for_acceptance('{{ application_details.Application_No }}')">
                                        <i class="ace-icon fa fa-reply-all"></i>
                                        &nbsp;&nbsp;Send For Acceptance
                                    </button>
                                {% endif %}
                            {% endfor %}
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>
        </div>
        <div id="AuditTeamModal" class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Audit Team Member <font color="red">*</font></label>
                                    <select class="form-control" id="audit_team_member">
                                        <option value="">--SELECT--</option>
                                        {% for team_details in team_details %}
                                            <option value="{{team_details.Login_Id}}">{{team_details.Name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="alert alert-danger" id="audit_team_memberErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Role <font color="red">*</font></label>
                                    <select class="form-control" id="role">
                                        <option value="">--SELECT--</option>
                                        <option value="Team Member">Team Member</option>
                                        <option value="Observer">Observer</option></option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="roleErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% for application_details in application_details %}
                        <button type="button" class="btn btn-flat btn-primary" onclick="audit_team_details('{{ application_details.Application_No }}')">
                            <i class="ace-icon fa fa-check"></i>
                            &nbsp;&nbsp;Add
                        </button>
                        {% endfor %}
                        <button type="button" class="btn btn-primary" onclick="closeTeamModal()">Close</button>
                    </div>
                  </div>
            </div>
        </div>

<script>
function openAuditTeamModal()
{
    $('#AuditTeamModal').modal('show');
}

function closeTeamModal()
{
    $('#AuditTeamModal').modal('hide');
}

function audit_team_details(application_id)
{
    name = $('#audit_team_member').val();
    role = $('#role').val();

    if(name == "")
    {
        $('#audit_team_memberErrorMsg').html("Please Check One Applicant Type.");
        $('#audit_team_memberErrorMsg').show();
        $('#audit_team_memberErrorMsg').delay(2000).fadeOut('slow');
        $('#audit_team_member').focus();
    }
    else if(role == "")
    {
        $('#roleErrorMsg').html("Please Check One Applicant Type.");
        $('#roleErrorMsg').show();
        $('#roleErrorMsg').delay(2000).fadeOut('slow');
        $('#role').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'fpc_audit_team_details' %}",
            data :{'application_id':application_id,'name':name, 'role':role},
            success : function(data) {
                $('#audit_team_details').html(data);
                $('#AuditTeamModal').modal('hide');
                $('.modal-backdrop').remove();
                $('#audit_team_member').val("");
                $('#role').val("");
            }
        });
    }
}

function send_for_acceptance(application_id)
{
    var audit_team_leader = $('#audit_team_leader').val();
    var Audit_Date = $('#Audit_Date').val();
    var audit_type = $('#audit_type').val();
    var remarks = $('#remarks_fo').val();

    if(audit_team_leader == "")
    {
        $('#audit_team_leaderErrorMsg').html("Select Audit Team Leader.");
        $('#audit_team_leaderErrorMsg').show();
        $('#audit_team_leaderErrorMsg').delay(2000).fadeOut('slow');
        $('#audit_team_leader').focus();
    }
    else if(Audit_Date == "")
    {
        $('#Audit_DateErrorMsg').html("Select Audit Date.");
        $('#Audit_DateErrorMsg').show();
        $('#Audit_DateErrorMsg').delay(2000).fadeOut('slow');
        $('#Audit_Date').focus();
    }
    else if(audit_type == "")
    {
        $('#audit_plan_typeErrorMsg').html("Select Audit Type.");
        $('#audit_plan_typeErrorMsg').show();
        $('#audit_plan_typeErrorMsg').delay(2000).fadeOut('slow');
        $('#audit_type').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'fpc_for_acceptance' %}",
            data :{'application_id':application_id,'audit_team_leader':audit_team_leader, 'remarks':remarks, 'Audit_Date':Audit_Date,
            'audit_type':audit_type},
            success : function(data) {
                $('#addModal').modal('hide');
                location.reload();
            }
        });
    }
}

function forward_application(application_id)
{
    remarks = $('#remarks_fo').val();
    leader = $('#team_leader').val();
    $.ajax({
        type : "GET",
        url : "{% url 'fpc_application_team_leader' %}",
        data :{'application_id':application_id, 'audit_team_leader':leader, 'remarks':remarks},
        success : function(data) {
            $('#import_detailsModal').modal('hide');
            location.reload();
        }
    });
}

function Delete_Audit_Team(id,Application_No,identification_type)
{
    $.ajax({
        type : "GET",
        url : "{% url 'delete_audit_team' %}",
        data :{'Record_Id':id, 'Application_No':Application_No, 'identification_type':identification_type},
        success : function(data) {
           $('#audit_team_details').html(data);
        }
    });
}

</script>