    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for application_details in application_details %}
                        <input type="hidden" name="application_no" id="applicationNo" value="{{application_details.Application_No}}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name Of the Firm <font color="red">*</font></label>
                                    <input type="text" class="form-control" value="{{application_details.Firm_Name}}" id="Firm_Name" name="Firm_Name">
                                    <div class="alert alert-danger" id="Firm_NameErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Address <font color="red">*</font></label>
                                    <textarea class="form-control" id="Firm_Address" name="Firm_Address">{{application_details.Firm_Address}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Dzongkhag <font color="red">*</font></label>
                                    <select class="form-control" name="dzongkhag"  id="dzongkhag" onchange="getGewog(this.value)">
                                        {% for dzongkhag in dzongkhag %}
                                            <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Dzongkhag_Code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                {{ dzongkhag.Dzongkhag_Name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Gewog <font color="red">*</font></label>
                                    <select class="form-control" name="gewog" id="gewog" onchange="getVillage(this.value)">
                                        {% for gewog in gewog %}
                                            <option value="{{ gewog.Gewog_Code }}"{% if application_details.Gewog_Code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Village <font color="red">*</font></label>
                                     <select class="form-control" name="village" id="village">
                                        {% for village in village %}
                                            <option value="{{ village.Village_Code }}" {% if application_details.Village_Code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                        {% endfor %}
                                     </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email <font color="red">*</font></label>
                                    <input type="email" class="form-control" value="{{application_details.Firm_Email}}" id="Firm_Email" name="Firm_Email">
                                    <div class="alert alert-danger" id="Firm_EmailErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Contact Number <font color="red">*</font></label>
                                    <input type="number" class="form-control" value="{{application_details.Firm_Contact_No}}" id="Firm_Contact_No" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="Firm_Contact_No" maxlength="8" onkeypress="return isNumberKey(event)" onchange="checkContact(this.value)">
                                    <div class="alert alert-danger" id="Firm_Contact_NoErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Factory</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name Of Factory <font color="red">*</font></label>
                                    <input type="text" class="form-control" value="{{application_details.Factory_Name}}" name="Factory_Name" id="Factory_Name">
                                    <div class="alert alert-danger" id="Factory_NameErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Address <font color="red">*</font></label>
                                    <textarea class="form-control" id="Factory_Address" name="Factory_Address">{{application_details.Factory_Address}}</textarea>
                                    <div class="alert alert-danger" id="Factory_AddressErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Contact Number <font color="red">*</font></label>
                                    <input type="number" class="form-control" value="{{application_details.Factory_Contact_No}}" id="Factory_Contact_No" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="Factory_Contact_No" maxlength="8" onkeypress="return isNumberKey(event)" onchange="checkContact(this.value)">
                                </div>
                                <div class="alert alert-danger" id="Factory_Contact_NoErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email <font color="red">*</font></label>
                                    <input type="email" class="form-control" value="{{application_details.Factory_Email}}" id="Factory_Email" name="Factory_Email" onchange="validateemailId(this.value)">
                                </div>
                                <div class="alert alert-danger" id="Factory_EmailErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Product</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Information</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Brief description of the product <font color="red">*</font></label>
                                    <textarea class="form-control" id="Product_Description" name="Product_Description">{{application_details.Product_Description}}</textarea>
                                </div>
                                <div class="alert alert-danger" id="Product_DescriptionErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Product Trade Mark(s) <font color="red">*</font></label>
                                    <textarea class="form-control" id="Product_Trade_Mark" name="Product_Trade_Mark">{{application_details.Product_Trade_Mark}}</textarea>
                                </div>
                                <div class="alert alert-danger" id="Product_Trade_MarkErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Production</span>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Previous</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From date <font color="red">*</font></label>
                                    <input type="text" class="form-control date-picker flatpickr-input active" name="P_From_Date" id="P_From_Date" value="{{application_details.P_From_Date}}">
                                </div>
                                <div class="alert alert-danger" id="P_From_DateErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To date <font color="red">*</font></label>
                                     <input type="text" class="form-control date-picker flatpickr-input active" id="P_To_Date" name="P_To_Date" value="{{application_details.P_To_Date}}">
                                </div>
                                <div class="alert alert-danger" id="P_To_DateErrorMsg" style="display:none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Production(Quantity) <font color="red">*</font></label>
                                <input type="text" name="P_Production" class="form-control" id="P_Production" value="{{application_details.P_Production}}">
                                <div class="alert alert-danger" id="productionErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Unit <font color="red">*</font></label>
                                    <!--<input type="text" class="form-control" value="{{application_details.P_Production_Unit}}">-->
                                    <select class="form-control" name="P_Production_Unit" id="P_Production_Unit">
                                        <option value="">--SELECT--</option>
                                        {% for unit in unit %}
                                            <option value="{{ unit.Unit }}" {% if application_details.P_Production_Unit == unit.Unit %}selected{% endif %}>{{ unit.Unit }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="alert alert-danger" id="P_Production_UnitErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Value <font color="red">*</font></label>
                                <input type="text" name="P_Production_Value" class="form-control" id="P_Production_Value" value="{{application_details.P_Production_Value}}">
                                <div class="alert alert-danger" id="P_Production_ValueErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Production</span>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Current</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From date <font color="red">*</font></label>
                                     <input type="text" name="C_From_Date" id="C_From_Date" class="form-control date-picker flatpickr-input active" value="{{application_details.C_From_Date}}">
                                    <div class="alert alert-danger" id="C_From_DateErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To date <font color="red">*</font></label>
                                     <input type="text" name="C_To_Date" id="C_To_Date" class="form-control date-picker flatpickr-input active" value="{{application_details.C_To_Date}}">
                                    <div class="alert alert-danger" id="to_current_yearErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Production(Quantity) <font color="red">*</font></label>
                                <input type="text" name="C_Production" class="form-control" id="C_Production" value="{{application_details.C_Production}}">
                                <div class="alert alert-danger" id="C_ProductionErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="form-label">Unit <font color="red">*</font></label>
                                <select class="form-control" name="C_Production_Unit" id="C_Production_Unit">
                                    {% for unit in unit %}
                                        <option value="{{ unit.Unit }}" {% if application_details.C_Production_Unit == unit.Unit %}selected{% endif %}>{{ unit.Unit }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger" id="C_Production_UnitErrorMsg" style="display:none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Value <font color="red">*</font></label>
                                <input type="number" name="C_Production_Value" class="form-control" id="C_Production_Value" value="{{application_details.C_Production_Value}}">
                                <div class="alert alert-danger" id="C_Production_ValueErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Export</span>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Previous</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From date <font color="red">*</font></label>
                                     <input type="text" name="P_Export_From_Date" id="P_Export_From_Date" class="form-control date-picker flatpickr-input active" value="{{application_details.P_Export_From_Date}}">
                                </div>
                                <div class="alert alert-danger" id="P_Export_From_DateErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To date <font color="red">*</font></label>
                                     <input type="text" name="P_Export_To_Date" id="P_Export_To_Date" class="form-control date-picker flatpickr-input active" value="{{application_details.P_Export_To_Date}}">
                                    <div class="alert alert-danger" id="P_Export_To_DateErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Export(Quantity) <font color="red">*</font></label>
                                <input type="text" name="P_Export" class="form-control" id="P_Export" value="{{application_details.P_Export}}">
                                <div class="alert alert-danger" id="P_ExportErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="form-label">Export Unit <font color="red">*</font></label>
                                <select class="form-control" name="P_Export_Unit" id="P_Export_Unit">
                                    <option value="">--SELECT--</option>
                                    {% for unit in unit %}
                                        <option value="{{ unit.Unit }}" {% if application_details.P_Export_Unit == unit.Unit %}selected{% endif %}>{{ unit.Unit }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger" id="export_unitErrorMsg" style="display:none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Export Value <font color="red">*</font></label>
                                <input type="text" name="P_Export_Value" class="form-control" id="P_Export_Value" value="{{application_details.P_Export_Value}}">
                                 <div class="alert alert-danger" id="P_Export_ValueErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                    <span class="px-2 small text-muted font-weight-bold text-muted form-label">Export</span>
                                    <span class="px-2 small text-muted font-weight-bold text-muted form-label">Details</span>
                                    <span class="px-1 small text-muted font-weight-bold text-muted form-label">Current</span>
                                    <span class="px-1 small text-muted font-weight-bold text-muted form-label">Year</span>
                                <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                            </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">From date <font color="red">*</font></label>
                                     <input type="text" name="C_Export_From_Date" id="C_Export_From_Date" class="form-control date-picker flatpickr-input active" value="{{application_details.C_Export_From_Date}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">To date <font color="red">*</font></label>
                                    <input type="text" name="C_Export_To_Date" id="C_Export_To_Date" class="form-control date-picker flatpickr-input active" value="{{application_details.C_Export_To_Date}}">
                                </div>
                                <div class="alert alert-danger" id="C_Export_From_DateErrorMsg" style="display:none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Export(Quantity) <font color="red">*</font></label>
                                <input type="number" name="C_Export" class="form-control" id="C_Export" value="{{application_details.C_Export}}">
                                <div class="alert alert-danger" id="export_yearErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="form-label">Unit <font color="red">*</font></label>
                                <select class="form-control" name="C_Export_Unit" id="C_Export_Unit">
                                    <option value="">--SELECT--</option>
                                    {% for unit in unit %}
                                        <option value="{{ unit.Unit }}" {% if application_details.C_Export_Unit == unit.Unit %}selected{% endif %}>{{ unit.Unit }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-danger" id="C_Export_UnitErrorMsg" style="display:none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Value <font color="red">*</font></label>
                                <input type="text" name="currentValue" class="form-control" id="currentValue" value="{{application_details.C_Export_Value}}">
                                <div class="alert alert-danger" id="currentValueErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                     <br><br>
                    </div>
                    <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                        Update SuccessFul
                    </div>
                    <div class="card-footer">
                            <button type="button" class="btn btn-success" onclick="updateDetails()"><i class="ace-icon fas fa-arrow-right"></i>&nbsp;&nbsp;Update</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
