<table class="table table-bordered" id="nc-details-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date of inspection</th>
            <th scope="col">Name Of Inspector</th>
            <th scope="col">NCs observed </th>
            <th scope="col">Corrective Action</th>
            <th scope="col">Date line for correction</th>
            <th scope="col">Corrected/not corrected</th>
            <th scope="col">Fine Imposed</th>
            <th scope="col">Receipt No</th>
            <th scope="col">Receipt Date</th>
        </tr>
    </thead>
    <tbody>
       {% for aqua in details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{aqua.Inspection_Date}}</td>
                <td>{{aqua.Inspector_Name}}</td>
                <td>{{aqua.Observation}}</td>
                <td>{{aqua.Correction_Proposed}}</td>
                <td>{{aqua.Date_Line_Correction}}</td>
                <td>{{aqua.Correction_Taken}}</td>
                <td>{{aqua.Fine_Imposed}}</td>
                <td>{{aqua.Revenue_Receipt}}</td>
                <td>{{aqua.Receipt_Date}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="10" class="text-center">No Data</td>
            </tr>
       {% endfor %}
    </tbody>
</table>
