{% load static %}
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    Collapsible Group Item #1
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                            <div id="applicant_details">
                                {% if application_details.Nationality == 'Bhutanese' %}
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <div class="form-check">
                                                <label>Nationality</label><br>
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" checked>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Bhutanese</span>
                                                </label>
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" disabled>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Foreigner</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <div class="form-check">
                                                <label>Nationality</label><br>
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" value="Bhutanese" disabled>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Bhutanese</span>
                                                </label>
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" value="Foreigner" checked>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Foreigner</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        {% if application_details.Nationality == 'Bhutanese' %}
                                            <label class="form-label">CID</label>
                                            <input type="number" class="form-control" value="{{ application_details.CID  }}" disabled>
                                        {% else %}
                                            <label class="form-label">Permit No</label>
                                            <input type="text" class="form-control" value="{{ application_details.Permit_N0  }}" disabled>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-4">
                                       <label class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" value="{{ application_details.Applicant_Name  }}" disabled>
                                    </div>
                                    {% if application_details.Nationality == 'Foreigner' %}
                                        <div class="col-md-4" id="country_div" style="display:none">
                                            <div class="form-group">
                                                <label class="form-label">Country</label>
                                                <select class="form-control" disabled>
                                                    {% for country in country %}
                                                        <option value="{{ country.Country_Code }}" {% if country.Country_Code == country.Country_Code %}selected{% endif %}>{{ country.Country_Name }}</option>
                                                    {% endfor %}
                                                 </select>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if application_details.Nationality == 'Bhutanese' %}
                                        <div class="col-md-4" id="dzongkhag_div">
                                            <div class="form-group">
                                                <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                                <input type="text" class="form-control" value="{{application_details.Dzongkhag_Code}}" disabled>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if application_details.Nationality == 'Bhutanese' %}
                                    <div class="row">
                                        <div class="col-md-4" id="gewog_div">
                                            <div class="form-group">
                                                <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                                <input type="text" class="form-control" value="{{application_details.Gewog_Code}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="village_div">
                                            <div class="form-group">
                                                <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                                <input type="text" class="form-control" value="{{application_details.Village_Code}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="email_div">
                                            <div class="form-group">
                                                <label class="form-label">Email</label>
                                                <input type="email" class="form-control" value="{{ application_details.Email  }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                {% endif%}
                                {% if application_details.Nationality == 'Foreigner' %}
                                    <div class="row">
                                        <div class="col-md-4" id="f_email_div">
                                            <div class="form-group">
                                                <label class="form-label">Email</label>
                                                <input type="email" class="form-control" value="{{ application_details.Email  }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Contact Number</label>
                                                <input type="number" class="form-control" value="{{ application_details.Contact_No  }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                    <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Training </span>&nbsp;&nbsp;&nbsp;
                                        <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                                    <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 text-center">
                                        <label class="form-label" style="margin-bottom: 4px;padding-right: 60px;">Training Request</label>
                                        {% if application_details.Training_Request == 'New' %}
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" name="Training_Type" class="custom-control-input" checked>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">New License</span>
                                                    </label>&nbsp;
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" name="Training_Type" class="custom-control-input" disabled>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Renewal Of License</span>
                                                    </label>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" name="Training_Type" class="custom-control-input" disabled>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">New License</span>
                                                    </label>&nbsp;
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" name="Training_Type" class="custom-control-input" checked>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Renewal Of License</span>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Preferred Place</label>
                                            <select class="form-control" disabled>
                                                {% for location in field_office %}
                                                    <option value="{{ location.Field_Office_Id }}" {% if application_details.Preferred_Inspection_Place == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Preferred Date</label>
                                             <input type="text" class="form-control" value="{{ application_details.Proposed_Inspection_Date|date:'d-m-Y'}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Remarks(Mandatory if Reject)</label>
                                            <textarea class="form-control" name="remarks" id="remarks" rows="3"></textarea>
                                        </div>
                                        <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                                    </div>
                                    {% if application_details.additional_info != None %}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Associated food establishment</label>
                                            <textarea class="form-control" name="associated_establishment" id="associated_establishment" rows="3"></textarea>
                                        </div>
                                        <div class="alert alert-danger" id="associated_establishmentErrorMsg" style="display:none"></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Attachments
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for file_attach in file %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{file_attach.Attachment}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Inspector Details
                </a>
            </div>
            <div id="collapseThree" class="active" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                <div class="card-body">
                    <form method="post" id="food_exportInsForm">
                        {% for application_details in application_details %}
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Product Name</label>
                                        <input type="number" class="form-control" value="{{ application_details.Product_Name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Quantity Requested</label>
                                        <input type="number" class="form-control" value="{{ application_details.Quantity}}" id="requested_qty" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Unit</label>
                                        <select class="form-control" disabled>
                                            {% for unit in unit %}
                                                <option value="{{ unit.Unit }}" {% if application_details.Unit == unit.Unit %}selected{% endif %}>{{ unit.Unit }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Quantity Certified</label>
                                    <input type="number" class="form-control" id="certified_qty" name="certified_qty" onchange="check_certified_qty(this.value)">
                                </div>
                                <div class="alert alert-danger" id="certified_qtyErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Unit</label>
                                    <select class="form-control" name="Unit_Net" id="Unit_Net">
                                        <option value="">--SELECT--</option>
                                        {% for unit in unit %}
                                            <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Quantity Rejected</label>
                                    <input type="number" class="form-control" id="rejected_qty" name="rejected_qty" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Unit</label>
                                    <select class="form-control" name="Unit_Rejected" id="Unit_Rejected">
                                        <option value="">--SELECT--</option>
                                        {% for unit in unit %}
                                            <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Inspection Team Leader</label>
                                    <select class="form-control" name="Inspection_Leader"  id="teamLeader">
                                        <option value="">--SELECT TEAM LEADER--</option>
                                        {% for inspector_list in inspector_list %}
                                                <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="insTeam">Inspection Team </label>
                                    <textarea class="form-control" id="insTeam" name="Inspection_Team" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date Of Inspection</label>
                                    <input type="text" class="form-control date-picker flatpickr-input active" id="dateOfInspection" name="dateOfInspection"  placeholder="Pick a date" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Validity Of Permit</label>
                                    <input type="number" class="form-control" id="validity" name="validity">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea class="form-control" id="remarks" name="remarks" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-info" id="messageDiv" style="display:none">
                            Application Approved
                        </div>
                        <div class="alert alert-info" id="reject_messageDiv" style="display:none">
                            Application Rejected
                        </div>
                        <hr>
                        {% for application_details in application_details %}
                        <input type="hidden" name="application_id" value="{{application_details.Application_No}}">
                            <div class="card-action text-center">
                                <button type="button" class="btn btn-flat btn-primary" onclick="approve_details()">
                                    <i class="ace-icon fa fa-times"></i>
                                    &nbsp;&nbsp;Approve
                                </button>
                                <button type="button" class="btn btn-flat btn-primary" onclick="reject_details()">
                                    <i class="ace-icon fa fa-times"></i>
                                    &nbsp;&nbsp;Reject
                                </button>
                                <button type="button" class="btn btn-flat btn-danger">
                                    <i class="ace-icon fa fa-times"></i>
                                    &nbsp;&nbsp;Cancel
                                </button>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
function approve_details()
{

   $.ajax({
        type : "POST",
        url : "{% url 'approve_food_export' %}",
        data : $('#food_exportInsForm').serialize(),
        success : function(data) {
            $('#messageDiv').show();
            setTimeout(function() {
                $("#messageDiv").hide('blind', {}, 500)
            }, 2000);
            setTimeout(function() {
                location.reload();
            }, 3000);
        }
    });
}

function reject_details()
{
   $.ajax({
        type : "POST",
        url : "{% url 'reject_food_export' %}",
        data : $('#food_exportInsForm').serialize(),
        success : function(data) {
            $('#messageDiv').show();
            setTimeout(function() {
                $("#reject_messageDiv").hide('blind', {}, 500)
            }, 2000);
             setTimeout(function() {
                location.reload();
            }, 3000);
        }
    });
}

function check_certified_qty(certified_qty)
{
    requested_qty = $('#requested_qty').val()
    if(certified_qty > requested_qty)
    {
        $('#certified_qtyErrorMsg').html("quantity certified cannot be more than quantity requested.");
        $('#certified_qtyErrorMsg').show();
        $('#certified_qtyErrorMsg').delay(2000).fadeOut('slow');
        $('#certified_qty').val("");
         $('#rejected_qty').val("");
    }
    else
    {
        qty = requested_qty - certified_qty
        $('#rejected_qty').val(qty);
    }

}
</script>