<div class="card">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-tools">
                    <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="show_attachmentModal()">
                        <span class="btn-label">
                            <i class="fa fa-print"></i>
                        </span>
                        Add Attachment if any.
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                   {% for complaint_file in complaint_file %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href='{{complaint_file.File_Path}}' target="_blank">{{complaint_file.Attachment}}</a></td>
                                <td>
                                    <button type="button"
									    class="btn btn-danger btn-sm" onclick="delete_attachment('{{ complaint_file.File_Id }}')">
									    <i class="zmdi zmdi-delete"></i>
								    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="3" class="text-center">No Data</td>
                            </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
</div>
<div class="card-action">
    <button type="button" class="btn btn-success" onclick="submit_complaint()">Submit Complaint</button>
</div>
<script>
function submit_complaint()
{
    var appNo = $('#applicationNo').val();
	$.ajax({
			type : "GET",
			url : "{% url 'submit_complaint' %}",
			data : {'appNo':appNo},
			cache : false,
			dataType : "html",
			success : function(responseText)
			{
                swal("Application Submitted Successfully. Your Application No :" + appNo, {
                    buttons: false,
                    timer: 4000,
                });
                setTimeout(function()
                {
                    location.reload();
                }, 4000);
			}
	});
}

function delete_attachment(id)
{
    var appNo = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'delete_complaint_file' %}",
        data :{'appNo':appNo , 'file_id': id},
        success : function(responseText)
        {
            $('#file-attachment').html(responseText);
        }
    });
}
</script>