<div class="card">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-tools">
                    <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="show_attachmentModal()">
                        <span class="btn-label">
                            <i class="fa fa-print"></i>
                        </span>
                        Add Attachment if any.
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                   {% for complaint_file in complaint_file %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href='{{complaint_file.File_Path}}' target="_blank">{{complaint_file.Attachment}}</a></td>
                                <td>
                                    <button type="button"
									    class="btn btn-danger btn-sm" onclick="delete_attachment('{{ complaint_file.File_Id }}')">
									    <i class="fa fa-trash"></i>
								    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="3" class="text-center">No Data</td>
                            </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
</div>
<p class="signin button text-center" style="margin-bottom: -29px;">
    <input type="button" class="signin button" value="Submit Complaint" onclick="submit_complaint()">
</p>
<script>
function submit_complaint()
{
    var appNo = $('#applicationNo').val();
	$.ajax({
			type : "GET",
			url : "{% url 'submit_complaint' %}",
			data : {'appNo':appNo},
			success : function(responseText)
			{
                Swal.fire({
                      text: "Complaint Submitted Successfully. Your Complaint No Is :" + appNo,
                      confirmButtonText: 'Ok',
                    }).then((result) => {
                      /* Read more about isConfirmed, isDenied below */
                      if (result.isConfirmed) {
                        location.reload();
                      }
                    })
			}
	});
}

function delete_attachment(id)
{
    var appNo = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'delete_complaint_file' %}",
        data :{'appNo':appNo , 'file_id': id},
        success : function(responseText)
        {
            $('#file-attachment').html(responseText);
        }
    });
}
</script>