<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BAFRA | Bhutan Biosecurity and Food Safety System</title>
    <link href="{% static 'styles/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
    <link href="{% static 'styles/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
  </head>
<style>
    .nav-pills .nav-link.active, .show>.nav-pills .nav-link {
        color: #fff;
        background-color: rgba(255,255,255,.08);
        font-size: 14px;
        font-weight: 800;
        font-style: italic;
        background: #888888;
        border-radius: 6px;
    }
    #wrapper textarea, select {
    width: 92%;
    margin-top: -10px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgb(168 168 168 / 60%) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgb(168 168 168 / 60%) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.form-control {
    display: block;
    width: 95%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.1rem 0.95rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#wrapper input[readonly] {
    background-color: #918989;
}
.badge {
    position: absolute;
    right: -5px;
    top: -13px;
    font-size: 20px;
    border: 0px solid #ddd;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #33a661;
    margin-right: 54px;
}
.badge_one {
    position: absolute;
    right: 40px;
    top: -13px;
    font-size: 20px;
    border: 0px solid #ddd;
}
.btn-info {
    color: #fff;
    background-color: #193033;
    border-color: #17a2b8;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
</style>
<body>
        <div class="container">
            <header>
                <img src="{% static 'assets/img/banner.png' %}" class="img-fluid mx-auto d-block" alt="Responsive image" style="background:center">
            </header>
            <hr>
            <section>
                <div id="container_demo" >
                    <div id="wrapper">
                        <div id="register" class="animate form">
                            <h1> Complaint Form </h1>
                            <a href="{% url 'index' %}" class="btn btn-default btn-sm float-right" style="margin-top: -68px;">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                Back To Login
                            </a>

                            <div class="col-md-12" style="margin-top: -30px;">
                                <form method="post" id="complaintForm">
                                {% csrf_token %}
                                    <input type="hidden" id="applicationNo" name="applicationNo">
                                    <input type="hidden" id="email_id" name="email_id">
                                <div class="row justify-content-left" style="margin-top: 4px;">
                                    <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="loadDetails()">Complaint Form</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-complaint-file" data-toggle="pill" href="#file-attachment" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_attachment_details()">File Attachment</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="cid" name="cid" maxlength="11" onkeypress="return isNumberKey(event)" onchange="getCitizenDetails(this.value);" placeholder="CID">
                                                </div>
                                                <span class="badge"><font color='red'><font color='red'>*</font></font></span>
                                                <div class="alert alert-danger" id="cidErrorMsg" style="display:none"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text"  name="complainantName" id="complainantName" placeholder="Name" readonly="readonly" onfocus="this.blur">
                                                </div>
                                                <span class="badge"><font color='red'><font color='red'>*</font></font></span>
                                                <div class="alert alert-danger" id="complainantNameErrorMsg" style="display:none"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text"  name="dzongkhag"  id="dzongkhag" placeholder="Dzongkhag" readonly="readonly">
                                                </div>
                                                <span class="badge"><font color='red'><font color='red'>*</font></font></span>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text"  name="gewog"  id="gewog" placeholder="Gewog" readonly="readonly">
                                                </div>
                                                <span class="badge"><font color='red'><font color='red'>*</font></font></span>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text"  name="village"  id="village" placeholder="Village" readonly="readonly">
                                                </div>
                                                <span class="badge"><font color='red'><font color='red'>*</font></font></span>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="number"  id="contactNumber" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="contactNumber" maxlength="8" onchange="checkContact(this.value)" placeholder="Contact No">
                                                </div>
                                                <span class="badge"><font color='red'><font color='red'>*</font></font></span>
                                                <div class="alert alert-danger" id="contactNumberErrorMsg" style="display:none"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input class="youmail" name="email"  id="email" required="required" type="email" placeholder="Email"/>
                                                </div>
                                                <span class="badge"><font color='red'><font color='red'>*</font></font></span>
                                                <div class="alert alert-danger" id="emailErrorMsg" style="display:none"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <textarea placeholder="Address" id="address" name="address"></textarea>
                                                </div>
                                                <span class="badge"><font color='red'><font color='red'>*</font></font></span>
                                                <div class="alert alert-danger" id="addressErrorMsg" style="display:none"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea placeholder="Description of Complaint" id="complainDescription" name="complainDescription"></textarea>
                                                </div>
                                                <span class="badge badge_one"><font color='red'><font color='red'>*</font></font></span>
                                                <div class="alert alert-danger" id="complainDescriptionErrorMsg" style="display:none"></div>
                                            </div>
                                        </div>
                                        <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                                            Save Successful
                                        </div>
                                        <p class="signin button text-center" style="margin-bottom: -29px;">
                                            <input type="button" class="signin button" value="Save & Next" onclick="Save_form()">
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="file-attachment" role="tabpanel" aria-labelledby="pills-complaint-file">
                                        <div id="fileAttach">
                                            {% include 'complaint_handling/complaint_file_attachment_page.html' %}
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <form method="post" id="attachment_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal fade" id="attachmentModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                         <div class="modal-header">
                            <h5 class="modal-title" id="attachmentModalLabel">Attach Files</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-lg-12">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Attach File</label>
                                                <input type="file" name="document" id="document" accept=".png,.jpg,.jpeg,.gif,.pdf,.docx,.doc">
                                                <div class="alert alert-danger" id="fileErrorMsg" style="display:none"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-sm pull-right" onclick="save_attachment()"> Upload </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</body>
<script src="{% static 'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
function Save_form()
    {
        var appNo = $('#applicationNo').val();
        var cid = $('#cid').val();
        var complainantName = $('#complainantName').val();
        var contactNumber = $('#contactNumber').val();
        var email = $('#email').val();
        var address = $('#address').val();
        var complainDescription = $('#complainDescription').val();
        var cidCount = $('#cid').val().length;
        var number_count = $('#contactNumber').val().length;

        if (cid == "")
        {
            $('#cidErrorMsg').html("Enter CID Number.");
            $('#cidErrorMsg').show();
            $('#cidErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(complainantName == "")
        {
            $('#complainantNameErrorMsg').html("Enter Name .");
            $('#complainantNameErrorMsg').show();
            $('#complainantNameErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(contactNumber == "")
        {
            $('#contactNumberErrorMsg').html("Enter Contact Number.");
            $('#contactNumberErrorMsg').show();
            $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(email == "")
        {
            $('#emailErrorMsg').html("Enter email Id.");
            $('#emailErrorMsg').show();
            $('#emailErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(address == "")
        {
            $('#addressErrorMsg').html("Enter Address.");
            $('#addressErrorMsg').show();
            $('#addressErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(complainDescription == "")
        {
            $('#complainDescriptionErrorMsg').html("Enter Complaint Description.");
            $('#complainDescriptionErrorMsg').show();
            $('#complainDescriptionErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(cidCount < 11)
        {
            $('#cidErrorMsg').html("CID number Cannot Be Less Than Eleven Digits.");
            $('#cidErrorMsg').show();
            $('#cidErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(number_count < 8)
        {
            $('#contactNumberErrorMsg').html("Contact Number Cannot Be Less Than Eight.");
            $('#contactNumberErrorMsg').show();
            $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(appNo == "")
        {
            $.ajax({
                type : "POST",
                url : "{% url 'save_complaint' %}",
                data : $('#complaintForm').serialize(),
                success : function(data) {
                    $('#applicationNo').val(data.applNo);
                    $('#email_id').val(data.email);
                    $('#submitMsg').show();
                    $('#submitMsg').delay(1000).fadeOut('slow');
                    setTimeout(function() {
                         $('#pills-complaint-file').tab('show');
                    }, 2000);
                }
            });
        }
        else if(appNo != "")
        {
            $.ajax({
                type : "POST",
                url : "{% url 'update_complaint_application' %}",
                data : $('#complaintForm').serialize(),
                success : function(data) {
                    $('#applicationNo').val(data.applNo);
                    $('#submitMsg').show();
                    setTimeout(function() {
                        $("#submitMsg").hide('blind', {}, 500)
                    }, 1000);
                    setTimeout(function() {
                         $('#pills-complaint-file').tab('show');
                    }, 2000);
                }
            });
        }
    }

function getGewog(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_gewog' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data)
        {
            $('#gewog').html(data);
        }
    });
}

function getVillage(gewog_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_village' %}",
        data :{'gewog_id':gewog_id},
        success : function(data)
        {
            $('#village').html(data);
        }
    });
}

function save_attachment()
{
    var file_length = document.getElementById("document");
    if(file_length.value.length < 1)
    {
        $('#fileErrorMsg').html("Please Choose A File");
        $('#fileErrorMsg').show();
        $('#fileErrorMsg').delay(2000).fadeOut('slow');
    }
    else
    {
        var fileName = document.getElementById('document').files[0].name;
        var fd = new FormData();
        var file = document.getElementById('document').files[0];
        fd.append('document', file);
        token_value=$("input[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup
        ({
            beforeSend: function(xhr, settings)
            {
            xhr.setRequestHeader("X-CSRFToken", token_value);
            }
        });
        $.ajax
        ({
            type : "POST",
            url : "{% url 'save_complaint_file' %}",
            data : fd,
            dataType: 'json',
            contentType: false,
            processData: false,
            success : function(data)
            {
                if (data.form_is_valid)
                {
                    var appNo = $('#applicationNo').val();
                    var file_url = data.file_url;
                    var email = $('#email_id').val();
                    $.ajax
                    ({
                        type : "POST",
                        url : "{% url 'add_complaint_file_name' %}",
                        data : {'appNo':appNo , 'filename':fileName, 'file_url':file_url, 'email':email},
                        success : function(responseText)
                        {
                            $('#attachmentModal').modal('hide');
                            $('#fileAttach').html(responseText);
                            $('.modal-backdrop').remove();
                            $('#attachment_form')[0].reset();
                        }
                    });
                }
                else
                {
                    $('#fileErrorMsg').html("File Already Exists With Same Name. Please Upload Another File");
                    $('#fileErrorMsg').show();
                    $('#fileErrorMsg').delay(2000).fadeOut('slow');
                }
            }
        });
    }
}

function load_attachment_details()
{
    var appid = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'load_complaint_attachment_details' %}",
        data :{'application_id':appid},
        success : function(response)
        {
            $('#fileAttach').html(response);
        }
    });
}

function validateemailId(emailId)
{
    var pattern=/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;
    var no=emailId.match(pattern);

    if(no==null)
    {
        $('#emailErrorMsg').html("<span class='alert alert-danger'>The email Id is Not valid</span>");
        $('#email').val("");
        $('#emailErrorMsg').show();
        $('#emailErrorMsg').delay(2000).fadeOut('slow');
    }else{
     $('#emailErrorMsg').hide();
    }
}
function checkContact(value)
{
    var firstDigit = value.charAt(0);
    var secondDigit = value.charAt(1);
    var length = value.length;

    if (length <8){
    $('#contactNumberErrorMsg').html("Contact Number must be 8 digit.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(1500).fadeOut('slow');
    }
    else if(firstDigit != 7 && firstDigit != 1){
        $('#contactNumberErrorMsg').html("Must Start with either 1 or 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 1 && secondDigit != 6 && secondDigit != 7){
        $('#contactNumberErrorMsg').html("Second Digit Must Start with either 6 or 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 7 && secondDigit == 6){
        $('#contactNumberErrorMsg').html("Second Digit Cannot be 6.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 7 && secondDigit != 7){
        $('#contactNumberErrorMsg').html("Second Digit Must Start with 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }

}

function loadDetails()
{
    var refNo = $('#applicationNo').val();
    if(refNo == "")
        {
            $("#pills-complaint-file").prop('disabled', true);
        }
    else if(refNo != "")
        {
            $("#pills-complaint-file").prop('disabled', false);
        }
}


function getCitizenDetails(cidNo)
	{
	    $.ajax({
        type : "GET",
        url : "{% url 'get_citizen_details' %}",
        data :{'cidNo':cidNo},
        success : function(data)
        {
            const myObj =data.response;
            if(myObj.citizenDetailsResponse.citizenDetail == undefined)
            {
                $('#cid').val("");
                $('#complainantName').val("");
                $('#dzongkhag').val("");
                $('#gewog').val("");
                $('#village').val("");
                $('#cidErrorMsg').html("Invalid CID.Try With Another one");
                $('#cidErrorMsg').show();
                $('#cidErrorMsg').delay(2000).fadeOut('slow');
            }
            else
            {
                var firstName = myObj.citizenDetailsResponse.citizenDetail[0].firstName
                var middleName = myObj.citizenDetailsResponse.citizenDetail[0].middleName
                var lastName = myObj.citizenDetailsResponse.citizenDetail[0].lastName
                if (middleName == null) {
                        middleName = "";
                    }
                var CitizenName = firstName + " " + middleName + " " + lastName;
                var dzongkhagName = myObj.citizenDetailsResponse.citizenDetail[0].dzongkhagName
                var villageName = myObj.citizenDetailsResponse.citizenDetail[0].villageName
                var gewogName = myObj.citizenDetailsResponse.citizenDetail[0].gewogName
                $('#complainantName').val(CitizenName);
                $('#dzongkhag').val(dzongkhagName);
                $('#gewog').val(gewogName);
                $('#village').val(villageName);
            }
        }
    });
}

function show_attachmentModal()
{
    $('#attachmentModal').modal('show');
}
</script>
</html>