<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Common Name</th>
            <th scope="col">Scientific Name</th>
            <th scope="col">Age</th>
            <th scope="col">No Of Animals</th>
            <th scope="col">Remarks</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for import in import %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.Common_Name}}</td>
                <td>{{import.Scientific_Name}}</td>
                <td>{{import.Age}}</td>
                <td>{{import.No_Of_Animal}}</td>
                <td>{{import.Remarks}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                    onclick="delete_details('{{import.Record_Id}}','{{import.Application_No}}', 'ALMP')">
                    <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button  type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Edit"
                         onclick="populateDetails('{{ import.Record_Id }}', '{{import.Common_Name}}',
                         '{{import.Scientific_Name}}','{{import.Age}}','{{import.No_Of_Animal}}','{{import.Remarks}}',
                          '{{import.Application_No}}')">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="8" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>