<div class="card">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-tools">
                    <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="liv_attachment_modal()">
                        <span class="btn-label">
                            <i class="fa fa-print"></i>
                        </span>
                        Add
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                   {% for file_attach in file_attach %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href='{{file_attach.File_Path}}/{{file_attach.Attachment}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                <td>
                                    <button type="button"
									    class="btn btn-danger btn-sm" onclick="DeleteAttachment('{{ file_attach.File_Id }}')">
									    <i class="zmdi zmdi-delete"></i>
								    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="3" class="text-center">No Data</td>
                            </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
</div>
<div class="card-action">
    <button type="button" class="btn btn-success" onclick="save_lmp_details()">Submit</button>
</div>
<script>
function save_lmp_details()
{
    var applicationNo = $('#applicationNo').val();
	$.ajax({
			type : "POST",
			url : "{% url 'submit_lmp_details' %}",
			data : $('#livestock_movement_form').serialize(),
			cache : false,
			dataType : "html",
			success : function(responseText)
			{
                swal("Application Submitted Successfully. Your Application No :" + applicationNo, {
                    buttons: false,
                    timer: 4000,
                });
                setTimeout(function()
                {
                    location.reload();
                }, 4000);
			}
	});
}

function DeleteAttachment(id)
{
    var appNo = $('#agro_attachment_applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'delete_agro_file' %}",
        data :{'appNo':appNo , 'file_id': id},
        success : function(responseText)
        {
            $('#file-attachment').html(responseText);
        }
    });
}
</script>