{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
option {
    background-color: black !important;
}
</style>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Movement Permit For Plant And Plant Products</h4>
    </div>
    <div class="card-body">
         <form method="post" id="permitForm">
             {% csrf_token %}
            <div class="row justify-content-center">
                <div class="form-check text-center">
                    <label>Permit Type <font color="red">*</font></label><br>
                    <label class="form-radio-label">
                        <input class="form-radio-input" type="radio" name="permitType" id="plantRadio" value="P" onclick="changeOnSelection(this.value)"  checked>
                        <span class="form-radio-sign">Plant And Plant Products</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="permitType" id="agroRadio" value="A" onclick="changeOnSelection(this.value)">
                        <span class="form-radio-sign">Agrochemicals</span>
                    </label>
                </div>
            </div>
            <div id="plant">
                <div class="row justify-content-center">
                    <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="loadPageDetails('{{ title }}')">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_details('{{ title }}')">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-file" data-toggle="pill" href="#file-attachment" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_details('{{ title }}')">Attach File</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" id="applicationNo" name="applicationNo" value="{{ title }}">
                <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div id="plant_details">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="regNo">Nursery Registration Number</label>
                                        <input type="text" class="form-control" id="regNo" name="regNo" placeholder="Nursery Registration Number">
                                    </div>
                                    <div class="alert alert-danger" id="regNoErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="companyName">Name of Seed Company or Nurseries</label>
                                        <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Name of Seed Company or Nurseries">
                                    </div>
                                    <div class="alert alert-danger" id="companyNameErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cid">Applicant CID</label>
                                        <input type="number" class="form-control" id="cid" name="cid" maxlength="11" placeholder="Applicant CID">
                                    </div>
                                    <div class="alert alert-danger" id="cidErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="Name" placeholder="Applicant Name">
                                    </div>
                                    <div class="alert alert-danger" id="nameErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contactNumber">Contact Number</label>
                                        <input type="number" class="form-control" id="contactNumber" name="contactNumber" maxlength="8" placeholder="Contact Number">
                                    </div>
                                    <div class="alert alert-danger" id="contactNumberErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="EmailID">
                                    </div>
                                    <div class="alert alert-danger" id="emailErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dzongkhag">Dzongkhag</label>
                                        <select class="form-control" name="dzongkhag"  id="dzongkhag" onchange="getGewog(this.value),getLocation(this.value)">
                                            <option value="">--SELECT DZONGKHAG--</option>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="dzongkhagErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gewog">Gewog</label>
                                        <select class="form-control" name="gewog" id="gewog" onchange="getVillage(this.value)">
                                            <option value="">--SELECT GEWOG--</option>
                                            {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}">{{ gewog.Gewog_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="gewogErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="village">Village</label>
                                         <select class="form-control" name="village" id="village">
                                            <option value="">--SELECT VILLAGE--</option>
                                            {% for village in village %}
                                                    <option value="{{ village.Village_Code }}">{{ village.Village_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                    <div class="alert alert-danger" id="villageErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                         <select class="form-control" name="location_code"  id="location">
                                            <option value="">--SELECT LOCATION--</option>
                                            {% for location in location %}
                                                    <option value="{{ location.Location_Code }}">{{ location.Location_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                    <div class="alert alert-danger" id="locationNameErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fromDzongkhag">From Dzongkhag</label>
                                         <select class="form-control" name="fromDzongkhag"  id="fromDzongkhag">
                                            <option value="">--SELECT DZONGKHAG--</option>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                    <div class="alert alert-danger" id="from_dzongkhagErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="toDzongkhag">To Dzongkhag</label>
                                        <select class="form-control" name="toDzongkhag"  id="toDzongkhag">
                                            <option value="">--SELECT DZONGKHAG--</option>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="to_dzongkhagErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="route">Authorized Route</label>
                                        <input type="text" class="form-control" id="route" name="route" placeholder="Authorized Route">
                                    </div>
                                    <div class="alert alert-danger" id="routeErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="productSource">Source or Origin Of Products</label>
                                        <input type="text" class="form-control" id="productSource" name="productSource" placeholder="Source or Origin Of Products">
                                    </div>
                                    <div class="alert alert-danger" id="sourceErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="movementPurpose">Purpose Of Movement</label>
                                        <input type="text" class="form-control" id="movementPurpose" name="movementPurpose" placeholder="Authorized Route">
                                    </div>
                                    <div class="alert alert-danger" id="movementPurposeErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="conveyanceMeans">Means of Conveyance </label>
                                        <select class="form-control form-control" id="conveyanceMeans" name="conveyanceMeans">
                                            <option value="">-SELECT-</option>
                                            <option value="Air">Air</option>
                                            <option value="Vehicular">Vehicular</option>
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="conveyanceMeansErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="card-action">
                                    <button type="button" class="btn btn-primary" onclick="save()">Save</button>
                            </div>
                            </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-head-row">
                                    <div class="card-tools pull-right">
                                        <button type="button" class="btn btn-light" onclick="show_modal()">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="Details">
                                    {% include 'movement_page.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="button" class="btn btn-success" onclick="save_details_form()">Save</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="file-attachment" role="tabpanel" aria-labelledby="pills-profile-file">
                        <div id="fileAttach">
                            {% include 'file_attachment_page.html' %}
                        </div>
                    </div>
                </div>
            </div>
             <div id="agro">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="appcid">Applicant CID</label>
                                <input type="text" class="form-control" id="appcid" name="appcid" placeholder="Applicant CID" maxlength="11">
                            </div>
                            <div class="alert alert-danger" id="appcidErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="appName">Applicant Name</label>
                                <input type="text" class="form-control" id="appName" name="appName" placeholder="Applicant Name">
                            </div>
                            <div class="alert alert-danger" id="appNameErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phoneNumber">Contact Number</label>
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Contact Number" maxlength="8">
                            </div>
                            <div class="alert alert-danger" id="mobile_numberErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailId">Email</label>
                                <input type="email" class="form-control" id="emailId" name="emailId" placeholder="EmailID">
                            </div>
                            <div class="alert alert-danger" id="emailIdErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mfdUnit">Manufacturing Unit Registration Number</label>
                                <input type="text" class="form-control" id="mfdUnit" name="mfdUnit_regNo" placeholder="Manufacturing Unit Registration Number">
                            </div>
                            <div class="alert alert-danger" id="mfdUnitErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agroName">Name and Description Agrochemicals</label>
                                <input type="text" class="form-control" id="agroName" name="agroName" placeholder="Name and Description Agrochemicals">
                            </div>
                            <div class="alert alert-danger" id="agroNameErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agro_location">Location</label>
                                 <select class="form-control" name="location"  id="agro_location">
                                    <option value="">--SELECT LOCATION--</option>
                                    {% for location in location %}
                                            <option value="{{location.Location_Code }}">{{location.Location_Name}}</option>
                                    {% endfor %}
                                 </select>
                            </div>
                            <div class="alert alert-danger" id="agro_locationErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from_Dzongkhag">From Dzongkhag</label>
                                 <select class="form-control" name="from_Dzongkhag"  id="from_Dzongkhag">
                                    <option value="">--SELECT DZONGKHAG--</option>
                                    {% for dzongkhag in dzongkhag %}
                                            <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                    {% endfor %}
                                 </select>
                                <div class="alert alert-danger" id="fromDzongkhagErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Dzongkhag_to">To Dzongkhag</label>
                                <select class="form-control" name="Dzongkhag_to"  id="Dzongkhag_to">
                                    <option value="">--SELECT DZONGKHAG--</option>
                                    {% for dzongkhag in dzongkhag %}
                                            <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="alert alert-danger" id="Dzongkhag_toErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="auth_route">Authorized Route</label>
                                <input type="text" class="form-control" id="auth_route" name="auth_route" placeholder="Authorized Route">
                            </div>
                            <div class="alert alert-danger" id="auth_routeErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Origin">Source or Origin Of Products</label>
                                <input type="text" class="form-control" id="Origin" name="Origin" placeholder="Source or Origin Of Products">
                            </div>
                            <div class="alert alert-danger" id="OriginErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Purpose">Purpose Of Movement</label>
                                <input type="text" class="form-control" id="Purpose" name="Purpose" placeholder="Authorized Route">
                            </div>
                            <div class="alert alert-danger" id="PurposeErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="convMeans">Means of Conveyance </label>
                                <select class="form-control form-control" id="convMeans" name="convMeans">
                                    <option value="">-SELECT-</option>
                                    <option value="Air">Air</option>
                                    <option value="Vehicular">Vehicular</option>
                                </select>
                            </div>
                            <div class="alert alert-danger" id="convMeansErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vehicleNo">Vehicle No</label>
                                <input type="text" class="form-control" id="vehicleNo" name="vehicleNo" placeholder="Vehicle No">
                            </div>
                            <div class="alert alert-danger" id="vehicleNoErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date">Expected Date of Movement</label>
                                <input type="text" class="form-control date-picker flatpickr-input active" id="date" name="date"  placeholder="Pick a date" readonly="readonly">
                            </div>
                            <div class="alert alert-danger" id="dateErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-primary" onclick="save()">Save</button>
                    </div>
             </div>
        </form>
    </div>
</div>
<form method="post" id="save_form">
    {% csrf_token %}
    <input type="hidden" name="appNo" value="{{ title }}">
    <div class="modal fade" id="add_details" tabindex="-1">
            <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                             <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="commodity">Commodity</label>
                                                    <input type="text" name="commodity" class="form-control" id="commodity" required>
                                                    <div class="alert alert-danger" id="commodityErrorMsg" style="display:none"></div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="qty">Quantity</label>
                                                    <input type="number" name="qty" class="form-control" id="qty" required>
                                                    <div class="alert alert-danger" id="qtyErrorMsg" style="display:none"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="remarks">Remarks</label>
                                                    <input type="text" name="remarks" class="form-control" id="remarks" required>
                                                    <div class="alert alert-danger" id="remarksMeansErrorMsg" style="display:none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="save_form()">Add</button>
                        </div>
                    </div>
            </div>
    </div>
</form>

<form method="post" id="attachment_form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="appNo" id="appNo" value="{{ title }}">
    <div class="modal fade" id="attachmentModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="attachmentModalLabel">Attach Files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Attach File</label>
                                        <input type="file" name="document" id="document">
                                        <div class="alert alert-danger" id="fileErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-lg pull-right" onclick="save_attachment()"> Submit </button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
function loadPage(appId)
{
    $.ajax({
        type : "GET",
        url : "{% url 'movement_permit_app' %}",
        data :{'appId':appId},
        success : function(response)
        {
            $('#Details').html(response);
        }
    });
}

function loadPageDetails(appId)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_details_page' %}",
        data :{'application_id':appId},
        success : function(response)
        {
            $('#plant_details').html(response);
        }
    });
}

function getGewog(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_gewog' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data)
        {
            $('#gewog').html(data);
        }
    });
}

function getVillage(gewog_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_village' %}",
        data :{'gewog_id':gewog_id},
        success : function(data)
        {
            $('#village').html(data);
        }
    });
}

function getLocation(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_location' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data) {
            $('#location').html(data);
        }
    });
}

function updateDetails()
{
    $.ajax({
        type : "POST",
        url : "{% url 'update_details' %}",
        data : $('#permitForm').serialize(),
        success : function(response)
        {
            $('.wrapper').html(response);
            $('#pills-tab a:last').tab('show');
        }
    });
}

function save_attachment()
{
    var appNo = "AA0";
    var fileName = document.getElementById('document').files[0].name;
    var fd = new FormData();
    var file = document.getElementById('document').files[0];
    fd.append('document', file);
    token_value=$("input[name=csrfmiddlewaretoken]").val();
    $.ajaxSetup
    ({
        beforeSend: function(xhr, settings)
        {
            xhr.setRequestHeader("X-CSRFToken", token_value);
        }
    });
        $.ajax({
        type : "POST",
        url : "{% url 'save_file' %}",
        data : fd,
        dataType: 'json',
        contentType: false,
        processData: false,
        success : function(data)
        {
            if (data.form_is_valid)
            {
                var appNo = $('#appNo').val();
                $.ajax
                ({
                    type : "POST",
                    url : "{% url 'add_file_name' %}",
                    data : {'appNo':appNo , 'filename':fileName},
                    success : function(responseText)
                    {
                        $('#attachmentModal').modal('hide');
                        $('#file-attachment').html(responseText);
                        $('.modal-backdrop').remove();
                    }
                });
            }else
            {
                $('#fileErrorMsg').html("File Already Exists With Same Name. Please Upload Another File");
                $('#fileErrorMsg').show();
                $('#fileErrorMsg').delay(2000).fadeOut('slow');
            }
        }
    });

}


</script>
{% endblock %}