<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Commodity</th>
            <th scope="col">Quantity</th>
            <th scope="col">Remarks</th>
        </tr>
    </thead>
    <tbody>
       {% for import in import %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{import.Commodity}}</td>
                    <td>{{import.Qty}}</td>
                    <td>{{import.Remarks}}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4" class="text-center">No Data</td>
                </tr>
       {% endfor %}
    </tbody>
</table>
