{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
option {
    background-color: white !important;
}
    form, input, select, textarea{
    color: black !important;
    }
</style>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Movement Permit For Plant And Plant Products</h4>
    </div>
    <div class="card-body">
         <form method="post" id="permitForm">
             {% csrf_token %}
            <input type="hidden" id="applicationNo" name="applicationNo">

            <div id="plant">
                <div class="row align-left">
                    <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="loadPageDetails()">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="movement-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_details()">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="movement-profile-file" data-toggle="pill" href="#file-attachment" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="plant_attachment()">Attach File</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div id="plant_details">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-label">Permit Type <font color='red'>*</font></label>
                                </div>
                                <div class="col-sm-10 justify-content-center">
                                    <div class="form-check">
                                        <label class="form-radio-label">
                                            <input class="form-radio-input" type="radio" name="permitType" id="plantRadio" value="P" onclick="changeOnSelection(this.value)">
                                            <span class="form-radio-sign">Plant And Plant Products</span>
                                        </label>
                                        <label class="form-radio-label ml-3">
                                            <input class="form-radio-input" type="radio" name="permitType" id="agroRadio" value="A" onclick="changeOnSelection(this.value)">
                                            <span class="form-radio-sign">Agrochemicals</span>
                                        </label>
                                        <label class="form-radio-label ml-3">
                                            <input class="form-radio-input" type="radio" name="permitType" id="others" value="O" onclick="changeOnSelection(this.value)">
                                            <span class="form-radio-sign">Others</span>
                                        </label>
                                    </div>
                                    <div class="alert alert-danger" id="permitErrorMsg" style="display:none"></div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Applicant CID &nbsp;<font color='red'>*</font></label>
                                        <input type="text" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" id="cid" name="cid" maxlength="11" onkeypress="return isNumberKey(event)" onchange="getCitizenDetails(this.value);">
                                    </div>
                                    <div class="alert alert-danger" id="cidErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" id="name" name="Name" readonly="readonly">
                                    </div>
                                    <div class="alert alert-danger" id="nameErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" name="dzongkhag"  id="dzongkhag" readonly="readonly">
                                    </div>
                                    <div class="alert alert-danger" id="dzongkhagErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" name="gewog" id="gewog" readonly="readonly">
                                    </div>
                                    <div class="alert alert-danger" id="gewogErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" name="village" id="village" readonly="readonly">
                                    </div>
                                    <div class="alert alert-danger" id="villageErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number &nbsp;<font color='red'>*</font></label>
                                        <input type="number" class="form-control" id="contactNumber" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="contactNumber" maxlength="8" onkeypress="return isNumberKey(event)" onchange="checkContact(this.value)">
                                    </div>
                                    <div class="alert alert-danger" id="contactNumberErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email &nbsp;<font color='red'>*</font></label>
                                        <input type="email" class="form-control" id="email" name="email" onchange="validateemailId(this.value)">
                                    </div>
                                    <div class="alert alert-danger" id="emailErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Nursery Registration Number</label>
                                        <input type="text" class="form-control" id="regNo" name="regNo">
                                    </div>
                                    <div class="alert alert-danger" id="regNoErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of Seed Company/Nurseries</label>
                                        <input type="text" class="form-control" id="companyName" name="companyName">
                                    </div>
                                    <div class="alert alert-danger" id="companyNameErrorMsg" style="display:none"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">From Dzongkhag &nbsp;<font color='red'>*</font></label>
                                        <select class="form-control" name="from_dzongkhag"  id="from_dzongkhag" onchange="getFromGewog(this.value)">
                                            <option value="">--SELECT DZONGKHAG--</option>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="from_dzongkhagErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">From Gewog &nbsp;<font color='red'>*</font></label>
                                        <select class="form-control" name="from_gewog"  id="from_gewog">
                                            <option value="">--SELECT GEWOG--</option>
                                            {% for location in location %}
                                                    <option value="{{ location.Location_Code }}">{{ location.Location_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="from_gewogErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">From Location &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" id="from_location" name="from_location">
                                    </div>
                                    <div class="alert alert-danger" id="from_locationErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">To Dzongkhag &nbsp;<font color='red'>*</font></label>
                                        <select class="form-control" name="to_dzongkhag"  id="to_dzongkhag" onchange="getToGewog(this.value),getLocation(this.value)">
                                            <option value="">--SELECT DZONGKHAG--</option>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="to_dzongkhagErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">To Gewog &nbsp;<font color='red'>*</font></label>
                                        <select class="form-control" name="to_gewog"  id="to_gewog">
                                            <option value="">--SELECT GEWOG--</option>
                                            {% for location in location %}
                                                    <option value="{{ location.Location_Code }}">{{ location.Location_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="to_gewogErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">To Location &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" id="to_exact_location" name="to_exact_location">
                                    </div>
                                    <div class="alert alert-danger" id="to_exact_locationErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Authorized Route &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" id="route" name="route">
                                    </div>
                                    <div class="alert alert-danger" id="routeErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Means of Conveyance &nbsp;<font color='red'>*</font> </label>
                                        <select class="form-control form-control" id="conveyanceMeans" name="conveyanceMeans" onchange="conveyanceChange(this.value)">
                                            <option value="">-SELECT-</option>
                                            <option value="Air">Air</option>
                                            <option value="Vehicular">Vehicular</option>
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" id="conveyanceMeansErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Vehicle No &nbsp;<font class="vehicle_mandatory" color='red'>*</font></label>
                                        <input type="text" class="form-control" id="vehicleNo" name="vehicleNo">
                                    </div>
                                    <div class="alert alert-danger" id="vehicleNoErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                             <div class="row">
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Purpose Of Movement &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" id="movementPurpose" name="movementPurpose">
                                    </div>
                                    <div class="alert alert-danger" id="movementPurposeErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Expected Date of Movement &nbsp;<font color='red'>*</font></label>
                                        <input type="date" class="form-control" id="date" name="date">
                                    </div>
                                    <div class="alert alert-danger" id="dateErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                                Save SuccessFul
                            </div>
                            <div class="card-action">
                                    <button type="button" class="btn btn-primary" id="movement_button" onclick="save()">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="movement-profile-tab">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-head-row">
                                    <div class="card-tools pull-right">
                                        <button type="button" class="btn btn-light" onclick="show_modal()">Add Details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="Details">
                                    {% include 'movement_permit/movement_page.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="button" class="btn btn-success" onclick="save_details_form()" id="movement_details_button" style="display:none">Save</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="file-attachment" role="tabpanel" aria-labelledby="movement-profile-file">
                        <div id="fileAttach">
                            {% include 'movement_permit/file_attachment_page.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<form method="post" id="save_form">
    {% csrf_token %}
    <input type="hidden" id="applNo" name="appNo">
    <div class="modal fade" id="add_details" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Commodity <font color='red'>*</font></label>
                                        <input type="text" name="commodity" class="form-control" id="commodity" required>
                                        <div class="alert alert-danger" id="commodityErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Quantity <font color='red'>*</font></label>
                                        <input type="text" name="qty" class="form-control" id="qty" onkeypress="return isNumberKey(event)" onchange="check_qty(this.value)">
                                        <div class="alert alert-danger" id="qtyErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Unit <font color='red'>*</font></label>
                                        <select class="form-control" name="unit"  id="unit">
                                            {% for unit in unit %}
                                                <option value="{{unit.Unit}}">{{unit.Unit}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="alert alert-danger" id="unitErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Remarks</label>
                                        <input type="text" name="remarks" class="form-control" id="remarks" required>
                                        <div class="alert alert-danger" id="remarksMeansErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="save_details_movement()">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" id="attachment_form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="appNo" id="appNo">
    <div class="modal fade" id="attachmentModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="attachmentModalLabel">Attach Files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Attach File</label>
                                        <input type="file" name="document" id="document" accept=".png,.jpg,.jpeg,.gif,.pdf,.docx,.doc">
                                        <div class="alert alert-danger" id="fileErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-lg pull-right" onclick="save_attachment()"> Submit </button>
                </div>

            </div>
        </div>
    </div>
</form>

<form method="post" id="edit_movement_form">
    {% csrf_token %}
    <input type="hidden" id="edit_app_No" name="edit_app_No">
    <div class="modal fade" id="edit_details" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <input type="text" name="movement_record_id" id="movement_record_id" style="display:none"/>
                                <input type="hidden" name="identifier" value="MPP"/>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Commodity <font color='red'>*</font></label>
                                        <input type="text" name="edit_commodity" class="form-control" id="edit_commodity" required>
                                        <div class="alert alert-danger" id="edit_commodityErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Quantity <font color='red'>*</font></label>
                                        <input type="text" name="edit_qty" class="form-control" id="edit_qty" onkeypress="return isNumberKey(event)" onchange="check_edit_qty(this.value)">
                                        <div class="alert alert-danger" id="edit_qtyErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Unit <font color='red'>*</font></label>
                                        <select class="form-control" name="edit_unit"  id="edit_unit">
                                            {% for unit in unit %}
                                                <option value="{{unit.Unit}}">{{unit.Unit}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="alert alert-danger" id="edit_unitErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Remarks</label>
                                        <input type="text" name="edit_remarks" class="form-control" id="edit_remarks" required>
                                        <div class="alert alert-danger" id="edit_remarksErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="update_edit_details('MPP')">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script>
    $(function()
    {
        var today = new Date().toISOString().split('T')[0];
        $('#date')[0].setAttribute('min', today);
    });
function isNumberKey(evt)
{
 var charCode = (evt.which) ? evt.which : event.keyCode
 if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;

 return true;
}

function save()
{
    var applicationNo = $('#applicationNo').val();
    var companyName = $('#companyName').val();
    var cid = $('#cid').val();
    var name = $('#name').val();
    var contactNumber = $('#contactNumber').val();
    var email = $('#email').val();
    var dzongkhag = $('#dzongkhag').val();
    var gewog = $('#gewog').val();
    var village = $('#village').val();
    var from_dzongkhag = $('#from_dzongkhag').val();
    var from_gewog = $('#from_gewog').val().length;
    var from_location = $('#from_location').val().length;
    var to_dzongkhag = $('#Purpose').val();
    var to_gewog = $('#to_gewog').val();
    var to_exact_location = $('#to_exact_location').val();
    var route = $('#route').val();
    var conveyanceMeans = $('#conveyanceMeans').val();
    var vehicleNo = $('#vehicleNo').val();
    var movementPurpose = $('#movementPurpose').val();
    var date = $('#date').val();
    var numbcount = $('#contactNumber').val().length;
    var cidCount = $('#cid').val().length;
    var permitType = $("input[name=permitType]:checked").length;

    if(permitType < 1)
    {
        $('#permitErrorMsg').html("Please Check One Permit Type.");
        $('#permitErrorMsg').show();
        $('#permitErrorMsg').delay(2000).fadeOut('slow');
        $("input[name=permitType]").focus();
    }
    else if(cid == "")
    {
        $('#cidErrorMsg').html("Enter CID.");
        $('#cidErrorMsg').show();
        $('#cidErrorMsg').delay(2000).fadeOut('slow');
        $('#cid').focus();
    }
    else if(contactNumber == "")
    {
        $('#contactNumberErrorMsg').html("Enter Contact Number.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').focus();
    }
    else if(email == "")
    {
        $('#emailErrorMsg').html("Enter Email.");
        $('#emailErrorMsg').show();
        $('#emailErrorMsg').delay(2000).fadeOut('slow');
        $('#email').focus();
    }
    else if(from_dzongkhag == "")
    {
        $('#from_dzongkhagErrorMsg').html("Select From Dzongkhag.");
        $('#from_dzongkhagErrorMsg').show();
        $('#from_dzongkhagErrorMsg').delay(2000).fadeOut('slow');
        $('#from_dzongkhag').focus();
    }
    else if(from_gewog == "")
    {
        $('#from_gewogErrorMsg').html("Select From Gewog.");
        $('#from_gewogErrorMsg').show();
        $('#from_gewogErrorMsg').delay(2000).fadeOut('slow');
        $('#from_gewog').focus();
    }
    else if(from_location == "")
    {
        $('#from_locationErrorMsg').html("Select From Location.");
        $('#from_locationErrorMsg').show();
        $('#from_locationErrorMsg').delay(2000).fadeOut('slow');
        $('#from_location').focus();
    }
     else if(to_dzongkhag == "")
    {
        $('#from_dzongkhagErrorMsg').html("Select To Dzongkhag.");
        $('#from_dzongkhagErrorMsg').show();
        $('#from_dzongkhagErrorMsg').delay(2000).fadeOut('slow');
        $('#to_dzongkhag').focus();
    }
    else if(to_gewog == "")
    {
        $('#to_gewogErrorMsg').html("Select To Gewog.");
        $('#to_gewogErrorMsg').show();
        $('#to_gewogErrorMsg').delay(2000).fadeOut('slow');
        $('#to_gewog').focus();
    }
    else if(to_exact_location == "")
    {
        $('#to_exact_locationErrorMsg').html("Enter To Location.");
        $('#to_exact_locationErrorMsg').show();
        $('#to_exact_locationErrorMsg').delay(2000).fadeOut('slow');
        $('#to_exact_location').focus();
    }
    else if(route == "")
    {
        $('#routeErrorMsg').html("Enter Authorized Route.");
        $('#routeErrorMsg').show();
        $('#routeErrorMsg').delay(2000).fadeOut('slow');
        $('#route').focus();
    }
    else if(conveyanceMeans == "")
    {
        $('#conveyanceMeansErrorMsg').html("Select Means of Conveyance.");
        $('#conveyanceMeansErrorMsg').show();
        $('#conveyanceMeansErrorMsg').delay(2000).fadeOut('slow');
        $('#conveyanceMeans').focus();
    }
    else if(movementPurpose == "")
    {
        $('#movementPurposeErrorMsg').html("Enter Movement Purpose.");
        $('#movementPurposeErrorMsg').show();
        $('#movementPurposeErrorMsg').delay(2000).fadeOut('slow');
        $('#movementPurpose').focus();
    }
    else if(date == "")
    {
        $('#dateErrorMsg').html("Select Date Of Movement.");
        $('#dateErrorMsg').show();
        $('#dateErrorMsg').delay(2000).fadeOut('slow');
        $('#date').focus();
    }
    else if(conveyanceMeans == "Vehicular" && vehicleNo == "")
    {
        $('#vehicleNoErrorMsg').html("Enter Vehicle No.");
        $('#vehicleNoErrorMsg').show();
        $('#vehicleNoErrorMsg').delay(2000).fadeOut('slow');
        $('#vehicleNo').focus();
    }
    else if(cidCount < 11)
    {
        $('#cidErrorMsg').html("Cannot Be Less Than Eleven Digits.");
        $('#cidErrorMsg').show();
        $('#cidErrorMsg').delay(2000).fadeOut('slow');
        $('#cid').focus();
    }
    else if(numbcount < 8)
    {
        $('#contactNumberErrorMsg').html("Connot Be Less Than Eight Digits.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').focus();
    }
    else if(applicationNo == "")
    {
        $.ajax({
            type : "POST",
            url : "{% url 'save_movement_permit' %}",
            data : $('#permitForm').serialize(),
            success : function(data) {
                $('#applicationNo').val(data.applicationNo);
                $('#applNo').val(data.applicationNo);
                $('#appNo').val(data.applicationNo);
                $('#submitMsg').show();
                setTimeout(function() {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                 setTimeout(function() {
                    $('#movement-profile-tab').tab('show');
                }, 3000);
                $("#movement_button").html('Update');
            }
        });
    }
    else if(applicationNo != "")
    {
        $.ajax({
            type : "POST",
            url : "{% url 'update_movement_permit' %}",
            data : $('#permitForm').serialize(),
            success : function(data) {
                $('#applicationNo').val(data.applicationNo);
                $('#applNo').val(data.applicationNo);
                $('#appNo').val(data.applicationNo);
                $('#submitMsg').show();
                setTimeout(function() {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                 setTimeout(function() {
                    $('#movement-profile-tab').tab('show');
                }, 3000);
            }
        });
    }
}

function loadPage(appId)
{
    $.ajax({
        type : "GET",
        url : "{% url 'movement_permit_app' %}",
        data :{'appId':appId},
        success : function(response)
        {
            $('#Details').html(response);
        }
    });
}

function loadPageDetails()
{
    var applicationNo = $('#applicationNo').val();
    if(applicationNo == "")
    {
        $("#movement-profile-tab").prop('disabled', true);
        $("#movement-profile-file").prop('disabled', true);
    }
    else if(applicationNo != "")
    {
        $("#movement-profile-tab").prop('disabled', false);
        $("#movement-profile-file").prop('disabled', false);
    }
}

function getGewog(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_gewog' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data)
        {
            $('#gewog').html(data);
        }
    });
}

function getFromGewog(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'to_gewog_list' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data)
        {
            $('#from_gewog').html(data);
        }
    });
}

function getToGewog(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_to_location' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data)
        {
            $('#to_gewog').html(data);
        }
    });
}




function getVillage(gewog_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_village' %}",
        data :{'gewog_id':gewog_id},
        success : function(data)
        {
            $('#village').html(data);
        }
    });
}

function getLocation(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_location' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data) {
            $('#location').html(data);
        }
    });
}

function updateDetails()
{
    $.ajax({
        type : "POST",
        url : "{% url 'update_details' %}",
        data : $('#permitForm').serialize(),
        success : function(response)
        {
            $('#movement-profile-tab').tab('show');
        }
    });
}

function save_attachment()
{
    var fileName = document.getElementById('document').files[0].name;
    var fd = new FormData();
    var file = document.getElementById('document').files[0];
    fd.append('document', file);
    token_value=$("input[name=csrfmiddlewaretoken]").val();
    $.ajaxSetup
    ({
        beforeSend: function(xhr, settings)
        {
            xhr.setRequestHeader("X-CSRFToken", token_value);
        }
    });
        $.ajax({
        type : "POST",
        url : "{% url 'save_file' %}",
        data : fd,
        dataType: 'json',
        contentType: false,
        processData: false,
        success : function(data)
        {
            if (data.form_is_valid)
            {
                var file_url = data.file_url
                var appNo = $('#applicationNo').val();
                $.ajax
                ({
                    type : "POST",
                    url : "{% url 'add_file_name' %}",
                    data : {'appNo':appNo , 'filename':fileName , 'file_url':file_url},
                    success : function(responseText)
                    {
                        $('#attachmentModal').modal('hide');
                        $('#fileAttach').html(responseText);
                        $('.modal-backdrop').remove();
                        $('#attachment_form')[0].reset();
                    }
                });
            }else
            {
                $('#fileErrorMsg').html("File Already Exists With Same Name. Please Upload Another File");
                $('#fileErrorMsg').show();
                $('#fileErrorMsg').delay(2000).fadeOut('slow');
            }
        }
    });

}




function load_details()
{
    var appNo = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'mov_plant_details' %}",
        data :{'application_id':appNo},
        success : function(response)
        {
            $('#Details').html(response);
        }
    });
}

function plant_attachment()
{
    var appNo = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'mov_plant_attachment' %}",
        data :{'application_id':appNo},
        success : function(response)
        {
            $('#fileAttach').html(response);
        }
    });
}

function conveyanceChange(value)
{
    if (value == "Air")
    {
        $('#vehicleNo').attr("disabled", "disabled");
        $('.vehicle_mandatory').hide();
    }
    else
    {
        $('#vehicleNo').removeAttr("disabled");
        $('.vehicle_mandatory').show();
    }
}

function show_modal()
{
    $.ajax({
        type : "GET",
        url : "{% url 'get_unit_master' %}",
        success : function(data)
        {
             $('#add_details').modal('show');
             $('#unit').html(data);
        }
    });

}

function validateemailId(emailId)
{
    var pattern=/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;
    var no=emailId.match(pattern);

    if(no==null)
    {
        $('#emailErrorMsg').html("<span class='alert alert-danger'>The email Id is Not valid");
        $('#email').val("");
        $('#emailErrorMsg').show();
        $('#emailErrorMsg').delay(2000).fadeOut('slow');
    }else{
     $('#emailErrorMsg').hide();
    }

}

function checkContact(value)
{
    var firstDigit = value.charAt(0);
    var secondDigit = value.charAt(1);

    if(firstDigit != 7 && firstDigit != 1){
        $('#contactNumberErrorMsg').html("Must Start with either 1 or 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 1 && secondDigit != 6 && secondDigit != 7){
        $('#contactNumberErrorMsg').html("Second Digit Must Start with either 6 or 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 7 && secondDigit == 6){
        $('#contactNumberErrorMsg').html("Second Digit Cannot be 6.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 7 && secondDigit != 7){
        $('#contactNumberErrorMsg').html("Second Digit Must Start with 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }

}

function getCitizenDetails(cidNo)
{
    $.ajax({
        type : "GET",
        url : "{% url 'get_citizen_details' %}",
        data :{'cidNo':cidNo},
        success : function(data)
        {
            const myObj =data.response;
            if(myObj.citizenDetailsResponse.citizenDetail == undefined)
            {
                $('#cid').val("");
                $('#name').val("");
                $('#dzongkhag').val("");
                $('#gewog').val("");
                $('#village').val("");
                $('#cidErrorMsg').html("Invalid CID.Try With Another one");
                $('#cidErrorMsg').show();
                $('#cidErrorMsg').delay(2000).fadeOut('slow');
            }
            else
            {
                var firstName = myObj.citizenDetailsResponse.citizenDetail[0].firstName
                var middleName = myObj.citizenDetailsResponse.citizenDetail[0].middleName
                var lastName = myObj.citizenDetailsResponse.citizenDetail[0].lastName
                if (middleName == null) {
                        middleName = "";
                    }
                var CitizenName = firstName + " " + middleName + " " + lastName;

                var dzongkhagName = myObj.citizenDetailsResponse.citizenDetail[0].dzongkhagName
                var villageName = myObj.citizenDetailsResponse.citizenDetail[0].villageName
                var gewogName = myObj.citizenDetailsResponse.citizenDetail[0].gewogName
                $('#name').val(CitizenName);
                $('#dzongkhag').val(dzongkhagName);
                $('#gewog').val(gewogName);
                $('#village').val(villageName);
            }
        }
    });
}

function save_details_movement()
{
    var commodity = $('#commodity').val();
    var qty = $('#qty').val();
    var unit = $('#unit').val();

    if(commodity == "")
    {
        $('#commodityErrorMsg').html("Enter Commodity.");
        $('#commodityErrorMsg').show();
        $('#commodityErrorMsg').delay(2000).fadeOut('slow');
    }
    else if(qty == "")
    {
        $('#qtyErrorMsg').html("Enter Quantity.");
        $('#qtyErrorMsg').show();
        $('#qtyErrorMsg').delay(2000).fadeOut('slow');
    }
    else if(unit == "")
    {
        $('#unitErrorMsg').html("Select Unit.");
        $('#unitErrorMsg').show();
        $('#unitErrorMsg').delay(2000).fadeOut('slow');
    }
    else
    {
        $.ajax({
            type : "POST",
            url : "{% url 'save_details_movement' %}",
            data : $('#save_form').serialize(),
            success : function(responseText) {
               $('#add_details').modal('hide');
               $('#Details').html(responseText);
               $('#movement-profile-tab').tab('show');
               $('.modal-backdrop').remove();
               $('#save_form')[0].reset();
            }
        });
    }
}

function save_details_form()
{
    $('#pills-tab a:last').tab('show');
}

function populateDetails(Record_Id, Commodity, Quantity, Unit, Remarks, application_no)
{
    $('#movement_record_id').val(Record_Id);
    $('#edit_commodity').val(Commodity);
    $('#edit_qty').val(Quantity);
    $('#edit_unit').val(Unit);
    $('#edit_remarks').val(Remarks);
    $('#edit_app_No').val(application_no);
    $('#edit_details').modal('show');

}

function check_qty(qty)
{
    if(qty == 0)
    {
        $('#qtyErrorMsg').html("Must Be Greater Than Zero.");
        $('#qtyErrorMsg').show();
        $('#qtyErrorMsg').delay(2000).fadeOut('slow');
        $('#qty').val("");
    }
    else
    {
        $('#qtyErrorMsg').hide();
    }
}

function check_edit_qty(qty)
{
    if(qty == 0)
    {
        $('#edit_qtyErrorMsg').html("Must Be Greater Than Zero.");
        $('#edit_qtyErrorMsg').show();
        $('#edit_qtyErrorMsg').delay(2000).fadeOut('slow');
        $('#edit_qty').val("");
    }
    else
    {
        $('#edit_qtyErrorMsg').hide();
    }
}
</script>
{% endblock %}