{% load static %}
<style>
    .card {
    margin-bottom: 0rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
form, input, select, textarea{
    color: black !important;
}
.head {
    color: #e6e8ec;
}
</style>
<div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed head">
            Application Details
        </a>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
        <div class="card-body">
            {% for application_details in application_details %}
                <div id="applicant_details">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Name of the Food Business</label>
                                <input type="text" class="form-control" value="{{application_details.business_name}}" disabled>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">CID of the Owner</label>
                                <input type="text" class="form-control" value="{{application_details.cid}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Name of the applicant/Owner</label>
                                <input type="text" class="form-control" value="{{application_details.name_owner}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Contact Number</label>
                                <input type="number" class="form-control" value="{{application_details.contact_no}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" value="{{application_details.email}}" disabled>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Name of the FB Representative</label>
                                <input type="text" class="form-control" value="{{application_details.name_manager}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Licensing Criteria </label>
                                <input type="text" class="form-control" value="{{application_details.license_criteria}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Dzongkhag</label>
                                <select class="form-control" disabled>
                                    {% for dzongkhag in dzongkhag %}
                                        <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.dzongkhag_code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                            {{ dzongkhag.Dzongkhag_Name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Gewog</label>
                                <select class="form-control" disabled>
                                    {% for gewog in gewog %}
                                        <option value="{{ gewog.Gewog_Code }}"{% if application_details.gewog_code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Village</label>
                                 <select class="form-control" disabled>
                                    {% for village in village %}
                                            <option value="{{ village.Village_Code }}" {% if application_details.village_code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                    {% endfor %}
                                 </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Food Business Address</label>
                                <textarea class="form-control" disabled>{{application_details.address}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Current status of functioning</label>
                                <select class="form-control" disabled>
                                    {% if application_details.current_status == "Project stage" %}
                                        <option value="Project stage" selected>Project stage</option>
                                        <option value="Commissioned">Commissioned but regular production yet to start</option>
                                        <option value="Regular">Regular production in progress</option>
                                    {% elif application_details.current_status == "Commissioned" %}
                                        <option value="Project stage">Project stage</option>
                                        <option value="Commissioned" selected>Commissioned but regular production yet to start</option>
                                        <option value="Regular">Regular production in progress</option>
                                    {% else %}
                                        <option value="Project stage">Project stage</option>
                                        <option value="Commissioned">Commissioned but regular production yet to start</option>
                                        <option value="Regular" selected>Regular production in progress</option>
                                    {% endif%}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Product Category(proposed/being manufactured)</label>
                                <input type="text" class="form-control" value="{{ application_details.product_category }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Products proposed/being manufactured</label>
                                <textarea class="form-control" disabled>{{application_details.product}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Identified water source</label>
                                <input type="text" class="form-control" value="{{application_details.water_source}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Number of years in production</label>
                                <input type="text" class="form-control" value="{{application_details.years_in_production}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Production Volume(Last Calender Year)</label>
                                <input type="text" class="form-control" value="{{application_details.volume_last_year}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label">Volume Unit</label>
                            <input type="text" class="form-control" value="{{application_details.volume_unit}}" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Site History Details</label>
                            <select class="form-control" disabled>
                                {% if application_details.site_history == "Fresh land" %}
                                <option value="Fresh land" selected>Fresh land</option>
                                {% else %}
                                <option value="Converted structure" selected>Converted structure</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-4" id="previous_business_div" style="display:none">
                            <div class="form-group">
                                <label class="form-label">What was the previous business conducted there?</label>
                                <textarea class="form-control" disabled rows="2">{{application_details.previous_business}}</textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Any processes outsourced by the FB?</label><br>
                                <br><div class="form-group text-center">
                                    <div class="form-check">
                                        {% if application_details.process_outsource == "Yes" %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="outsourced_process" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="outsourced_process" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>&nbsp;
                                        {% else %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="outsourced_process" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="outsourced_process" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label">Legal Entity Status</label>
                            <select class="form-control" disabled>
                                 {% if application_details.legal_entity == "Sole Proprietorship" %}
                                    <option value="Private Ltd" selected>Sole Proprietorship</option>
                                 {% elif application_details.legal_entity == "Partnership" %}
                                    <option value="Public Ltd" selected>Partnership</option>
                                 {% elif application_details.legal_entity == "Company" %}
                                    <option value="Company" selected>Company</option>
                                 {% else %}
                                    <option value="Others" selected>Others(Government undertaking..)</option>
                                 {% endif %}
                            </select>
                            <div class="alert alert-danger" id="legal_statusErrorMsg" style="display:none"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Are you a part of a larger Corporation?</label><br>
                                <br><div class="form-group">
                                    <div class="form-check">
                                        {% if application_details.large_corporation == "Yes" %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="larger_corporation" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="larger_corporation" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% else %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="larger_corporation" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="larger_corporation" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Relationship</label><br>
                                <input type="text" class="form-control" value="{{application_details.large_corporation_relation}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Has the FBO been licensed before?</label><br><br>
                                <div class="form-group">
                                    <div class="form-check">
                                        {% if application_details.fbo_license_status == "Yes" %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="licensed_before" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="licensed_before" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% else %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="licensed_before" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="licensed_before" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">If Yes, provide details of License number</label><br>
                                <input type="text" class="form-control" value="{{application_details.fbo_license_no}}" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Reasons why the License is no longer valid</label><br>
                                <textarea class="form-control" disabled rows="2">{{application_details.invalid_reason}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Any judicial proceedings relating to the FBOs operations/product?</label><br>
                                <br><div class="form-group">
                                    <div class="form-check">
                                        {% if application_details.fbo_judicial_proceedings == "Yes" %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="judicial_proceedings" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="judicial_proceedings" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% else %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="judicial_proceedings" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="judicial_proceedings" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Please provide details</label><br>
                                <textarea class="form-control" rows="2" disabled>{{application_details.judicial_proceedings_details}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Any proceedings by any Regulatory body or suspension /cancellation /withdrawal of any relevant licensing/approvals under any Regulations </label><br>
                                <br><div class="form-group">
                                    <div class="form-check">
                                        {% if application_details.fbo_regulatory_proceedings == "Yes" %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="regulatory_proceedings" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="regulatory_proceedings" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% else %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="regulatory_proceedings" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="regulatory_proceedings" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Please provide details</label><br>
                                <textarea class="form-control" disabled rows="2">{{application_details.regulatory_proceedings_details}}</textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <label class="form-label">Has a Project Proposal been prepared  </label><br>
                                <br><div class="form-group">
                                    <div class="form-check">
                                        {% if application_details.project_proposal == "Yes" %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="project_proposal" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="project_proposal" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% else %}
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="project_proposal" class="custom-control-input" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="project_proposal" class="custom-control-input" checked>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Process Flow & Technology </label><br>
                                <textarea class="form-control" disabled>{{application_details.process_flow_technology}}</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Quality Assurance System</label><br>
                                <textarea class="form-control" disabled>{{application_details.quality_assurance_system}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingItems">
        <a class="collapsed head" data-toggle="collapse" href="#meatItems" aria-expanded="false" aria-controls="collapseTwo">
            Out Sourced Process
        </a>
    </div>
    <div id="meatItems" class="collapse" role="tabpanel" aria-labelledby="headingItems" data-parent="#accordion" style="">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address Details</th>
                        <th scope="col">Contact</th>
                        <th scope="col">BAFRA License Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for import in details %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{import.bp_outsourced_to}}</td>
                            <td>{{import.address}}</td>
                            <td>{{import.contact_no}}</td>
                            <td>{{import.bafra_license_no}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="5" class="text-center">No Data</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="food_handlers">
        <a class="collapsed head" data-toggle="collapse" href="#food_handlers_details" aria-expanded="false" aria-controls="collapseTwo">
            Food Handlers Details
        </a>
    </div>
    <div id="food_handlers_details" class="collapse" role="tabpanel" aria-labelledby="headingItems" data-parent="#accordion" style="">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Food Handlers Name </th>
                        <th scope="col">License Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for import in fh_details %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{import.fh_name}}</td>
                            <td>{{import.fh_license_No}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="5" class="text-center">No Data</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card ">
    <div class="card-header" role="tab" id="headingRaw">
        <a class="collapsed head" data-toggle="collapse" href="#raw_materials" aria-expanded="false" aria-controls="collapseTwo">
            Raw Materials Details
        </a>
    </div>
    <div id="raw_materials" class="collapse" role="tabpanel" aria-labelledby="headingRaw" data-parent="#accordion" style="">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Source Country</th>
                    </tr>
                </thead>
                <tbody>
                    {% for raw_materials in raw_materials %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{raw_materials.name}}</td>
                            <td>{{raw_materials.source_country}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="3" class="text-center">No Data</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingPackaging">
        <a class="collapsed head" data-toggle="collapse" href="#packaging_materials" aria-expanded="false" aria-controls="collapseTwo">
            Packaging Materials Details Details
        </a>
    </div>
    <div id="packaging_materials" class="collapse" role="tabpanel" aria-labelledby="headingPackaging" data-parent="#accordion" style="">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Source Country</th>
                    </tr>
                </thead>
                <tbody>
                    {% for packaging_material in packaging_material %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{packaging_material.name}}</td>
                            <td>{{packaging_material.source_country}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="3" class="text-center">No Data</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed head" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Attachments
        </a>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                    </tr>
                </thead>
                <tbody>
                   {% for file_attach in file %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href='{{file_attach.file_path}}' target="_blank">{{file_attach.attachment}}</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="3" class="text-center">No Data</td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingFive">
        <a class="collapsed head" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            Feasibility Inspection Team Details
        </a>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
        <div class="card-body">
            <div id="inspection_team_details">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for import in inspection_team_details %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{import.name}}</td>
                                <td>{{import.designation}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="3" class="text-center">No Data</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingFour">
        <a class="collapsed head" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            Feasibility Inspection Team
        </a>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
        <div class="card-body">
            <div id="team_details">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name Of Key Personal</th>
                            <th scope="col">Designation of Key Personal</th>
                            <th scope="col">Meeting (Date)</th>
                            <th scope="col">Meeting Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for import in team_details %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{import.name}}</td>
                                <td>{{import.designation}}</td>
                                <td>{{import.meeting_date|date:"d-m-Y"}}</td>
                                <td>{{import.type }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="5" class="text-center">No Data</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed head" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Client Details
        </a>
    </div>
    <div id="collapseThree" class="active" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"> Proposed Factory Inspection Date</label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>
                    <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                </div>
            </div>
            <br>
            <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                Application Forwarded
            </div>
            <div class="modal-footer justify-content-center">
                {% for application_details in application_details %}
                    <button type="button" class="btn btn-primary" onclick="forward_factory_application('{{ application_details.application_no }}')"> Forward </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
$(function(){
    var today = new Date().toISOString().split('T')[0];
    $('#date')[0].setAttribute('min', today);
});

    function forward_factory_application(application_id)
    {
        date = $('#date').val();

        $.ajax({
            type : "POST",
            url : "{% url 'forward_factory_application' %}",
            data :{'application_id':application_id ,'date':date, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success : function(data) {
                $('#submitMsg').show();
                setTimeout(function()
                {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                setTimeout(function()
                {
                    $('#import_detailsModal').modal('hide');
                }, 3000);
                setTimeout(function()
                {
                     location.reload();
                }, 3000);
            }
        });
    }
</script>