<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address Details</th>
            <th scope="col">Contact</th>
            <th scope="col">BAFRA License Number</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for import in fh_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.BP_Outsourced_To}}</td>
                <td>{{import.Address}}</td>
                <td>{{import.Contact_No}}</td>
                <td>{{import.BAFRA_License_No}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                    onclick="delete_details('{{import.Record_Id}}','{{import.Application_No}}', 'FBR-OP')">
                    <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button  type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Edit"
                     onclick="populateDetails('{{ import.Record_Id }}', '{{import.BP_Outsourced_To}}',
                     '{{import.Address}}','{{import.Contact_No}}',
                     '{{import.BAFRA_License_No}}', '{{import.Application_No}}')">
                    <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>