{% load static %}
<style>
    form, input, select, textarea{
    color: black !important;
}
#loader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}
</style>
<form method="post" id="applicationForm">
    {% csrf_token %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for application_details in application_details %}
                            <div id="applicant_details">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name of the Food Business</label>
                                            <input type="text" class="form-control" value="{{application_details.business_name}}" disabled>
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">CID of the Owner</label>
                                            <input type="text" class="form-control" value="{{application_details.cid}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name of the applicant/Owner</label>
                                            <input type="text" class="form-control" value="{{application_details.name_owner}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{application_details.contact_no}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" value="{{application_details.email}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name of the FB Representative</label>
                                            <input type="text" class="form-control" value="{{application_details.name_manager}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Licensing Criteria </label>
                                            <input type="text" class="form-control" value="{{application_details.license_criteria}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Dzongkhag</label>
                                            <select class="form-control" disabled>
                                                {% for dzongkhag in dzongkhag %}
                                                    <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.dzongkhag_code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                        {{ dzongkhag.Dzongkhag_Name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Gewog</label>
                                            <select class="form-control" disabled>
                                                {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}"{% if application_details.gewog_code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Village</label>
                                             <select class="form-control" disabled>
                                                {% for village in village %}
                                                        <option value="{{ village.Village_Code }}" {% if application_details.village_code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Food Business Address</label>
                                            <textarea class="form-control" disabled>{{application_details.address}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Current status of functioning</label>
                                            <select class="form-control" disabled>
                                                {% if application_details.current_status == "Project stage" %}
                                                    <option value="Project stage" selected>Project stage</option>
                                                    <option value="Commissioned">Commissioned but regular production yet to start</option>
                                                    <option value="Regular">Regular production in progress</option>
                                                {% elif application_details.current_status == "Commissioned" %}
                                                    <option value="Project stage">Project stage</option>
                                                    <option value="Commissioned" selected>Commissioned but regular production yet to start</option>
                                                    <option value="Regular">Regular production in progress</option>
                                                {% else %}
                                                    <option value="Project stage">Project stage</option>
                                                    <option value="Commissioned">Commissioned but regular production yet to start</option>
                                                    <option value="Regular" selected>Regular production in progress</option>
                                                {% endif%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Product Category(proposed/being manufactured)</label>
                                            <input type="text" class="form-control" value="{{ application_details.product_category }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Products proposed/being manufactured</label>
                                            <textarea class="form-control" disabled>{{application_details.product}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Identified water source</label>
                                            <input type="text" class="form-control" value="{{application_details.water_source}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Number of years in production</label>
                                            <input type="text" class="form-control" value="{{application_details.years_in_production}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Production Volume(Last Calender Year)</label>
                                            <input type="text" class="form-control" value="{{application_details.volume_last_year}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Volume Unit</label>
                                        <input type="text" class="form-control" value="{{application_details.volume_unit}}" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Site History Details</label>
                                        <select class="form-control" disabled>
                                            {% if application_details.site_history == "Fresh land" %}
                                            <option value="Fresh land" selected>Fresh land</option>
                                            {% else %}
                                            <option value="Converted structure" selected>Converted structure</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-md-4" id="previous_business_div" style="display:none">
                                        <div class="form-group">
                                            <label class="form-label">What was the previous business conducted there?</label>
                                            <textarea class="form-control" disabled rows="2">{{application_details.previous_business}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Any processes outsourced by the FB?</label><br>
                                            <br><div class="form-group text-center">
                                                <div class="form-check">
                                                    {% if application_details.process_outsource == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="outsourced_process" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="outsourced_process" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>&nbsp;
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="outsourced_process" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="outsourced_process" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Legal Entity Status</label>
                                        <select class="form-control" disabled>
                                             {% if application_details.legal_entity == "Sole Proprietorship" %}
                                                <option value="Private Ltd" selected>Sole Proprietorship</option>
                                             {% elif application_details.legal_entity == "Partnership" %}
                                                <option value="Public Ltd" selected>Partnership</option>
                                             {% elif application_details.legal_entity == "Company" %}
                                                <option value="Company" selected>Company</option>
                                             {% else %}
                                                <option value="Others" selected>Others(Government undertaking..)</option>
                                             {% endif %}
                                        </select>
                                        <div class="alert alert-danger" id="legal_statusErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Are you a part of a larger Corporation?</label><br>
                                            <br><div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.large_corporation == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="larger_corporation" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="larger_corporation" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="larger_corporation" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="larger_corporation" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Relationship</label><br>
                                            <input type="text" class="form-control" value="{{application_details.large_corporation_relation}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Has the FBO been licensed before?</label><br><br>
                                            <div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.fbo_license_status == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="licensed_before" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="licensed_before" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="licensed_before" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="licensed_before" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">If Yes, provide details of License number</label><br>
                                            <input type="text" class="form-control" value="{{application_details.fbo_license_no}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Reasons why the License is no longer valid</label><br>
                                            <textarea class="form-control" disabled rows="2">{{application_details.invalid_reason}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Any judicial proceedings relating to the FBOs operations/product?</label><br>
                                            <br><div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.fbo_judicial_proceedings == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="judicial_proceedings" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="judicial_proceedings" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="judicial_proceedings" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="judicial_proceedings" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Please provide details</label><br>
                                            <textarea class="form-control" rows="2" disabled>{{application_details.judicial_proceedings_details}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Any proceedings by any Regulatory body or suspension /cancellation /withdrawal of any relevant licensing/approvals under any Regulations </label><br>
                                            <br><div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.fbo_regulatory_proceedings == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="regulatory_proceedings" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="regulatory_proceedings" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="regulatory_proceedings" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="regulatory_proceedings" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Please provide details</label><br>
                                            <textarea class="form-control" disabled rows="2">{{application_details.regulatory_proceedings_details}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Has a Project Proposal been prepared  </label><br>
                                            <br><div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.project_proposal == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="project_proposal" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="project_proposal" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="project_proposal" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="project_proposal" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Process Flow & Technology </label><br>
                                            <textarea class="form-control" disabled>{{application_details.process_flow_technology}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Quality Assurance System</label><br>
                                            <textarea class="form-control" disabled>{{application_details.quality_assurance_system}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if application_details.Process_Outsource == 'Yes' %}
                                <br>
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                    <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted form-label">Outsourced </span>
                                        <span class="px-1 small text-muted font-weight-bold text-muted form-label">Process</span>
                                    <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Address Details</th>
                                            <th scope="col">Contact</th>
                                            <th scope="col">BAFRA License Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for import in details %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{import.bp_outsourced_to}}</td>
                                                <td>{{import.address}}</td>
                                                <td>{{import.contact_no}}</td>
                                                <td>{{import.bafra_license_no}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                              <td colspan="5" class="text-center">No Data</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                            {% endif %}
                        {% endfor %}
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Food </span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Handlers</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Food Handlers Name </th>
                                    <th scope="col">License Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for import in food_handler %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{import.fh_name}}</td>
                                        <td>{{import.fh_license_no}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="5" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Raw </span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Materials</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Source Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for raw_materials in raw_materials %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{raw_materials.name}}</td>
                                        <td>{{raw_materials.source_country}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Packaging </span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Materials</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Source Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for packaging_material in packaging_material %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{packaging_material.name}}</td>
                                        <td>{{packaging_material.source_country}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                    <span class="px-2 small text-muted font-weight-bold text-muted form-label">File</span>
                                    <span class="px-1 small text-muted font-weight-bold text-muted form-label">Attachments</span>
                                <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for file_attach in file %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td><a href='{{file_attach.file_path}}' target="_blank">{{file_attach.attachment}}</a></td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="3" class="text-center">No Data</td>
                                        </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Remarks(If Reject Please Fill The Remarks)</label>
                                    <textarea class="form-control" rows="3" id="remarks" name="remarks"></textarea>
                                </div>
                                <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <br>
                        <div id="submitMsg" class="alert alert-info" style="display:none;">
                            Application Approved
                        </div>
                        <div id="rejectMsg" class="alert alert-info" style="display:none;">
                            Application Rejected
                        </div>
                        <div id="loader" style="display:none">
                            <img src="{% static 'assets/img/ajax-loader.gif' %}" alt="processing..." />
                        </div>
                        <div class="modal-footer justify-content-center">
                            <select class="form-control col-md-6" name="forwardTo"  id="forwardTo">
                                <option value="">--SELECT OIC--</option>
                                {% for oic_list in oic_list %}
                                        <option value="{{ oic_list.Field_Office_Id }}">{{ oic_list.Field_Office }}</option>
                                {% endfor %}
                            </select>
                            <div class="alert alert-danger" id="forwardToErrorMsg" style="display:none"></div>
                            {% for application_details in application_details %}
                                <button type="button" class="btn btn-primary" onclick="fbr_fo_approve('{{ application_details.application_no }}')"> Approve </button>
                                <button type="button" class="btn btn-danger" onclick="fbr_fo_reject('{{ application_details.application_no }}')"> Reject </button>
                            {% endfor %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function fbr_fo_approve(application_id)
        {
            var remarks = $('#remarks').val();
            var forwardTo = $('#forwardTo').val();

            if(forwardTo == "")
            {
                $('#forwardToErrorMsg').html("Select OIC.");
                $('#forwardToErrorMsg').show();
                $('#forwardToErrorMsg').delay(2000).fadeOut('slow');
            }
            else
            {
                $("#loader").show();
                $.ajax({
                type : "POST",
                url : "{% url 'fbr_fo_approve' %}",
                data :{'application_id':application_id ,'forwardTo':forwardTo,'remarks':remarks, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success : function(data) {
                    $("#loader").hide();
                    $('#submitMsg').show();
                    setTimeout(function()
                    {
                        $("#submitMsg").hide('blind', {}, 500)
                    }, 2000);
                    setTimeout(function()
                    {
                        $('#import_detailsModal').modal('hide');
                    }, 3000);
                    setTimeout(function() {
                        window.location.href = '{% url 'dashboard' %}';
                    }, 3000);
                    }
                });
            }
        }
    function fbr_fo_reject(application_id)
        {
            var remarks = $('#remarks').val();

            if(remarks == "")
            {
                $('#remarksErrorMsg').html("Remarks Cannot Be Empty.");
                $('#remarksErrorMsg').show();
                $('#remarksErrorMsg').delay(2000).fadeOut('slow');
            }
            else
            {
                $("#loader").show();
                $.ajax({
                type : "POST",
                url : "{% url 'fbr_fo_reject' %}",
                data :{'application_id':application_id ,'remarks':remarks, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success : function(data) {
                    $("#loader").hide();
                    $('#rejectMsg').show();
                    setTimeout(function()
                    {
                        $("#rejectMsg").hide('blind', {}, 500)
                    }, 2000);
                    setTimeout(function()
                    {
                        $('#import_detailsModal').modal('hide');
                    }, 2000);
                    setTimeout(function() {
                        window.location.href = '{% url 'dashboard' %}';
                    }, 3000);
                }
                });
            }
        }
</script>