{% load static %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Food Handlers Name </th>
            <th scope="col">License Number</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for import in fh_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.fh_name}}</td>
                <td>{{import.fh_license_no}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                    onclick="delete_details('{{import.record_id}}','{{import.application_no}}', 'FBR-FH')">
                    <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button  type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Edit"
                     onclick="populate_fh_details('{{ import.record_id }}', '{{import.fh_name}}',
                     '{{import.fh_license_no}}', '{{import.application_no}}')">
                    <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<input type="hidden" value="{{count}}" id="fh_count">
<script>
    $(document).ready(function()
     {
        if($('#fh_count').val() > 0)
        {
            $('#fh_button').show();
        }
        else
        {
            $('#fh_button').hide();
        }
     });
</script>