<table id="X" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Requirement</th>
            <th scope="col">Clause No</th>
            <th scope="col">NC</th>
            <th scope="col">NC Category</th>
            <th scope="col">Date</th>
            <th scope="col">Observations/ Findings</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for import in application_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.requirement}}</td>
                <td>{{import.clause_no}}</td>
                <td>{{import.nc}}</td>
                <td>{{import.nc_category}}</td>
                <td>{{import.date|date:"d-m-Y"}}</td>
                <td>{{import.observation}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn--icon btn-sm" onclick="populateForm('{{import.record_id}}','{{import.requirement}}',
                    '{{import.clause_no}}','{{import.nc}}', '{{import.nc_category}}','{{import.observation}}', '{{import.application_no}}')">
                    <i class="zmdi zmdi-edit"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<input type="hidden" id="count" value="{{message_count}}">
<script>
    $(document).ready(function()
     {
        var row_count = $("#count").val();
        if(row_count > 0)
        {
            $("#approve_button").hide();
            $("#resubmit-btn").show();
        }
        else
        {
            $("#approve_button").show();
            $("#resubmit-btn").hide();
        }
     });
</script>