<style>
    form, input, select, textarea{
    color: black !important;
}
</style>
<form method="post" id="applicationForm">
    {% csrf_token %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for application_details in application_details %}
                            <div id="applicant_details">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name of the Food Business</label>
                                            <input type="text" class="form-control" value="{{application_details.Business_Name}}" disabled>
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">CID of the Owner</label>
                                            <input type="text" class="form-control" value="{{application_details.CID}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name of the applicant/Owner</label>
                                            <input type="text" class="form-control" value="{{application_details.Name_Owner}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name of the FB Representative</label>
                                            <input type="text" class="form-control" value="{{application_details.Name_Manager}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Licensing Criteria </label>
                                            <input type="text" class="form-control" value="{{application_details.License_Criteria}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Dzongkhag</label>
                                            <select class="form-control" disabled>
                                                {% for dzongkhag in dzongkhag %}
                                                    <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Dzongkhag_Code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                        {{ dzongkhag.Dzongkhag_Name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Gewog</label>
                                            <select class="form-control" disabled>
                                                {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}"{% if application_details.Gewog_Code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Village</label>
                                             <select class="form-control" disabled>
                                                {% for village in village %}
                                                        <option value="{{ village.Village_Code }}" {% if application_details.Village_Code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Food Business Address</label>
                                            <textarea class="form-control" disabled>{{application_details.Address}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Current status of functioning</label>
                                            <select class="form-control" disabled>
                                                {% if application_details.Current_Status == "Project stage" %}
                                                    <option value="Project stage" selected>Project stage</option>
                                                    <option value="Commissioned">Commissioned but regular production yet to start</option>
                                                    <option value="Regular">Regular production in progress</option>
                                                {% elif application_details.Current_Status == "Commissioned" %}
                                                    <option value="Project stage">Project stage</option>
                                                    <option value="Commissioned" selected>Commissioned but regular production yet to start</option>
                                                    <option value="Regular">Regular production in progress</option>
                                                {% else %}
                                                    <option value="Project stage">Project stage</option>
                                                    <option value="Commissioned">Commissioned but regular production yet to start</option>
                                                    <option value="Regular" selected>Regular production in progress</option>
                                                {% endif%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Product Category(proposed/being manufactured)</label>
                                            <input type="text" class="form-control" value="{{ application_details.Food_Product_Category_Name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Products proposed/being manufactured</label>
                                            <textarea class="form-control" disabled>{{application_details.Product}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Identified water source</label>
                                            <input type="text" class="form-control" value="{{application_details.Water_Source}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Number of years in production</label>
                                            <input type="text" class="form-control" value="{{application_details.Years_In_Production}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Production Volume(Last Calender Year)</label>
                                            <input type="text" class="form-control" value="{{application_details.Volume_Last_Year}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Volume Unit</label>
                                        <input type="text" class="form-control" value="{{application_details.Volume_Unit}}" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Site History Details</label>
                                        <select class="form-control" disabled>
                                            {% if application_details.Site_History == "Fresh land" %}
                                            <option value="Fresh land" selected>Fresh land</option>
                                            {% else %}
                                            <option value="Converted structure" selected>Converted structure</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-md-4" id="previous_business_div" style="display:none">
                                        <div class="form-group">
                                            <label class="form-label">What was the previous business conducted there?</label>
                                            <textarea class="form-control" disabled rows="2">{{application_details.Previous_Business}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Any processes outsourced by the FB?</label><br>
                                            <br><div class="form-group text-center">
                                                <div class="form-check">
                                                    {% if application_details.Process_Outsource == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="outsourced_process" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="outsourced_process" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>&nbsp;
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="outsourced_process" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="outsourced_process" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Legal Entity Status</label>
                                        <select class="form-control" disabled>
                                             {% if application_details.Legal_Entity == "Private Ltd" %}
                                                <option value="Private Ltd" selected>Private Ltd</option>
                                             {% elif application_details.Legal_Entity == "Public Ltd" %}
                                                <option value="Public Ltd" selected>Public Ltd</option>
                                             {% else %}
                                                <option value="Government undertaking" selected>Government undertaking (Pull from master table)</option>
                                             {% endif %}
                                        </select>
                                        <div class="alert alert-danger" id="legal_statusErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Are you a part of a larger Corporation?</label><br>
                                            <br><div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.Large_Corporation == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="larger_corporation" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="larger_corporation" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="larger_corporation" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="larger_corporation" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Relationship</label><br>
                                            <input type="text" class="form-control" value="{{application_details.Large_Corporation_Relation}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Has the FBO been licensed before?</label><br><br>
                                            <div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.FBO_License_Status == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="licensed_before" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="licensed_before" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="licensed_before" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="licensed_before" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">If Yes, provide details of License number</label><br>
                                            <input type="text" class="form-control" value="{{application_details.FBO_License_No}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Reasons why the License is no longer valid</label><br>
                                            <textarea class="form-control" disabled rows="2">{{application_details.Invalid_Reason}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Any judicial proceedings relating to the FBOs operations/product?</label><br>
                                            <br><div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.FBO_Judicial_Proceedings == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="judicial_proceedings" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="judicial_proceedings" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="judicial_proceedings" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="judicial_proceedings" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Please provide details</label><br>
                                            <textarea class="form-control" rows="2" disabled>{{application_details.Judicial_Proceedings_Details}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Any proceedings by any Regulatory body or suspension /cancellation /withdrawal of any relevant licensing/approvals under any Regulations </label><br>
                                            <br><div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.Regulatory_Proceedings_Details == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="regulatory_proceedings" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="regulatory_proceedings" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="regulatory_proceedings" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="regulatory_proceedings" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Please provide details</label><br>
                                            <textarea class="form-control" disabled rows="2">{{application_details.Regulatory_Proceedings_Details}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label class="form-label">Has a Project Proposal been prepared  </label><br>
                                            <br><div class="form-group">
                                                <div class="form-check">
                                                    {% if application_details.Regulatory_Proceedings_Details == "Yes" %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="project_proposal" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="project_proposal" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% else %}
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="project_proposal" class="custom-control-input" disabled>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Yes</span>
                                                        </label>&nbsp;
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" name="project_proposal" class="custom-control-input" checked>
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">No</span>
                                                        </label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if application_details.Process_Outsource == 'Yes' %}
                                <br>
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                    <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted form-label">Outsourced </span>
                                        <span class="px-1 small text-muted font-weight-bold text-muted form-label">Process</span>
                                    <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Address Details</th>
                                            <th scope="col">Contact</th>
                                            <th scope="col">BAFRA License Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for import in details %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{import.BP_Outsourced_To}}</td>
                                                <td>{{import.Address}}</td>
                                                <td>{{import.Contact_No}}</td>
                                                <td>{{import.BAFRA_License_No}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                              <td colspan="5" class="text-center">No Data</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                            {% endif %}
                        {% endfor %}
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Food </span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Handlers</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Food Handlers Name </th>
                                    <th scope="col">License Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for import in food_handler %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{import.FH_Name}}</td>
                                        <td>{{import.FH_License_No}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="5" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">File</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Attachments</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">File</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for file_attach in file %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href='{{file_attach.File_Path}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                        {% for application_details in application_details %}
                            {% if application_details.Desired_FR_Inspection_Date %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label"> Proposed Factory Inspection Date</label>
                                        <input type="text" class="form-control" value="{{application_details.Desired_FR_Inspection_Date|date:'d-m-Y'}}" disabled>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                        <div class="modal-footer justify-content-center">
                            <select class="form-control col-md-6" name="forwardTo"  id="forwardTo">
                                <option value="">--SELECT INSPECTOR--</option>
                                {% for inspector_list in inspector_list %}
                                        <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                {% endfor %}
                            </select>
                            {% for application_details in application_details %}
                                <button type="button" class="btn btn-success" onclick="forwardFBRApplication('{{ application_details.Application_No }}')"><i class="ace-icon fas fa-arrow-right"></i>&nbsp;&nbsp;Forward</button>
                            {% endfor %}
                            <button class="btn btn-flat btn-danger" data-dismiss="modal">
                                <i class="ace-icon fa fa-times"></i>
                                &nbsp;&nbsp;Cancel
                            </button>
                        </div>
                        <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                            Application Forwarded Successfully
                        </div>
                        <div class="alert alert-danger" id="forwardToErrorMsg" style="display:none"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
function forwardFBRApplication(application_id)
    {
        forwardTo = $('#forwardTo').val();

        if(forwardTo == "")
        {
            $('#forwardToErrorMsg').html("Select Inspector.");
            $('#forwardToErrorMsg').show();
            $('#forwardToErrorMsg').delay(2000).fadeOut('slow');
            $('#forwardTo').focus();
        }
        else
        {
            $.ajax({
            type : "POST",
            url : "{% url 'forward_fbr_application' %}",
            data :{'application_id':application_id ,'forwardTo':forwardTo, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success : function(data) {

                $('#submitMsg').show();
                setTimeout(function() {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                setTimeout(function() {
                    $('#application-details-modal').modal('hide');
                }, 3000);
                setTimeout(function() {
                   $('#application-details-modal').modal('hide');
                }, 3000);
                setTimeout(function()
                {
                    location.reload();
                }, 3000);
                }
            });
        }
    }
</script>