{% load static %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Source Country</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for raw_materials in raw_materials %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{raw_materials.name}}</td>
                <td>{{raw_materials.source_country}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                    onclick="delete_details('{{raw_materials.record_id}}','{{raw_materials.application_no}}', 'FBR-RM')">
                    <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button  type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Edit"
                     onclick="raw_material_details('{{ raw_materials.record_id }}', '{{raw_materials.name}}',
                     '{{raw_materials.source_country}}', '{{raw_materials.application_no}}')">
                    <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<input type="hidden" value="{{raw_count}}" id="raw_count">
<script>
    $(document).ready(function()
     {
        if($('#raw_count').val() > 0)
        {
            $('#raw_material_button').show();
        }
        else
        {
            $('#raw_material_button').hide();
        }
     });
</script>