{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
    option
    {
        background-color: white !important;
    }
    .check {
    margin-bottom: 0;
    min-height: 2rem;
}
form, input, select, textarea{
        color: black !important;
    }
</style>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Application Form Ante-Mortem & Post Mortem</h4>
    </div>
    <div class="card-body">
        <form method="post" id="ante_post_mortem_form">
        {% csrf_token %}
            <input type="hidden" name="application_no" id="applicationNo">
            <div class="row justify-content-left">
                <ul class="nav nav-pills nav-secondary" id="pills-mortem" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="load_mortem_details()">Application Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-details" data-toggle="pill" href="#details" role="tab" aria-controls="pills-details" aria-selected="false" onclick="load_details()">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mortem-file-attach" data-toggle="pill" href="#file-attachment" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_attachment_details()">File Attachment</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content mt-2 mb-3" id="pills-mortemContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div id="applicant_details">
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="form-label">Inspection Type <font color="red">*</font></label>
                            </div>
                            <div class="col-sm-4 justify-content-center">
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="Inspection_Type" class="custom-control-input" value="A">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Ante-mortem</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="Inspection_Type" class="custom-control-input" value="P">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Post-mortem</span>
                                </label>
                                <br>
                                <div class="alert alert-danger" id="Inspection_TypeErrorMsg" style="display:none"></div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Applicant CID <font color="red">*</font></label>
                                    <input type="text" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" id="cid" name="cid" maxlength="11" onkeypress="return isNumberKey(event)" onchange="getCitizenDetails(this.value);">
                                </div>
                                <div class="alert alert-danger" id="cidErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name <font color="red">*</font></label>
                                    <input type="text" class="form-control" id="name" name="Name" readonly="readonly">
                                </div>
                                <div class="alert alert-danger" id="nameErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Dzongkhag <font color="red">*</font></label>
                                    <input type="text" class="form-control" name="dzongkhag"  id="dzongkhag" readonly="readonly">
                                </div>
                                <div class="alert alert-danger" id="dzongkhagErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Gewog <font color="red">*</font></label>
                                    <input type="text" class="form-control" name="gewog" id="gewog" readonly="readonly">
                                </div>
                                <div class="alert alert-danger" id="gewogErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Village <font color="red">*</font></label>
                                    <input type="text" class="form-control" name="village" id="village" readonly="readonly">
                                </div>
                                <div class="alert alert-danger" id="villageErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Address <font color="red">*</font></label>
                                    <textarea class="form-control" id="present_address" name="present_address"></textarea>
                                </div>
                                <div class="alert alert-danger" id="presentAddressErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Contact Number <font color="red">*</font></label>
                                    <input type="number" class="form-control" id="contactNumber" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="contactNumber" maxlength="8" onkeypress="return isNumberKey(event)" onchange="checkContact(this.value)">
                                </div>
                                <div class="alert alert-danger" id="contactNumberErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email <font color="red">*</font></label>
                                    <input type="email" class="form-control" id="email" name="email" onchange="validateemailId(this.value)">
                                </div>
                                <div class="alert alert-danger" id="emailErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Dzongkhag <font color="red">*</font></label>
                                    <select class="form-control" name="Location_Dzongkhag_Code"  id="Location_Dzongkhag_Code" onchange="getLocation(this.value)">
                                        <option value="">--SELECT DZONGKHAG--</option>
                                        {% for dzongkhag in dzongkhag %}
                                                <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="Location_Dzongkhag_CodeErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Location<font color="red">*</font></label>
                                     <select class="form-control" name="location_code"  id="location_code">
                                        <option value="">--SELECT LOCATION--</option>
                                        {% for location in location %}
                                            <option value="{{ location.Location_Code }}">{{ location.Location_Name }}</option>
                                        {% endfor %}
                                     </select>
                                </div>
                                <div class="alert alert-danger" id="location_codeErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Exact Location <font color="red">*</font></label>
                                    <input type="text" class="form-control" id="exact_location" name="exact_location">
                                </div>
                                <div class="alert alert-danger" id="exact_locationErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Request Date for Inspection <font color="red">*</font></label>
                                    <input type="date" class="form-control" id="inspectionDate" name="inspectionDate">
                                </div>
                                <div class="alert alert-danger" id="inspectionDateErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                    </div>
                    <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                        Save SuccessFul
                    </div>
                    <div class="card-action">
                        <button type="button" class="btn btn-primary" id="ante_post_button" onclick="save_mortem_form()">Save</button>
                    </div>
                </div>

            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="pills-details">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-tools pull-right">
                                <button type="button" class="btn btn-light" onclick="show_modal()">Add Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="mortem_details">
                            {% include 'ante_post_mortem/details.html' %}
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button type="button" class="btn btn-success" id="ap_button" onclick="save_mortem()" style="display:none">Save</button>
                </div>
            </div>
            <div class="tab-pane fade" id="file-attachment" role="tabpanel" aria-labelledby="mortem-file-attach">
                <div id="file-attachment-mortem">
                    {% include 'ante_post_mortem/file_attachment.html' %}
                </div>
            </div>
            </div>
        </form>
    </div>
</div>

<form method="post" id="mortem_details_form">
    {% csrf_token %}
    <input type="hidden" id="application_no_details" name="application_no_details">
    <div class="modal fade" id="add_mortem_details" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Species</label>
                                        <select class="form-control" name="Species" id="Species">
                                            <option value="">--SELECT--</option>
                                            {% for species in species %}
                                                <option value="{{ species.Species_Name }}">{{ species.Species_Name }}</option>
                                            {% endfor %}
                                         </select>
                                        <div class="alert alert-danger" id="SpeciesErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Number <font color="red">*</font></label>
                                        <input type="text" name="Nos" class="form-control" id="Nos" onkeypress="return isNumberKey(event)" onchange="check_no(this.value)">
                                        <div class="alert alert-danger" id="NosErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Quantity of Carcass (Kg) <font color="red">*</font></label>
                                        <input type="text" name="qty" class="form-control" id="qty" onkeypress="return isNumberKey(event)" onchange="check_qty(this.value)">
                                        <div class="alert alert-danger" id="qtyErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Remarks</label>
                                        <input type="text" name="remarks" class="form-control" id="remarks" required>
                                        <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="save_mortem_details()">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" id="attachment_form" enctype="multipart/form-data">
{% csrf_token %}
    <input type="hidden" name="attachment_appNo" id="attachment_appNo">
    <div class="modal fade" id="attachmentModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentModalLabel">Attach Files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Attach File</label>
                                        <input type="file" name="document" id="document" accept=".png,.jpg,.jpeg,.gif,.pdf,.docx,.doc">
                                        <div class="alert alert-danger" id="fileErrorMsg" style="display:none"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-lg pull-right" onclick="save_mortem_attachment()"> Upload </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" id="edit_mortem_details_form">
    {% csrf_token %}
    <input type="hidden" id="edit_application_no" name="edit_application_no">
    <div class="modal fade" id="edit_mortem_details" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <input type="hidden" name="edit_mortem_record_id" id="edit_mortem_record_id"/>
                                <input type="hidden" name="identifier" value="APM"/>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Species <font color="red">*</font></label>
                                        <select class="form-control" name="edit_Species" id="edit_Species">
                                            <option value="">--SELECT--</option>
                                            {% for species in species %}
                                                <option value="{{ species.Species_Name }}">{{ species.Species_Name }}</option>
                                            {% endfor %}
                                         </select>
                                        <div class="alert alert-danger" id="edit_SpeciesErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Number <font color="red">*</font></label>
                                        <input type="text" name="edit_Nos" class="form-control" id="edit_Nos" onkeypress="return isNumberKey(event)" onchange="check_edit_no(this.value)">
                                        <div class="alert alert-danger" id="edit_NosErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Quantity of Carcass (Kg) <font color="red">*</font></label>
                                        <input type="text" name="edit_qty" class="form-control" id="edit_qty" onkeypress="return isNumberKey(event)" onchange="check_edit_qty(this.value)">
                                        <div class="alert alert-danger" id="edit_qtyErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Remarks</label>
                                        <input type="text" name="edit_remarks" class="form-control" id="edit_remarks" required>
                                        <div class="alert alert-danger" id="edit_remarksErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="update_edit_details('APM')">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script>
$(function()
{
    var today = new Date().toISOString().split('T')[0];
    $('#inspectionDate')[0].setAttribute('min', today);
});
function isNumberKey(evt)
    {
     var charCode = (evt.which) ? evt.which : event.keyCode
     if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

     return true;
    }
function save_mortem_form()
{
    var applicationNo = $('#applicationNo').val();
    var Inspection_Type = $("input[name=Inspection_Type]:checked").length;
    var cid = $('#cid').val();
    var address = $('#present_address').val();
    var contactNumber = $('#contactNumber').val();
    var email = $('#email').val();
    var license_no = $('#license_no').val();
    var location = $('#location').val();
    var Location_Dzongkhag_Code = $('#Location_Dzongkhag_Code').val();
    var location_code = $('#location_code').val();
    var exact_location = $('#exact_location').val();
    var inspectionDate = $('#inspectionDate').val();
    var cidCount = $('#cid').val().length;
    var number_count = $('#contactNumber').val().length;

    if(Inspection_Type < 1)
    {
        $('#Inspection_TypeErrorMsg').html("Please Check One Inspection Type.");
        $('#Inspection_TypeErrorMsg').show();
        $('#Inspection_TypeErrorMsg').delay(2000).fadeOut('slow');
        $('#Inspection_Type').focus();
    }
    else if(cid == "")
    {
        $('#cidErrorMsg').html("Enter CID Number.");
        $('#cidErrorMsg').show();
        $('#cidErrorMsg').delay(2000).fadeOut('slow');
        $('#cid').focus();
    }
    else if(cidCount < 11)
    {
        $('#cidErrorMsg').html("Cannot Be Less Than Eleven Digits.");
        $('#cidErrorMsg').show();
        $('#cidErrorMsg').delay(2000).fadeOut('slow');
        $('#cid').focus();
    }
    else if(address == "")
    {
        $('#presentAddressErrorMsg').html("Enter Address.");
        $('#presentAddressErrorMsg').show();
        $('#presentAddressErrorMsg').delay(2000).fadeOut('slow');
        $('#present_address').focus();
    }
    else if(contactNumber == "")
    {
        $('#contactNumberErrorMsg').html("Enter Contact Number.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').focus();
    }
    else if(number_count < 8)
    {
        $('#contactNumberErrorMsg').html("Cannot Be Less Than Eight.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').focus();
    }
    else if(email == "")
    {
        $('#emailErrorMsg').html("Enter Email.");
        $('#emailErrorMsg').show();
        $('#emailErrorMsg').delay(2000).fadeOut('slow');
    }
    else if(license_no == "")
    {
        $('#license_noErrorMsg').html("Enter License No.");
        $('#license_noErrorMsg').show();
        $('#license_noErrorMsg').delay(2000).fadeOut('slow');
    }
    else if (Location_Dzongkhag_Code == "")
    {
        $('#Location_Dzongkhag_CodeErrorMsg').html("Select Dzongkhag.");
        $('#Location_Dzongkhag_CodeErrorMsg').show();
        $('#Location_Dzongkhag_CodeErrorMsg').delay(2000).fadeOut('slow');
    }
    else if (location_code == "")
    {
        $('#location_codeErrorMsg').html("Select Location.");
        $('#location_codeErrorMsg').show();
        $('#location_codeErrorMsg').delay(2000).fadeOut('slow');
    }
    else if(exact_location == "")
    {
        $('#exact_locationErrorMsg').html("Enter Exact Location.");
        $('#exact_locationErrorMsg').show();
        $('#exact_locationErrorMsg').delay(2000).fadeOut('slow');
    }
    else if(inspectionDate == "")
    {
        $('#inspectionDateErrorMsg').html("Enter Inspection Date.");
        $('#inspectionDateErrorMsg').show();
        $('#inspectionDateErrorMsg').delay(2000).fadeOut('slow');
    }
    else if(applicationNo == "")
    {
        $.ajax({
            type : "POST",
            url : "{% url 'save_application_form' %}",
            data : $('#ante_post_mortem_form').serialize(),
            success : function(data)
            {
                $('#applicationNo').val(data.applNo);
                $('#application_no_details').val(data.applNo);
                $('#attachment_appNo').val(data.applNo);
                $('#submitMsg').show();
                setTimeout(function() {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                setTimeout(function() {
                    $('#pills-details').tab('show');
                }, 3000);
                $("#ante_post_button").html('Update');
            }
        });
    }
    else if(applicationNo != "")
    {
        $.ajax({
            type : "POST",
            url : "{% url 'update_application_form' %}",
            data : $('#ante_post_mortem_form').serialize(),
            success : function(data)
            {
                $('#applicationNo').val(data.applNo);
                $('#application_no_details').val(data.applNo);
                $('#attachment_appNo').val(data.applNo);
                $('#submitMsg').show();
                setTimeout(function() {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                setTimeout(function() {
                    $('#pills-details').tab('show');
                }, 3000);
            }
        });
    }
}



function save_mortem_attachment()
{
    var file_length = document.getElementById("document");
    if(file_length.value.length < 1)
    {
        $('#fileErrorMsg').html("Please Choose A File");
        $('#fileErrorMsg').show();
        $('#fileErrorMsg').delay(2000).fadeOut('slow');
    }
    else
    {
        var fileName = document.getElementById('document').files[0].name;
        var fd = new FormData();
        var file = document.getElementById('document').files[0];
        fd.append('document', file);
        token_value=$("input[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup
        ({
            beforeSend: function(xhr, settings)
            {
                xhr.setRequestHeader("X-CSRFToken", token_value);
            }
        });
        $.ajax({
        type : "POST",
        url : "{% url 'add_mortem_file' %}",
        data : fd,
        dataType: 'json',
        contentType: false,
        processData: false,
        success : function(data)
        {
            if (data.form_is_valid)
            {
                var file_url = data.file_url
                var appNo = $('#applicationNo').val();
                $.ajax
                ({
                    type : "POST",
                    url : "{% url 'add_mortem_file_name' %}",
                    data : {'appNo':appNo , 'filename':fileName, 'file_url':file_url},
                    success : function(responseText)
                    {
                        $('#attachmentModal').modal('hide');
                        $('#file-attachment-mortem').html(responseText);
                        $('.modal-backdrop').remove();
                        $('#attachment_form')[0].reset();
                    }
                });
            }
            else
            {
                $('#fileErrorMsg').html("File Already Exists With Same Name. Please Upload Another File");
                $('#fileErrorMsg').show();
                $('#fileErrorMsg').delay(2000).fadeOut('slow');
            }
        }
        });
    }
}

function show_modal()
{
    $('#add_mortem_details').modal('show');
}

function show_mortem_attachment_modal()
{
    $('#attachmentModal').modal('show');
}


function save_mortem_details()
    {
        var Species = $('#Species').val();
        var Nos = $('#Nos').val();
        var qty = $('#qty').val();

        if(Species == "")
        {
            $('#SpeciesErrorMsg').html("Select Species.");
            $('#SpeciesErrorMsg').show();
            $('#SpeciesErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(Nos == "")
        {
            $('#NosErrorMsg').html("Enter Number.");
            $('#NosErrorMsg').show();
            $('#NosErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(qty == "")
        {
            $('#qtyErrorMsg').html("Enter Quantity.");
            $('#qtyErrorMsg').show();
            $('#qtyErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            $.ajax({
                type : "POST",
                url : "{% url 'save_mortem_details' %}",
                data : $('#mortem_details_form').serialize(),
                success : function(responseText) {
                   $('#add_mortem_details').modal('hide');
                   $('#mortem_details').html(responseText);
                   $('#pills-details').tab('show');
                   $('.modal-backdrop').remove();
                   $('#mortem_details_form')[0].reset();
                }
            });
        }
    }

function validateemailId(emailId)
{
    var pattern=/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;
    var no=emailId.match(pattern);

    if(no==null)
    {
        $('#emailErrorMsg').html("<span class='alert alert-danger'>The email Id is Not valid");
        $('#email').val("");
        $('#emailErrorMsg').show();
        $('#emailErrorMsg').delay(2000).fadeOut('slow');
    }else{
     $('#emailErrorMsg').hide();
    }

}

function checkContact(value)
{
    var firstDigit = value.charAt(0);
    var secondDigit = value.charAt(1);

    if(firstDigit != 7 && firstDigit != 1){
        $('#contactNumberErrorMsg').html("Must Start with either 1 or 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 1 && secondDigit != 6 && secondDigit != 7){
        $('#contactNumberErrorMsg').html("Second Digit Must Start with either 6 or 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 7 && secondDigit == 6){
        $('#contactNumberErrorMsg').html("Second Digit Cannot be 6.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 7 && secondDigit != 7){
        $('#contactNumberErrorMsg').html("Second Digit Must Start with 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }

}

function save_mortem()
{
    $('#mortem-file-attach').tab('show');
}

function getCitizenDetails(cidNo)
{
    $.ajax({
    type : "GET",
    url : "{% url 'get_citizen_details' %}",
    data :{'cidNo':cidNo},
    success : function(data)
    {
        const myObj =data.response;
        if(myObj.citizenDetailsResponse.citizenDetail == undefined)
        {
            $('#name').val("");
            $('#dzongkhag').val("");
            $('#gewog').val("");
            $('#village').val("");
            $('#cid').val("");
            $('#cidErrorMsg').html("Invalid CID.Try With Another one");
            $('#cidErrorMsg').show();
            $('#cidErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            var firstName = myObj.citizenDetailsResponse.citizenDetail[0].firstName
            var middleName = myObj.citizenDetailsResponse.citizenDetail[0].middleName
            var lastName = myObj.citizenDetailsResponse.citizenDetail[0].lastName
            if (middleName == null) {
                    middleName = "";
                }
            var CitizenName = firstName + " " + middleName + " " + lastName;

            var dzongkhagName = myObj.citizenDetailsResponse.citizenDetail[0].dzongkhagName
            var villageName = myObj.citizenDetailsResponse.citizenDetail[0].villageName
            var gewogName = myObj.citizenDetailsResponse.citizenDetail[0].gewogName
            $('#name').val(CitizenName);
            $('#dzongkhag').val(dzongkhagName);
            $('#gewog').val(gewogName);
            $('#village').val(villageName);
        }
    }
});
}

function populateDetails(Record_Id, Species, Nos, Quantity, Description, Application_No)
{
    $('#edit_mortem_record_id').val(Record_Id);
    $('#edit_Species').val(Species);
    $('#edit_Nos').val(Nos);
    $('#edit_qty').val(Quantity);
    $('#edit_remarks').val(Description);
    $('#edit_application_no').val(Application_No);
    $('#edit_mortem_details').modal('show');
}

function getLocation(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_location_nursery' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data) {
            $('#location_code').html(data);
        }
    });
}

function load_mortem_details()
{
    var applicationNo = $('#applicationNo').val();
    if(applicationNo == "")
    {
        $("#pills-details").prop('disabled', true);
        $("#mortem-file-attach").prop('disabled', true);
    }
    else if(applicationNo != "")
    {
        $("#pills-details").prop('disabled', false);
        $("#mortem-file-attach").prop('disabled', false);
    }
}

function load_details()
{
    var appNo = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'ante_post_mortem_details' %}",
        data :{'appNo':appNo},
        success : function(response)
        {
            $('#mortem_details').html(response);
        }
    });
}

function load_attachment_details()
{
    var appNo = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'ante_post_mortem_attachment' %}",
        data :{'appNo':appNo},
        success : function(response)
        {
            $('#file-attachment-mortem').html(response);
        }
    });
}

function check_qty(qty)
{
    if(qty == 0)
    {
        $('#qtyErrorMsg').html("Must Be Greater Than Zero.");
        $('#qtyErrorMsg').show();
        $('#qtyErrorMsg').delay(2000).fadeOut('slow');
        $('#qty').val("");
    }
    else
    {
        $('#qtyErrorMsg').hide();
    }
}

function check_no(no)
{
    if(no == 0)
    {
        $('#NosErrorMsg').html("Must Be Greater Than Zero.");
        $('#NosErrorMsg').show();
        $('#NosErrorMsg').delay(2000).fadeOut('slow');
        $('#Nos').val("");
    }
    else
    {
        $('#NosErrorMsg').hide();
    }
}

function check_edit_qty(qty)
{
    if(qty == 0)
    {
        $('#edit_qtyErrorMsg').html("Must Be Greater Than Zero.");
        $('#edit_qtyErrorMsg').show();
        $('#edit_qtyErrorMsg').delay(2000).fadeOut('slow');
        $('#edit_qty').val("");
    }
    else
    {
        $('#edit_qtyErrorMsg').hide();
    }
}

function check_edit_no(no)
{
    if(no == 0)
    {
        $('#edit_NosErrorMsg').html("Must Be Greater Than Zero.");
        $('#edit_NosErrorMsg').show();
        $('#edit_NosErrorMsg').delay(2000).fadeOut('slow');
        $('#edit_Nos').val("");
    }
    else
    {
        $('#edit_NosErrorMsg').hide();
    }
}
</script>
{% endblock %}