{% load static %}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% for application_details in application_details %}
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Application Type</label>
                        </div>
                        {% if application_details.Application_Type == 'Animal' %}
                            <div class="col-sm-4 justify-content-center">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Animal</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Fish</span>
                                </label>
                            </div>
                        {% else %}
                            <div class="col-sm-4 justify-content-center">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Animal</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Fish</span>
                                </label>
                            </div>
                        {% endif %}
                        <div class="col-sm-2">
                            <label class="form-label">Import Type</label>
                        </div>
                        {% if application_details.Import_Type == 'Individual' %}
                            <div class="col-sm-4 justify-content-center">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Individual</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Commercial</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Institution</span>
                                </label>
                            </div>
                        {% elif application_details.Import_Type == 'Commercial' %}
                            <div class="col-sm-4 justify-content-center">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Individual</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Commercial</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Institution</span>
                                </label>
                            </div>
                        {% else %}
                            <div class="col-sm-4 justify-content-center">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Individual</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Commercial</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Institution</span>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Nationality</label>
                        </div>
                        {% if application_details.Nationality == 'Bhutanese' %}
                            <div class="col-sm-4 justify-content-center">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Bhutanese</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Non-Bhutanese</span>
                                </label>
                            </div>
                        {% else %}
                            <div class="col-sm-4 justify-content-center">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Bhutanese</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Non-Bhutanese</span>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                    <br>
                        <div id="plant_details">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="regNo">License Number</label>
                                        <input type="text" class="form-control" id="regNo" name="regNo" value="{{application_details.License_No}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="business_name">Business Name</label>
                                        <input type="text" class="form-control" id="business_name" name="companyName" value="{{application_details.Business_Name }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cid">Applicant CID</label>
                                        <input type="number"  class="form-control" id="cid" name="cid_number" value="{{ application_details.CID  }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name">Applicant Name</label>
                                        <input type="text" class="form-control" id="name" name="Name" value="{{ application_details.Applicant_Name }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="presentAddress">Present Address</label>
                                        <textarea class="form-control" rows="3" id="presentAddress" name="presentAddress" disabled>{{ application_details.Present_Address }}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="contactNumber">Contact Number</label>
                                        <input type="number" class="form-control" id="contactNumber"  name="contactNo" value="{{ application_details.Contact_No }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" value="{{ application_details.Email }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="supplier">Name And Address Supplier</label>
                                        <textarea class="form-control" rows="3" id="supplier" name="supplier" disabled>{{ application_details.Name_And_Address_Supplier }}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="conveyanceMeans">Means of Conveyance </label>
                                        <select class="form-control form-control" id="conveyanceMeans" name="conveyanceMeans" disabled>
                                            <option value="">-SELECT-</option>
                                            {% if application_details.Conveyance_Means == "Air" %}
                                            <option value="Air" selected>Air</option>
                                             <option value="Vehicular">Vehicular</option>
                                            {% else %}
                                             <option value="Air">Air</option>
                                            <option value="Vehicular" selected>Vehicular</option>
                                            {% endif%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="entryPlace">Place Of Entry</label>
                                         <select class="form-control">
                                            <option value="">--SELECT--</option>
                                            {% for location in location %}
                                                    <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="finalDestination">Final Destination</label>
                                        <input type="text" class="form-control" id="finalDestination" name="final_Destination" value="{{ application_details.Final_Destination  }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="expectedDate">Expected Arrival Date</label>
                                        <input type="text" class="form-control date-picker flatpickr-input active" id="expectedDate" name="expected_Date"  value="{{ application_details.Expected_Arrival_Date}}">
                                    </div>
                                    <div class="alert alert-danger" id="dateErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                    <span class="px-2 small text-muted font-weight-bold text-muted form-label">Product</span>
                                    <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                            </div>
                            <br>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Particulars</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for import in details %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{import.Particulars}}</td>
                                            <td>{{import.Company_Name}}</td>
                                            <td>{{import.Description}}</td>
                                            <td>{{import.Unit}}</td>
                                            <td>{{import.Quantity}}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="6" class="text-center">No Data</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                    <span class="px-2 small text-muted font-weight-bold text-muted form-label">File</span>
                                    <span class="px-1 small text-muted font-weight-bold text-muted form-label">Attachments</span>
                                <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                            </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for file_attach in file %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{file_attach.Attachment}}</td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                  <td colspan="3" class="text-center">No Data</td>
                                                </tr>
                                       {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="entryPlace">Point Of Entry</label>
                                <select class="form-control" name="entry_point"  id="entryPlace">
                                    <option value="">--SELECT--</option>
                                    {% for location in location_details %}
                                            <option value="{{ location.Field_Office_Id }}">{{ location.Field_Office }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Date picker</label>
                            <input type="text" class="form-control date-picker flatpickr-input active" id="date" name="date"  placeholder="Pick a date" readonly="readonly">
                        </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                <label for="remarks">Remarks</label>
                                <textarea class="form-control" rows="3" id="remarks" name="remarks"></textarea>
                            </div>
                        </div>
                     </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
