<style>
form, input, select, textarea{
    color: black !important;
}
</style>
<form method="post" id="applicationForm">
    {% csrf_token %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for application_details in application_details %}
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-label">Application Type</label>
                                </div>
                                {% if application_details.Application_Type == 'Animal' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Animal" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Animal</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Fish" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Fish</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Poultry" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Poultry</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Semen" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Semen</span>
                                        </label>
                                        <div class="alert alert-danger" id="applicationTypeErrorMsg" style="display:none"></div>
                                    </div>
                                {% elif application_details.Application_Type == 'Fish' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Animal" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Animal</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Fish" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Fish</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Poultry" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Poultry</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Semen" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Semen</span>
                                        </label>
                                    </div>
                                {% elif application_details.Application_Type == 'Poultry' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Animal" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Animal</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Fish" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Fish</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Poultry" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Poultry</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Semen" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Semen</span>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Animal" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Animal</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Fish" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Fish</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Poultry" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Poultry</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="Application_Type" class="custom-control-input" value="Semen" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Semen</span>
                                        </label>
                                    </div>
                                {% endif %}
                                <div class="col-sm-2">
                                    <label class="form-label">Import Type</label>
                                </div>
                                {% if application_details.Import_Type == 'Individual' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% elif application_details.Import_Type == 'Commercial' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                        <br>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-label">Nationality</label>
                                </div>
                                {% if application_details.Nationality == 'Bhutanese' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Bhutanese</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Non-Bhutanese</span>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Bhutanese</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Non-Bhutanese</span>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                        <br>
                            {% if application_details.Import_Type == 'Individual' and application_details.Nationality == 'Bhutanese'%}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="cid">Applicant CID</label>
                                            <input type="number"  class="form-control" id="cid" name="cid_number" value="{{ application_details.CID  }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name">Applicant Name</label>
                                            <input type="text" class="form-control" id="name" name="Name" value="{{ application_details.Applicant_Name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="presentAddress">Present Address</label>
                                            <textarea class="form-control" rows="3" id="presentAddress" name="presentAddress" disabled>{{ application_details.Present_Address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{ application_details.Dzongkhag_Code }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{ application_details.Gewog_Code }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{ application_details.Village_Code }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{ application_details.Contact_No }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control"  value="{{ application_details.Email }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Farm Source</label>
                                            <input type="text" class="form-control" value="{{application_details.Purpose }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Exporter’s name and address</label>
                                            <textarea class="form-control" disabled>{{application_details.Name_And_Address_Supplier }}</textarea>
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Place of Entry</label>
                                            <select class="form-control" disabled>
                                                {% for location in location %}
                                                    <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Location_Code %}selected{% endif %}>{{ location.Location_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Quarantine Facility Requested</label>
                                            <input type="text" class="form-control"  value="{{application_details.Quarantine_Facilities }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Final Destination</label>
                                             <input type="text" class="form-control" value="{{application_details.Final_Destination }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Expected Date for Arrival</label>
                                             <input type="text" class="form-control" value="{{application_details.Expected_Arrival_Date }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            {% elif application_details.Import_Type == 'Individual' and application_details.Nationality == 'Non-Bhutanese' %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Passport No</label>
                                            <input type="text" class="form-control" value="{{ application_details.Passport_Number }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" value="{{ application_details.Applicant_Name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Present Address</label>
                                            <textarea class="form-control" rows="3" disabled>{{ application_details.Present_Address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{ application_details.Contact_No }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control"  value="{{ application_details.Email }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Farm Source</label>
                                            <input type="text" class="form-control" value="{{application_details.Purpose }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Exporter’s name and address</label>
                                            <textarea class="form-control" disabled>{{application_details.Name_And_Address_Supplier }}</textarea>
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Place of Entry</label>
                                            <select class="form-control"disabled>
                                                {% for location in location %}
                                                    <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Location_Code %}selected{% endif %}>{{ location.Location_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Quarantine Facility Requested</label>
                                            <input type="text" class="form-control"  value="{{application_details.Quarantine_Facilities }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Final Destination</label>
                                             <input type="text" class="form-control" value="{{application_details.Final_Destination }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Expected Date for Arrival</label>
                                             <input type="text" class="form-control" value="{{application_details.Expected_Arrival_Date }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="presentAddress">Present Address</label>
                                            <textarea class="form-control" rows="3" disabled>{{ application_details.Present_Address }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{ application_details.Contact_No }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control"  value="{{ application_details.Email }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="regNo">License Number</label>
                                            <input type="text" class="form-control" id="regNo" name="regNo" value="{{application_details.License_No}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="business_name">Business Name</label>
                                            <input type="text" class="form-control" id="business_name" name="companyName" value="{{application_details.Business_Name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Farm Source</label>
                                            <input type="text" class="form-control" value="{{application_details.Purpose }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Exporter’s name and address</label>
                                            <textarea class="form-control" disabled>{{application_details.Name_And_Address_Supplier }}</textarea>
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Place Of Entry</label>
                                            <select class="form-control" disabled>
                                                <option value="">--SELECT--</option>
                                                {% for location in location %}
                                                        <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Quarantine Facility Requested</label>
                                            <input type="text" class="form-control"  value="{{application_details.Quarantine_Facilities }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Place of Entry</label>
                                            <select class="form-control"disabled>
                                                {% for location in location %}
                                                    <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Location_Code %}selected{% endif %}>{{ location.Location_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Final Destination</label>
                                             <input type="text" class="form-control" value="{{application_details.Final_Destination }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Expected Date for Arrival</label>
                                             <input type="text" class="form-control" value="{{application_details.Expected_Arrival_Date }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    {% endfor %}
                            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                    <span class="px-2 small text-muted font-weight-bold text-muted form-label">Product</span>
                                    <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                                <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                            </div>
                            <br>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Species</th>
                                        <th scope="col">Breed</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Sex</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for import in import %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{import.Species}}</td>
                                            <td>{{import.Breed}}</td>
                                            <td>{{import.Age}}</td>
                                            <td>{{import.Sex}}</td>
                                            <td>{{import.Description}}</td>
                                            <td>{{import.Quantity}}</td>
                                            <td>{{import.Remarks}}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="8" class="text-center">No Data</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            </div>
                        <br>
                        <div class="modal-footer justify-content-between">
                            <div class="col-md-6">
                                <select class="form-control" name="forwardTo"  id="forwardTo">
                                    <option value="">--SELECT INSPECTOR--</option>
                                    {% for inspector_list in inspector_list %}
                                            <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="float-right">
                                {% for application_details in application_details %}
                                    <button type="button" class="btn btn-primary" onclick="forwardApplication('{{ application_details.Application_No }}')"> Forward </button>
                                {% endfor %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                             <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                                Application Forwarded Successfully
                            </div>
                        </div>
                        <div class="alert alert-danger" id="forwardToErrorMsg" style="display:none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>