<div class="table-responsive">
    <table id="import-data-table" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Export Permit No/th>
                <th scope="col">Approved Date</th>
                <th scope="col">Validity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% now "Y-m-d" as todays_date %}
                {% for payment_details in payment_details %}
                    {% for application_details in application_details %}
                        {% if application_details.Application_No == payment_details.Application_No %}
                            {% if todays_date < application_details.Validity or payment_details.Receipt_No == None %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{application_details.Export_Permit_No}}</td>
                                    <td>{{application_details.Approve_Date|date:"d-m-Y"}}</td>
                                    <td>{{application_details.Validity|date:"d-m-Y"}}</td>
                                    <td>Invalid</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{application_details.Export_Permit_No}}</td>
                                    <td>{{application_details.Approve_Date|date:"d-m-Y"}}</td>
                                    <td>{{application_details.Validity|date:"d-m-Y"}}</td>
                                    <td><button  class="btn btn-default btn-border" type="button" onclick="print_certificate('LEC','{{application_details.Application_No}}')"><i class="zmdi zmdi-print"></i></button></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(function ()
    {
        $('#import-data-table').DataTable();
    });
</script>