
<style>
option {
    background-color: black !important;
}
</style>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Movement Permit For Live Animal and Animal Product</h4>
    </div>
    <div class="card-body">
        <form method="post" id="permitForm">
        {% csrf_token %}

            <div class="row align-left">
                <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-application" role="tab" aria-controls="pills-home" aria-selected="true" onclick="loadPageDetails()">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-details-tab" data-toggle="pill" href="#pills-details" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_details()">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-file" data-toggle="pill" href="#file-attachment" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="plant_attachment()">Attach File</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-application" role="tabpanel" aria-labelledby="pills-home-tab">
                </div>
                <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
                </div>
                <div class="tab-pane fade show active" id="file-attachment" role="tabpanel" aria-labelledby="pills-file">
                </div>
            </div>
        </form>
    </div>
</div>