{% load static %}
<style>
form, input, select, textarea{
    color: black !important;
}
</style>
<form method="post" id="inspection_call_form">
    {% csrf_token %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for application_details in application_details %}
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-label">Import Type</label>
                                </div>
                                {% if application_details.Import_Type == 'Individual' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% elif application_details.Import_Type == 'Commercial' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                            <div id="applicant_details">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Applicant CID</label>
                                            <input type="number" class="form-control" value="{{ application_details.CID  }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" value="{{ application_details.Applicant_Name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Present Address</label>
                                            <textarea class="form-control"disabled>{{ application_details.Present_Address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.Dzongkhag_Code}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.Gewog_Code}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.Village_Code}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{application_details.Contact_No}}" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" value="{{application_details.Email}}" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Operation</label>
                                            <input type="text" class="form-control" value="{{application_details.Operation_Type}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="OperationErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">License Number</label>
                                            <input type="text" class="form-control" value="{{application_details.License_No}}" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Country of origin of food</label>
                                            <input type="text" class="form-control" value="{{application_details.Origin_Country_Food}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="Origin_Source_ProductsErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <label class="form-label" style="margin-bottom: 4px;padding-right: 60px;">Country of Transit</label>
                                        {% if application_details.Transit_Country == 'Yes' %}
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" name="country_of_transit" class="custom-control-input" checked>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Yes</span>
                                                    </label>&nbsp;
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" name="country_of_transit" class="custom-control-input" disabled>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">No</span>
                                                    </label>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" name="country_of_transit" class="custom-control-input" disabled>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Yes</span>
                                                    </label>&nbsp;
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" name="country_of_transit" class="custom-control-input" checked>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">No</span>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    {% if application_details.Transit_Country == 'Yes' %}
                                        <div class="col-md-4" id="transit_country">
                                            <div class="form-group">
                                                <label class="form-label">Name Of Country</label>
                                                <input type="text" class="form-control" value="{{application_details.Country_Of_Transit}}" disabled>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="conveyanceMeans">Means of Conveyance </label>
                                            <select class="form-control form-control" id="conveyanceMeans" name="conveyanceMeans" disabled>
                                                <option value="">-SELECT-</option>
                                                {% if application_details.Conveyance_Means == "Air" %}
                                                <option value="Air" selected>Air</option>
                                                 <option value="Vehicular">Vehicular</option>
                                                {% else %}
                                                 <option value="Air">Air</option>
                                                <option value="Vehicular" selected>Vehicular</option>
                                                {% endif%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Place of Entry</label>
                                            <select class="form-control" disabled>
                                                {% for location in field_list %}
                                                        <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                        <div class="alert alert-danger" id="Place_of_ExitErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Final Destination</label>
                                            <input type="text" class="form-control"  value="{{ application_details.Final_Destination }}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="Final_DestinationErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Expected Arrival Date</label>
                                            <input type="text" class="form-control date-picker flatpickr-input active" value="{{ application_details.Expected_Arrival_Date}}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                    <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted form-label">Product</span>
                                        <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                                    <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                </div>
                                <br>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Common Name</th>
                                            <th scope="col">Product Category</th>
                                            <th scope="col">Product Characteristics</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Exporter Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for import in details %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{import.Common_Name}}</td>
                                                <td>{{import.Product_Category}}</td>
                                                <td>{{import.Product_Characteristics}}</td>
                                                <td>{{import.Quantity}}</td>
                                                <td>{{import.Unit}}</td>
                                                <td>{{import.Exporter_Type}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                              <td colspan="7" class="text-center">No Data</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                    <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted form-label">File</span>
                                        <span class="px-1 small text-muted font-weight-bold text-muted form-label">Attachments</span>
                                    <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                </div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">File</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for file_attach in file %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td><a href='{{file_attach.File_Path}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                      <td colspan="3" class="text-center">No Data</td>
                                                    </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Actual Point Of Entry <font color="red">*</font></label>
                                    <select class="form-control" name="entry_point"  id="entryPlace">
                                        <option value="">--SELECT--</option>
                                        {% for location in location_details %}
                                                <option value="{{ location.Field_Office_Id }}">{{ location.Field_Office }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="entryPlaceErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Date For Inspection <font color="red">*</font></label>
                                    <input type="date" name="date" id="date" class="form-control">
                                </div>
                                <div class="alert alert-danger" id="dateErrorMsg" style="display:none"></div>
                            </div>
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Remarks</label>
                                    <textarea class="form-control" rows="3" id="remarks" name="remarks"></textarea>
                                </div>
                            </div>
                         </div>
                        {% endfor %}
                        <div id="messageDiv" class="alert alert-info" role="alert" style="display:none;">
                            Application Submitted
                        </div>
                        <div id="rejectMsg" class="alert alert-info" role="alert" style="display:none;">
                            Application Rejected
                        </div>
                        {% for application_details in application_details %}
                            <input type="hidden" name="application_No" value="{{application_details.Application_No}}">
                            <input type="hidden" name="service_code" value="FIP">
                            <div class="card-action text-center">
                                <button type="button" id="approve_button" class="btn btn-flat btn-primary" onclick="update_details()">
                                    <i class="ace-icon fa fa-check"></i>
                                    &nbsp;&nbsp;Submit
                                </button>
                                <button type="button" class="btn btn-flat btn-danger" data-dismiss="modal">
                                    <i class="ace-icon fa fa-times"></i>
                                    &nbsp;&nbsp;Cancel
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</form>
<script>
$(function(){
    var today = new Date().toISOString().split('T')[0];
    $('#date')[0].setAttribute('min', today);
});
    function update_details()
    {
        var entryPlace = $('#entryPlace').val();
        var date = $('#date').val();

        if(entryPlace == "")
        {
            $('#entryPlaceErrorMsg').html("Select Entry Point.");
            $('#entryPlaceErrorMsg').show();
            $('#entryPlaceErrorMsg').delay(2000).fadeOut('slow');
            $('#entryPlace').focus();
        }
        else if(date == "")
        {
            $('#dateErrorMsg').html("Select Date For Inspection.");
            $('#dateErrorMsg').show();
            $('#dateErrorMsg').delay(2000).fadeOut('slow');
            $('#date').focus();
        }
        else
        {
            $.ajax({
                type : "POST",
                url : "{% url 'update_inspection_call_details' %}",
                data : $('#inspection_call_form').serialize(),
                success : function(response) {
                    $('#messageDiv').show();
                    setTimeout(function() {
                        $("#messageDiv").hide('blind', {}, 500)
                    }, 2000);
                    setTimeout(function() {
                        $('#import_detailsModal').modal('hide');
                    }, 3000);
                    setTimeout(function() {
                        location.reload();
                    }, 3000);
                }
            });
        }
    }
</script>