{% load static %}
<style>
form, input, select, textarea{
    color: black !important;
}
#loader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}
</style>
<form method="post" id="applicationForm">
    {% csrf_token %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                    {% for application_details in application_details %}
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="form-label">Import Type</label>
                            </div>
                            {% if application_details.Import_Type == 'Individual' %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Commercial</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Institution</span>
                                    </label>
                                </div>
                            {% elif application_details.Import_Type == 'Commercial' %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Commercial</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Institution</span>
                                    </label>
                                </div>
                            {% else %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Commercial</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Institution</span>
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        {% if application_details.Import_Type == 'Individual' %}
                        <div id="applicant_details">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Applicant CID</label>
                                        <input type="number" class="form-control" value="{{ application_details.CID  }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" value="{{ application_details.Applicant_Name }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Present Address</label>
                                        <textarea class="form-control"disabled>{{ application_details.Present_Address }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Dzongkhag_Code}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Gewog_Code}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Village_Code}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Operation</label>
                                        <select class="form-control" disabled>
                                            {% if application_details.Operation_Type == "Import Only"%}
                                                <option value="Import Only" selected>Import Only</option>
                                                <option value="Further Processing">Import for further Processing</option>
                                            {% else %}
                                                <option value="Import Only">Import Only</option>
                                                <option value="Further Processing" selected>Import for further Processing</option>
                                            {% endif %}
                                         </select>
                                    </div>
                                    <div class="alert alert-danger" id="OperationErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                {% if application_details.License_No %}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">License Number</label>
                                            <input type="text" class="form-control" value="{{application_details.License_No}}" readonly="readonly">
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Country of origin of food</label>
                                        <input type="text" class="form-control" value="{{application_details.Origin_Country_Food}}" disabled>
                                    </div>
                                    <div class="alert alert-danger" id="Origin_Source_ProductsErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <label class="form-label" style="margin-bottom: 4px;padding-right: 60px;">Country of Transit</label>
                                    <div class="form-group">
                                        <div class="form-check">
                                            {% if application_details.Transit_Country == "Yes" %}
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" checked>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Yes</span>
                                                </label>&nbsp;
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" disabled>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">No</span>
                                                </label>
                                            {% else %}
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" disabled>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Yes</span>
                                                </label>&nbsp;
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" checked>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">No</span>
                                                </label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if application_details.Transit_Country == "Yes" %}
                                    <div class="col-md-4" id="transit_country">
                                        <div class="form-group">
                                            <label class="form-label">Name Of Country</label>
                                            <input type="text" class="form-control" value="{{application_details.Country_Of_Transit}}" disabled>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Means of Conveyance </label>
                                        <select class="form-control form-control" id="conveyanceMeans" name="conveyanceMeans" disabled>
                                            <option value="">-SELECT-</option>
                                            {% if application_details.Conveyance_Means == "By Air" %}
                                            <option value="By Air" selected>By Air</option>
                                             <option value="By Road">By Road</option>
                                            {% else %}
                                             <option value="By Air">By Air</option>
                                            <option value="By Road" selected>By Road</option>
                                            {% endif%}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Place of Entry</label>
                                        <select class="form-control" disabled>
                                            {% for location in location %}
                                                <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                    <div class="alert alert-danger" id="Place_of_ExitErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Final Destination</label>
                                        <input type="text" class="form-control" disabled value="{{ application_details.Final_Destination  }}">
                                    </div>
                                    <div class="alert alert-danger" id="Final_DestinationErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Expected Arrival Date</label>
                                        <input type="text" class="form-control date-picker flatpickr-input active" disabled  value="{{ application_details.Expected_Arrival_Date}}">
                                    </div>
                                    <div class="alert alert-danger" id="dateErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div id="applicant_details_com">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Present Address</label>
                                        <textarea class="form-control"disabled>{{ application_details.Present_Address }}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Operation</label>
                                        <select class="form-control" disabled>
                                            {% if application_details.Operation_Type == "Import Only"%}
                                                <option value="Import Only" selected>Import Only</option>
                                                <option value="Further Processing">Import for further Processing</option>
                                            {% else %}
                                                <option value="Import Only">Import Only</option>
                                                <option value="Further Processing" selected>Import for further Processing</option>
                                            {% endif %}
                                         </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">License Number</label>
                                        <input type="text" class="form-control" value="{{application_details.License_No}}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Country of origin of food</label>
                                        <input type="text" class="form-control" value="{{application_details.Origin_Country_Food}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <label class="form-label" style="margin-bottom: 4px;padding-right: 60px;">Country of Transit</label>
                                    <div class="form-group">
                                        <div class="form-check">
                                            {% if application_details.Transit_Country == "Yes" %}
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" checked>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Yes</span>
                                                </label>&nbsp;
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" disabled>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">No</span>
                                                </label>
                                            {% else %}
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" disabled>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Yes</span>
                                                </label>&nbsp;
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" checked>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">No</span>
                                                </label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if application_details.Transit_Country == "Yes" %}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name Of Country</label>
                                            <input type="text" class="form-control" value="{{application_details.Country_Of_Transit}}" disabled>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Means of Conveyance </label>
                                        <select class="form-control form-control"  disabled>
                                            <option value="">-SELECT-</option>
                                            {% if application_details.Conveyance_Means == "By Air" %}
                                            <option value="By Air" selected>By Air</option>
                                             <option value="By Road">By Road</option>
                                            {% else %}
                                             <option value="By Air">By Air</option>
                                            <option value="By Road" selected>By Road</option>
                                            {% endif%}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Place of Entry</label>
                                        <select class="form-control" disabled>
                                            {% for location in location %}
                                                <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Final Destination</label>
                                        <input type="text" class="form-control" disabled value="{{ application_details.Final_Destination  }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Expected Arrival Date</label>
                                        <input type="text" class="form-control date-picker flatpickr-input active" disabled  value="{{ application_details.Expected_Arrival_Date}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Product</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Common Name</th>
                                    <th scope="col">Product Category</th>
                                    <th scope="col">Product Characteristics</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Exporter Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for import in details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{import.Common_Name}}</td>
                                        <td>{{import.Product_Category}}</td>
                                        <td>{{import.Product_Characteristics}}</td>
                                        <td>{{import.Quantity}}</td>
                                        <td>{{import.Unit}}</td>
                                        <td>{{import.Exporter_Type}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="7" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">File</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Attachments</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">File</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for file_attach in file %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href='{{file_attach.File_Path}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Validity Period (If Approve - No Of Days) <font color="red">*</font></label>
                                    <input type="text" class="form-control" name="validity" id="validity" onkeypress="return isNumberKey(event)" onchange="check_validity(this.value)">
                                </div>
                                <div class="alert alert-danger" id="validityErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Remarks(If Reject Please Fill THe Remarks)</label>
                                    <textarea class="form-control" rows="3" id="remarks" name="remarks"></textarea>
                                </div>
                                <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Special Terms And Conditions(If Applicable)</label>
                                    <textarea class="form-control" rows="3" id="terms" name="terms"></textarea>
                                </div>
                                <div class="alert alert-danger" id="termsErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div id="loader" style="display:none">
                            <img src="{% static 'assets/img/ajax-loader.gif' %}" alt="processing..." />
                        </div>
                        <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                            Application Approved
                        </div>
                        <div id="rejectMsg" class="alert alert-info" role="alert" style="display:none;">
                            Application Rejected
                        </div>
                        {% for application_details in application_details %}
                            <div class="card-action text-center">
                                <button type="button" class="btn btn-primary" onclick="fo_fip_import_approve('{{ application_details.Application_No }}')"> Approve </button>
                                <button type="button" class="btn btn-danger" onclick="fo_fip_import_reject('{{ application_details.Application_No }}')"> Reject </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </div>
</form>

<script>
    function fo_fip_import_approve(application_id)
    {
        remarks = $('#remarks').val();
        validity = $('#validity').val();
        terms = $('#terms').val();
        if(validity == "")
        {
            $('#validityErrorMsg').html("Enter Validity.");
            $('#validityErrorMsg').show();
            $('#validityErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            $("#loader").show();
            $.ajax({
                type : "POST",
                url : "{% url 'approve_fo_fip_import' %}",
                data :{'application_id':application_id ,'remarks':remarks,'validity':validity,'terms':terms, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success : function(data) {
                    $("#loader").hide();
                    $('#submitMsg').show();
                    setTimeout(function()
                    {
                        $("#submitMsg").hide('blind', {}, 500)
                    }, 2000);
                    setTimeout(function()
                    {
                        $('#import_detailsModal').modal('hide');
                    }, 3000);
                    setTimeout(function() {
                        window.location.href = '{% url 'dashboard' %}';
                    }, 3000);

                }
            });
        }
    }
    function fo_fip_import_reject(application_id)
    {

        remarks = $('#remarks').val();

        if(remarks == "")
        {
            $('#remarksErrorMsg').html("Remarks Cannot Be Empty.");
            $('#remarksErrorMsg').show();
            $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            $("#loader").show();
            $.ajax({
                type : "POST",
                url : "{% url 'reject_fo_fip_import' %}",
                data :{'application_id':application_id ,'remarks':remarks, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success : function(data) {
                    $("#loader").hide();
                    $('#rejectMsg').show();
                    setTimeout(function()
                    {
                        $("#rejectMsg").hide('blind', {}, 500)
                    }, 2000);
                    setTimeout(function()
                    {
                        $('#import_detailsModal').modal('hide');
                    }, 3000);
                    setTimeout(function() {
                        window.location.href = '{% url 'dashboard' %}';
                    }, 3000);
                }
            });
        }
    }

    function check_validity(validity)
    {
        if(validity == 0)
        {
            $('#validityErrorMsg').html("Must Be Greater Than Zero.");
            $('#validityErrorMsg').show();
            $('#validityErrorMsg').delay(2000).fadeOut('slow');
            $('#validity').val("");
        }
        else
        {
            $('#validityErrorMsg').hide();
        }
    }
</script>