{% load static %}
{% load mathfilters %}
<style>
form, input, select, textarea{
    color: black !important;
}
</style>
<div class="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    Application Details
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="form-label">Import Type</label>
                            </div>
                            {% if application_details.Import_Type == 'Individual' %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Commercial</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Institution</span>
                                    </label>
                                </div>
                            {% elif application_details.Import_Type == 'Commercial' %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Commercial</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Institution</span>
                                    </label>
                                </div>
                            {% else %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Commercial</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Institution</span>
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div id="applicant_details">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Applicant CID</label>
                                        <input type="number" class="form-control" value="{{ application_details.CID  }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" value="{{ application_details.Applicant_Name }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Present Address</label>
                                        <textarea class="form-control"disabled>{{ application_details.Present_Address }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Dzongkhag_Code}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Gewog_Code}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Village_Code}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Operation</label>
                                        <select class="form-control" disabled>
                                            {% if application_details.Operation_Type == "Import Only"%}
                                                <option value="Import Only" selected>Import Only</option>
                                                <option value="Further Processing">Import for further Processing</option>
                                            {% else %}
                                                <option value="Import Only">Import Only</option>
                                                <option value="Further Processing" selected>Import for further Processing</option>
                                            {% endif %}
                                         </select>
                                    </div>
                                    <div class="alert alert-danger" id="OperationErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                {% if application_details.License_No %}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">License Number</label>
                                            <input type="text" class="form-control" value="{{application_details.License_No}}" readonly="readonly">
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Country of origin of food</label>
                                        <input type="text" class="form-control" value="{{application_details.Origin_Country_Food}}" disabled>
                                    </div>
                                    <div class="alert alert-danger" id="Origin_Source_ProductsErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <label class="form-label" style="margin-bottom: 4px;padding-right: 60px;">Country of Transit</label>
                                    <div class="form-group">
                                        <div class="form-check">
                                            {% if application_details.Transit_Country == "Yes" %}
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" checked>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Yes</span>
                                                </label>&nbsp;
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" disabled>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">No</span>
                                                </label>
                                            {% else %}
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" disabled>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Yes</span>
                                                </label>&nbsp;
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" name="country_of_transit" class="custom-control-input" checked>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">No</span>
                                                </label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if application_details.Transit_Country == "Yes" %}
                                    <div class="col-md-4" id="transit_country">
                                        <div class="form-group">
                                            <label class="form-label">Name Of Country</label>
                                            <input type="text" class="form-control" value="{{application_details.Country_Of_Transit}}" disabled>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Means of Conveyance </label>
                                        <select class="form-control form-control" id="conveyanceMeans" name="conveyanceMeans" disabled>
                                            <option value="">-SELECT-</option>
                                            {% if application_details.Conveyance_Means == "Air" %}
                                            <option value="Air" selected>Air</option>
                                             <option value="Vehicular">Vehicular</option>
                                            {% else %}
                                             <option value="Air">Air</option>
                                            <option value="Vehicular" selected>Vehicular</option>
                                            {% endif%}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Place of Entry</label>
                                        <select class="form-control" disabled>
                                            {% for location in field_office %}
                                                    <option value="{{ location.Location_Code }}" {% if application_details.Place_Of_Entry == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                    <div class="alert alert-danger" id="Place_of_ExitErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Final Destination</label>
                                        <input type="text" class="form-control" disabled value="{{ application_details.Final_Destination  }}">
                                    </div>
                                    <div class="alert alert-danger" id="Final_DestinationErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Expected Arrival Date</label>
                                        <input type="text" class="form-control date-picker flatpickr-input active" disabled  value="{{ application_details.Expected_Arrival_Date}}">
                                    </div>
                                    <div class="alert alert-danger" id="dateErrorMsg" style="display:none"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Inspection Details
                </a>
            </div>
            <div id="collapseThree" class="active" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                <div class="card-body">
                    <div id="import-details">
                        <table id="details-table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Common Name</th>
                                    <th scope="col">Product Category</th>
                                    <th scope="col">Product Characteristics</th>
                                    <th scope="col">Exporter Type</th>
                                    <th scope="col">Approved Quantity</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Quantity Balance</th>
                                    <th scope="col">Quantity Released</th>
                                    <th scope="col">Remarks</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for import in import %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{import.Common_Name}}</td>
                                        <td>{{import.Product_Category}}</td>
                                        <td>{{import.Product_Characteristics}}</td>
                                        <td>{{import.Exporter_Type}}</td>
                                        <td>{{import.Quantity}}</td>
                                        <td>{{import.Unit}}</td>
                                        <td>{{ import.Quantity_Balance}} </td>
                                        <td>{{import.Quantity_Released}}</td>
                                        <td>{{import.Remarks}}</td>
                                        <td>
                                            <button type="button" class="btn btn-info"
                                            onclick="populateEditDetails('{{ import.Common_Name }}', '{{import.Product_Category}}', '{{import.Product_Characteristics}}',
                                            '{{import.Exporter_Type}}', '{{import.Quantity}}', '{{import.Unit}}', '{{import.Application_No}}','{{import.Record_Id}}', '{{import.Quantity_Balance_1}}', '{{import.Quantity_Balance}}')">
                                            <i class="zmdi zmdi-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="6" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <hr>
                    <div class="card-tools">
                        <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="openDecisionModal()">
                            <span class="btn-label">
                                <i class="fa fa-print"></i>
                            </span>
                            Add
                        </a>
                    </div>
                    <br>
                    <div id="details">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Current Observation</th>
                                    <th scope="col">Decision Conformity Statement</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for import_lp in import_lp_permit %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{import.Current_Observation}}</td>
                                        <td>{{import.Decision_Conformity}}</td>
                                        <!--<td>
                                            <button type="button"
                                            class="btn btn-primary btn&#45;&#45;icon btn-sm js-edit"
                                            data-url="{% url 'edit_decision' import.Record_Id %}">
                                            <i class="zmdi zmdi-edit"></i>
                                            </button>
                                        </td>-->
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="4" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Client </span>&nbsp;&nbsp;&nbsp;
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    {% for application_details in application_details %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Actual Point Of Entry <font color="red">*</font></label>
                                    <select class="form-control" disabled>
                                        {% for location in field_office %}
                                                <option value="{{ location.Location_Code }}" {% if application_details.Actual_Point_Of_Entry == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Requested Date For Inspection <font color="red">*</font></label>
                                    <input type="text" name="date" id="date" class="form-control" value="{{ application_details.Proposed_Inspection_Date }}" disabled>
                                </div>
                            </div>
                            {% if application_details.Inspection_Request_Remarks%}
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Remarks</label>
                                        <textarea class="form-control" rows="3" disabled>{{application_details.Inspection_Request_Remarks}}</textarea>
                                    </div>
                                </div>
                            {% endif %}
                         </div>
                    {% endfor %}
                    <br>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;"> Inspection </span>&nbsp;&nbsp;&nbsp;
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label">Details</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Inspection Team Leader <font color="red">*</font></label>
                                <select class="form-control" name="teamLeader"  id="teamLeader">
                                    <option value="">--SELECT TEAM LEADER--</option>
                                    {% for inspector_list in inspector_list %}
                                        <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="alert alert-danger" id="teamLeaderErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="insTeam">Inspection Team <font color="red">*</font></label>
                                <textarea class="form-control" id="insTeam" rows="2"></textarea>
                            </div>
                            <div class="alert alert-danger" id="insTeamErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date Of Inspection <font color="red">*</font></label>
                                <input type="date" class="form-control" id="dateOfInspection" name="dateOfInspection">
                            </div>
                            <div class="alert alert-danger" id="dateOfInspectionErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Remarks (If Any)</label>
                                <textarea class="form-control" id="remarks" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="alert alert-success" id="approve_Msg" style="display:none"></div>
                    <div id="loader" style="display:none">
                        <img src="{% static 'assets/img/ajax-loader.gif' %}" alt="processing..." />
                    </div>
                    <div class="card-action text-center">
                        {% for application_details in application_details %}
                            <button type="button" class="btn btn-flat btn-primary" onclick="submit_details('{{application_details.Application_No}}')">
                                <i class="ace-icon fa fa-check"></i>
                                &nbsp;&nbsp;Submit
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="addModal" class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Current Observation</label>
                                    <textarea class="form-control" id="currentObservation" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="conveyanceMeans">Decision Conformity Statement </label>
                                    <textarea class="form-control" id="decisionConform" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-flat btn-primary" onclick="add_details_ins('{{ application_details.Application_No }}')">
                            <i class="ace-icon fa fa-check"></i>
                            &nbsp;&nbsp;Add
                        </button>
                        <button type="button" class="btn btn-primary" onclick="closeModal()">Close Modal</button>
                     </div>
                  </div>
            </div>
        </div>
</div>
<form method="post" id="food_permit_details_form">
    {% csrf_token %}
    <input type="hidden" id="applicationNo" name="applicationNo">
    <div class="modal fade" id="permit_details_model" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <input type="hidden" id="balance_quantity_1">
                                <input type="hidden" id="import_record_id" name="import_record_id">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Common Name <font color="red">*</font></label>
                                        <input type="text" name="Common_Name" class="form-control" id="Common_Name" disabled>
                                        <div class="alert alert-danger" id="common_nameErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Product Category <font color="red">*</font></label>
                                        <input type="text" name="Product_Category" class="form-control" id="Product_Category" disabled>
                                        <div class="alert alert-danger" id="product_categoryErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Product Characteristics <font color="red">*</font></label>
                                        <textarea class="form-control" id="characteristics" name="characteristics" disabled></textarea>
                                        <div class="alert alert-danger" id="characteristicsErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Quantity <font color="red">*</font></label>
                                        <input type="number" name="qty" class="form-control" id="qty" disabled>
                                        <div class="alert alert-danger" id="qtyErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-label">Unit</label>
                                        <input type="text" name="unit" class="form-control" id="unit" disabled>
                                        <div class="alert alert-danger" id="unitErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <label>Type Of Exporter <font color="red">*</font></label><br>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="Export_Type" class="custom-control-input" id="Producer" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Producer</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" name="Export_Type" class="custom-control-input" id="Exporter" disabled>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Exporter</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Quantity Released</label>
                                            <input type="text" class="form-control" id="qty_approved" name="qty_approved" onchange="get_balance_import(this.value)">
                                        </div>
                                        <div class="alert alert-danger" id="certified_qtyErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Quantity Balance</label>
                                            <input type="text" class="form-control" id="qty_balance" name="qty_balance" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Remarks</label>
                                            <textarea class="form-control" id="import_remarks" name="import_remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="update_permit_details_form()">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="modal-decision">
    <div class="modal-dialog modal-lg">
      <div class="modal-content edit">

      </div>
    </div>
</div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
$(function(){
    var today = new Date().toISOString().split('T')[0];
    $('#dateOfInspection')[0].setAttribute('min', today);
});

function openDecisionModal()
{
    $('#addModal').modal('show');
}

function closeModal()
{
    $("#addModal").modal('hide');
}

function add_details_ins(application_id)
{
    currentObservation = $('#currentObservation').val();
    decisionConform = $('#decisionConform').val();

    $.ajax({
        type : "GET",
        url : "{% url 'food_details_ins_import' %}",
        data :{'application_id':application_id,'currentObservation':currentObservation,'decisionConform':decisionConform},
        success : function(data) {
            $('#details').html(data);
            $('#details').show();
            $('#addModal').modal('hide');
        }
    });
}

function submit_details(application_id)
{

    Inspection_Leader = $('#teamLeader').val();
    Inspection_Team = $('#insTeam').val();
    remarks = $('#remarks').val();
    dateOfInspection = $('#dateOfInspection').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else
    {
        $("#loader").show();
        $.ajax({
            type : "GET",
            url : "{% url 'submit_fip_application' %}",
            data :{'application_no':application_id , 'Inspection_Leader':Inspection_Leader ,'Inspection_Team':Inspection_Team ,'remarks':remarks , 'dateOfInspection':dateOfInspection},
            success : function(data) {
                $("#loader").hide();
                $('#approve_Msg').html("Application Approved.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                 setTimeout(function() {
                    $('#application-details-modal').modal('hide');
                }, 2000);
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function populateEditDetails(Common_Name, Product_Category, Product_Characteristics, Exporter_Type, Quantity, Unit, Application_No, Record_Id,Quantity_Balance_1, Quantity_Balance)
{
    $('#import_record_id').val(Record_Id);
    $('#Common_Name').val(Common_Name);
    $('#Product_Category').val(Product_Category);
    $('#characteristics').val(Product_Characteristics);
    $('#qty').val(Quantity);
    $('#unit').val(Unit);
    $('#applicationNo').val(Application_No);
    $('#balance_quantity_1').val(Quantity_Balance_1);
    $('#balance_quantity').val(Quantity_Balance);
    $('#permit_details_model').modal('show');
    if(Exporter_Type == 'Producer')
    {
        $("#Producer").prop("checked", true);
    }
    else
    {
        $("#Exporter").prop("checked", true);
    }
}

function get_balance_import(qty)
{
    var balance_quantity_1 = $('#balance_quantity_1').val();
    var number_released = $('#qty_approved').val();
    var quantity = balance_quantity_1 - number_released
    if(quantity < 0)
    {
        $('#certified_qtyErrorMsg').html("quantity certified cannot be more than quantity requested.");
        $('#certified_qtyErrorMsg').show();
        $('#certified_qtyErrorMsg').delay(2000).fadeOut('slow');
        $('#qty_approved').val("");
    }
    else
    {
        $('#qty_balance').val(quantity);
    }
}

function update_permit_details_form()
{
    $.ajax({
        type : "POST",
        url : "{% url 'update_import_details_food' %}",
        data : $('#food_permit_details_form').serialize(),
        success : function(response) {
            $('#import-details').html(response);
            $('#permit_details_model').modal('hide');
            $('.modal-backdrop').remove();
        }
    });
}
</script>