{% for import in import %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{import.Particulars}}</td>
        <td>{{import.Company_Name}}</td>
        <td>{{import.Description}}</td>
        <td>{{import.Quantity}}</td>
        <td>{{import.Unit}}</td>
        <td>{{ balance }}</td>
        <td>{{import.Quantity_Released}}</td>
        <td>{{import.Remarks}}</td>
        <td>
            <button type="button"
            class="btn btn-primary btn--icon btn-sm js-edit-details"
            data-url="{% url 'edit_lp_inspector_details' import.Record_Id %}">
            <i class="zmdi zmdi-edit"></i>
            </button>
        </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="text-center">No Data</td>
    </tr>
{% endfor %}