<form method="post" id="permitForm">
    {% for application_details in application_details %}
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>License No</label>
                    <input type="text" class="form-control" id="p_License_No" name="p_License_No">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>CID</label>
                    <input type="text" class="form-control" id="p_cid" name="p_cid">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Exporter Name</label>
                    <input type="text" class="form-control" id="p_Exporter_Name" name="p_Exporter_Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Exporter Address</label>
                    <textarea class="form-control" id="p_Exporter_Address" name="p_Exporter_Address" rows="3"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Contact Number</label>
                    <input type="number" class="form-control" id="p_Contact_No" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="p_Contact_No" maxlength="8" onkeypress="return isNumberKey(event)">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="p_Email" name="p_Email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Dzongkhag</label>
                    <select class="form-control" name="p_Dzongkhag_Code"  id="p_Dzongkhag_Code" disabled>
                        <option value="">--SELECT DZONGKHAG--</option>
                        {% for dzongkhag in dzongkhag %}
                                <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Location</label>
                    <select class="form-control">
                        <option value="">--SELECT LOCATION--</option>
                        {% for location in location %}
                            <option value="{{ location.Location_Code }}">{{ location.Location_Name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Name & Address of Consignee</label>
                    <textarea class="form-control" id="p_Name_Address" name="p_Name_Address" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Botanical name of the commodity</label>
                    <input type="text" class="form-control" id="p_Botanical_Name" name="p_Botanical_Name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Description of the Commodity</label>
                    <textarea class="form-control" id="p_Description" name="p_Description" rows="3"></textarea>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Quantity (Gross Weight)</label>
                    <input type="text" class="form-control" id="p_Qty_Gross" name="p_Qty_Gross">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="clearfix mb-4" style="margin-bottom: 2.5rem!important;"></div>
                <div class="form-check text-center">
                    <label class="form-radio-label">
                        <input class="form-radio-input" type="radio" name="p_Unit_Gross"  value="MT(s)" >
                        <span class="form-radio-sign">MT(s)</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_Unit_Gross" value="Kg(s)">
                        <span class="form-radio-sign">Kg(s)</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_Unit_Gross" value="Gram(s)">
                        <span class="form-radio-sign">Gram(s)</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_Unit_Gross" value="Unit(s)">
                        <span class="form-radio-sign">Unit(s)</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Quantity (Net Weight)</label>
                    <input type="text" class="form-control" id="p_Qty_Net" name="p_Qty_Net">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="clearfix mb-4" style="margin-bottom: 2.5rem!important;"></div>
                <div class="form-check text-center">
                    <label class="form-radio-label">
                        <input class="form-radio-input" type="radio" name="p_Unit_Net"  value="MT(s)" >
                        <span class="form-radio-sign">MT(s)</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_Unit_Net" value="Kg(s)">
                        <span class="form-radio-sign">Kg(s)</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_Unit_Net" value="Gram(s)">
                        <span class="form-radio-sign">Gram(s)</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_Unit_Net" value="Unit(s)">
                        <span class="form-radio-sign">Unit(s)</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Country</label>
                <select class="form-control" name="p_Country_Code"  id="p_Country_Code">
                    <option value="">--SELECT COUNTRY--</option>
                    {% for country in country %}
                        <option value="{{ country.Country_Code }}">{{ country.Country_Name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Declared point of Entry</label>
                    <select class="form-control" name="p_Entry_Point"  id="p_Entry_Point">
                        <option value="">--SELECT--</option>
                        {% for entry_point in entry_point %}
                        <option value="{{ entry_point.Field_Office_Id }}">{{ entry_point.Field_Office }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Number of Packages</label>
                    <textarea class="form-control" id="p_Package_number" name="p_Package_number" rows="3"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Description of Packages</label>
                    <textarea class="form-control" id="p_Package_description" name="p_Package_description" rows="3"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Distinguishing Marks</label>
                    <input type="text" class="form-control" id="p_Distinguish_Marks" name="p_Distinguish_Marks">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Purpose/End Use</label>
            </div>
            <div class="col-sm-10 justify-content-center">
                <div class="form-check text-center">
                    <label class="form-radio-label">
                        <input class="form-radio-input" type="radio" name="p_purpose"  value="Propagation">
                        <span class="form-radio-sign">Propagation</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_purpose" value="Wood">
                        <span class="form-radio-sign">Wood</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_purpose" value="Industrial Products">
                        <span class="form-radio-sign">Industrial Products</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_purpose" value="Consumption">
                        <span class="form-radio-sign">Consumption</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_purpose" value="Dunnage">
                        <span class="form-radio-sign">Dunnage(Wooden packing material)</span>
                    </label>
                    <label class="form-radio-label ml-3">
                        <input class="form-radio-input" type="radio" name="p_purpose" value="laboratory">
                        <span class="form-radio-sign">Laboratory specimens, Micro organisms, Micro biological, Biocontrolagents</span>
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Mode of conveyance </label>
                    <select class="form-control form-control" id="p_conveyanceMeans" name="p_conveyanceMeans">
                        <option value="">-SELECT-</option>
                        <option value="Sea">Sea</option>
                        <option value="Air">Air</option>
                        <option value="Road">Road</option>
                        <option value="Rail">Rail</option>
                        <option value="Passenger">Passenger</option>
                    </select>
                </div>
                <div class="alert alert-danger" id="conveyanceMeansErrorMsg" style="display:none"></div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Conveyance Name</label>
                    <input type="text" class="form-control" id="p_Conveyance_Name" name="p_Conveyance_Name">
                </div>
                <div class="alert alert-danger" id="p_Conveyance_NameErrorMsg" style="display:none"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Additional Declaration (required by importing country)</label>
                    <textarea class="form-control" id="p_additional_declaration" name="p_additional_declaration" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                <span class="px-2 small text-muted font-weight-bold text-muted" style="margin-right: -11px;">Pre-</span>
                <span class="px-2 small text-muted font-weight-bold text-muted">Application</span>
                <span class="px-1 small text-muted font-weight-bold text-muted">Treatment</span>
            <span class="px-1 small text-muted font-weight-bold text-muted"> Details</span>
            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
        </div>
        <div class="row justify-content-center">
            <div class="form-check text-center">
                <label class="form-radio-label">
                    <input class="form-radio-input" type="radio" name="treatmentType"  value="Chemical" onclick="showOthers('Chemical')">
                    <span class="form-radio-sign">Chemical</span>
                </label>
                <label class="form-radio-label ml-3">
                    <input class="form-radio-input" type="radio" name="treatmentType" value="Irradiation" onclick="showOthers('Irradiation')">
                    <span class="form-radio-sign">Irradiation</span>
                </label>
                <label class="form-radio-label ml-3">
                    <input class="form-radio-input" type="radio" name="treatmentType" value="Hot Water" onclick="showOthers('Hot Water')">
                    <span class="form-radio-sign">Hot Water</span>
                </label>
                <label class="form-radio-label ml-3">
                    <input class="form-radio-input" type="radio" name="treatmentType" value="Vapour Heat" onclick="showOthers('Vapour Heat')">
                    <span class="form-radio-sign">Vapour Heat</span>
                </label>
                <label class="form-radio-label ml-3">
                    <input class="form-radio-input" type="radio" name="treatmentType" value="Cold Treatment" onclick="showOthers('Cold Treatment')">
                    <span class="form-radio-sign">Cold Treatment</span>
                </label>
                <label class="form-radio-label ml-3">
                    <input class="form-radio-input" type="radio" name="treatmentType" value="Others" onclick="showOthers('Others')">
                    <span class="form-radio-sign">Others</span>
                </label>
            </div>
        </div>
        <div class="row" id="others_pre" style="display:none">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Others</label>
                    <input type="text" class="form-control" id="p_others_pre" name="p_others_treatment">
                </div>
                <div class="alert alert-danger" id="p_others_preErrorMsg" style="display:none"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Chemical Name</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Treatment </label>
                    <select class="form-control form-control" onchange="showValue(this.value)">
                        <option value="">-SELECT-</option>
                        <option value="Fumigation">Fumigation</option>
                        <option value="Vehicular">Spray</option>
                        <option value="Seed treatment">Seed Treatment</option>
                        <option value="others">Others(Specify)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Concentration</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Others</label>
                    <input type="text" class="form-control" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Duration & Temperature</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Treated By</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Treatment Supervised By</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Additional Information</label>
                    <textarea rows="4" cols="50"></textarea>
                </div>
            </div>
        </div>
    {% endfor %}
</form>