<div class="card">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-tools">
                    <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="show_phyto_attachmentModal()">
                        <span class="btn-label">
                            <i class="fa fa-print"></i>
                        </span>
                        Add
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                   {% for file_attach in file_attach %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{file_attach.Attachment}}</td>
                                <td>
                                    <button type="button"
									    class="btn btn-danger btn-sm" onclick="DeleteAttachment('{{ file_attach.File_Id }}')">
									    <i class="zmdi zmdi-delete"></i>
								    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="3" class="text-center">No Data</td>
                            </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
</div>
<div class="card-action">
    <button type="button" class="btn btn-success" onclick="export_permit_save()">Submit</button>
</div>
<script>
function export_permit_save()
{
	$.ajax({
			type : "POST",
			url : "{% url 'save_export_permit' %}",
			data : $('#permitForm').serialize(),
			cache : false,
			dataType : "html",
			success : function(responseText)
			{
                location.reload();
			}
	});
}

function DeleteAttachment(id)
{
    var appNo = $('#agro_appNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'delete_file' %}",
        data :{'appNo':appNo , 'file_id': id},
        success : function(responseText)
        {
            $('#agro-file-attachment').html(responseText);
        }
    });
}
</script>