{% load static %}
<style>
form, input, select, textarea{
    color: black !important;
}
</style>
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    Collapsible Group Item #1
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                        <div id="applicant_details">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Trade License No</label>
                                            <input type="text"  class="form-control" value="{{ application_details.License_No}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Applicant CID</label>
                                            <input type="number" class="form-control" value="{{ application_details.CID}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name Of Exporter</label>
                                            <input type="text" class="form-control" value="{{ application_details.Exporters_Name}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.Dzongkhag_Code}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.Gewog_Code}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.Village_Code}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Exporter's Address</label>
                                            <textarea class="form-control" disabled>{{ application_details.Exporters_Address}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number"  class="form-control" value="{{ application_details.Contact_No}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" value="{{ application_details.Email}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                    <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Importer</span>&nbsp;&nbsp;&nbsp;
                                        <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                                    <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Importer’s Name</label>
                                            <input type="text" class="form-control" value="{{ application_details.Importer_Name}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Importer’s Address</label>
                                            <textarea class="form-control" disabled>{{ application_details.Importer_Address}}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Importing Country</label>
                                            <select class="form-control" name="importing_country" id="importing_country">
                                                <option value="">--SELECT--</option>
                                                {% for country in country %}
                                                    <option value="{{ country.Country_Code }}" {% if application_details.Importing_Country == country.Country_Code %}selected{% endif %}>{{ country.Country_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    </div>
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                    <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Consignment </span>&nbsp;&nbsp;&nbsp;
                                        <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                                    <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Product Name</label>
                                            <input type="number" class="form-control" value="{{ application_details.Product_Name}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Number Of Packages</label>
                                            <input type="number" class="form-control" value="{{ application_details.No_Of_Packages}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Description Of Package</label>
                                            <textarea class="form-control" disabled>{{ application_details.Description_Of_Packages}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Quantity</label>
                                            <input type="number" class="form-control" value="{{ application_details.Quantity}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Unit</label>
                                            <select class="form-control" disabled>
                                                {% for unit in unit %}
                                                    <option value="{{ unit.Unit }}" {% if application_details.Unit == unit.Unit %}selected{% endif %}>{{ unit.Unit }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Declared Point of Exit</label>
                                            <select class="form-control" disabled>
                                                <option value="">--SELECT--</option>
                                                {% for location in field_office %}
                                                    <option value="{{ location.Field_Office_Id }}" {% if application_details.Declared_Point_of_Exit == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Expected Date for Export</label>
                                             <input type="text" class="form-control" value="{{ application_details.Export_Expected_Date}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Propose Date for Inspection</label>
                                             <input type="text" class="form-control" value="{{ application_details.Proposed_Inspection_Date}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Purpose Of Export</label>
                                            <input type="text" class="form-control" value="{{ application_details.Purpose_Of_Export}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Consignment Location Dzongkhag</label>
                                            <select class="form-control" name="consignment_location_dzongkhag"  id="consignment_location_dzongkhag" onchange="getFromGewog(this.value)">
                                                {% for dzongkhag in dzongkhag %}
                                                    <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Consignment_Location_Dzongkhag == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                        {{ dzongkhag.Dzongkhag_Name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="alert alert-danger" id="consignment_location_dzongkhagErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Consignment Location Gewog</label>
                                            <select class="form-control" name="consignment_location_gewog"  id="consignment_location_gewog">
                                                {% for location in location %}
                                                    <option value="{{ location.Location_Code }}" {% if application_details.Consignment_Location_Gewog == location.Location_Code %}selected{% endif %}>{{ location.Location_Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="alert alert-danger" id="consignment_location_gewogErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Consignment Location</label>
                                            <input type="text" class="form-control" value="{{ application_details.Consignment_Location}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="consignment_locationErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                {% if application_details.additional_info != None %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Any Additional Information</label>
                                            <textarea class="form-control" name="additional_info" id="additional_info" rows="3"></textarea>
                                        </div>
                                        <div class="alert alert-danger" id="additional_infoErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Attachments
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for file_attach in file %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href='{{file_attach.File_Path}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Inspector Details
                </a>
            </div>
            <div id="collapseThree" class="active" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                <div class="card-body">
                    <form method="post" id="food_exportInsForm">
                        {% for application_details in application_details %}
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Product Name</label>
                                        <input type="number" class="form-control" value="{{ application_details.Product_Name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Quantity Requested</label>
                                        <input type="number" class="form-control" value="{{ application_details.Quantity}}" id="requested_qty" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Unit</label>
                                        <select class="form-control" disabled>
                                            {% for unit in unit %}
                                                <option value="{{ unit.Unit }}" {% if application_details.Unit == unit.Unit %}selected{% endif %}>{{ unit.Unit }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Quantity Certified</label>
                                    <input type="number" class="form-control" id="certified_qty" name="certified_qty" onchange="check_certified_qty(this.value)">
                                </div>
                                <div class="alert alert-danger" id="certified_qtyErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Unit</label>
                                    <select class="form-control" name="Unit_Net" id="Unit_Net">
                                        <option value="">--SELECT--</option>
                                        {% for unit in unit %}
                                            <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Quantity Rejected</label>
                                    <input type="number" class="form-control" id="rejected_qty" name="rejected_qty" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Unit</label>
                                    <select class="form-control" name="Unit_Rejected" id="Unit_Rejected">
                                        <option value="">--SELECT--</option>
                                        {% for unit in unit %}
                                            <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Reason For Rejection</label>
                                    <textarea class="form-control" id="rejection_reason" name="rejection_reason" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Inspection Team Leader <font color="red">*</font></label>
                                    <select class="form-control" name="Inspection_Leader"  id="teamLeader">
                                        <option value="">--SELECT TEAM LEADER--</option>
                                        {% for inspector_list in inspector_list %}
                                                <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="teamLeaderErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="insTeam">Inspection Team <font color="red">*</font></label>
                                    <textarea class="form-control" id="insTeam" name="Inspection_Team" rows="2"></textarea>
                                </div>
                                <div class="alert alert-danger" id="insTeamErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date Of Inspection <font color="red">*</font></label>
                                    <input type="text" class="form-control date-picker flatpickr-input active" id="dateOfInspection" name="dateOfInspection"  placeholder="Pick a date" readonly="readonly">
                                </div>
                                <div class="alert alert-danger" id="dateOfInspectionErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Validity Of Permit <font color="red">*</font></label>
                                    <input type="text" class="form-control" id="validity" name="validity" onkeypress="return isNumberKey(event)" onchange="check_validity(this.value)">
                                </div>
                                <div class="alert alert-danger" id="validityErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remarks(Required If Rejecting) <font color="red">*</font></label>
                                    <textarea class="form-control" id="remarks" name="remarks" rows="2"></textarea>
                                </div>
                                <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Special Terms(If Any)</label>
                                    <textarea class="form-control" id="terms" name="terms" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-success" id="approve_Msg" style="display:none"></div>
                        <hr>
                        {% for application_details in application_details %}
                        <input type="hidden" name="application_id" value="{{application_details.Application_No}}">
                            <div class="card-action text-center">
                                <button type="button" class="btn btn-flat btn-primary" onclick="approve_details()">
                                    <i class="ace-icon fa fa-times"></i>
                                    &nbsp;&nbsp;Approve
                                </button>
                                <button type="button" class="btn btn-flat btn-primary" onclick="reject_details()">
                                    <i class="ace-icon fa fa-times"></i>
                                    &nbsp;&nbsp;Reject
                                </button>
                                <button type="button" class="btn btn-flat btn-danger">
                                    <i class="ace-icon fa fa-times"></i>
                                    &nbsp;&nbsp;Cancel
                                </button>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
function isNumberKey(evt)
{
 var charCode = (evt.which) ? evt.which : event.keyCode
 if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;

 return true;
}

function approve_details()
{
    var Inspection_Leader = $('#teamLeader').val();
    var Inspection_Team = $('#insTeam').val();
    var dateOfInspection = $('#dateOfInspection').val();
    var validity = $('#validity').val();
    var remarks = $('#inspector_remarks').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else if(validity == "")
    {
        $('#validityErrorMsg').html("Select Date Of Inspection.");
        $('#validityErrorMsg').show();
        $('#validityErrorMsg').delay(2000).fadeOut('slow');
        $('#validity').focus();
    }
    else
    {
        $.ajax({
            type : "POST",
            url : "{% url 'approve_food_export' %}",
            data : $('#food_exportInsForm').serialize(),
            success : function(data) {
                $('#approve_Msg').html("Application Approved.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function reject_details()
{
    var Inspection_Leader = $('#teamLeader').val();
    var Inspection_Team = $('#insTeam').val();
    var dateOfInspection = $('#dateOfInspection').val();
    var remarks = $('#remarks').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else if(remarks == "")
    {
        $('#remarksErrorMsg').html("SEnter Remarks.");
        $('#remarksErrorMsg').show();
        $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        $('#remarks').focus();
    }
    else
    {
        $.ajax({
            type : "POST",
            url : "{% url 'reject_food_export' %}",
            data : $('#food_exportInsForm').serialize(),
            success : function(data) {
                $('#approve_Msg').html("Application Rejected.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function check_certified_qty(certified_qty)
{
    var requested_qty = $('#requested_qty').val()
    if(certified_qty > requested_qty)
    {
        $('#certified_qtyErrorMsg').html("quantity certified cannot be more than quantity requested.");
        $('#certified_qtyErrorMsg').show();
        $('#certified_qtyErrorMsg').delay(2000).fadeOut('slow');
        $('#certified_qty').val("");
         $('#rejected_qty').val("");
    }
    else
    {
        qty = requested_qty - certified_qty
        $('#rejected_qty').val(qty);
    }
}

function check_validity(validity)
{
    if(validity == 0)
    {
        $('#validityErrorMsg').html("Must Be Greater Than Zero.");
        $('#validityErrorMsg').show();
        $('#validityErrorMsg').delay(2000).fadeOut('slow');
        $('#validity').val("");
    }
    else
    {
        $('#validityErrorMsg').hide();
    }
}
</script>