{% load static %}
<style>
    .card {
    margin-bottom: 0rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
a {
    color: #e6e8ec;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
form, input, select, textarea{
    color: black !important;
}
#loader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}
.flatpickr-calendar {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 4px 18px rgb(0 0 0 / 50%);
    width: auto;
    margin-top: -4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(240 237 237 / 96%);
}
.flatpickr-time .flatpickr-am-pm, .flatpickr-time .numInputWrapper {
    height: auto;
    color: #121111;
}
</style>
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    Application Details
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-label">Application Type</label>
                                </div>
                                {% if application_details.Application_Type == 'A' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Animal</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Animal Product/Feeds</span>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Animal</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Animal Product/Feeds</span>
                                        </label>
                                    </div>
                                {% endif %}
                                <div class="col-sm-2">
                                    <label class="form-label">Import Type</label>
                                </div>
                                {% if application_details.Exporter_Type == 'Individual' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% elif application_details.Exporter_Type == 'Commercial' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Individual</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Commercial</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Institution</span>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                            <br>
                        {% if application_details.Exporter_Type == 'Individual' %}
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-label">Nationality</label>
                                </div>
                                {% if application_details.Nationality == 'Bhutanese' %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Bhutanese</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Non-Bhutanese</span>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-sm-4 justify-content-center">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Bhutanese</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Non-Bhutanese</span>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                            <br>
                            {% if application_details.Exporter_Type == 'Individual' and application_details.Nationality == 'Bhutanese'%}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Applicant CID</label>
                                            <input type="number"  class="form-control" id="cid" name="cid_number" value="{{ application_details.CID  }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Applicant Name</label>
                                            <input type="text" class="form-control" id="name" name="Name" value="{{ application_details.Applicant_Name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Present Address</label>
                                            <textarea class="form-control" rows="3" id="presentAddress" name="presentAddress" disabled>{{ application_details.Present_Address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{ application_details.Dzongkhag_Code }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{ application_details.Gewog_Code }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                            <input type="text" class="form-control" value="{{ application_details.Village_Code }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{ application_details.Contact_No }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control"  value="{{ application_details.Email }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Purpose</label>
                                            <input type="text" class="form-control" value="{{application_details.Purpose }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Origin of Source of Products</label>
                                            <input type="text" class="form-control" value="{{application_details.Origin_Source_Products }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Importer’s name and address</label>
                                            <textarea class="form-control" disabled>{{application_details.Importer_Name_Address }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Final Destination</label>
                                            <input type="text" class="form-control"  value="{{application_details.Final_Destination }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Place of Exit</label>
                                            <select class="form-control"disabled>
                                                {% for location in location %}
                                                    <option value="{{ location.Field_Office_Id }}" {% if application_details.Place_of_Exit == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Expected Date for Export</label>
                                             <input type="text" class="form-control" value="{{application_details.Export_Expected_Date }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Propose Date for Inspection</label>
                                             <input type="text" class="form-control" value="{{application_details.Proposed_Inspection_Date }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            {% elif application_details.Exporter_Type == 'Individual' and application_details.Nationality == 'Non-Bhutanese' %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="cid">Passport No</label>
                                            <input type="text" class="form-control" value="{{ application_details.Passport_No }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" value="{{ application_details.Applicant_Name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="presentAddress">Present Address</label>
                                            <textarea class="form-control" rows="3" disabled>{{ application_details.Present_Address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{ application_details.Contact_No }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control"  value="{{ application_details.Email }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Purpose</label>
                                            <input type="text" class="form-control" value="{{application_details.Purpose }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Origin of Source of Products</label>
                                            <input type="text" class="form-control" value="{{application_details.Origin_Source_Products }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Importer’s name and address</label>
                                            <textarea class="form-control" disabled>{{application_details.Importer_Name_Address }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Final Destination</label>
                                            <input type="text" class="form-control"  value="{{application_details.Final_Destination }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Place of Exit</label>
                                            <select class="form-control"disabled>
                                                {% for location in location %}
                                                    <option value="{{ location.Field_Office_Id }}" {% if application_details.Place_of_Exit == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Expected Date for Export</label>
                                             <input type="text" class="form-control" value="{{application_details.Export_Expected_Date }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Propose Date for Inspection</label>
                                             <input type="text" class="form-control" value="{{application_details.Proposed_Inspection_Date }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="presentAddress">Present Address</label>
                                            <textarea class="form-control" rows="3" disabled>{{ application_details.Present_Address }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{ application_details.Contact_No }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control"  value="{{ application_details.Email }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="regNo">License Number</label>
                                            <input type="text" class="form-control" id="regNo" name="regNo" value="{{application_details.License_No}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="business_name">Business Name</label>
                                            <input type="text" class="form-control" id="business_name" name="companyName" value="{{application_details.Business_Name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Purpose</label>
                                            <input type="text" class="form-control" value="{{application_details.Purpose }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Origin of Source of Products</label>
                                            <input type="text" class="form-control" value="{{application_details.Origin_Source_Products }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Importer’s name and address</label>
                                            <textarea class="form-control" disabled>{{application_details.Importer_Name_Address }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Final Destination</label>
                                            <input type="text" class="form-control"  value="{{application_details.Final_Destination }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Place of Exit</label>
                                            <select class="form-control"disabled>
                                                {% for location in location %}
                                                    <option value="{{ location.Field_Office_Id }}" {% if application_details.Place_of_Exit == location.Field_Office_Id %}selected{% endif %}>{{ location.Field_Office }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Expected Date for Export</label>
                                             <input type="text" class="form-control" value="{{application_details.Export_Expected_Date }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Propose Date for Inspection</label>
                                             <input type="text" class="form-control" value="{{application_details.Proposed_Inspection_Date }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFve">
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                    Export Details
                </a>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                        {% if application_details.Application_Type == 'AP' %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Particulars</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for import in details %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{details.Particulars}}</td>
                                            <td>{{details.Company_Name}}</td>
                                            <td>{{details.Description}}</td>
                                            <td>{{details.Unit}}</td>
                                            <td>{{details.Quantity}}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="6" class="text-center">No Data</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        {% else %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Species</th>
                                        <th scope="col">Breed</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Sex</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">No of Animals</th>
                                        <th scope="col">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for details in details %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            {% for species in species %}
                                                {% if species.Species_Id == details.Species %}
                                                    <td>{{species.Species_Name}}</td>
                                                {% endif %}
                                            {% endfor %}
                                            <td>{{details.Breed}}</td>
                                            <td>{{details.Age}}</td>
                                            <td>{{details.Sex}}</td>
                                            <td>{{details.Description}}</td>
                                            <td>{{details.No_Of_Animal}}</td>
                                            <td>{{details.Remarks}}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="8" class="text-center">No Data</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Attachments
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for file_attach in file %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href='{{file_attach.File_Path}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Inspector Details
                </a>
            </div>
            <div id="collapseThree" class="active" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                <div class="card-body">
                   <!-- <div class="card-tools">
                        <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="openDecisionModal()">
                            <span class="btn-label">
                                <i class="fa fa-print"></i>
                            </span>
                            Add
                        </a>
                    </div>
                    <br>
                    &lt;!&ndash;<div id="details">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Current Observation</th>
                                    <th scope="col">Decision Conformity</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for observation in observation %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{observation.Current_Observation}}</td>
                                        <td>{{observation.Decision_Conformity}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>&ndash;&gt;-->
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Inspection Team Leader <font color="red">*</font></label>
                                <select class="form-control" name="teamLeader"  id="teamLeader">
                                    <option value="">--SELECT TEAM LEADER--</option>
                                    {% for inspector_list in inspector_list %}
                                            <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="alert alert-danger" id="teamLeaderErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="insTeam">Inspection Team <font color="red">*</font></label>
                                <textarea class="form-control" id="insTeam" rows="2"></textarea>
                            </div>
                            <div class="alert alert-danger" id="insTeamErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date Of Inspection <font color="red">*</font></label>
                                <input type="date" class="form-control" id="dateOfInspection" name="date">
                            </div>
                             <div class="alert alert-danger" id="dateOfInspectionErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Inspection Time <font color="red">*</font></label>
                                <input type="text" class="form-control" id="insTime" name="insTime">
                            </div>
                            <div class="alert alert-danger" id="insTimeErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Validity Of Permit(No Of Days) <font color="red">*</font></label>
                                <input type="text" class="form-control" id="validity" name="validity" onkeypress="return isNumberKey(event)" onchange="check_validity(this.value)">
                            </div>
                            <div class="alert alert-danger" id="validityErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Remarks(Mandatory If Reject) <font color="red">*</font></label>
                                <textarea class="form-control" id="remarks" rows="2"></textarea>
                            </div>
                            <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="alert alert-info" id="approve_Msg" style="display:none"></div>
                    <hr>
                    <div id="loader" style="display:none">
                        <img src="{% static 'assets/img/ajax-loader.gif' %}" alt="processing..." />
                    </div>
                    {% for application_details in application_details %}
                        <div class="card-action text-center">
                            <button type="button" class="btn btn-flat btn-primary" onclick="approve_details('{{application_details.Application_No}}')">
                                <i class="ace-icon fa fa-check"></i>
                                &nbsp;&nbsp;Approve
                            </button>
                            <button type="button" class="btn btn-flat btn-primary" onclick="reject_details('{{application_details.Application_No}}')">
                                <i class="ace-icon fa fa-times"></i>
                                &nbsp;&nbsp;Reject
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="addModal" class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Observation</label>
                                    <textarea class="form-control" id="currentObservation" rows="2"></textarea>
                                </div>
                                <div class="alert alert-danger" id="currentObservationErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Action</label>
                                    <textarea class="form-control" id="decisionConform" rows="2"></textarea>
                                </div>
                                <div class="alert alert-danger" id="decisionConformErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        {% for application_details in application_details %}
                        <button type="button" class="btn btn-flat btn-primary" onclick="add_details_ins('{{ application_details.Application_No }}')">
                            <i class="ace-icon fa fa-times"></i>
                            &nbsp;&nbsp;Add
                        </button>
                        {% endfor %}
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close Modal</button>
                     </div>

                  </div>
            </div>
        </div>
    <div class="modal fade" id="modal-common">
        <div class="modal-dialog modal-lg">
          <div class="modal-content edit">

          </div>
        </div>
    </div>
    <div class="modal fade" id="modal-decision">
        <div class="modal-dialog modal-lg">
          <div class="modal-content edit">

          </div>
        </div>
    </div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
$(function()
{
    var today = new Date().toISOString().split('T')[0];
    $('#dateOfInspection')[0].setAttribute('min', today);
});
function isNumberKey(evt)
{
 var charCode = (evt.which) ? evt.which : event.keyCode
 if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;

 return true;
}
function openDecisionModal()
{
    $('#addModal').modal('show');
}

function closeModal()
{
    $("#addModal").modal('hide');
}

function add_details_ins(application_id)
{
    currentObservation = $('#currentObservation').val();
    decisionConform = $('#decisionConform').val();

    if(currentObservation == "")
    {
        $('#currentObservationErrorMsg').html("Enter Current Observation.");
        $('#currentObservationErrorMsg').show();
        $('#currentObservationErrorMsg').delay(2000).fadeOut('slow');
        $('#currentObservation').focus();
    }
    else if(decisionConform == "")
    {
        $('#decisionConformErrorMsg').html("Enter Decision Conformity Statement.");
        $('#decisionConformErrorMsg').show();
        $('#decisionConformErrorMsg').delay(2000).fadeOut('slow');
        $('#decisionConform').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'details_ins_lmp' %}",
            data :{'application_id':application_id,'currentObservation':currentObservation,'decisionConform':decisionConform},
            success : function(data) {
                $('#details').html(data);
                $('#details').show();
                $('#addModal').modal('hide');
            }
        });
    }
}

function approve_details(application_id)
{
    Inspection_Leader = $('#teamLeader').val();
    Inspection_Team = $('#insTeam').val();
    remarks = $('#remarks').val();
    dateOfInspection = $('#dateOfInspection').val();
    validity = $('#validity').val();
    insTime = $('#insTime').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else if(validity == "")
    {
        $('#validityErrorMsg').html("Enter Validity Of Permit.");
        $('#validityErrorMsg').show();
        $('#validityErrorMsg').delay(2000).fadeOut('slow');
        $('#validity').focus();
    }
    else if(insTime == "")
    {
        $('#insTimeErrorMsg').html("Select Inspection Time.");
        $('#insTimeErrorMsg').show();
        $('#insTimeErrorMsg').delay(2000).fadeOut('slow');
        $('#insTime').focus();
    }
    else
    {
        $("#loader").show();
        $.ajax({
            type : "GET",
            url : "{% url 'approve_application_export' %}",
            data :{'application_id':application_id , 'Inspection_Leader':Inspection_Leader ,'Inspection_Team':Inspection_Team ,'remarks':remarks ,
            'dateOfInspection':dateOfInspection, 'validity':validity, 'insTime':insTime},
            success : function(data) {
                $("#loader").hide();
                $('#approve_Msg').html("Application Approved.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function reject_details(application_id)
{


    remarks = $('#remarks').val();

    if(remarks == "")
    {
        $('#remarksErrorMsg').html("Enter Remarks.");
        $('#remarksErrorMsg').show();
        $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        $('#remarks').focus();
    }
    else
    {
        $("#loader").show();
        $.ajax({
            type : "GET",
            url : "{% url 'reject_application_export' %}",
            data :{'application_id':application_id ,'remarks':remarks},
            success : function(data) {
                $("#loader").hide();
                $('#approve_Msg').html("Application Rejected.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function check_validity(validity)
{
    if(validity == 0)
    {
        $('#validityErrorMsg').html("Must Be Greater Than Zero.");
        $('#validityErrorMsg').show();
        $('#validityErrorMsg').delay(2000).fadeOut('slow');
        $('#validity').val("");
    }
    else
    {
        $('#validityErrorMsg').hide();
    }
}
</script>