{% load static %}
<form method="post" id="applicationForm">
    {% csrf_token %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for application_details in application_details %}
                        <div id="applicant_details">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of the Meat Shop <font color="red">*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Meat_Shop_Name}}">
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">CID of the Owner <font color="red">*</font></label>
                                        <input type="number"  class="form-control" value="{{application_details.CID}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of the applicant/Owner <font color="red">*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Name_Owner}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email <font color="red">*</font></label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number <font color="red">*</font></label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Meat Shop Representative <font color="red">*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Representative}}">
                                    </div>
                                    <div class="alert alert-danger" id="name_managerErrorMsg" style="display:none"></div>
                                </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Licensing Criteria <font color="red">*</font></label>
                                        <select class="form-control">
                                            {% if application_details.License_Criteria == 'BAFRA GHP' %}
                                            <option selected>BAFRA GHP</option>
                                            <option>BAFRA GMP</option>
                                            {% else %}
                                            <option>BAFRA GHP</option>
                                            <option selected>BAFRA GMP</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Meat Shop Address <font color="red">*</font></label>
                                        <textarea class="form-control">{{application_details.Address}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag</label>
                                        <select class="form-control" disabled>
                                            {% for dzongkhag in dzongkhag %}
                                                <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Dzongkhag_Code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                    {{ dzongkhag.Dzongkhag_Name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog</label>
                                        <select class="form-control" disabled>
                                            {% for gewog in gewog %}
                                                <option value="{{ gewog.Gewog_Code }}"{% if application_details.Gewog_Code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village</label>
                                         <select class="form-control" disabled>
                                            {% for village in village %}
                                                <option value="{{ village.Village_Code }}" {% if application_details.Village_Code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Location</label>
                                        <select class="form-control" disabled>
                                            {% for location in location %}
                                                <option value="{{ location.Location_Code }}" {% if application_details.Location_Code == location.Location_Code %}selected{% endif %}>{{ location.Location_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">File</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Attachments</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">File</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for file_attach in file %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{file_attach.Attachment}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label"> Proposed Factory Inspection Date</label>
                                    <input type="text" class="form-control date-picker flatpickr-input active" id="date" name="date"  placeholder="Pick a date" readonly="readonly">
                                </div>
                                <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <br>
                        <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                            Application Forwarded
                        </div>
                        <div class="modal-footer justify-content-center">
                            <select class="form-control col-md-6" name="forwardTo"  id="forwardTo">
                                <option value="">--SELECT OIC--</option>
                                {% for oic_list in oic_list %}
                                        <option value="{{ oic_list.Field_Office_Id }}">{{ oic_list.Field_Office }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="forward_factory_application('{{ application_details.Application_No }}')"> Forward </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
    function forward_factory_application(application_id)
        {
            date = $('#date').val();
            forwardTo = $('#forwardTo').val();

            $.ajax({
                type : "POST",
                url : "{% url 'forward_factory_application' %}",
                data :{'application_id':application_id ,'forwardTo':forwardTo,'date':date, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success : function(data) {
                    $('#submitMsg').show();
                    setTimeout(function()
                    {
                        $("#submitMsg").hide('blind', {}, 500)
                    }, 2000);
                    setTimeout(function()
                    {
                        $('#import_detailsModal').modal('hide');
                    }, 3000);
                    setTimeout(function()
                    {
                         location.reload();
                    }, 3000);

                }
            });

        }
</script>