{% load static %}
<style>
    .card {
    margin-bottom: 0rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}

form, input, select, textarea{
    color: black !important;
}
.head {
    color: #e6e8ec;
}
</style>
<div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed head">
            Application Details
        </a>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
        <div class="card-body">
            {% for application_details in application_details %}
                <div id="applicant_details">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Name of the Meat Shop <font color="red">*</font></label>
                                <input type="text" class="form-control" value="{{application_details.Meat_Shop_Name}}" disabled>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">CID of the Owner <font color="red">*</font></label>
                                <input type="number"  class="form-control" value="{{application_details.CID}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Name of the applicant/Owner <font color="red">*</font></label>
                                <input type="text" class="form-control" value="{{application_details.Name_Owner}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Email <font color="red">*</font></label>
                                <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Contact Number <font color="red">*</font></label>
                                <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Meat Shop Representative <font color="red">*</font></label>
                                <input type="text" class="form-control" value="{{application_details.Representative}}" disabled>
                            </div>
                            <div class="alert alert-danger" id="name_managerErrorMsg" style="display:none"></div>
                        </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Licensing Criteria <font color="red">*</font></label>
                                <select class="form-control" disabled>
                                    {% if application_details.License_Criteria == 'BAFRA GHP/GMP' %}
                                        <option selected>BAFRA GHP/GMP</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Meat Shop Address <font color="red">*</font></label>
                                <textarea class="form-control" disabled>{{application_details.Address}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Dzongkhag</label>
                                <select class="form-control" disabled>
                                    {% for dzongkhag in dzongkhag %}
                                        <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Dzongkhag_Code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                            {{ dzongkhag.Dzongkhag_Name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Gewog</label>
                                <select class="form-control" disabled>
                                    {% for gewog in gewog %}
                                        <option value="{{ gewog.Gewog_Code }}"{% if application_details.Gewog_Code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Village</label>
                                 <select class="form-control" disabled>
                                    {% for village in village %}
                                        <option value="{{ village.Village_Code }}" {% if application_details.Village_Code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                    {% endfor %}
                                 </select>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingItems">
        <a class="collapsed head" data-toggle="collapse" href="#meatItems" aria-expanded="false" aria-controls="collapseTwo">
            Meat Items
        </a>
    </div>
    <div id="meatItems" class="collapse" role="tabpanel" aria-labelledby="headingItems" data-parent="#accordion" style="">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Meat Item</th>
                    </tr>
                </thead>
                <tbody>
                   {% for Meat_Item in details %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{Meat_Item.Meat_Item}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="3" class="text-center">No Data</td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed head" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Attachments
        </a>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                    </tr>
                </thead>
                <tbody>
                   {% for file_attach in file %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href='{{file_attach.File_Path}}' target="_blank">{{file_attach.Attachment}}</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="3" class="text-center">No Data</td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingFive">
        <a class="collapsed head" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            Feasibility Inspection Team Details
        </a>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
        <div class="card-body">
            <div id="inspection_team_details">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for import in inspection_team_details %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{import.Name}}</td>
                                <td>{{import.Designation}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="3" class="text-center">No Data</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingFour">
        <a class="collapsed head" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            Feasibility Team Formation
        </a>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
        <div class="card-body">
            <div id="team_details">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name Of Key Personal</th>
                            <th scope="col">Designation of Key Personal</th>
                            <th scope="col">Meeting (Date)</th>
                            <th scope="col">Meeting Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for import in team_details %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{import.Name}}</td>
                                <td>{{import.Designation}}</td>
                                <td>{{import.Meeting_Date|date:"d-m-Y"}}</td>
                                <td>{{import.Type}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="5" class="text-center">No Data</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed head" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Client Details
        </a>
    </div>
    <div id="collapseThree" class="active" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"> Proposed Factory Inspection Date <font color="red">*</font></label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>
                    <div class="alert alert-danger" id="dateErrorMsg" style="display:none"></div>
                </div>
            </div>
            <br>
            <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                Application Forwarded
            </div>
            <div class="modal-footer justify-content-center">
                {% for application_details in application_details %}
                    <button type="button" class="btn btn-primary" onclick="forward_factory_application('{{ application_details.Application_No }}')"> Forward </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
$(function()
{
    var today = new Date().toISOString().split('T')[0];
    $('#date')[0].setAttribute('min', today);
});

    function forward_factory_application(application_id)
        {
            date = $('#date').val();
            if(date == "")
            {
                $('#dateErrorMsg').html("Select Inspection Date.");
                $('#dateErrorMsg').show();
                $('#dateErrorMsg').delay(2000).fadeOut('slow');
                $('#date').focus();
            }
            else
            {
                $.ajax({
                type : "POST",
                url : "{% url 'forward_meat_shop_factory_application' %}",
                data :{'application_id':application_id , 'date':date, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success : function(data) {
                    $('#submitMsg').show();
                    setTimeout(function()
                    {
                        $("#submitMsg").hide('blind', {}, 500)
                    }, 2000);
                    setTimeout(function()
                    {
                        $('#import_detailsModal').modal('hide');
                    }, 3000);
                    setTimeout(function()
                    {
                         location.reload();
                    }, 3000);

                    }
                });
            }
        }
</script>