{% load static %}
<table id="inspection-details-table" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Requirement</th>
            <th scope="col">Clause No</th>
            <th scope="col">Concern</th>
            <th scope="col">Date</th>
            <th scope="col">Observations/ Findings</th>
            <th scope="col">Response/Actions Proposed By FBO</th>
            {% if inspection_details %}
                <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for import in inspection_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.Requirement}}</td>
                <td>{{import.Clause_No}}</td>
                <td id="my_cell">{{import.Concern}}</td>
                <td>{{import.Date|date:"d-m-Y"}}</td>
                <td>{{import.Observation}}</td>
                <td>{{import.FBO_Response}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn--icon btn-sm" onclick="populateForm('{{import.Record_Id}}','{{import.Requirement}}',
                    '{{import.Clause_No}}','{{import.Concern}}', '{{import.Observation}}', '{{import.FBO_Response}}', '{{import.Application_No}}')">
                    <i class="zmdi zmdi-edit"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="7" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<input type="hidden" id="count" value="{{message_count}}">
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
$(document).ready(function()
 {
    var row_count = $("#count").val();
    if(row_count > 0)
    {
        $("#approve_button").hide();
        $("#resubmit-btn").show();
    }
    else
    {
        $("#approve_button").show();
        $("#resubmit-btn").hide();
    }
 });
</script>