<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address Details</th>
            <th scope="col">Contact</th>
            <th scope="col">BAFRA License Number</th>
        </tr>
    </thead>
    <tbody>
        {% for import in fh_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.name}}</td>
                <td>{{import.address}}</td>
                <td>{{import.contact}}</td>
                <td>{{import.Liciense_Number}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>