<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Meat Item</th>
        </tr>
    </thead>
    <tbody>
        {% for meat_details in meat_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{meat_details.Meat_Item}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="2" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>