<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Food Handlers Name </th>
            <th scope="col">License Number</th>
        </tr>
    </thead>
    <tbody>
        {% for import in fh_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.FH_Name}}</td>
                <td>{{import.FH_License_No}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>