<style>
    form, input, select, textarea{
    color: black !important;
}
</style>
<form method="post" id="applicationForm">
    {% csrf_token %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for application_details in application_details %}
                            <div id="applicant_details">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name of the Meat Shop <font color="red">*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.meat_shop_name}}" disabled>
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">CID of the Owner <font color="red">*</font></label>
                                            <input type="number"  class="form-control" value="{{application_details.cid}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Name of the applicant/Owner <font color="red">*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.name_owner}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email <font color="red">*</font></label>
                                            <input type="email" class="form-control" value="{{application_details.email}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number <font color="red">*</font></label>
                                            <input type="number" class="form-control" value="{{application_details.contact_no}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Meat Shop Representative <font color="red">*</font></label>
                                            <input type="text" class="form-control" value="{{application_details.representative}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="name_managerErrorMsg" style="display:none"></div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Licensing Criteria <font color="red">*</font></label>
                                            <select class="form-control" disabled>
                                                {% if application_details.license_criteria == 'BAFRA GHP/GMP' %}
                                                    <option selected>BAFRA GHP/GMP</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Meat Shop Address <font color="red">*</font></label>
                                            <textarea class="form-control" disabled>{{application_details.address}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Dzongkhag</label>
                                            <select class="form-control" disabled>
                                                {% for dzongkhag in dzongkhag %}
                                                    <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.dzongkhag_code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                        {{ dzongkhag.Dzongkhag_Name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Gewog</label>
                                            <select class="form-control" disabled>
                                                {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}"{% if application_details.gewog_code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Village</label>
                                             <select class="form-control" disabled>
                                                {% for village in village %}
                                                    <option value="{{ village.Village_Code }}" {% if application_details.village_code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">Meat</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Items</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Meat_Item</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for Meat_Item in details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{Meat_Item.meat_item}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                <span class="px-2 small text-muted font-weight-bold text-muted form-label">File</span>
                                <span class="px-1 small text-muted font-weight-bold text-muted form-label">Attachments</span>
                            <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">File</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for file_attach in file %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href='{{file_attach.file_path}}' target="_blank">{{file_attach.attachment}}</a></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="3" class="text-center">No Data</td>
                                    </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                     {% for application_details in application_details %}
                        {% if application_details.Desired_FR_Inspection_Date %}
                            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                    <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Client </span>&nbsp;&nbsp;&nbsp;
                                    <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                                <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Desired Factory Inspection Date</label>
                                        <input type="text" class="form-control" value="{{ application_details.fr_inspection_date }}" readonly="readonly">
                                    </div>
                                </div>
                                {% if application_details.FR_Response %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Response From Client</label>
                                        <input type="text" class="form-control" value="{{ application_details.fr_response }}" readonly="readonly">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        {% elif application_details.FI_Response and application_details.Desired_FR_Inspection_Date == None %}
                            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                    <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Client </span>&nbsp;&nbsp;&nbsp;
                                    <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                                <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Desired Feasibility Inspection Date</label>
                                        <input type="text" class="form-control" value="{{ application_details.desired_fi_inspection_date }}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Response From Client</label>
                                        <input type="text" class="form-control" value="{{ application_details.fi_response }}" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                     {% endfor %}
                    <br>
                        <div class="modal-footer justify-content-center">
                            <select class="form-control col-md-6" name="forwardTo"  id="forwardTo">
                                <option value="">--SELECT INSPECTOR--</option>
                                {% for inspector_list in inspector_list %}
                                        <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                {% endfor %}
                            </select>
                            {% for application_details in application_details %}
                                <button type="button" class="btn btn-success" onclick="forwardFBRApplication('{{ application_details.application_no }}')"><i class="ace-icon fas fa-arrow-right"></i>&nbsp;&nbsp;Forward</button>
                            {% endfor %}
                            <button class="btn btn-flat btn-danger" data-dismiss="modal">
                                <i class="ace-icon fa fa-times"></i>
                                &nbsp;&nbsp;Cancel
                            </button>
                        </div>
                        <div class="alert alert-danger" id="forwardToErrorMsg" style="display:none"></div>
                        <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                            Application Forwarded Successfully
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
function forwardFBRApplication(application_id)
    {
        forwardTo = $('#forwardTo').val();
        if(forwardTo == "")
        {
            $('#forwardToErrorMsg').html("Select Inspector.");
            $('#forwardToErrorMsg').show();
            $('#forwardToErrorMsg').delay(2000).fadeOut('slow');
            $('#forwardTo').focus();
        }
        else
        {
            $.ajax({
            type : "POST",
            url : "{% url 'forward_meat_shop_application' %}",
            data :{'application_id':application_id ,'forwardTo':forwardTo, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success : function(data) {
                $('#application-details-modal').modal('hide');
                $('#submitMsg').show();
                setTimeout(function() {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
                setTimeout(function() {
                    $('#application-details-modal').modal('hide');
                }, 3000);
                setTimeout(function()
                {
                    location.reload();
                }, 3000);

                }
            });
        }
    }
</script>