{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    option
    {
        background-color: white !important;
    }
    .check {
    margin-bottom: 0;
    min-height: 2rem;
}
form, input, select, textarea{
    color: black !important;
}
</style>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Meat Shop Licensing</h4>
    </div>
    <div class="card-body">
        <form method="post" id="FBR_form">
        {% csrf_token %}
            <input type="hidden" name="application_no" id="applicationNo">
            <div class="row justify-content-left">
                <ul class="nav nav-pills nav-secondary" id="pills-mortem" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="check_meat_details()">Application Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="item-details" data-toggle="pill" href="#details" role="tab" aria-controls="pills-details" aria-selected="false" onclick="load_meat_details()">Meat Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="fbr-file-attach" data-toggle="pill" href="#file-attachment" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="load_meat_attachment()">File Attachment</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content mt-2 mb-3" id="pills-mortemContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div id="applicant_details">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name of the Meat Shop <font color="red">*</font></label>
                                    <input type="text" class="form-control" id="Business_Name" name="Business_Name">
                                </div>
                                <div class="alert alert-danger" id="Business_NameErrorMsg" style="display:none"></div>
                            </div>
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">CID of the Owner <font color="red">*</font></label>
                                    <input type="text" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" id="cid" name="cid" maxlength="11" onkeypress="return isNumberKey(event)" onchange="getCitizenDetails(this.value);">
                                </div>
                                <div class="alert alert-danger" id="cidErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name of the applicant/Owner <font color="red">*</font></label>
                                    <input type="text" class="form-control" id="name" name="Name" readonly="readonly">
                                </div>
                                <div class="alert alert-danger" id="nameErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email <font color="red">*</font></label>
                                    <input type="email" class="form-control" id="email" name="email" onchange="validateemailId(this.value)">
                                </div>
                                <div class="alert alert-danger" id="emailErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Contact Number <font color="red">*</font></label>
                                    <input type="number" class="form-control" id="contactNumber" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  name="contactNumber" maxlength="8" onkeypress="return isNumberKey(event)" onchange="checkContact(this.value)">
                                </div>
                                <div class="alert alert-danger" id="contactNumberErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Meat Shop Representative <font color="red">*</font></label>
                                    <input type="text" class="form-control" id="name_manager" name="name_manager">
                                </div>
                                <div class="alert alert-danger" id="name_managerErrorMsg" style="display:none"></div>
                            </div>
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Licensing Criteria <font color="red">*</font></label>
                                    <select class="form-control" name="license_criteria"  id="license_criteria">
                                        <option value="">--SELECT--</option>
                                        <option value="BAFRA GHP/GMP">BAFRA GHP/GMP</option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="license_criteriaErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Meat Shop Address <font color="red">*</font></label>
                                    <textarea class="form-control" id="address" name="address"></textarea>
                                </div>
                                <div class="alert alert-danger" id="AddressErrorMsg" style="display:none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Dzongkhag &nbsp;<font color='red'>*</font></label>
                                    <select class="form-control" name="dzongkhag"  id="dzongkhag" onchange="getGewog(this.value)">
                                        <option value="">--SELECT DZONGKHAG--</option>
                                        {% for dzongkhag in dzongkhag %}
                                                <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="dzongkhagErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Gewog &nbsp;<font color='red'>*</font></label>
                                    <select class="form-control" name="gewog" id="gewog" onchange="getVillage(this.value)">
                                        <option value="">--SELECT GEWOG--</option>
                                        {% for gewog in gewog %}
                                                <option value="{{ gewog.Gewog_Code }}">{{ gewog.Gewog_Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="gewogErrorMsg" style="display:none"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Village &nbsp;<font color='red'>*</font></label>
                                    <select class="form-control" name="village" id="village">
                                        <option value="">--SELECT VILLAGE--</option>
                                        {% for village in village %}
                                                <option value="{{ village.Village_Code }}">{{ village.Village_Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="villageErrorMsg" style="display:none"></div>
                            </div>
                            <!--<div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Location &nbsp;<font color='red'>*</font></label>
                                    <select class="form-control" name="location_code"  id="location">
                                        <option value="">&#45;&#45;SELECT LOCATION&#45;&#45;</option>
                                        {% for location in location %}
                                                <option value="{{ location.Location_Code }}">{{ location.Location_Name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="alert alert-danger" id="location_codeErrorMsg" style="display:none"></div>
                            </div>-->
                        </div>
                    </div>
                    <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                        Save SuccessFul
                    </div>
                    <div class="card-action">
                        <button type="button" class="btn btn-primary" id="fbr_button" onclick="save_fbr_form()">Save</button>
                    </div>
                </div>
            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="pills-details">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-tools pull-right">
                                <button type="button" class="btn btn-light" onclick="show_details_modal()">Add Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="meat_item_details">
                            {% include 'meat_shop_registration/details.html' %}
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button type="button" class="btn btn-success" id="meat_item_button" onclick="save_fbr_details()" style="display:none">Save</button>
                </div>
            </div>
            <div class="tab-pane fade" id="file-attachment" role="tabpanel" aria-labelledby="mortem-file-attach">
                <div id="file-attachment-mortem">
                    {% include 'meat_shop_registration/file_attachment.html' %}
                </div>
            </div>
            </div>
        </form>
    </div>
</div>

<form method="post" id="fh_form">
    {% csrf_token %}
    <input type="hidden" id="fh_application_no" name="fh_application_no">
    <div class="modal fade" id="add_fh_details" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Add Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Meat Item</label>
                                        <select class="form-control" name="meat_name"  id="meat_name">
                                            <option value="">--SELECT MEAT ITEM--</option>
                                            {% for meat_item in meat_item %}
                                                    <option value="{{ meat_item.Meat_Item }}">{{ meat_item.Meat_Item }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="alert alert-danger" id="meat_nameErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="save_meat_item_details()">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" id="attachment_form" enctype="multipart/form-data">
{% csrf_token %}
    <input type="hidden" name="attachment_appNo" id="attachment_appNo">
    <div class="modal fade" id="attachmentModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentModalLabel">Attach Files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Attach File</label>
                                        <input type="file" name="document" id="document" accept=".png,.jpg,.jpeg,.gif,.pdf,.docx,.doc">
                                        <div class="alert alert-danger" id="fileErrorMsg" style="display:none"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-lg pull-right" onclick="save_meat_attachment()"> Upload </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" id="meat_item_form">
    {% csrf_token %}
    <input type="hidden" id="meat_item_application_no" name="meat_item_application_no">
    <div class="modal fade" id="meat_item_modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Edit Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <input type="text" name="edit_meat_record_id" id="edit_meat_record_id" style="display:none"/>
                                <input type="hidden" name="identifier" value="CMS"/>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Meat Item</label>
                                        <select class="form-control" name="edit_meat_name"  id="edit_meat_name">
                                            <option value="">--SELECT MEAT ITEM--</option>
                                            {% for meat_item in meat_item %}
                                                    <option value="{{ meat_item.Meat_Item }}">{{ meat_item.Meat_Item }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="alert alert-danger" id="edit_meat_nameErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="update_edit_details('CMS')">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
function isNumberKey(evt)
{
 var charCode = (evt.which) ? evt.which : event.keyCode
 if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;

 return true;
}
function save_fbr_form()
{
    var applicationNo = $('#applicationNo').val();
    var Business_Name = $('#Business_Name').val();
    var cid = $('#cid').val();
    var name_manager = $('#name_manager').val();
    var license_criteria = $('#license_criteria').val();
    var contactNumber = $('#contactNumber').val();
    var email = $('#email').val();
    var name_manager = $('#name_manager').val();
    var license_criteria = $('#license_criteria').val();
    var address = $('#address').val();
    var dzongkhag = $('#dzongkhag').val();
    var gewog = $('#gewog').val();
    var village = $('#village').val();
    var location = $('#location').val();
    var cidCount = $('#cid').val().length;
    var number_count = $('#contactNumber').val().length;

    if(Business_Name == "")
    {
        $('#Business_NameErrorMsg').html("Enter Meat Shop Name.");
        $('#Business_NameErrorMsg').show();
        $('#Business_NameErrorMsg').delay(2000).fadeOut('slow');
        $('#Business_Name').focus();
    }
    else if(cid == "")
    {
        $('#cidErrorMsg').html("Enter CID Number.");
        $('#cidErrorMsg').show();
        $('#cidErrorMsg').delay(2000).fadeOut('slow');
        $('#cid').focus();
    }
    else if(cidCount < 11)
    {
        $('#cidErrorMsg').html("Cannot Be Less Than Eleven Digits.");
        $('#cidErrorMsg').show();
        $('#cidErrorMsg').delay(2000).fadeOut('slow');
        $('#cid').focus();
    }
    else if(email == "")
    {
        $('#emailErrorMsg').html("Enter Email.");
        $('#emailErrorMsg').show();
        $('#emailErrorMsg').delay(2000).fadeOut('slow');
        $('#email').focus();
    }
    else if(contactNumber == "")
    {
        $('#contactNumberErrorMsg').html("Enter Contact Number.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').focus();
    }
    else if(number_count < 8)
    {
        $('#contactNumberErrorMsg').html("Cannot Be Less Than Eight.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').focus();
    }
    else if(name_manager == "")
    {
        $('#name_managerErrorMsg').html("Enter Representatives Name.");
        $('#name_managerErrorMsg').show();
        $('#name_managerErrorMsg').delay(2000).fadeOut('slow');
        $('#name_manager').focus();
    }
    else if(license_criteria == "")
    {
        $('#license_criteriaErrorMsg').html("Select Licensing Criteria.");
        $('#license_criteriaErrorMsg').show();
        $('#license_criteriaErrorMsg').delay(2000).fadeOut('slow');
        $('#license_criteria').focus();
    }
    else if(address == "")
    {
        $('#AddressErrorMsg').html("Enter Address.");
        $('#AddressErrorMsg').show();
        $('#AddressErrorMsg').delay(2000).fadeOut('slow');
        $('#address').focus();
    }
    else if(dzongkhag == "")
    {
        $('#dzongkhagErrorMsg').html("Select Dzongkhag.");
        $('#dzongkhagErrorMsg').show();
        $('#dzongkhagErrorMsg').delay(2000).fadeOut('slow');
        $('#dzongkhag').focus();
    }
    else if(gewog == "")
    {
        $('#gewogErrorMsg').html("Select Gewog.");
        $('#gewogErrorMsg').show();
        $('#gewogErrorMsg').delay(2000).fadeOut('slow');
        $('#gewog').focus();
    }
    else if(village == "")
    {
        $('#villageErrorMsg').html("Select Village.");
        $('#villageErrorMsg').show();
        $('#villageErrorMsg').delay(2000).fadeOut('slow');
        $('#village').focus();
    }
    else if(location == "")
    {
        $('#location_codeErrorMsg').html("Select Location.");
        $('#location_codeErrorMsg').show();
        $('#location_codeErrorMsg').delay(2000).fadeOut('slow');
        $('#location').focus();
    }
    else if(applicationNo == "")
    {
        $.ajax({
        type : "POST",
        url : "{% url 'save_meat_shop_registration' %}",
        data : $('#FBR_form').serialize(),
        success : function(data)
        {
            $('#applicationNo').val(data.applNo);
            $('#fh_application_no').val(data.applNo);
            $('#attachment_appNo').val(data.applNo);
            $('#submitMsg').show();
            setTimeout(function() {
                $("#submitMsg").hide('blind', {}, 500)
            }, 2000);
            setTimeout(function() {
                $('#item-details').tab('show');
            }, 3000);
            $("#fbr_button").html('Update');
        }
        });
    }
    else if(applicationNo != "")
    {
        $.ajax({
        type : "POST",
        url : "{% url 'update_meat_shop_registration' %}",
        data : $('#FBR_form').serialize(),
        success : function(data)
        {
            $('#applicationNo').val(data.applNo);
            $('#fh_application_no').val(data.applNo);
            $('#attachment_appNo').val(data.applNo);
            $('#submitMsg').show();
            setTimeout(function() {
                $("#submitMsg").hide('blind', {}, 500)
            }, 2000);
            setTimeout(function() {
                $('#item-details').tab('show');
            }, 3000);

        }
        });
    }
}



function save_meat_attachment()
{
    var file_length = document.getElementById("document");
    if(file_length.value.length < 1)
    {
        $('#fileErrorMsg').html("Please Choose A File");
        $('#fileErrorMsg').show();
        $('#fileErrorMsg').delay(2000).fadeOut('slow');
    }
    else
    {
        var appNo = $('#applicationNo').val();
        var fileName = document.getElementById('document').files[0].name;
        var fd = new FormData();
        var file = document.getElementById('document').files[0];
        fd.append('document', file);
        fd.append('appNo', appNo);
        token_value=$("input[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup
        ({
            beforeSend: function(xhr, settings)
            {
                xhr.setRequestHeader("X-CSRFToken", token_value);
            }
        });
            $.ajax({
            type : "POST",
            url : "{% url 'meat_shop_file' %}",
            data : fd,
            dataType: 'json',
            contentType: false,
            processData: false,
            success : function(data)
            {
                if (data.form_is_valid)
                {
                    var appNo = $('#applicationNo').val();
                    var file_url = data.file_url
                    $.ajax
                    ({
                        type : "POST",
                        url : "{% url 'meat_shop_file_name' %}",
                        data : {'appNo':appNo , 'filename':fileName, 'file_url':file_url},
                        success : function(responseText)
                        {
                            $('#attachmentModal').modal('hide');
                            $('#file-attachment-mortem').html(responseText);
                            $('.modal-backdrop').remove();
                            $('#attachment_form')[0].reset();
                        }
                    });
                }else
                {
                    $('#fileErrorMsg').html("File Already Exists With Same Name. Please Upload Another File");
                    $('#fileErrorMsg').show();
                    $('#fileErrorMsg').delay(2000).fadeOut('slow');
                }
            }
        });
   }

}

function show_fbr_modal()
{
    $('#add_fh_details_model').modal('show');
}
function show_fh_modal()
{
    $('#add_fh_details').modal('show');
}

function show_fbr_attach_model()
{
    $('#attachmentModal').modal('show');
}


function validateemailId(emailId)
{
    var pattern=/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;
    var no=emailId.match(pattern);

    if(no==null)
    {
        $('#emailErrorMsg').html("<span class='alert alert-danger'>The email Id is Not valid");
        $('#email').val("");
        $('#emailErrorMsg').show();
        $('#emailErrorMsg').delay(2000).fadeOut('slow');
    }else{
     $('#emailErrorMsg').hide();
    }

}

function checkContact(value)
{
    var firstDigit = value.charAt(0);
    var secondDigit = value.charAt(1);

    if(firstDigit != 7 && firstDigit != 1){
        $('#contactNumberErrorMsg').html("Must Start with either 1 or 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 1 && secondDigit != 6 && secondDigit != 7){
        $('#contactNumberErrorMsg').html("Second Digit Must Start with either 6 or 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 7 && secondDigit == 6){
        $('#contactNumberErrorMsg').html("Second Digit Cannot be 6.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }else if(firstDigit == 7 && secondDigit != 7){
        $('#contactNumberErrorMsg').html("Second Digit Must Start with 7.");
        $('#contactNumberErrorMsg').show();
        $('#contactNumberErrorMsg').delay(2000).fadeOut('slow');
        $('#contactNumber').val("");
    }

}



function save_fbr_details()
{
    $('#fbr-file-attach').tab('show');
}

function save_meat_item_details()
{
    var meat_name = $('#meat_name').val();

    if(meat_name == "")
    {
        $('#meat_nameErrorMsg').html("Select Meat Item.");
        $('#meat_nameErrorMsg').show();
        $('#meat_nameErrorMsg').delay(2000).fadeOut('slow');
    }
    else
    {
        $.ajax({
                type : "POST",
                url : "{% url 'save_meat_item_details' %}",
                data : $('#fh_form').serialize(),
                success : function(responseText) {
                   $('#add_fh_details').modal('hide');
                   $('#meat_item_details').html(responseText);
                   $('#details').tab('show');
                   $('.modal-backdrop').remove();
                   $('#fh_form')[0].reset();
                }
            });
    }
}

function getGewog(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_gewog' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data)
        {
            $('#gewog').html(data);
        }
    });
}

function getVillage(gewog_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_village' %}",
        data :{'gewog_id':gewog_id},
        success : function(data)
        {
            $('#village').html(data);
        }
    });
}

function getLocation(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_location' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data)
        {
            $('#location').html(data);
        }
    });
}


function show_details_modal()
{
    $('#add_fh_details').modal('show');
}

function getCitizenDetails(cidNo)
{
    $.ajax({
        type : "GET",
        url : "{% url 'get_citizen_details' %}",
        data :{'cidNo':cidNo},
        success : function(data)
        {
            const myObj =data.response;
            if(myObj.citizenDetailsResponse.citizenDetail == undefined)
            {
                $('#cid').val("");
                $('#name').val("");
                $('#cidErrorMsg').html("Invalid CID.Try With Another one");
                $('#cidErrorMsg').show();
                $('#cidErrorMsg').delay(2000).fadeOut('slow');
            }
            else
            {
                var firstName = myObj.citizenDetailsResponse.citizenDetail[0].firstName
                var middleName = myObj.citizenDetailsResponse.citizenDetail[0].middleName
                var lastName = myObj.citizenDetailsResponse.citizenDetail[0].lastName
                if (middleName == null) {
                        middleName = "";
                    }
                var CitizenName = firstName + " " + middleName + " " + lastName;

                var dzongkhagName = myObj.citizenDetailsResponse.citizenDetail[0].dzongkhagName
                var villageName = myObj.citizenDetailsResponse.citizenDetail[0].gewogName
                var gewogName = myObj.citizenDetailsResponse.citizenDetail[0].villageName
                $('#name').val(CitizenName);
            }
        }
    });
}

function populateMeatDetails(Record_Id, Meat_Item, application_no)
{

    $('#edit_meat_record_id').val(Record_Id);
    $('#edit_meat_name').val(Meat_Item);
    $('#meat_item_application_no').val(application_no);
    $('#meat_item_modal').modal('show');
}

function check_meat_details()
{
    var applicationNo = $('#applicationNo').val();
    if(applicationNo == "")
    {
        $("#item-details").prop('disabled', true);
        $("#fbr-file-attach").prop('disabled', true);
    }
    else if(applicationNo != "")
    {
        $("#item-details").prop('disabled', false);
        $("#fbr-file-attach").prop('disabled', false);
    }
}

function load_meat_details()
{
    var appNo = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'load_meat_details' %}",
        data :{'appNo':appNo},
        success : function(response)
        {
            $('#meat_item_details').html(response);
            $('#details').tab('show');
        }
    });
}

function load_meat_attachment()
{
    var appNo = $('#applicationNo').val();
    $.ajax({
        type : "GET",
        url : "{% url 'load_meat_attachment' %}",
        data :{'appNo':appNo},
        success : function(response)
        {
            $('#file-attachment-mortem').html(response);
        }
    });
}
</script>
{% endblock %}