{% load static %}
<style>
    .card {
    margin-bottom: 0rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
.head {
    color: #e6e8ec;
}
form, input, select, textarea{
    color: black !important;
}
</style>

        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed head">
                    Application Details
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                        <div id="applicant_details">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of the Meat Shop <font color="red">*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Meat_Shop_Name}}" disabled>
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">CID of the Owner <font color="red">*</font></label>
                                        <input type="number"  class="form-control" value="{{application_details.CID}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of the applicant/Owner <font color="red">*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Name_Owner}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email <font color="red">*</font></label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number <font color="red">*</font></label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Meat Shop Representative <font color="red">*</font></label>
                                        <input type="text" class="form-control" value="{{application_details.Representative}}" disabled>
                                    </div>
                                    <div class="alert alert-danger" id="name_managerErrorMsg" style="display:none"></div>
                                </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Licensing Criteria <font color="red">*</font></label>
                                        <select class="form-control" disabled>
                                            {% if application_details.License_Criteria == 'BAFRA GHP/GMP' %}
                                                <option selected>BAFRA GHP/GMP</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Meat Shop Address <font color="red">*</font></label>
                                        <textarea class="form-control" disabled>{{application_details.Address}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag</label>
                                        <select class="form-control" disabled>
                                            {% for dzongkhag in dzongkhag %}
                                                <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Dzongkhag_Code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                    {{ dzongkhag.Dzongkhag_Name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog</label>
                                        <select class="form-control" disabled>
                                            {% for gewog in gewog %}
                                                <option value="{{ gewog.Gewog_Code }}"{% if application_details.Gewog_Code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village</label>
                                         <select class="form-control" disabled>
                                            {% for village in village %}
                                                <option value="{{ village.Village_Code }}" {% if application_details.Village_Code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="meatItems" class="collapse" role="tabpanel" aria-labelledby="headingItems" data-parent="#accordion" style="">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Meat Item</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for Meat_Item in details %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{Meat_Item.Meat_Item}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="3" class="text-center">No Data</td>
                            </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed head" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Attachments
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for file_attach in file %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href='{{file_attach.File_Path}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFive">
                <a class="collapsed head" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                    Inspection Team Details
                </a>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <br>
                    <div id="inspection_team_details">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Designation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for import in inspection_team_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{import.Name}}</td>
                                        <td>{{import.Designation}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="5" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <a class="collapsed head" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                    Team Formation
                </a>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <br>
                    <div id="team_details">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name Of Key Personal</th>
                                    <th scope="col">Designation of Key Personal</th>
                                    <th scope="col">Meeting (Date)</th>
                                    <th scope="col">Meeting Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for import in team_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{import.Name}}</td>
                                        <td>{{import.Designation}}</td>
                                        <td>{{import.Meeting_Date|date:"d-m-Y"}}</td>
                                        <td>{{import.Type}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="5" class="text-center">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed head" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Details
                </a>
            </div>
            <div id="collapseThree" class="active" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                <div class="card-body">
                    <br>
                    <div id="details">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Requirement</th>
                                    <th scope="col">Clause No</th>
                                    <th scope="col">Concern</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Observations/ Findings</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tbody>
                                    {% for import in inspection_details %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{import.Requirement}}</td>
                                            <td>{{import.Clause_No}}</td>
                                            <td class="MyClass">{{import.Concern}}</td>
                                            <td>{{import.Date|date:"d-m-Y"}}</td>
                                            <td>{{import.Observation}}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="6" class="text-center">No Data</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Inspector </span>&nbsp;&nbsp;&nbsp;
                            <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                    </div>
                    {% for application_details in application_details %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Inspection Team Leader</label>
                                    <input type="text" class="form-control" value="{{ application_details.FR_Inspection_Leader }}" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Inspection Team</label>
                                    <input type="text" class="form-control" value="{{ application_details.FR_Inspection_Team }}" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Desired Inspection Date</label>
                                    <input type="text" class="form-control" value="{{ application_details.FR_Inspection_Date }}" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Recommendation From Inspector</label>
                                    <input type="text" class="form-control" value="{{ application_details.FR_Recommendation }}" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Desired Inspection Date <font color="red">*</font></label>
                                <input type="date" class="form-control" id="dateOfInspection" name="date">
                            </div>
                            <div class="alert alert-danger" id="dateOfInspectionErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Response <font color="red">*</font></label>
                                <textarea class="form-control" id="remarks" rows="2"></textarea>
                            </div>
                            <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="alert alert-info" id="messageDiv" style="display:none">
                        Application Submitted Successfully
                    </div>
                    <hr>
                    {% for application_details in application_details %}
                        <div class="card-action text-center">
                            <button type="button" id="approve_button" class="btn btn-flat btn-primary" onclick="resubmit_factory_inspection('{{application_details.Application_No}}')">
                                <i class="ace-icon fa fa-reply-all"></i>
                                &nbsp;&nbsp;Response
                            </button>
                            <button type="button" data-dismiss="modal" class="btn btn-flat btn-danger">
                                <i class="ace-icon fa fa-times"></i>
                                &nbsp;&nbsp;Cancel
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="addModal" class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Requirement</label>
                                    <input type="text" class="form-control" id="Requirement">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Clause No</label>
                                    <input type="text" class="form-control" id="Clause_No">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <div class="form-group col-md-6">
                                        <div class="form-check">
                                           <label class="form-label">Concern</label><br>
                                            <label class="form-radio-label">
                                                <input class="form-radio-input" type="radio" name="Concern" value="Yes">
                                                <span class="form-radio-sign">Yes</span>
                                            </label>
                                            <label class="form-radio-label ml-3">
                                                <input class="form-radio-input" type="radio" name="Concern" value="No">
                                                <span class="form-radio-sign">No</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Response or Actions proposed by FBO</label>
                                    <input type="text" class="form-control date-picker flatpickr-input active" name="Date" id="Date" readonly>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Observations/Finding</label>
                                    <textarea class="form-control" id="Observations" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        {% for application_details in application_details %}
                        <button type="button" class="btn btn-flat btn-primary" onclick="add_details_ins('{{ application_details.Application_No }}')">
                            <i class="ace-icon fa fa-times"></i>
                            &nbsp;&nbsp;Add
                        </button>
                        {% endfor %}
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                     </div>

                  </div>
            </div>
        </div>
    <div class="modal fade" id="modal-common">
        <div class="modal-dialog modal-lg">
          <div class="modal-content edit">

          </div>
        </div>
    </div>
    <div class="modal fade" id="modal-decision">
        <div class="modal-dialog modal-lg">
          <div class="modal-content edit">

          </div>
        </div>
    </div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
$(function()
{
    var today = new Date().toISOString().split('T')[0];
    $('#dateOfInspection')[0].setAttribute('min', today);
});
function openDecisionModal()
{
    $('#addModal').modal('show');
}

function openTeamModal()
{
    $('#teamModal').modal('show');
}


function closeModal()
{
    $("#addModal").modal('hide');
}

function closeTeamModal()
{
    $("#teamModal").modal('hide');
}

function openInspectionTeamModal()
{
    $("#InspectionTeamModal").modal('show');
}

function closeModal()
{
    $("#InspectionTeamModal").modal('hide');
}

function resubmit_factory_inspection(application_id)
{


    var dateOfInspection = $('#dateOfInspection').val();
    var remarks = $('#remarks').val();

    if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else if(remarks == "")
    {
        $('#remarksErrorMsg').html("Enter Response.");
        $('#remarksErrorMsg').show();
        $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        $('#remarks').focus();
    }
    else
    {
       $.ajax({
            type : "GET",
            url : "{% url 'resubmit_meat_shop_factory_inspection' %}",
            data :{'application_id':application_id , 'remarks':remarks ,'dateOfInspection':dateOfInspection},
            success : function(data) {
                $('#messageDiv').show();
                setTimeout(function() {
                    $("#messageDiv").hide('blind', {}, 500)
                }, 2000);
                setTimeout(function() {
                    location.reload();
                }, 3000);
            }
        });
    }
}


</script>