{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Application Status</strong>
                </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Application No</th>
                                    <th scope="col">Service Name</th>
                                    <th scope="col">Application Date</th>
                                    <th scope="col">Application Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application_details in application_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{application_details.Application_No}}</td>
                                        {% for service_details in service_details %}
                                            {% if application_details.Service_Code == service_details.Service_Code %}
                                                <td>{{service_details.Service_Name}}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{application_details.Action_Date|date:"d-m-Y"}}</td>
                                        {% if application_details.Application_Status == 'P' %}
                                            <td>Pending</td>
                                        {% elif application_details.Application_Status == 'R' %}
                                            <td>Pending</td>
                                        {% elif application_details.Application_Status == 'RS' %}
                                            <td>Resubmit</td>
                                        {% elif application_details.Application_Status == 'A' %}
                                            <td>Approved</td>
                                        {% endif %}
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="5" class="text-center">No Data</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="import_details_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="import_detailsModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="agro_attachmentModalLabel">Apply Import Permit Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div id="details_import">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<script>

</script>
{% endblock %}