{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form id="certificate_form" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Print Certificates</strong>
        </div>
        <div class="card-body">
            <div class="btn-demo">
                <a class="btn btn-light collapsed" data-toggle="collapse" href="#plant" aria-expanded="false" data-target="#plant"  aria-controls="plant">Plant Certificates</a>
                <a class="btn btn-light collapsed" data-toggle="collapse" href="#animal" aria-expanded="false" data-target="#animal"  aria-controls="animal">Animal Certificates</a>
                <a class="btn btn-light collapsed" data-toggle="collapse" href="#food" aria-expanded="false" aria-controls="food">Food Certificates</a>
                <a class="btn btn-light collapsed" data-toggle="collapse" href="#certification" aria-expanded="false" aria-controls="certification">Certifications</a>
            </div>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="plant" style="">
                        <hr>
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="movement_permit_no" placeholder="Enter Movement Permit No">
                                        <div class="input-group-append">
                                            <button class="btn btn-default btn-border" type="button" onclick="interpretationDetails()"><i class="zmdi zmdi-print"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="clearance_ref_no" placeholder="Enter Clearance Reference No">
                                        <div class="input-group-append">
                                            <button class="btn btn-default btn-border" type="button" onclick="interpretationDetails()"><i class="zmdi zmdi-print"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="animal" style="">
                        <hr>
                        <div class="card card-body">
                            Animal
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="food" style="">
                        <hr>
                        <div class="card card-body">
                           Food
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="certification" style="">
                        <hr>
                        <div class="card card-body">
                            Certifications
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="modal-xl" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left"></h5>
            </div>
            <div class="modal-body">
                <div id="cerificate_details">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link">Save changes</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function print_cerificate()
    {

    }
</script>
{% endblock %}