{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .notes__item>a {
    height: 15px;
    background-color: rgba(0,0,0,.2);
    display: block;
    padding: 1.8rem 2rem;
    position: relative;
    color: rgba(255,255,255,.75);
}
.notes__title {
    color: #fff;
    margin-bottom: 1.1rem;
    font-weight: 600;
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -9px;
}
.notes__item {
    margin-bottom: -2px;
}
.table thead>tr>th {
    border-top: 0;
    border-bottom: 0;
    background: #56b372;
}
</style>
<form id="certificate_form" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Print Certificates</strong>
        </div>
        <div class="card-body">
            <div class="tab-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" onclick="hide_div()" data-toggle="tab" href="#plant_secttion" role="tab">Plant Section</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="hide_div()" data-toggle="tab" href="#livestock_section" role="tab">Livestock Section</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="hide_div()" data-toggle="tab" href="#food_section" role="tab">Food Section</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="hide_div()" data-toggle="tab" href="#certification_section" role="tab">Certification Section</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade" id="plant_secttion" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="5">Plant Section</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="row notes">
                                    <tr>
                                        <td>
                                            <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('IPP')">
                                                    <div class="notes__title text-center">
                                                        Import Permit
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="notes__item notes__item--blue">
                                                <a href="#edit-note" onclick="print_details('RF')">
                                                    <div class="notes__title text-center">Release Form</div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="notes__item notes__item--blue">
                                                <a href="#edit-note" onclick="print_details('NC')">
                                                    <div class="notes__title text-center">Nursery Registration Certificate</div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="notes__item notes__item--amber">
                                                <a href="#edit-note" onclick="print_details('RSC')">
                                                    <div class="notes__title text-center">Seed Certificate</div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('MPP')">
                                                    <div class="notes__title text-center">In-Country Movement Permit</div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('EPP')">
                                                    <div class="notes__title text-center">Export Certitficate</div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('FFC')">
                                                    <div class="notes__title text-center">Fit For Consumption Certitficate</div>
                                                </a>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="livestock_section" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="3">Livestock Section</th>
                                </tr>
                            </thead>
                             <tbody>
                                <div class="row notes">
                                    <tr>
                                        <td>
                                            <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('IAF')">
                                                    <div class="notes__title text-center">
                                                        Import Permit(Live Animal & Fish)
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('ILP')">
                                                    <div class="notes__title text-center">
                                                        Import Permit(Livestock Products)
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                             <div class="notes__item notes__item--blue">
                                                <a href="#edit-note" onclick="print_details('RFAF')">
                                                    <div class="notes__title text-center">Release Form(Live Animal & Fish)</div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                     <tr>
                                         <td>
                                             <div class="notes__item notes__item--blue">
                                                <a href="#edit-note" onclick="print_details('RFLP')">
                                                    <div class="notes__title text-center">Release Form(Livestock Products)</div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="notes__item notes__item--blue">
                                                <a href="#edit-note" onclick="print_details('CMS')">
                                                    <div class="notes__title text-center">Meat Shop Clearance</div>
                                                </a>
                                            </div>
                                        </td>
                                         <td>
                                           <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('LMP')">
                                                    <div class="notes__title text-center">In-Country Movement Permit</div>
                                                </a>
                                            </div>
                                        </td>
                                     </tr>
                                    <tr>
                                        <td>
                                            <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('LEC')">
                                                    <div class="notes__title text-center">Export Certitficate</div>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="notes__item">
                                                <a href="#edit-note" onclick="print_details('APM')">
                                                    <div class="notes__title text-center">Ante-Post Mortem Report</div>
                                                </a>
                                            </div>
                                        </td>
                                        <td></td>

                                    </tr>
                                </div>
                        </tbody>
                    </table>
                    </div>
                    <div class="tab-pane fade" id="food_section" role="tabpanel">
                        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" colspan="5">Food Section</th>
                    </tr>
                </thead>
                <tbody>
                 <div class="row notes">
                     <tr>
                        <td>
                            <div class="notes__item">
                                <a href="#edit-note" onclick="print_details('FIP')">
                                    <div class="notes__title text-center">
                                        Import Permit
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                             <div class="notes__item notes__item--blue">
                                <a href="#edit-note" onclick="print_details('RFF')">
                                    <div class="notes__title text-center">Release Form</div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="notes__item notes__item--blue">
                                <a href="#edit-note" onclick="print_details('ECF')">
                                    <div class="notes__title text-center">Export Certificate</div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="notes__item">
                                <a href="#edit-note" onclick="print_details('CFC')">
                                    <div class="notes__title text-center">
                                        Conditional Food Safety Clearance
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                             <div class="notes__item notes__item--blue">
                                <a href="#edit-note" onclick="print_details('FSL')">
                                    <div class="notes__title text-center">Food Safety License</div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="notes__item notes__item--amber">
                                <a href="#edit-note" onclick="print_details('FHL')">
                                    <div class="notes__title text-center">Food Handler License</div>
                                </a>
                            </div>
                        </td>
                    </tr>

                </div>
                </tbody>
            </table>
                    </div>
                    <div class="tab-pane fade" id="certification_section" role="tabpanel">
                        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" colspan="5">Certification Section</th>
                    </tr>
                </thead>
                <tbody>
                 <div class="row notes">
                        <tr>
                            <td>
                                <div class="notes__item">
                                    <a href="#edit-note" onclick="print_details('GAP')">
                                        <div class="notes__title text-center">
                                            GAP Certificate
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td>
                                 <div class="notes__item notes__item--blue">
                                    <a href="#edit-note" onclick="print_details('ORC')">
                                        <div class="notes__title text-center">Organic Certificate</div>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="notes__item notes__item--blue">
                                    <a href="#edit-note" onclick="print_details('FPC')">
                                        <div class="notes__title text-center">Food Product Certificate</div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                </div>
                </tbody>
            </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col" style="display:none"; id="col_div">
                <hr>
                <div class="card card-body">
                    <div id="print_details">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="certificate_detailsModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left"></h5>
            </div>
            <div class="modal-body">
                <div id="certificate_details">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function hide_div()
    {
        $('#col_div').hide();
    }
    function print_details(serviceCode)
    {
        $.ajax({
            type : "GET",
            url : "{% url 'view_certificate_details' %}",
            data : {'service_code':serviceCode},
            success : function(response) {
                $('.col').show();
                $('#print_details').html(response);
            }
        });
    }

    function print_certificate(serviceCode, application_id)
    {

        $.ajax({
            type : "GET",
            url : "{% url 'get_certificate_details' %}",
            data : {'application_id':application_id, 'service_code':serviceCode},
            success : function(response) {
                $('#certificate_detailsModal').modal('show');
                $('#certificate_details').html(response);
            }
        });
    }
</script>
{% endblock %}