<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>BBFSS| Bhutan Biosecurity and Food Safety System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap1.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <link rel="stylesheet" href="{% static 'css/style3.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
        <link href="{% static 'styles/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    </head>
    <body>
    <header>
        <img src="{% static 'assets/img/banner.png' %}" class="img-fluid mx-auto d-block" alt="Responsive image" style="background:center;max-width:100%">
        <div class="float-right">
            <a href="{% url 'apply_complaint_form' %}" class="btn btn-sm btn-info">
                <i class="fa fa-comments-o"></i>&nbsp;
                Complaint
            </a>
            <a href="{% static '/assets/manual/BBFS_UserManual.pdf' %}" class="btn btn-sm btn-danger" download="{% static 'assets/manual/BBFS_UserManual.pdf' %}">
                <i class="fa fa-cloud-download"></i>&nbsp;
                User Manual
            </a>
        </div>
    </header>
    <br>
    <hr>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <img src="{% static 'assets/img/background1.jpg' %}" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-5 contents">
                        <div class="row justify-content-center">
                            <div class="col-md-9">
                                <section>
                                    <div id="container_demo">
                                        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                                        <a class="hiddenanchor" id="toregister"></a>
                                        <a class="hiddenanchor" id="tologin"></a>
                                        <div id="wrapper">
                                            <div id="login" class="animate form">
                                                <form action="{% url 'login' %}" id="loginForm" method="post">
                                                    {% csrf_token %}
                                                    <h1>Log in</h1>
                                                    {% if message %}
                                                        <div class="alert alert-danger" id="login_error">{{ message }}</div>
                                                    {% endif %}
                                                    <p>
                                                        <label for="emailsignup" class="youmail" data-icon="e"> Your Email</label>
                                                        <input id="emailsignup" name="username" required="required" type="email" >
                                                    </p>
                                                    <p>
                                                        <label for="password" class="youpasswd" data-icon="p"> Your Password </label>
                                                        <input id="password" name="password" required="required" type="password" />
                                                    </p>
                                                    <p class="login button">
                                                        <input type="submit" value="Login" />
                                                    </p>
                                                    <p class="change_link">
                                                        <a href="{% url 'register' %}" class="to_register">Client Register</a>
                                                        <a href="#toregister" class="to_register">Forgot Password ?</a>
                                                    </p>
                                                </form>
                                            </div>
                                            <div id="register" class="animate form">
                                                <form method="post" id="forgot_password_form">
                                                    {% csrf_token %}
                                                    <h1> Forgot Password </h1>
                                                        <div class="form-group">
                                                            <input name="email" id="email" required="required" placeholder="Your Email" type="text" onchange="validateemailId(this.value)" onblur="getSecurityQuestion(this.value)"/>
                                                        </div>
                                                        <div class="alert" id="emailErrorMsg" style="display:none"></div>
                                                        <div class="form-group">
                                                            <select name="security" id="security" onchange="getAnswer(this.value)">
                                                                <option value="">SELECT SECURITY QUESTION</option>
                                                                {% for security in security %}
                                                                    <option value="{{ security.Question_Id }}">{{ security.Question }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="alert" id="securityErrorMsg" style="display:none"></div>
                                                        <div class="form-group">
                                                            <input id="answer" name="answer" required="required"  placeholder="Security Answer" type="text" />
                                                            <input type="hidden" class="form-control form-control-md" id="securityAnswer">
                                                        </div>
                                                        <div class="alert" id="AnswerErrorMsg" style="display:none"></div>
                                                    <div id="sucessMsg" class="alert alert-info" role="alert" style="display:none;">
                                                        Your password was successfully reset..Please Check Your Email
                                                    </div>
                                                    <p class="signin button">
                                                        <input type="button" id="submit_button" value="Submit"  onclick="update_password()"/>
                                                    </p>
                                                    <p class="change_link">
                                                        Already a member ?
                                                        <a href="#tologin" class="to_register"> Go and log in </a>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div clas="row">
            <div class="text-center">
              <p class="footer">©  BAFRA- Bhutan Biosecurity and Food Safety System (BBFSS), 2021. All Rights Reserved.</p>
            </div>
        </div>
        </div>

    </body>
</html>
<script src="{% static 'styles/jquery/dist/jquery.min.js' %}"></script>
<script>
var spinner = $('#loader');
spinner.hide();




function getGewog(dzongkhag_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_gewog' %}",
        data :{'dzongkhag_id':dzongkhag_id},
        success : function(data) {
            $('#gewog').html(data);
        }
    });
}

function getVillage(gewog_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_village' %}",
        data :{'gewog_id':gewog_id},
        success : function(data) {
            $('#village').html(data);
        }
    });
}

function getRegistrationForm()
{
    $.ajax({
        type : "GET",
        url : "{% url 'register' %}",
        success : function(data) {
            $('#regDiv').html(data);
        }
    });
}

function update_password()
    {

        var uid = $('#email').val();
        var answer = $('#answer').val();
        var security = $('#security').val();
        var answerForm =  $('#securityAnswer').val();

        if(uid == "")
        {
            $('#emailErrorMsg').html("Email Is Required");
            $('#emailErrorMsg').show();
            $('#email').focus();
            $('#emailErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(security == "")
        {
            $('#securityErrorMsg').html("Select Security Question");
            $('#securityErrorMsg').show();
            $('#security').focus();
            $('#securityErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(answer == "")
        {
            $('#AnswerErrorMsg').html("Enter Your Security Questions Answer");
            $('#AnswerErrorMsg').show();
            $('#answer').focus();
            $('#AnswerErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            var enteredAnswer = $('#answer').val();
            if(answerForm.toLowerCase() == enteredAnswer.toLowerCase())
            {
                $('#AnswerErrorMsg').html("Please Wait..");
                $('#AnswerErrorMsg').show();
                $('#AnswerErrorMsg').delay(3000).fadeOut('slow');
                $('#submit_button').hide();
                $.ajax({
                    type: 'POST',
                    url : "{% url 'update_password' %}",
                    data : $('#forgot_password_form').serialize(),
                    success: function(data)
                    {
                        $('#sucessMsg').show();
                        $('#sucessMsg').delay(2000).fadeOut('slow');
                        $('#submit_button').show();
                        setTimeout('location.reload()',3000);
                    }
                });
            }
            else
            {
                $('#AnswerErrorMsg').html("The answer you entered does not match your previous answer, please verify and try again else contact administrator");
                $('#AnswerErrorMsg').show();
                $('#AnswerErrorMsg').delay(2000).fadeOut('slow');
            }
        }
    }

    function validateemailId(emailId)
    {
        var pattern=/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;
        var no=emailId.match(pattern);

        if(no==null)
        {
            $('#emailErrorMsg').html("<span class='alert alert-danger'>The email Id is Not valid");
            $('#email').val("");
            $('#emailErrorMsg').show();
            $('#emailErrorMsg').delay(2000).fadeOut('slow');
        }else{
         $('#emailErrorMsg').hide();
        }

    }

    function getSecurityQuestion(uid)
     {
        if(uid == "")
        {
            $('#emailErrorMsg').html("Email Is Required.");
            $('#emailErrorMsg').show();
            $('#emailErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            $.ajax({
                type : "GET",
                url : "{% url 'load_security_question' %}",
                data :{'email':uid},
                success : function(data)
                {
                    $('#security').html(data);
                }
            });
        }
     }

    function getAnswer(questionId)
    {
        var uid = $('#email').val();
        $.ajax({
            async: false,
            type: 'POST',
            url : "{% url 'get_security_answer' %}",
            data :{'questionId':questionId, 'email':uid,  csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data)
            {
                $('#securityAnswer').val(data.answer);
            }
        });
    }
</script>