{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Application Lists</strong>
                </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Permit/Reference No</th>
                                    <th scope="col">Service Name</th>
                                    <!--<th scope="col">Applicant</th>-->
                                    <th scope="col">Application Date</th>
                                    <th scope="col">Validity</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application_details in application_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><button class="btn btn-primary btn-link" data-toggle="modal" data-target="#payment-modal">{{application_details.Application_No}}</button></td>
                                        {% for service_details in service_details %}
                                            {% if application_details.Service_Id == service_details.Service_Code %}
                                                <td>{{service_details.Service_Name}}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <!--<td>{{application_details.Applicant_Name}}</td>-->
                                        <td>{{application_details.Application_Date|date:"d-m-Y"}}</td>
                                        <td>{{application_details.Validity}}</td>
                                        <td>Status</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="5" class="text-center">No Data</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="payment_form">
    {% csrf_token %}
    {% for application_details in application_details %}
        <input type="text" name="application_no" value="{{application_details.Application_No}}">
    {% endfor %}
    <div class="modal fade" id="payment-modal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left">Large modal</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Payment Type</label>
                                <input type="text" name="Payment_Type" id="Payment_Type">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Instrument No</label>
                                <input type="text" name="Instrument_No" id="Instrument_No">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Amount</label>
                                <input type="text" name="Amount" id="Amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Receipt No</label>
                                <input type="text" name="Receipt_No" id="Receipt_No">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Receipt Date</label>
                                <input type="text" name="Receipt_Date" id="Receipt_Date">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                    Payment Updated
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" onclick="update_payment_details()">Save changes</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function update_payment_details(appId,service_code)
    {
        $.ajax({
            type : "POST",
            url : "{% url 'update_payment_details' %}",
            data :$('#payment_form').serialize(),,
            success : function(response)
            {
                $('#submitMsg').show();
                setTimeout(function() {
                    $("#submitMsg").hide('blind', {}, 500)
                }, 2000);
            }
        });
    }

</script>
{% endblock %}