{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    form, input, select, textarea{
    color: black !important;
    }
</style>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Payment Pending List</strong>
                </div>
                    <div class="card-body">
                        <table id="payment_pending_table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Permit/Reference No</th>
                                    <th scope="col">Service Name</th>
                                    <th scope="col">Application Date</th>
                                    <th scope="col">Validity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application_details in application_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><button class="btn btn-primary btn-link"  onclick="populate_payment_modal('{{application_details.Application_No}}')">{{application_details.Application_No}}</button></td>
                                        {% for service_details in service_details %}
                                            {% if application_details.Service_Id == service_details.Service_Code %}
                                                <td>{{service_details.Service_Name}}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{application_details.Application_Date|date:"d-m-Y"}}</td>
                                        {% if application_details.Validity %}
                                            <td>{{application_details.Validity|date:"d-m-Y"}}</td>
                                        {% else %}
                                            <td>None</td>
                                        {% endif %}
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="5" class="text-center">No Data</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="payment_form">
    {% csrf_token %}
        <div id="payment-modal" class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left">Update Payment Details</h5>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                    <div class="row">
                        <input type="hidden" name="application_no" id="application_no">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Payment Type <font color="red">*</font></label>
                                <select class="form-control" name="Payment_Type" id="Payment_Type" onchange="checkPaymentType(this.value)">
                                    <option value="">--SELECT--</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="Online">Online</option>
                                </select>
                            </div>
                            <div class="alert alert-danger" id="Payment_TypeErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Instrument No <font color="red">*</font></label>
                                <input type="text" class="form-control" name="Instrument_No" id="Instrument_No">
                            </div>
                            <div class="alert alert-danger" id="Instrument_NoErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Amount <font color="red">*</font></label>
                                <input type="text" class="form-control" name="Amount" id="Amount" onkeypress="return isNumberKey(event)">
                            </div>
                            <div class="alert alert-danger" id="AmountErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label id="receipt">Receipt No <font color="red">*</font></label>
                                <label id="jrnl" style="display:none">Jrnl. No <font color="red">*</font></label>
                                <input type="text" class="form-control" name="Receipt_No" id="Receipt_No" onchange="checkReceiptNo(this.value)">
                            </div>
                            <div class="alert alert-danger" id="Receipt_NoErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label id="receipt_date_label">Receipt Date <font color="red">*</font></label>
                                <label id="jrnl_date" style="display:none">Jrnl. Date <font color="red">*</font></label>
                                <input type="date" class="form-control" id="Receipt_Date" name="Receipt_Date">
                            </div>
                            <div class="alert alert-danger" id="Receipt_DateErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    </div>
                </div>
                <div id="submitMsg" class="alert alert-info" role="alert" style="display:none;">
                    Payment Updated
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_payment()">Update Payment</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function isNumberKey(evt)
    {
     var charCode = (evt.which) ? evt.which : event.keyCode
     if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

     return true;
    }
    function update_payment()
    {
        var Payment_Type = $('#Payment_Type').val();
        var Instrument_No = $('#Instrument_No').val();
        var Amount = $('#Amount').val();
        var Receipt_No = $('#Receipt_No').val();
        var Receipt_Date = $('#Receipt_Date').val();

        if(Payment_Type == "")
        {
            $('#Payment_TypeErrorMsg').html("Select Payment Type.");
            $('#Payment_TypeErrorMsg').show();
            $('#Payment_TypeErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(Payment_Type == "Cheque" && Instrument_No == "")
        {
            $('#Instrument_NoErrorMsg').html("Enter Instrument No");
            $('#Instrument_NoErrorMsg').show();
            $('#Instrument_NoErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(Amount == "")
        {
            $('#AmountErrorMsg').html("Enter Amount");
            $('#AmountErrorMsg').show();
            $('#AmountErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(Receipt_No == "")
        {
            $('#Receipt_NoErrorMsg').html("Enter Receipt No");
            $('#Receipt_NoErrorMsg').show();
            $('#Receipt_NoErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(Receipt_Date == "")
        {
            $('#Receipt_DateErrorMsg').html("Select Receipt Date");
            $('#Receipt_DateErrorMsg').show();
            $('#Receipt_DateErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            $.ajax({
                type : "POST",
                url : "{% url 'update_payment_details' %}",
                data :$('#payment_form').serialize(),
                success : function()
                {
                    $('#submitMsg').show();
                    setTimeout(function() {
                        $("#submitMsg").hide('blind', {}, 500)
                    }, 2000);
                    setTimeout(function() {
                        $("#payment-modal").modal('hide')
                    }, 3000);
                    setTimeout(function() {
                        location.reload();
                    }, 3000);
                }
            });
        }
    }

    function checkReceiptNo(receipt_no)
    {
        $.ajax({
            type : "POST",
            url : "{% url 'validate_receipt_no' %}",
            data :{ 'receipt_no' : receipt_no},
            success : function(data)
            {
                if(data.status == "Exists")
                {
                    $('#Receipt_NoErrorMsg').html("Receipt No Already Used.");
                    $('#Receipt_NoErrorMsg').show();
                    $('#Receipt_NoErrorMsg').delay(2000).fadeOut('slow');
                    $('#Receipt_No').val("");
                }
            }
        });
    }
    function checkPaymentType(payment_type)
    {
        var p_type = payment_type;
        if(p_type == "Cash")
        {
            $('#Instrument_No').val("");
            $("#Instrument_No" ).prop( "disabled", true );
            $('#receipt').show();
            $('#receipt_date_label').show();
            $('#jrnl').hide();
            $('#jrnl_date').hide();
        }
        else if(p_type == "Online")
        {
            $('#Instrument_No').val("");
            $("#Instrument_No" ).prop( "disabled", true );
            $('#receipt').hide();
            $('#receipt_date_label').hide();
            $('#jrnl').show();
            $('#jrnl_date').show();
        }
        else
        {
            $("#Instrument_No" ).prop( "disabled", false );
            $('#receipt').show();
            $('#receipt_date_label').show();
            $('#jrnl').hide();
            $('#jrnl_date').hide();
        }
    }

    function populate_payment_modal(application_no)
    {
        $('#application_no').val(application_no);
        $("#payment-modal").modal('show')
    }
</script>
{% endblock %}