<div class="scrollbar-inner">
    {% if request.session.role == 'Agency Admin' %}
        <ul class="navigation">
            <li class="navigation__active"><a href="http://127.0.0.1:8000/login/"><i class="zmdi zmdi-home"></i> Home</a></li>

            <li class="@@typeactive"><a href="http://127.0.0.1:8000/user"><i class="zmdi zmdi-format-underlined"></i> Users</a></li>

            <li class="navigation__sub @@tableactive">
                <a href="#"><i class="zmdi zmdi-view-list"></i> Masters</a>

                <ul>
                    <li class="@@normaltableactive"><a href="{% url 'role_page' %}">Role</a></li>
                    <li class="@@datatableactive"><a href="{% url 'division' %}">Division</a></li>
                    <li class="@@datatableactive"><a href="{% url 'section_page' %}">Section</a></li>
                    <li class="@@datatableactive"><a href="{% url 'service_page' %}">Service</a></li>
                    <li class="@@datatableactive"><a href="{% url 'field_office' %}">BAFRA Field Office</a></li>
                    <li class="@@datatableactive"><a href="{% url 'location_field' %}">Location Field Office Mapping</a></li>
                    <li class="@@normaltableactive"><a href="{% url 'crop_category' %}">Plant Crop Category</a></li>
                    <li class="@@normaltableactive"><a href="{% url 'crop_page' %}">Plant Crop</a></li>
                    <li class="@@datatableactive"><a href="{% url 'crop_variety_page' %}">Crop Variety</a></li>
                    <li class="@@datatableactive"><a href="{% url 'chemical_page' %}">Plant Chemical</a></li>
                    <li class="@@datatableactive"><a href="{% url 'plant_crop_species_page' %}">Plant Crop Species</a></li>
                    <li class="@@normaltableactive"><a href="{% url 'ornamental_plant_page' %}">Ornamental Plant</a></li>
                    <li class="@@datatableactive"><a href="{% url 'pesticide_page' %}">Plant Pesticide</a></li>
                    <li class="@@datatableactive"><a href="{% url 'plant_product' %}">Plant Product</a></li>
                    <li class="@@datatableactive"><a href="{% url 'plant_fodder_page' %}">Plant Fodder</a></li>
                    <li class="@@normaltableactive"><a href="{% url 'plant_fodder_variety' %}">Plant Fodder Variety</a></li>
                    <li class="@@normaltableactive"><a href="{% url 'livestock_species_page' %}">Livestock Species</a></li>
                    <li class="@@normaltableactive"><a href="{% url 'livestock_species_breed_page' %}">Livestock Breed</a></li>
                    <li class="@@normaltableactive"><a href="{% url 'livestock_product_page' %}">Livestock Product</a></li>
                </ul>
            </li>

            <li class="navigation__sub @@formactive">
                <a href="#"><i class="zmdi zmdi-collection-text"></i> Client Manage</a>

                <ul>
                    <li class="@@datatableactive"><a href="{% url 'new_registration' %}">New Registration</a></li>
                    <li class="@@datatableactive"><a href="{% url 'registered_clients' %}">Registered Clients</a></li>
                </ul>
            </li>
        </ul>
    {% elif request.session.role == 'Focal Officer' %}
        <ul class="navigation">
            <li class="navigation__active"><a href="index-2.html"><i class="zmdi zmdi-home"></i> Home</a></li>

            <li class="@@datatableactive"><a href="{% url 'focal_officer_application' %}"><i class="zmdi zmdi-collection-text"></i> Pending Applications</a></li>
            <li class="@@datatableactive"><a href="{% url 'payment_details' %}"><i class="zmdi zmdi-collection-text"></i>Payment Details</a></li>
        </ul>
    {% elif request.session.role == 'Complaint Officer' %}
        <ul class="navigation">
            <li class="navigation__active"><a href="index-2.html"><i class="zmdi zmdi-home"></i> Home</a></li>

            <li class="@@datatableactive"><a href="{% url 'co_complaint_list' %}"><i class="zmdi zmdi-collection-text"></i> Complaint List</a></li>
            <li class="@@datatableactive"><i class="zmdi zmdi-collection-text"></i> Investigation Report</li>
        </ul>
    {% elif request.session.role == 'OIC' %}
        <ul class="navigation">
            <li class="navigation__active"><a href="index-2.html"><i class="zmdi zmdi-home"></i> Home</a></li>

            <li class="@@datatableactive">
                <a href="{% url 'oic_application' %}"><i class="zmdi zmdi-collection-text" ></i> Pending Applications</a>
            </li>
            <li class="@@datatableactive"><a href="{% url 'payment_details' %}"><i class="zmdi zmdi-collection-text"></i>Payment Details</a></li>
        </ul>
    {% elif request.session.role == 'Inspector' %}
        <ul class="navigation">
            <li class="navigation__active"><a href="index-2.html"><i class="zmdi zmdi-home"></i> Home</a></li>
            <li class="@@datatableactive"><a href="{% url 'inspector_application' %}"><i class="zmdi zmdi-collection-text"></i>Pending Applications</a></li>
            <li class="navigation__sub @@formactive">
                <a href="#"><font color="white"><i class="zmdi zmdi-collection-text" ></i>&nbsp; &nbsp;Food Handler</font></a>
                <ul>
                    <li class="@@datatableactive"><a href="{% url 'food_handler_application' %}">Applicant List</a></li>
                    <li class="@@datatableactive"><a href="{% url 'result_update_list' %}">Result Update</a></li>
                </ul>
            </li>
            <li class="@@datatableactive"><a href="{% url 'payment_details' %}"><i class="zmdi zmdi-collection-text"></i>Payment Details</a></li>
        </ul>
    {% elif request.session.role == 'Chief' %}
    {% elif request.session.role == 'DG' %}
    {% elif request.session.role == 'client' %}
        <ul class="navigation">
            <li class="navigation__active"><a href="#"><i class="zmdi zmdi-home"></i> Home</a></li>

            <li class="navigation__sub @@formactive">
                <a href="#"><i class="zmdi zmdi-collection-text"></i> Online Applications &nbsp;+..</a>

                <ul>
                    <li class="navigation__sub @@formactive">
                        <a href="#"><font color="white" size="4px">Plant Services</font></a>
                        <ul>
                            <li class="@@datatableactive"><a href="{% url 'apply_import_permit' %}">Import Permit</a></li>
                            <li class="@@datatableactive"><a href="{% url 'registration_application' %}">Nursery Registration</a></li>
                            <li class="@@datatableactive"><a href="{% url 'seed_certificate_application' %}">Seed Certification</a></li>
                            <li class="@@datatableactive"><a href="{% url 'apply_movement_permit' %}">In-Country Movement Permit</a></li>
                            <li class="@@datatableactive"><a href="{% url 'apply_export_certificate' %}">Export Certification</a></li>
                        </ul>
                    </li>
                    <li class="navigation__sub @@formactive">
                        <a href="#"><font color="white" size="4px">LiveStock Services</font></a>
                        <ul>
                            <li class="@@datatableactive"><a href="{% url 'apply_clearance_meat_shop' %}">Clearance for Meat Shop</a></li>
                            <li class="@@datatableactive"><a href="{% url 'export_certificate_application' %}">Export Certificate</a></li>
                            <li class="@@datatableactive"><a href="{% url 'import_permit_application' %}">Import Permit Product</a></li>
                            <li class="@@datatableactive"><a href="{% url 'import_permit' %}">Import Permit Animal</a></li>
                            <li class="@@datatableactive"><a href="{% url 'application_form' %}">Ante And Post Mortem</a></li>
                            <li class="@@datatableactive"><a href="{% url 'movement_permit_application' %}">In-Country Movement Permit</a></li>
                        </ul>
                    </li>
                    <li class="navigation__sub @@formactive">
                        <a href="#"><font color="white" size="4px">Food Services</font></a>
                        <ul>
                            <li class="@@datatableactive"><a href="{% url 'food_business_registration_licensing' %}">Food Business Registration and Licensing</a></li>
                            <li class="@@datatableactive"><a href="{% url 'food_export_certificate_application' %}">Export Certificate</a></li>
                            <li class="@@datatableactive"><a href="{% url 'food_handler_licensing' %}">Licensing of Food Handler</a></li>
                            <li class="@@datatableactive"><a href="{% url 'food_import_application' %}">Import Food</a></li>
                        </ul>
                    </li>
                    <li class="navigation__sub @@formactive">
                        <a href="#"><font color="white" size="4px">Certification Services</font></a>
                        <ul>
                            <li class="@@datatableactive"><a href="{% url 'apply_import_permit' %}">GAP Certificate</a></li>
                            <li class="@@datatableactive"><a href="{% url 'registration_application' %}">Organic Certificate</a></li>
                            <li class="@@datatableactive"><a href="{% url 'apply_movement_permit' %}">Food Product Certification</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@@datatableactive">
                <a href="{% url 'application_status' %}"><i class="zmdi zmdi-collection-text"></i>Application Status</a>
            </li>
			<li class="@@datatableactive">
                 <a href="{% url 'call_for_inspection' %}"><i class="zmdi zmdi-collection-text"></i>Consignment Arrival Notice</a>
            </li>
			<li class="@@datatableactive">
                <a href="{% url 'resubmit_application' %}"><i class="zmdi zmdi-collection-text"></i>Resubmit Application</a>
            </li>
            <li class="@@datatableactive"><a href="{% url 'certificate_print' %}"><i class="zmdi zmdi-print"></i>Print</a></li>
            <li class="@@datatableactive">
                <a href="{% url 'apply_complaint_form' %}"><i class="zmdi zmdi-collection-text"></i>Complaint Form</a>
            </li>
        </ul>
    {% endif %}
</div>