{% load static %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Inspector Details</h4>
        {% for application_details in application_details %}
            <form method="post" id="certificate_inspector_form">
                <input type="hidden" name="application_id" value="{{ application_details.Application_No }}">
                <div class="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                Application Details
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-label">License No</label>
                                            <input type="text" class="form-control" value="{{application_details.License_No}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="License_NoErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-label">Company Name</label>
                                            <input type="text" class="form-control" value="{{application_details.Company_Name}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="Company_NameErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-label">Company_Address</label>
                                            <textarea disabled class="form-control" disabled rows="4">{{application_details.Company_Address}}</textarea>
                                        </div>
                                        <div class="alert alert-danger" id="Company_AddressErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-label">CID</label>
                                            <input type="number" class="form-control"  value="{{application_details.CID}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="CIDErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-label">Owner Name</label>
                                            <input type="text" class="form-control" value="{{application_details.Owner_Name}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="Owner_NameErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-label">Contact Number</label>
                                            <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="contactNumberErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                        </div>
                                        <div class="alert alert-danger" id="emailErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-label">Nursery Category</label>
                                            <select class="form-control form-control" disabled>
                                                {% if application_details.Nursery_Category == "Agro-Forestry" %}
                                                <option value="Agro-Forestry" selected>Agro-Forestry</option>
                                                {% elif application_details.Nursery_Category == "Ornamental" %}
                                                <option value="Ornamental" selected>Ornamental</option>
                                                {% elif application_details.Nursery_Category == "Fruits and Nuts" %}
                                                <option value="Fruits and Nuts" selected>Fruits and Nuts</option>
                                                {% elif application_details.Nursery_Category == "Fodder" %}
                                                <option value="Fodder" selected>Fodder</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Dzongkhag</label>
                                            <select class="form-control" disabled>
                                                {% for dzongkhag in dzongkhag %}
                                                    <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Dzongkhag_Code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                        {{ dzongkhag.Dzongkhag_Name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Location</label>
                                             <select class="form-control" disabled>
                                                {% for location in location %}
                                                        <option value="{{ location.Location_Code }}" {% if application_details.Location_Code == location.Location_Code %}selected{% endif %}>{{ location.Location_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Details
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Crop</th>
                                            <th scope="col">Crop Variety</th>
                                            <th scope="col">Seed Source</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Purpose</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for certification_details in details_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{certification_details.Crop}}</td>
                                                <td>{{certification_details.Variety}}</td>
                                                <td>{{certification_details.Seed_Source}}</td>
                                                <td>{{certification_details.Quantity}}</td>
                                                <td>{{certification_details.Purpose}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="6" class="text-center">No Data</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Attachments
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for file_attach in file %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><a href='{{file_attach.File_Path}}/{{file_attach.Attachment}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                  <td colspan="3" class="text-center">No Data</td>
                                                </tr>
                                       {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Inspector Details
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card-tools">
                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="openDecisionModal()">
                                        <span class="btn-label">
                                            <i class="fa fa-print"></i>
                                        </span>
                                        Add
                                    </a>
                                </div>
                                <br>
                                <div id="details">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Current Observation</th>
                                                <th scope="col">Decision Conformity Statement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for decision in decision %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{decision.Observation}}</td>
                                                        <td>{{decision.Action}}</td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                      <td colspan="4" class="text-center">No Data</td>
                                                    </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                {% if not application_details.Resubmit_Remarks %}
                                    <br>
                                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                            <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Client </span>&nbsp;&nbsp;&nbsp;
                                            <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                    </div>
                                    <div class="row">
                                         <div class="col-md-6">
                                            <div class="from-label">
                                                <label class="from-label">Resubmit Remarks</label>
                                                <textarea class="form-control" rows="3" id="Resubmit_Remarks" value="{{application_details.Resubmit_Remarks}}"></textarea>
                                            </div>
                                        </div>
                                     </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Inspection Team Leader <font color="red">*</font></label>
                                            <select class="form-control" name="teamLeader"  id="teamLeader">
                                                <option value="">--SELECT TEAM LEADER--</option>
                                                {% for inspector_list in inspector_list %}
                                                        <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="alert alert-danger" id="teamLeaderErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Inspection Team <font color="red">*</font></label>
                                            <textarea class="form-control" id="insTeam" name="Inspection_Team" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" id="insTeamErrorMsg" style="display:none"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Date Of Inspection <font color="red">*</font></label>
                                            <input type="text" class="form-control date-picker flatpickr-input active" id="dateOfInspection" name="date"  placeholder="Pick a date" readonly="readonly">
                                        </div>
                                        <div class="alert alert-danger" id="dateOfInspectionErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Remarks(Required If Resubmit/Reject) <font color="red">*</font> </label>
                                            <textarea class="form-control" id="inspector_remarks" name="inspector_remarks" rows="2"></textarea>
                                        </div>
                                        <div class="alert alert-danger" id="inspector_remarksErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <br>
                                <div id="recommendation_details">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Crop</th>
                                                <th scope="col">Variety</th>
                                                <th scope="col">Seed Source</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Unit</th>
                                                <th scope="col">Purpose</th>
                                                <th scope="col">Quantity Certified</th>
                                                <th scope="col">Unit_Certified</th>
                                                <th scope="col">Value Certified</th>
                                                <th scope="col">Quantity Rejected</th>
                                                <th scope="col">Unit Rejected</th>
                                                <th scope="col">Value Rejected</th>
                                                <th scope="col">Remarks</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for recommendation in details_list %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{recommendation.Crop}}</td>
                                                    <td>{{recommendation.Variety}}</td>
                                                    <td>{{recommendation.Seed_Source}}</td>
                                                    <td>{{recommendation.Quantity}}</td>
                                                    <td>{{recommendation.Unit}}</td>
                                                    <td>{{recommendation.Purpose}}</td>
                                                    <td>{{recommendation.Qty_Certified}}</td>
                                                    <td>{{recommendation.Unit_Certified}}</td>
                                                    <td>{{recommendation.Value_Certified}}</td>
                                                    <td>{{recommendation.Qty_Rejected}}</td>
                                                    <td>{{recommendation.Unit_Rejected}}</td>
                                                    <td>{{recommendation.Value_Rejected}}</td>
                                                    <td>{{recommendation.Remarks}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-flat btn-warning" onclick="populateEditForm('{{recommendation.Record_Id}}','{{recommendation.Crop}}','{{recommendation.Variety}}',
                                                        '{{recommendation.Seed_Source}}', '{{recommendation.Quantity}}','{{recommendation.Unit}}','{{recommendation.Purpose}}')">
                                                            <i class="ace-icon zmdi zmdi-edit"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                  <td colspan="15" class="text-center">No Data</td>
                                                </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="alert alert-success" id="approve_Msg" style="display:none"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-primary" onclick="approve_application()">
                                        <i class="ace-icon fa fa-check"></i>
                                        &nbsp;&nbsp;Approve
                                    </button>
                                    <button type="button" class="btn btn-flat btn-primary" onclick="resubmit_application()">
                                        <i class="ace-icon fa fa-reply-all"></i>
                                        &nbsp;&nbsp;Resubmit
                                    </button>
                                    <button type="button" class="btn btn-flat btn-primary" onclick="reject_application()">
                                        <i class="ace-icon fa fa-times"></i>
                                        &nbsp;&nbsp;Reject
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        {% endfor %}
    </div>
</div>
<form method="post" id="seed_recommendation_form">
    <div id="recommendModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="record_id" name="record_id">
                    {% for application_details in application_details %}
                        <input type="text" class="form-control" valeu="{{application_details.Application_No}}" name="application_no" style="display:none">
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Planting Material</label>
                                <input type="text" class="form-control" id="crop" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Crop Variety</label>
                                <input type="text" class="form-control" id="crop_variety" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Seed Source</label>
                                <input type="text" class="form-control" id="seed_source" name="seed_source" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Quantity</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Unit</label>
                                <input type="text" class="form-control" id="unit" name="unit" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Purpose</label>
                                <input type="text" class="form-control" id="purpose" name="purpose" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Quantity Certified</label>
                                <input type="number" class="form-control" id="quantity_certified" name="quantity_certified" onchange="getRejectedQuantity(this.value)">
                            </div>
                            <div class="alert alert-danger" id="quantity_certifiedErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Unit Certified</label>
                                <select class="form-control" id="unit_certified" name="unit_certified">
                                    <option value="">--SELECT--</option>
                                    {% for unit in unit %}
                                            <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="alert alert-danger" id="unit_certifiedErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Value Certified</label>
                                <input type="number" class="form-control" id="value_certified" name="value_certified">
                            </div>
                            <div class="alert alert-danger" id="value_certifiedErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Quantity Rejected</label>
                                <input type="number" class="form-control" id="quantity_rejected" name="quantity_rejected" readonly="readonly">
                            </div>
                            <div class="alert alert-danger" id="quantity_rejectedErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Unit Rejected</label>
                                <select class="form-control" id="unit_rejected" name="unit_rejected">
                                    <option value="">--SELECT--</option>
                                    {% for unit in unit %}
                                            <option value="{{ unit.Unit }}">{{ unit.Unit }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="alert alert-danger" id="unit_rejectedErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Value Rejected</label>
                                <input type="number" class="form-control" id="value_rejected" name="value_rejected">
                            </div>
                            <div class="alert alert-danger" id="value_rejectedErrorMsg" style="display:none"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Remarks</label>
                                <select class="form-control form-control" id="remarks" name="remarks">
                                    <option value="">-SELECT-</option>
                                    <option value="Research">Research</option>
                                    <option value="Commercial">Commercial</option>
                                    <option value="Self Use">Self Use</option>
                                </select>
                            </div>
                            <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                        </div>
                        {% for application_details in application_details %}
                            <input type="hidden" name="reccomend_app_no" value="{{ application_details.Application_No }}">
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-primary" onclick="add_recommend_details()">
                        <i class="ace-icon fa fa-times"></i>
                        &nbsp;&nbsp;Add
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close Modal</button>
                 </div>
              </div>
        </div>
    </div>
</form>
<div id="addModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Current Observation</label>
                            <textarea class="form-control" id="currentObservation" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Decision Conformity Statement </label>
                            <textarea class="form-control" id="decisionConform" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                 {% for application_details in application_details %}
                    <button type="button" class="btn btn-flat btn-primary" onclick="add_details_ins('{{ application_details.Application_No }}')">
                        <i class="ace-icon fa fa-times"></i>
                        &nbsp;&nbsp;Add
                    </button>
                 {% endfor %}
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close Modal</button>
             </div>
             <div id="messageDiv" style="display:none"></div>
          </div>
    </div>
</div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
$(function(){
    var today = new Date().toISOString().split('T')[0];
    $('#dateOfInspection')[0].setAttribute('min', today);
});

function add_details_ins(application_id)
{
    currentObservation = $('#currentObservation').val();
    decisionConform = $('#decisionConform').val();

    $.ajax({
        type : "GET",
        url : "{% url 'add_details_ins_certificate' %}",
        data :{'application_id':application_id,'currentObservation':currentObservation,'decisionConform':decisionConform},
        success : function(data) {
            $('#addModal').modal('hide');
            $('#details').html(data);
            $('#details').show();
        }
    });
}

function approve_application()
{
    var Inspection_Leader = $('#teamLeader').val();
    var Inspection_Team = $('#insTeam').val();
    var dateOfInspection = $('#dateOfInspection').val();
    var remarks = $('#inspector_remarks').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'approve_certificate_app' %}",
            data :$('#certificate_inspector_form').serialize(),
            success : function(data) {
                $('#approve_Msg').html("Application Approved.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function reject_application()
{
    var Inspection_Leader = $('#teamLeader').val();
    var Inspection_Team = $('#insTeam').val();
    var dateOfInspection = $('#dateOfInspection').val();
    var remarks = $('#remarks').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else if(remarks == "")
    {
        $('#remarksErrorMsg').html("SEnter Remarks.");
        $('#remarksErrorMsg').show();
        $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        $('#remarks').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'reject_certificate_app' %}",
            data :$('#certificate_inspector_form').serialize(),
            success : function(data) {
                $('#approve_Msg').html("Application Rejected.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function resubmit_application()
{
    Inspection_Leader = $('#teamLeader').val();
    Inspection_Team = $('#insTeam').val();
    dateOfInspection = $('#dateOfInspection').val();
    remarks = $('#remarks').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else if(remarks == "")
    {
        $('#remarksErrorMsg').html("SEnter Remarks.");
        $('#remarksErrorMsg').show();
        $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        $('#remarks').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'resubmit_seed_application' %}",
            data :$('#certificate_inspector_form').serialize(),
            success : function(data) {
                $('#approve_Msg').html("Application Sent For Resubmission.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}


function add_recommend_details()
{
    var quantity_certified = $('#quantity_certified').val();
    var unit_certified = $('#unit_certified').val();
    var value_certified = $('#value_certified').val();
    var quantity_rejected = $('#quantity_rejected').val();
    var unit_rejected = $('#unit_rejected').val();
    var value_rejected = $('#value_rejected').val();
    var remarks = $('#remarks').val();

    if(quantity_certified == "")
    {
        $('#quantity_certifiedErrorMsg').html("Enter Quantity Certified.");
        $('#quantity_certifiedErrorMsg').show();
        $('#quantity_certifiedErrorMsg').delay(2000).fadeOut('slow');
        $('#quantity_certified').focus();
    }
    else if(unit_certified == "")
    {
        $('#unit_certifiedErrorMsg').html("Select Unit Certified.");
        $('#unit_certifiedErrorMsg').show();
        $('#unit_certifiedErrorMsg').delay(2000).fadeOut('slow');
        $('#unit_certified').focus();
    }
    else if(value_certified == "")
    {
        $('#value_certifiedErrorMsg').html("Enter Value Certified.");
        $('#value_certifiedErrorMsg').show();
        $('#value_certifiedErrorMsg').delay(2000).fadeOut('slow');
        $('#value_certified').focus();
    }
    else if(quantity_rejected = "" )
    {
        $('#quantity_rejectedErrorMsg').html("Enter Quantity Rejected.");
        $('#quantity_rejectedErrorMsg').show();
        $('#quantity_rejectedErrorMsg').delay(2000).fadeOut('slow');
        $('#quantity_rejected').focus();
    }
    else if(unit_rejected == "")
    {
        $('#unit_rejectedErrorMsg').html("Select Unit Rejected.");
        $('#unit_rejectedErrorMsg').show();
        $('#unit_rejectedErrorMsg').delay(2000).fadeOut('slow');
        $('#unit_rejected').focus();
    }
    else if(value_rejected == "")
    {
        $('#value_rejectedErrorMsg').html("Enter Value Rejected.");
        $('#value_rejectedErrorMsg').show();
        $('#value_rejectedErrorMsg').delay(2000).fadeOut('slow');
        $('#value_rejected').focus();
    }
    else if(remarks == "")
    {
        $('#remarksErrorMsg').html("Select Remarks.");
        $('#remarksErrorMsg').show();
        $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        $('#remarks').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'add_recommendation_details' %}",
            data :$('#seed_recommendation_form').serialize(),
            success : function(data) {
                $('#recommendModal').modal('hide');
                $('#recommendation_details').html(data);
                $('#recommendation_details').show();
            }
        });
    }
}

function openDecisionModal()
{
    $('#addModal').modal('show');
}

function open_recommendationModal()
{
    $('#recommendModal').modal('show');
}

function getVariety(crop_id)
{
    $.ajax({
        type : "GET",
        url : "{% url 'load_seed_variety' %}",
        data :{'crop_id':crop_id},
        success : function(data) {
            $('#crop_variety').html(data);
        }
    });
}

function populateEditForm(recordId, crop,crop_variety, seed_source, quantity, unit, purpose)
    {
        $('#record_id').val(recordId);;
        $('#crop').val(crop);
        $('#crop_variety').val(crop_variety);
        $('#seed_source').val(seed_source);
        $('#quantity').val(quantity);
        $('#unit').val(unit);
        $('#purpose').val(purpose);

        $('#recommendModal').modal('show');
    }

function getRejectedQuantity(value)
{
    var quantity = $('#quantity').val();
    if(value > quantity)
    {
        $('#quantity_certifiedErrorMsg').html("Cannot Be More Than Quantity.");
        $('#quantity_certifiedErrorMsg').show();
        $('#quantity_certifiedErrorMsg').delay(2000).fadeOut('slow');
        $('#quantity_certified').val("");
        $('#quantity_certified').focus();
    }
    else
    {
        rejected_quantity = quantity - value;
        $('#quantity_rejected').val(rejected_quantity);
    }
}
</script>