<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Import Category</th>
            <th scope="col">Crop Common Name</th>
            <th scope="col">Crop Variety Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for import in import %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.Import_Category}}</td>
                {% for crop in crop %}
                    {% if import.Crop_Id == crop.Crop_Id %}
                        <td>{{crop.Crop_Common_Name}}</td>
                    {% endif %}
                {% endfor %}
                {% for variety in variety %}
                    {% if import.Variety_Id == variety.Crop_Variety_Id %}
                        <td>{{variety.Crop_Variety_Name}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{import.Quantity}}</td>
                <td>{{import.Unit}}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button  type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Edit"
                             onclick="populateDetails('{{ import.Record_Id }}', '{{import.Import_Category}}', '{{import.Crop_Id}}',
                            '{{import.Variety_Id}}', '{{import.Quantity}}', '{{import.Unit}}', '{{import.Application_No}}')">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button  type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Delete" onclick="delete_plant_import('{{ import.Record_Id }}','{{import.Application_No}}')"><i class="fa fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
