<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Import Permit Plant And plant Product Details</strong>
                </div>
                <div class="card-body">
                    <p class="float-right">Permit No:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name and Address of the Importer</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name and Address of the Exporter</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Entry Point</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country of origin</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Entry Point</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country of origin</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Final Destination</label>
                                {{Final_Destination}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Expected date of arrival</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p><b>General Entry Conditions</b></p>
                        <p>The consignment of Plant/Plant products should be:</p>
                        <p>(i)&nbsp;Free from soil, weed seeds and other contaminants</p>
                        <p>(ii)&nbsp;Accompanied by an Official Phytosanitary Certificate</p>
                        <p>(iii)&nbsp;All import shall furnish GMO free written certificate from the source.</p>
                    </div>
                    <div class="row">
                        <p><b>Special Entry Conditions/ Additional Declaration: NA</b></p>
                    </div>
                    <div class="row">
                        <p><b>PEQ requirements</b></p>
                        <p>For a period of 0 Day(s)</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Final Destination</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Expected date of arrival</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date of Issue</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Validity</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Place of Issue</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name and signature of Authorized Officer</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
