<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       {% for audit_team in audit_team %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{audit_team.Name}}</td>
                <td>{{audit_team.Role}}</td>
                <td><button type="button" class="btn btn-danger btn-sm" onclick="Delete_Audit_Team('{{audit_team.Record_Id}}','{{audit.Application_No}}', 'OC')">
                        <i class="zmdi zmdi-delete"></i>
                        &nbsp;&nbsp;Delete
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3" class="text-center">No Data</td>
            </tr>
       {% endfor %}
    </tbody>
</table>