<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">CID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
       {% for farmer_group in farmer_group %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{farmer_group.CID}}</td>
                <td>{{farmer_group.Name}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3" class="text-center">No Data</td>
            </tr>
       {% endfor %}
    </tbody>
</table>