{% load static %}
<style>
    .card {
    margin-bottom: 0rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
</style>
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    Application Details
                </a>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                    {% for application_details in application_details %}
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="form-label">Applicant Type</label>
                            </div>
                            {% if application_details.Application_Type == 'I' %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Farmers Group</span>
                                    </label>
                                </div>
                            {% else %}
                                <div class="col-sm-4 justify-content-center">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" disabled>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Individual</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Farmers Group</span>
                                    </label>
                                </div>
                            {% endif %}
                        </div><br>
                        {% if application_details.Application_Type == 'I' %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Applicant CID</label>
                                        <input type="text" class="form-control" value="{{application_details.CID}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" value="{{application_details.Applicant_Name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag</label>
                                        <input type="text" class="form-control" value="{{application_details.Dzongkhag}}" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog</label>
                                        <input type="text" class="form-control" value="{{application_details.Gewog}}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village</label>
                                         <input type="text" class="form-control" value="{{application_details.Village}}" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <textarea class="form-control" disabled>{{application_details.Present_Address}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Name</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Name}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Location</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Location}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                    </div>
                                    <div class="alert alert-danger" id="contactNumberErrorMsg" style="display:none"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Request Date for Inspection</label>
                                         <input type="text" class="form-control" value="{{application_details.Proposed_Inspection_Date}}" disabled>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Name of Farmers Group</label>
                                        <input type="text" class="form-control" value="{{application_details.Farmer_Group_Name}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farmers Group Number</label>
                                        <input type="text" class="form-control" value="{{application_details.Farmer_Group_No}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Dzongkhag</label>
                                        <select class="form-control" disabled>
                                            {% for dzongkhag in dzongkhag %}
                                                    <option value="{{ dzongkhag.Dzongkhag_Code }}">{{ dzongkhag.Dzongkhag_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gewog</label>
                                        <select class="form-control" disabled>
                                            {% for gewog in gewog %}
                                                    <option value="{{ gewog.Gewog_Code }}">{{ gewog.Gewog_Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Village</label>
                                         <select class="form-control" disabled>
                                            {% for village in village %}
                                                    <option value="{{ village.Village_Code }}">{{ village.Village_Name }}</option>
                                            {% endfor %}
                                         </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Farm Location</label>
                                        <textarea class="form-control" disabled>{{application_details.Farm_Location}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <<textarea class="form-control" disabled>{{application_details.Present_Address}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Request Date for Inspection</label>
                                         <input type="text" class="form-control" value="{{application_details.Proposed_Inspection_Date}}" disabled>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                     <br><br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Attachments
                </a>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for file_attach in file %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{file_attach.Attachment}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">No Data</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                    Audit Team Formation
                </a>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">
                    <div class="card-tools">
                        <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="openTeamModal()">
                            <span class="btn-label">
                                <i class="fa fa-print"></i>
                            </span>
                            Add
                        </a>
                    </div>
                    <br>

                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-book">
            <div class="modal-dialog modal-lg">
              <div class="modal-content edit">

              </div>
            </div>
        </div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/js/feasibility.js' %}"></script>
<script>
function openDecisionModal()
{
    $('#addModal').modal('show');
}


function add_audit_details(application_id)
{
    Requirement = $('#Requirement').val();
    Clause_No = $('#Clause_No').val();
    Concern = $('input[name="Concern"]:checked').val();
    Date = $('#Date').val();
    Observations = $('#Observations').val();


    $.ajax({
        type : "GET",
        url : "{% url 'concern_details_feasibility_ins' %}",
        data :{'application_id':application_id,'Requirement':Requirement,'Observations':Observations,'Clause_No':Clause_No,'Date':Date,'Concern':Concern},
        success : function(data) {
            $('#details').html(data);
            $('#details').show();
            $('#addModal').modal('hide');
        }
    });
}

function add_team_details(application_id)
{
    name = $('#name').val();
    designation = $('#designation').val();
    opening_date = $('#opening_date').val();
    closing_date = $('#closing_date').val();

    $.ajax({
        type : "GET",
        url : "{% url 'team_details_feasibility_ins' %}",
        data :{'application_id':application_id,'name':name,'designation':designation,'opening_date':opening_date,'closing_date':closing_date},
        success : function(data) {
            $('#team_details').html(data);
            $('#team_details').show();
            $('#teamModal').modal('hide');
        }
    });
}

function add_inspection_team_details(application_id)
{
    name = $('#ins_name').val();
    designation = $('#ins_designation').val();

    $.ajax({
        type : "GET",
        url : "{% url 'inspection_team_details' %}",
        data :{'application_id':application_id,'name':name,'designation':designation},
        success : function(data) {
            $('#inspection_team_details').html(data);
            $('#inspection_team_details').show();
            $('#InspectionTeamModal').modal('hide');
        }
    });
}

function approve_feasibility_inspection(application_id)
{
    Inspection_Leader = $('#teamLeader').val();
    Inspection_Team = $('#insTeam').val();
    remarks = $('#remarks').val();
    dateOfInspection = $('#dateOfInspection').val();
    validity = $('#validity').val();

   $.ajax({
        type : "GET",
        url : "{% url 'approve_feasibility_inspection' %}",
        data :{'application_id':application_id , 'Inspection_Leader':Inspection_Leader ,'Inspection_Team':Inspection_Team ,'remarks':remarks ,
        'dateOfInspection':dateOfInspection, 'validity':validity},
        success : function(data) {
            $('#messageDiv').show();
            setTimeout(function() {
                $("#messageDiv").hide('blind', {}, 500)
            }, 2000);
            setTimeout(function() {
                location.reload();
            }, 3000);
        }
    });
}

function reject_feasibility_inspection(application_id)
{

    Inspection_Leader = $('#teamLeader').val();
    Inspection_Team = $('#insTeam').val();
    remarks = $('#remarks').val();
    dateOfInspection = $('#dateOfInspection').val();

   $.ajax({
        type : "GET",
        url : "{% url 'reject_feasibility_inspection' %}",
        data :{'application_id':application_id , 'Inspection_Leader':Inspection_Leader ,'Inspection_Team':Inspection_Team ,'remarks':remarks ,
        'dateOfInspection':dateOfInspection},
        success : function(data) {
            $('#messageDiv').show();
            setTimeout(function() {
                $("#reject_messageDiv").hide('blind', {}, 500)
            }, 2000);
             setTimeout(function() {
                location.reload();
            }, 3000);
        }
    });
}


</script>