{% load static %}
<style>
    .header-card {
    background-color: white;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<div class="col-md-12">
    <div class="card">
        <div class="card-header header-card">
		<div class="card-head-row float-right">
            <div class="card-tools">
                <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='IMPORT PERMIT FOR LIVESTOCK PRODUCTS AND ANIMAL FEEDS';printTable()">
                    <span class="btn-label">
                        <i class="zmdi zmdi-print"></i>
                    </span>
                    Print
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>IMPORT PERMIT FOR LIVESTOCK PRODUCTS AND ANIMAL FEEDS</b></font></h6>
	</div>
        {% for certificate_details in certificate_details %}
        <table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Registration no./ Application no</th>
    <th class="tg-0pky">{{certificate_details.Import_Permit_No}}</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky" colspan="2">This Import Permit is granted in accordance with the Livestock Act of Bhutan, 2001; and Livestock Rules and Regulations 2017 there under.</td>
  </tr>
  <tr>
    <td class="tg-0pky">Name and Address of the Importer</td>
    <td class="tg-0pky">Name and Address of the Exporter</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{certificate_details.Applicant_Name}}&nbsp;,&nbsp;{{certificate_details.Present_Address}}</td>
    <td class="tg-0pky">{{certificate_details.Name_And_Address_Supplier}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">Entry Point</td>
    <td class="tg-0pky">Country of Origin</td>
  </tr>
  <tr>
    <td class="tg-0pky">
        {% for location in location %}
            {% if location.Field_Office_Id == certificate_details.Place_Of_Entry %}
                {{ location.Field_Office }}
            {% endif %}
        {% endfor %}
    </td>
    <td class="tg-0pky">{{certificate_details.Origin_Source_Products}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">Final Destination</td>
    <td class="tg-0pky">Expected date of arrival</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{certificate_details.Final_Destination}}</td>
    <td class="tg-0pky">{{certificate_details.Expected_Arrival_Date|date:"d-m-Y"}}</td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="2">General Entry Conditions<br>The animal and animal products should be&nbsp;:&nbsp;<br>(i) Free from notifiable disease/ zoonotic disease.<br>
        (ii)    All import shall furnish LMO free written certificate from the source.</td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="2">Special Entry Conditions/ Additional Declaration: NA</td>
  </tr>
  <tr>
    <td class="tg-0pky">Date of Issue&nbsp;:&nbsp;{{certificate_details.Approve_Date}}</td>
    <td class="tg-0pky">Name and signature of Authorized Officer</td>
  </tr>
  <tr>
    <td class="tg-0pky">Valid Until&nbsp;:&nbsp;{{certificate_details.Validity}}</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
</tbody>
</table>
        {% endfor %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Particulars</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit</th>
                </tr>
            </thead>
            <tbody>
                {% for import in import %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{import.Particulars}}</td>
                        <td>{{import.Company_Name}}</td>
                        <td>{{import.Description}}</td>
                        <td>{{import.Quantity}}</td>
                        <td>{{import.Unit}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="6" class="text-center">No Data</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-md-6">
            <div class="form-group">
                <img class="img-responsive" src="{% static 'assets/img/OFFICE_SEAL.jpg' %}" style="width:20%;"/>
            </div>
        </div>
    </div>
</div>

<div id="print" style="display:none">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header header-card">
            <br>
            <br>
            <div class="card-title text-center">
                <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
            </div>
            <h6 class="text-center"><font color='black'><b>IMPORT PERMIT FOR LIVESTOCK PRODUCTS AND ANIMAL FEEDS</b></font></h6>
            </div>
            {% for certificate_details in certificate_details %}
            <table class="tg">
                <thead>
                  <tr>
                    <th class="tg-0pky">Registration no./ Application no</th>
                    <th class="tg-0pky">{{certificate_details.Import_Permit_No}}</th>
                  </tr>
                </thead>
            <tbody>
              <tr>
                <td class="tg-0pky" colspan="2">This Import Permit is granted in accordance with the Livestock Act of Bhutan, 2001; and Livestock Rules and Regulations 2017 there under.</td>
              </tr>
              <tr>
                <td class="tg-0pky">Name and Address of the Importer</td>
                <td class="tg-0pky">Name and Address of the Exporter</td>
              </tr>
              <tr>
                <td class="tg-0pky">{{certificate_details.Applicant_Name}}&nbsp;,&nbsp;{{certificate_details.Present_Address}}</td>
                <td class="tg-0pky">{{certificate_details.Name_And_Address_Supplier}}</td>
              </tr>
              <tr>
                <td class="tg-0pky">Entry Point</td>
                <td class="tg-0pky">Country of Origin</td>
              </tr>
              <tr>
                <td class="tg-0pky">
                    {% for location in location %}
                        {% if location.Field_Office_Id == certificate_details.Place_Of_Entry %}
                            {{ location.Field_Office }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="tg-0pky">{{certificate_details.Origin_Source_Products}}</td>
              </tr>
              <tr>
                <td class="tg-0pky">Final Destination</td>
                <td class="tg-0pky">Expected date of arrival</td>
              </tr>
              <tr>
                <td class="tg-0pky">{{certificate_details.Final_Destination}}</td>
                <td class="tg-0pky">{{certificate_details.Expected_Arrival_Date|date:"d-m-Y"}}</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">General Entry Conditions<br>The animal and animal products should be&nbsp;:&nbsp;<br>(i) Free from notifiable disease/ zoonotic disease.<br>
                    (ii)    All import shall furnish LMO free written certificate from the source.</td>
              </tr>
              <tr>
                <td class="tg-0pky" colspan="2">Special Entry Conditions/ Additional Declaration: NA</td>
              </tr>
              <tr>
                <td class="tg-0pky">Date of Issue&nbsp;:&nbsp;{{certificate_details.Approve_Date}}</td>
                <td class="tg-0pky">Name and signature of Authorized Officer</td>
              </tr>
              <tr>
                <td class="tg-0pky">Valid Until&nbsp;:&nbsp;{{certificate_details.Validity}}</td>
                <td class="tg-0pky"></td>
              </tr>
              <tr>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
              </tr>
            </tbody>
            </table>
            {% endfor %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Particulars</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for import in import %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{import.Particulars}}</td>
                            <td>{{import.Company_Name}}</td>
                            <td>{{import.Description}}</td>
                            <td>{{import.Quantity}}</td>
                            <td>{{import.Unit}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="6" class="text-center">No Data</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <img class="img-responsive" src="{% static 'assets/img/OFFICE_SEAL.jpg' %}" style="width:20%;"/>
            </div>
        </div>
    </div>
</div>
<script>
    function printTable()
    {
        $("#print").show();
	    jQuery('#print').print();
	    $("#print").hide();
    }

</script>


