<div class="table-responsive">
    <table id="import-data-table" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Release Note</th>
                <th scope="col">Import Permit No</th>
                <th scope="col">Approved Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for application_details in application_details %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{application_details.Import_Permit_No}}</td>
                    <td>{{application_details.Import_Permit_No}}</td>
                    <td>{{application_details.Approve_Date|date:"d-m-Y"}}</td>
                    <td><button  class="btn btn-default btn-border" type="button" onclick="print_certificate('RFLP','{{application_details.Application_No}}')"><i class="zmdi zmdi-print"></i></button></td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(function ()
    {
        $('#import-data-table').DataTable();
    });
</script>