{% load static %}
<style>
    .header-card {
    background-color: white;
}
</style>
<div class="card">
    <div class="card-header header-card">
        <div class="card-head-row float-right">
            <div class="card-tools">
                <a href="#" class="btn btn-border btn-round btn-md" onclick="document.title='RELEASE FORM';printTable()">
                    <span class="btn-label">
                        <i class="zmdi zmdi-print"></i>
                    </span>
                    Print
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="card-title text-center">
            <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
        </div>
        <h6 class="text-center"><font color='black'><b>RELEASE FORM</b></font></h6>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <p>The following consignment is released to </p>
        </div>
        {% for certificate_details in certificate_details %}
        <div class="row justify-content-between">
            <label>Ref.No&nbsp;:&nbsp;{{certificate_details.Clearance_Ref_No}}</label>
            <label>Import Permit&nbsp;:&nbsp;{{certificate_details.Import_Permit_No}}</label>
        </div>
        <div class="row justify-content-center">
            <label>Mr/Ms&nbsp;:&nbsp;{{certificate_details.Applicant_Name}}</label>
        </div>
        <div class="row justify-content-center">
            <label>Address&nbsp;:&nbsp;{{certificate_details.Present_Address}}</label>
        </div>
        {% endfor %}
            <div class="row">
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Species</th>
                        <th scope="col">Breed</th>
                        <th scope="col">Age</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Description</th>
                        <th scope="col">Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for import in import %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for species in species %}
                                {% if species.Species_Id == import.Species %}
                                    <td>{{species.Species_Name}}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{import.Breed}}</td>
                            <td>{{import.Age}}</td>
                            <td>{{import.Sex}}</td>
                            <td>{{import.Description}}</td>
                            <td>{{import.Quantity_Released}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="6" class="text-center">No Data</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% for certificate_details in certificate_details %}
            <div class="row">
                Date of Issue &nbsp;:&nbsp;&nbsp;{{certificate_details.Approve_Date}}
            </div>
            <div class="row">
               Place Of Issue&nbsp;:&nbsp;&nbsp;{% for place_of_issue in place_of_issue %}
                                    {% if certificate_details.Place_Of_Entry == place_of_issue.Field_Office_Id %}
                                        {{ place_of_issue.Field_Office }}
                {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<div id="print" style="display:none">
    <div class="card">
        <div class="card-header header-card">
            <br>
            <br>
            <div class="card-title text-center">
                <a href="index.html"><img class="img-responsive" src="{% static 'assets/img/certificate-header.png' %}" style="width:90%;"/></a>
            </div>
            <h6 class="text-center"><font color='black'><b>RELEASE FORM</b></font></h6>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <p>The following consignment is released to </p>
            </div>
            {% for certificate_details in certificate_details %}
            <div class="row justify-content-between">
                <label>Ref.No&nbsp;:&nbsp;{{certificate_details.Clearance_Ref_No}}</label>
                <label>Import Permit&nbsp;:&nbsp;{{certificate_details.Import_Permit_No}}</label>
            </div>
            <div class="row justify-content-center">
                <label>Mr/Ms&nbsp;:&nbsp;{{certificate_details.Applicant_Name}}</label>
            </div>
            <div class="row justify-content-center">
                <label>Address&nbsp;:&nbsp;{{certificate_details.Present_Address}}</label>
            </div>
            {% endfor %}
                <div class="row">
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Species</th>
                            <th scope="col">Breed</th>
                            <th scope="col">Age</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Description</th>
                            <th scope="col">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for import in import %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                {% for species in species %}
                                    {% if species.Species_Id == import.Species %}
                                        <td>{{species.Species_Name}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{import.Breed}}</td>
                                <td>{{import.Age}}</td>
                                <td>{{import.Sex}}</td>
                                <td>{{import.Description}}</td>
                                <td>{{import.Quantity_Released}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="6" class="text-center">No Data</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for certificate_details in certificate_details %}
            <div class="row">
                Date of Issue &nbsp;:&nbsp;&nbsp;{{certificate_details.Approve_Date}}
            </div>
            <div class="row">
               Place Of Issue&nbsp;:&nbsp;&nbsp;{% for place_of_issue in place_of_issue %}
                                    {% if certificate_details.Place_Of_Entry == place_of_issue.Field_Office_Id %}
                                        {{ place_of_issue.Field_Office }}
                {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<script>
    function printTable()
    {
        $("#print").show();
	    jQuery('#print').print();
	    $("#print").hide();
    }
</script>