<table id="book-table" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Current Observationss</th>
            <th scope="col">Decision Conformity</th>
        </tr>
    </thead>
    <tbody>
       {% for import_permit in decision %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import_permit.Current_Observation}}</td>
                <td>{{import_permit.Decision_Conformity}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3" class="text-center">No Data</td>
            </tr>
       {% endfor %}
    </tbody>
</table>
