<div class="animated fadeIn">
    <input type="hidden" name="appNo" value="{{ application_no }}">
    <div class="row">
        <div class="col-sm-4">
            <label>Date picker</label>
            <input type="date" name="date" id="inspection_date" class="form-control date-picker flatpickr-input active">
        </div>
    </div>
     <div class="row">
         <div class="col-md-6">
            <div class="form-group">
                <label for="remarks">Remarks</label>
                <textarea class="form-control" rows="5" id="remarks" name="remarks" disabled></textarea>
            </div>
        </div>
     </div>
    <div class="row">
         <div class="col-md-6">
            <div class="form-group">
                <label for="remarks">Resubmit Remarks</label>
                <textarea class="form-control" rows="5" id="Resubmit_Remarks" name="Resubmit_Remarks"></textarea>
            </div>
        </div>
     </div>
</div>
