{% load static %}
<style>
form, input, select, textarea{
    color: black !important;
}
</style>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Inspector Details</h4>
        {% for application_details in application_details %}
            <form method="post" id="nursery_inspector_form">
                <input type="hidden" name="application_id" value="{{ application_details.Application_No }}">
                <div class="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                Application Details
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">License No</label>
                                                <input type="text" class="form-control" value="{{application_details.License_No}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Company Name</label>
                                                <input type="text" class="form-control" value="{{application_details.Company_Name}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Company_Address</label>
                                                <textarea class="form-control" disabled rows="2">{{application_details.Company_Address}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">CID</label>
                                                <input type="text" class="form-control" value="{{application_details.CID}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Owner Name</label>
                                                <input type="text" class="form-control" value="{{application_details.Owner_Name}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Contact Number</label>
                                                <input type="number" class="form-control" value="{{application_details.Contact_No}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Email</label>
                                                <input type="email" class="form-control" value="{{application_details.Email}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    </hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Nursery Category</label>
                                                <select class="form-control form-control" id="Nursery_Category" name="Nursery_Category" disabled>
                                                    {% if application_details.Nursery_Category == "Agro-Forestry" %}
                                                    <option value="Agro-Forestry" selected>Agro-Forestry</option>
                                                    {% elif application_details.Nursery_Category == "Ornamental" %}
                                                    <option value="Ornamental" selected>Ornamental</option>
                                                    {% elif application_details.Nursery_Category == "Fruits and Nuts" %}
                                                    <option value="Fruits and Nuts" selected>Fruits and Nuts</option>
                                                    {% elif application_details.Nursery_Category == "Fodder" %}
                                                    <option value="Fodder" selected>Fodder</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Area</label>
                                                <input type="text" class="form-control" id="Area" name="Area" value="{{application_details.Area}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Unit Area</label>
                                                <input type="text" class="form-control" value="{{application_details.Unit_Area}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Nursery Type</label>
                                                <select class="form-control form-control" id="Nursery_Type" name="Nursery_Type" disabled>
                                                    {% if application_details.Nursery_Type == "Bi-annual" %}
                                                    <option value="Bi-annual" selected>Bi-annual</option>
                                                    {% elif application_details.Nursery_Category == "Annual" %}
                                                    <option value="Annual"selected>Annual</option>
                                                    {% elif application_details.Nursery_Category == "Perennial" %}
                                                    <option value="Perennial"selected>Perennial</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="alert alert-danger" id="Nursery_TypeErrorMsg" style="display:none"></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Dzongkhag</label>
                                                <select class="form-control" disabled>
                                                    {% for dzongkhag in dzongkhag %}
                                                        <option value="{{dzongkhag.Dzongkhag_Code}}"{% if application_details.Dzongkhag_Code == dzongkhag.Dzongkhag_Code %}selected{% endif %}>
                                                            {{ dzongkhag.Dzongkhag_Name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Gewog</label>
                                                <select class="form-control" disabled>
                                                    {% for gewog in gewog %}
                                                        <option value="{{ gewog.Gewog_Code }}"{% if application_details.Gewog_Code == gewog.Gewog_Code %}selected{% endif %}>{{ gewog.Gewog_Name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="alert alert-danger" id="gewogErrorMsg" style="display:none"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Village</label>
                                            <select class="form-control" disabled>
                                                {% for village in village %}
                                                    <option value="{{ village.Village_Code }}" {% if application_details.Village_Code == village.Village_Code %}selected{% endif %}>{{ village.Village_Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Location</label>
                                             <select class="form-control" disabled>
                                                {% for location in location %}
                                                        <option value="{{ location.Location_Code }}" {% if application_details.Location_Code == location.Location_Code %}selected{% endif %}>{{ location.Location_Name }}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Details
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <table id="details-table" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Crop Category</th>
                                            <th scope="col">Crop</th>
                                            <th scope="col">Crop Variety</th>
                                            <th scope="col">Source</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for seed_details in details_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{seed_details.Crop_Category}}</td>
                                                <td>{{seed_details.Crop}}</td>
                                                <td>{{seed_details.Variety}}</td>
                                                <td>{{seed_details.Source}}</td>
                                                <td>{{seed_details.Qty}}</td>
                                                <td>{{seed_details.Remarks}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="7" class="text-center">No Data</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Attachments
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for file_attach in file %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><a href='{{file_attach.Attachment}}' target="_blank">{{file_attach.Attachment}}</a></td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                  <td colspan="3" class="text-center">No Data</td>
                                                </tr>
                                       {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Inspector Details
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">1. Facilities</label>
                                            <p class="form-label">a.Land</p>
                                            <p class="form-label">Min requirement:</p>
                                            <p class="form-label">Fruit Plants = 0.25 Acre</p>
                                            <p class="form-label">Ornamental = 0.05 Acre</p>
                                            <p class="form-label">Forest/Fodder = 0.10 Acre</p>
                                            <p class="form-label">Integrated = 0.50 Acre</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Facilities_Land</label>
                                            <textarea class="form-control" id="Facilities_Land" name="Facilities_Land" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">b.Nursery House (e.g. poly-house, sheds, etc.)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Facilities Nursery House</label>
                                            <textarea class="form-control" id="Facilities_Nursery_House" name="Facilities_Nursery_House" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">c.Reliable irrigation facilities and water source</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Facilities Irrigation</label>
                                            <textarea class="form-control" id="Facilities_Irrigation" name="Facilities_Nursery_House" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">d.Adequate tools and implement</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Facilities Tools</label>
                                            <textarea class="form-control" id="Facilities_Tools" name="Facilities_Tools" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">e.Store facilities for seed dealers</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Facilities Tools</label>
                                            <textarea class="form-control" id="Facilities_Store" name="Facilities_Store" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">2.Manpower</label>
                                            <p>a.Labour (family or hired)</p>
                                            <p>b.Skilled labour with basic knowledge on nursery production and operation</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Manpower</label>
                                            <textarea class="form-control" id="Manpower" name="Manpower" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">3.Type of seeds/seedlings intended to trade</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <textarea class="form-control" id="Seed_Type" name="Seed_Type" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">4.Technical clearance from concerned Department</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <textarea class="form-control" id="Technical_Clearance" name="Technical_Clearance" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Recommendation</label>
                                            <textarea class="form-control" id="Recommendation" name="Recommendation" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm" onclick="openDecisionModal()">
                                        <span class="btn-label">
                                            <i class="fa fa-print"></i>
                                        </span>
                                        Add
                                    </a>
                                </div>

                                <br>
                                <div id="decision_details">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Current Observation</th>
                                                <th scope="col">Decision Conformity Statement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for decision in decision %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{decision.Current_Observation}}</td>
                                                        <td>{{decision.Decision_Conformity}}</td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                      <td colspan="4" class="text-center">No Data</td>
                                                    </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                {% if application_details.Resubmit_Date %}
                                    <br>
                                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                                        <div class="border-bottom w-100 ml-5" style="border: 1px solid#888;"></div>
                                            <span class="px-2 small text-muted font-weight-bold text-muted form-label" style="margin-right: -11px;">Client </span>&nbsp;&nbsp;&nbsp;
                                            <span class="px-1 small text-muted font-weight-bold text-muted form-label"> Details</span>
                                        <div class="border-bottom w-100 mr-5" style="border: 1px solid#888;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="from-label">Requested Date For Inspection</label>
                                            <input type="text" name="date" id="inspection_date" class="form-control" value="{{application_details.Resubmit_Date}}" disabled>
                                        </div>
                                         <div class="col-md-6">
                                            <div class="from-label">
                                                <label class="from-label">Resubmit Remarks</label>
                                                <textarea class="form-control" rows="3" id="Resubmit_Remarks" disabled>{{application_details.Resubmit_Remarks}}</textarea>
                                            </div>
                                        </div>
                                     </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Inspection Team Leader <font color="red">*</font></label>
                                            <select class="form-control" name="teamLeader"  id="teamLeader">
                                                <option value="">--SELECT TEAM LEADER--</option>
                                                {% for inspector_list in inspector_list %}
                                                        <option value="{{ inspector_list.Login_Id }}">{{ inspector_list.Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="alert alert-danger" id="teamLeaderErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Inspection Team <font color="red">*</font></label>
                                            <textarea class="form-control" id="insTeam" rows="2"></textarea>
                                        </div>
                                        <div class="alert alert-danger" id="insTeamErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Date Of Inspection <font color="red">*</font></label>
                                            <input type="date" class="form-control" id="dateOfInspection">
                                        </div>
                                        <div class="alert alert-danger" id="dateOfInspectionErrorMsg" style="display:none"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Remarks(Required If Resubmitting) <font color="red">*</font></label>
                                            <textarea class="form-control" id="remarks" name="remarks" rows="2"></textarea>
                                        </div>
                                        <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                                    </div>
                                </div>
                                <div class="alert alert-success" id="approve_Msg" style="display:none"></div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-flat btn-primary" onclick="approve_application()">
                                            <i class="ace-icon fa fa-check"></i>
                                            &nbsp;&nbsp;Approve
                                        </button>
                                        <button type="button" class="btn btn-flat btn-primary" onclick="resubmit_application()">
                                            <i class="ace-icon fa fa-reply-all"></i>
                                            &nbsp;&nbsp;Resubmit
                                        </button>
                                        <button type="button" class="btn btn-flat btn-primary" onclick="reject_application()">
                                            <i class="ace-icon fa fa-times"></i>
                                            &nbsp;&nbsp;Reject
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
</div>
<div id="addModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Current Observation <font color="red">*</font></label>
                            <textarea class="form-control" id="currentObservation" rows="2"></textarea>
                        </div>
                         <div class="alert alert-danger" id="currentObservationErrorMsg" style="display:none"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Decision Conformity Statement <font color="red">*</font></label>
                            <textarea class="form-control" id="decisionConform" rows="2"></textarea>
                        </div>
                        <div class="alert alert-danger" id="decisionConformErrorMsg" style="display:none"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                 {% for application_details in application_details %}
                    <button type="button" class="btn btn-flat btn-primary" onclick="add_details_ins('{{ application_details.Application_No }}')">
                        <i class="ace-icon fa fa-check"></i>
                        &nbsp;&nbsp;Add
                    </button>
                 {% endfor %}
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="ace-icon fa fa-times"></i>&nbsp;Close</button>
             </div>
             <div id="messageDiv" style="display:none"></div>
          </div>
    </div>
</div>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script>
$(function(){
    var today = new Date().toISOString().split('T')[0];
    $('#dateOfInspection')[0].setAttribute('min', today);
});

function add_details_ins(application_id)
{
    currentObservation = $('#currentObservation').val();
    decisionConform = $('#decisionConform').val();

    if(currentObservation == "")
    {
        $('#currentObservationErrorMsg').html("Select Team Leader.");
        $('#currentObservationErrorMsg').show();
        $('#currentObservationErrorMsg').delay(2000).fadeOut('slow');
        $('#currentObservation').focus();
    }
    else if(decisionConform == "")
    {
        $('#decisionConformErrorMsg').html("Enter Inspection Team.");
        $('#decisionConformErrorMsg').show();
        $('#decisionConformErrorMsg').delay(2000).fadeOut('slow');
        $('#decisionConform').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'add_details_nursery' %}",
            data :{'application_id':application_id,'currentObservation':currentObservation,'decisionConform':decisionConform},
            success : function(data) {
                $('#addModal').modal('hide');
                $('#decision_details').html(data);
                $('#decision_details').show();
                $('#decision_details').focus();
            }
        });
    }
}

function approve_application()
{
    Inspection_Leader = $('#teamLeader').val();
    Inspection_Team = $('#insTeam').val();
    dateOfInspection = $('#dateOfInspection').val();
    remarks = $('#remarks').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'approve_nursery_application' %}",
            data :$('#nursery_inspector_form').serialize(),
            success : function(data) {
                $('#approve_Msg').html("Application Approved.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function reject_application()
{
    Inspection_Leader = $('#teamLeader').val();
    Inspection_Team = $('#insTeam').val();
    dateOfInspection = $('#dateOfInspection').val();
    remarks = $('#remarks').val();

    if(Inspection_Leader == "")
    {
        $('#teamLeaderErrorMsg').html("Select Team Leader.");
        $('#teamLeaderErrorMsg').show();
        $('#teamLeaderErrorMsg').delay(2000).fadeOut('slow');
        $('#teamLeader').focus();
    }
    else if(Inspection_Team == "")
    {
        $('#insTeamErrorMsg').html("Enter Inspection Team.");
        $('#insTeamErrorMsg').show();
        $('#insTeamErrorMsg').delay(2000).fadeOut('slow');
        $('#insTeam').focus();
    }
    else if(dateOfInspection == "")
    {
        $('#dateOfInspectionErrorMsg').html("Select Date Of Inspection.");
        $('#dateOfInspectionErrorMsg').show();
        $('#dateOfInspectionErrorMsg').delay(2000).fadeOut('slow');
        $('#dateOfInspection').focus();
    }
    else if(remarks == "")
    {
        $('#remarksErrorMsg').html("SEnter Remarks.");
        $('#remarksErrorMsg').show();
        $('#remarksErrorMsg').delay(2000).fadeOut('slow');
        $('#remarks').focus();
    }
    else
    {
        $.ajax({
            type : "GET",
            url : "{% url 'reject_nursery_application' %}",
            data :$('#nursery_inspector_form').serialize(),
            success : function(data) {
                $('#approve_Msg').html("Application Sent For Resubmission.");
                $('#approve_Msg').show();
                $('#approve_Msg').delay(2000).fadeOut('slow');
                setTimeout(function() {
                    window.location.href = '{% url 'dashboard' %}';
                }, 3000);
            }
        });
    }
}

function resubmit_application()
{

   $.ajax({
        type : "GET",
        url : "{% url 'resubmit_nursery_application' %}",
        data :$('#nursery_inspector_form').serialize(),
        success : function(data) {
            location.reload();
        }
    });
}

function openDecisionModal()
{
    $('#addModal').modal('show');
}

 </script>