<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Import Category</th>
            <th scope="col">Crop Common Name</th>
            <th scope="col">Crop Variety Name</th>
            <th scope="col">Unit</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for import in import %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{import.Import_Category}}</td>
                <td>{{import.Crop_Id}}</td>
                <td>{{import.Variety_Id}}</td>
                <td>{{import.Unit}}</td>
                <td>{{import.Quantity}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
